[2018-10-02 01:49] MaxThevenet opened #2 "OpenPMD output capabilities"
When running large simulations, writing the data into `plotfiles` is extremely fast, but reading the data, either particle data or grid data, can be time-consuming. One reason is that the data is spread in multiple boxes, to be able to account for mesh refinement. For many application, even when the simulation runs with mesh refinement, it would be useful to have a lower-resolution output using th

[2018-10-04 21:23] MaxThevenet opened #13 "checkpoint/restart gives a segfault"
The checkpoint/restart capability seems to have been broken: when testing it with the input file attached, writing the checkpoint files works well but I receive a segfault at the first iteration when trying to restart.

Running in DEBUG mode, the error reads
[code]
Furthermore, I think the checkpoint/restart capability has never been working with
[code]
This is not an urgent issue, but it will be

[2018-10-04 21:34] MaxThevenet opened #14 "Back-transformed diags without moving window"
For the moment, a simulation in a boosted frame can run with or without moving window, but one can get back-transformed diagnostics only if the moving window is on. Otherwise, one get the error
[code]
However, it is sometimes useful to run a simulation in a boosted frame without a moving window, or with a moving window propagating along `z` at speed `-c`. The input file attached shows the issue, a

[2018-10-04 22:00] MaxThevenet opened #15 "Poor performance of the parser for large runs on Cori"
The parser shows poor performances when running large simulations on Cori.

As the parser is not thread-safe, using it automatically turns on the flag `warp.serialize_ics` which serializes plasma injection. In simulations where a plasma is constantly injected at one boundary of the box, it would significantly slow down procs where plasma injection occurs.

One solution would be to add OpenMP pragm

[2018-10-09 20:57] MaxThevenet opened #19 "PML around the patch boundaries and not at the box boundaries"
Currently, the way for handling boundary conditions is not very intuitive. The arguments are:
 - `geometry.is_periodic`: 3 bools for whether to apply periodic boundary conditions in x, y, and z at the boundaries of the simulation box
- `warpx.do_pml`: whether to do PMLs boundaries.

The combination of these arguments allow some combinations and not others.
`geometry.is_periodic = 0 0 0` and `warpx

[2018-10-10 22:03] RemiLehe opened #22 "Boosted-frame diagnostics give strange results when using mesh refinement."
[PR #6](https://github.com/ECP-WarpX/WarpX/pull/6) extended the boosted-frame diagnostics so that they also take into account finer levels.

However, it seems that this produces strange results, with "lighter" fields in the mesh refinement patch:
![foo](https://user-images.githubusercontent.com/6685781/46768517-4c7d1e00-cc9d-11e8-86ac-682fb1447169.png)

Here is the script that reproduces the probl

[2018-10-26 23:10] RemiLehe opened #25 "Use the same current deposition code for laser particles and physical particles"
The code that performs the current/charge deposition differs in `PhysicalParticleContainer.cpp` (where it has e.g. been optimized for GPU on the `gpu` branch) and in `LaserParticleContainer.cpp`.

Ideally, it would be nice to have a single version of that code, as a member function of the parent `WarpXParticleContainer`.

[2018-11-19 20:57] RemiLehe commented on #25
Closed by PR #27

[2018-11-19 20:57] #25 closed

[2018-12-04 01:02] atmyers opened #38 "Support for non-cuda-aware mpi"
Currently, when running on the GPU, WarpX requires a Cuda-aware mpi implementation when communicating the particle data (the mesh data does not require one). This is restricting when running on your local workstation. An option should be added to `AMReX` to allow non-cuda-aware mpi in the particle communication code.

[2018-12-04 01:04] atmyers opened #39 "Optimize boosted frame diagnostics when running on GPUs"
Currently, the boosted frame diagnostics use temporary buffers that live in host memory. These should be ported to prevent the diagnostics from needlessly slowing down the execution time when running on GPUs.

[2018-12-04 01:05] atmyers opened #40 "Spectral solver currently segfaults when running on GPUs"
The psuedo-spectral solver from PICSAR was ported to GPUs at the Hackathon in October. However, calling it from WarpX currently results in a segfault.

[2018-12-04 01:08] atmyers opened #41 "AddPlasma should be ported to the GPU"
When running on GPUs, the `AddPlasma` routine currently generates the particles on the host, then copies them to the device in one batch. Currently, this does not appear to be a bottleneck, at least on the small tests I did. However, this may not be the case in the future. This should be confirmed on more realistic problem setups, and - if needed - `AddPlasma` should be ported to generate the part

[2018-12-04 01:10] atmyers opened #42 "Current deposition should be optimized for GPUs"
Currently, the non-optimized current deposition routines (for both direct and Esirkipov) from `PICSAR` have been ported to the GPU. Versions of these routines that are optimized for the GPU should be created. This will rely on particle tiling being available in `AMReX`.

[2018-12-04 01:26] atmyers opened #43 "Port Vay pusher to GPU"
Currently, only the Boris pusher is ported to the GPU. The Vay pusher should be ported as well.

[2019-01-14 22:40] RemiLehe opened #50 "Status of the spectral solver: add PML and mesh refinement"
Currently the spectral solver in WarpX is operational without PML or mesh refinement.
(It is a finite-order PSATD solver ; works in 2D and 3D ; uses hybrid parallelization with global FFTs within one group.)

However, it would be nice to add implementation for the PMLs and mesh refinement.

[2019-01-29 00:57] MaxThevenet commented on #43
PICSAR PR #191 solves this issue.

[2019-01-29 00:57] #43 closed

[2019-02-06 10:31] denisbertini opened #54 "Questions about WarpX"
Hi
I have some questions about WarpX usage:
- Can i use WarpX to simulate beam dynamics with space charge like in former Warp?

- Is it possible to use WarpX to simulate laser plasma interaction with ultrthin ( 500 nm ) solid target ?

Thanks in advance

[2019-02-06 18:10] jlvay commented on #54
Hi,

WarpX implements only electromagnetic PIC solvers for now, with no plan for electrostatic PIC and no beam transport in lattices at the moment.

You can simulate laser plasma interaction with ultrthin ( 500 nm ) solid target with WarpX. You may look at the plasma mirror WarpX [example](https://github.com/ECP-WarpX/WarpX/blob/master/Examples/Physics_applications/plasma_mirror/inputs.2d) If you

[2019-02-12 17:31] RemiLehe opened #55 "Add a CONTRIBUTING.md file"
Should explain:
- How to open a new pull request
- How to run the tests and make sure that the code is not broken

[2019-03-15 05:09] RemiLehe commented on #55
We could also point to the AMReX documentation (Sphinx and Doxygen) as a resource for developers.

[2019-03-15 05:27] RemiLehe opened #68 "Avoid compiling 2D sources when building for 3D and vice-versa"
It seems that the PICSAR 2D sources (e.g. 2d gathering, 2D deposition) are compiled even when the 3D code is being built.
We could save some compile time by avoiding this.

[2019-04-08 17:40] RemiLehe commented on #55
We could also add that tabs are to be avoided, and that the default indentation should be 4 spaces.

[2019-04-17 15:56] RemiLehe opened #90 "When using GPU: remove atomic add from local j/rho to global j/rho"
When running on CPU with OpenMP, we have a local copy of the j/rho arrays for each thread, and we then perform atomic add from the local copy to the global copy.

When running on GPU however, we directly perform atomic adds in the deposition kernel themselves. Therefore, we could run the deposition kernel on the global j/rho directly, and avoid atomic adds from the local j/rho to the global j/rho.

[2019-04-17 17:15] atmyers commented on #90
Agreed - I can volu

[2019-04-17 17:15] atmyers commented on #90
Agreed - I can volunteer to do this.

[2019-04-17 18:11] RemiLehe commented on #90
Thanks!

[2019-04-18 00:01] atmyers commented on #90
I experimented with this, unfortunately it only seems to make about a 1% difference in the evolve time:

Before:

<pre>
----------------------------------------------------------------------------------------------
Name                                            NCalls  Incl. Min  Incl. Avg  Incl. Max   Max %
-----------------------------------------------------------------------------------------

[2019-04-18 18:29] RemiLehe commented on #15
@MaxThevenet @WeiqunZhang
Should this issue be closed, now that we have @WeiqunZhang's parser?

[2019-04-18 18:41] MaxThevenet commented on #15
Yes, I think so

[2019-04-19 06:11] #15 closed

[2019-04-19 13:56] #90 closed

[2019-04-19 15:51] MaxThevenet commented on #68
PICSAR PR https://bitbucket.org/berkeleylab/picsar/pull-requests/202/avoid-compiling-useless-dim-specific/diff proposes a fix.

[2019-04-22 13:29] MaxThevenet commented on #14
@atmyers is this issue still up-to-date? If so, I can have a look at it.

[2019-04-22 17:04] atmyers commented on #14
I haven't done anything about this yet, no.

[2019-04-24 00:00] RemiLehe opened #96 "Add cuFFT code to spectral solver"
While PR #95 implements the spectral solver, it does not link the code to cuFFT. It would be great to add the corresponding code for cuFFT.

Here are a few resources that may help:

- Compiling the code with the spectral solver + GPU:
[This link](https://ecp-warpx.github.io/doc_versions/dev/building/spectral.html) explains how to compile the code with the spectral solver (on CPU).
The documentatio

[2019-04-25 16:14] #55 closed

[2019-04-25 16:29] #68 closed

[2019-04-26 21:17] RemiLehe opened #101 "Replace `<variable>_fp`, `<variable>_cp` by a single array of 2 components?"
The WarpX class stores a lot of variables with either an `_fp` suffix, or a `_cp` suffix.

e.g.
[code]

[2019-04-26 21:20] RemiLehe opened #102 "Replace `<variable>_fp` and `<variable>_cp` by a 2-component array?"
The WarpX class stores a lot of variables with either an `_fp` suffix, or a `_cp` suffix.

e.g.
[code]

I think some code duplication could be avoided if we use:
[code]
instead, and index it with `PatchType::fine` or `PatchType::coarse`.

@WeiqunZhang @MaxThevenet @atmyers Any opinion on this?

[2019-04-26 22:13] #101 closed

[2019-04-29 17:03] RemiLehe opened #105 "Laser antenna is ignored if it is not initially inside the box"
WarpX currently ignores any laser antenna which is not initially inside the box, **even if the moving window later contains that laser antenna**.

Here is an example using `Examples/Physics_applications/laser_acceleration/inputs.2d`.

- With the original parameters (laser antenna at `z=9 microns`, is inside the box at t=0): The laser is indeed emitted, and is in the box at iteration 400.
![image](

[2019-04-29 17:04] RemiLehe commented on #105
Fundamentally, this is because the continuous injection is not implemented for the laser particles.

[2019-05-01 16:12] MaxThevenet opened #110 "Mirror inside simulation box"
For multi-stage simulations, the capability to reflect a laser pulse at a given location `z_mirror` (given in the lab frame, moving if running in the boosted frame) inside the simulation box will be required.

[2019-05-02 17:03] RemiLehe opened #113 "Breaking change: allow input decks to work for both 2D and 3D"
From our Slack discussion:

It would be useful to be able to run the exact same input deck with 2D and 3D.
(In that case, when run with 2D, variables such as
`geometry.prob_lo     = -150.e-6 -150.e-6 -50.e-6`
would be read in such a way that only the first and last values would be used.)

The motivation is that it would avoid a lot of copy-paste mistake: 2D input decks are usually obtained by copy

[2019-05-02 17:50] WeiqunZhang commented on #113
I don't think it will break anything.  The users are not required to use the new `warpx.prob_lo` etc.  If they don't, there are no changes in behaviors.  We could make `warpx.*` required if that's desired.

[2019-05-02 17:57] RemiLehe commented on #113
Still, it will break things like `num_particles_per_cell_each_dim` which will now always expect 3 numbers, even in 2D

[2019-05-02 18:18] WeiqunZhang commented on #113
Well, it's easy to maintain backward compatibility for `num_particles_per_cell_each_dim`.

[code]

Yes, PlasmaInjector does need to be modified for 2d.  But that's case independent of ParmParse.

[2019-05-02 18:25] RemiLehe commented on #113
OK, sounds good. Thanks for the above code suggestion.

[2019-05-02 22:16] #110 closed

[2019-05-03 00:48] LDAmorim opened #115 "Laser acceleration example in documentation vs GitHub"
Hi,

This is not an important issue and it might be because I am making a confusion.

But I thought I could let you know about it.

The laser initialization section of the laser acceleration example input-deck that can be found in the folder `Examples/Physics_applications/laser_acceleration/inputs.3d` of the current master branch differs from the one that can be downloaded from the website documen

[2019-05-03 04:11] RemiLehe commented on #115
Thanks for reporting this issue!
The documentation has just been updated. I think this fixes the problem, but please confirming by closing this issue :)

(In principle, we would be able to [automatically update the documentation](https://github.com/ECP-WarpX/WarpX/pull/74) - but strangely enough we had issue with the automated tests when we doing so. Hopefully this will be fixed in the future.)

[2019-05-03 16:22] LDAmorim commented on #115
Hi,
The file is working well.
Thanks!

[2019-05-03 16:23] #115 closed

[2019-05-03 17:41] #54 closed

[2019-05-03 17:42] RemiLehe opened #116 "Modify HDF5 boosted diagnostics to satisfy the openPMD standard"
The bask-transformed diags can currently be written in HDF5 format. We should add the structure / meta-data for them to be readable as openPMD

[2019-05-03 18:06] ablelly opened #117 "Refined solution shifted when using mesh refinement"
When using Mesh refinement in 2D, the refined solution in the patch is shifted along one axis. The shift is exactly of one fine cell:

Solution without mesh refinement and a fine grid :
![Ex_it01000_REF_buff0](https://user-images.githubusercontent.com/48810880/57156505-6ec3be00-6dde-11e9-82bf-8d54b7f02fdb.png)

Solution with mesh refinement
![Ex_it01000_buff0](https://user-images.githubusercontent

[2019-05-07 17:13] RemiLehe opened #126 "Explain WarpX parallelization in the documentation"
We should add a dedicated page, in the documentation, about the way in which WarpX parallelizes the simulation.

I think this is important because:
- WarpX parallelizes in different way than most other PIC codes (i.e. several boxes per MPI)
- It very easy, as a user, to make choices that will result in poor performance: e.g. choosing a small `max_grid_size` (esp. in 2D and on GPU), or choosing a n

[2019-05-07 21:47] MaxThevenet opened #129 "Particle continuous injection may not work for a window moving in the same direction as the plasma"

[2019-05-08 07:44] abonatto opened #131 "Error when compiling with RZ and PSATD"
Dear Developers,

After trying to compile WarpX with USE_RZ=TRUE and USE_PSATD=TRUE (both specified in the GNUmakefile file), I had the following error:

`dep.py: error: unrecognized arguments: .RZ.EXE`

The code compiles without any issue if USE_PSATD=FALSE.

Kind Regards,

Alexandre Bonatto

[2019-05-08 14:38] MaxThevenet commented on #132
@denisbertini Thank you for reporting the issue.
What machine are you compiling on?
I'll forward it to PICSAR developers.

[2019-05-08 14:40] MaxThevenet commented on #132
Could you open a corresponding issue on the PICSAR repo at https://bitbucket.org/berkeleylab/picsar/issues?status=new&status=open
?
Thank you

[2019-05-08 14:43] denisbertini commented on #132
I got an access denied on the link:
https://bitbucket.org/berkeleylab/picsar/issues?status=new&status=open
I work on Debian Linux
Debian 3.16.59-1 (2018-10-03) x86_64 GNU/Linux
ifort -v
ifort version 17.0.4

[2019-05-08 14:50] MaxThevenet commented on #131
Hi @abonatto thank you for reporting the issue.
RZ + PSATD has not been implemented yet. I'll update the doc.

[2019-05-08 14:51] MaxThevenet commented on #132
Ah ok, I'm not sure why you get this error.
I created a PICSAR Issue pointing to this one.

[2019-05-08 15:56] RemiLehe commented on #132
Since there is now an issue on the PICSAR repo, I will close this one - as the problem is not PICSAR-specific.

[2019-05-08 15:56] #132 closed

[2019-05-08 15:58] RemiLehe commented on #131
@abonatto Does this answer your question? If yes, could you close this issue?

[2019-05-08 17:40] RemiLehe commented on #131
Also, regarding the implementation of RZ+PSATD, note that:
- it is currently being implemented in PICSAR, so at some point we will link to the corresponding PICSAR code in WarpX
- there is a working implementation in the code [FBPIC](https://github.com/fbpic/fbpic). In this case, the implementation also works on GPU.

[2019-05-08 21:00] denisbertini opened #132 "Problem compiling PICSAR with intel compiler"
Hi
I tried to compile the PICSAR library with intel compiler v17.0.4 and get some compilation errors.
Here the dump:

mpif90 -O3 -fopenmp -JModules -ftree-vectorize  -c -o src/modules/modules.o src/modules/modules.F90
ifort: command line warning #10006: ignoring unknown option '-JModules'
ifort: warning #10193: -vec is default; use -x and -ax to configure vectorization
mpif90 -O3 -fopenmp -JModule

[2019-05-09 01:48] LDAmorim opened #135 "Particle momentum output information units"
Hi,

This is just a detail.
It seems to me that the beam momentum output data units are in SI (kg m/s), but the values are given by β γ c (missing the m_e factor responsible for the kg part).

I got this idea from running the 2D LWFA example which defines an electron beam with:

[code]

And reading the data in a jupyter notebook:
[code]

Which outputs include:
[code]

Which are values close to the

[2019-05-09 01:52] LDAmorim commented on #135
ps: Sorry, I just corrected the notebook part so you can test it.

[2019-05-09 09:10] abonatto commented on #131
Thank you, @MaxThevenet. Yes, @RemiLehe: it answers my question (I'll close it right now). Moreover, thank you very much for the additional info (I'll check FBPIC).

[2019-05-09 09:10] #131 closed

[2019-05-09 20:39] LDAmorim opened #136 "Dumping only a fraction of plasma macro-particles"
Hi all,

To make the results analysis faster (i.e. dumped files smaller), me and Maxence discussed the possibility of choosing to store the information of only a fraction of the total macro-particles in the dumped data.

The selection of the fraction of macro-particle could be done randomly for all macro-particles in the simulation box at each dumped time step.

This would be useful for the plasma

[2019-05-09 21:07] MaxThevenet commented on #135
I think this is because particle momentum is defined as `u = gamma * beta * c` in the whole code (i.e. not SI `u = gamma * beta * mass * c` and not normalized `u = gamma * beta`), in particular in PICSAR.

One option is to modify the `WritePlotFile` routine (currently we are directly calling the one in AMReX) to write the SI value. Since we are transitioning to C++, we could also change the moment

[2019-05-10 04:27] RemiLehe commented on #135
I think it would make sense to modify `WritePlotFile` so as to dump the SI value.

[2019-05-10 17:27] atmyers commented on #135
I agree - maybe we could have functions that convert the particle momenta to/from SI units and call them during WritePlotFile.

[2019-05-10 19:06] atmyers commented on #136
By default, amrex will only write out "valid" particles, meaning those where the `id` is greater than 0. So I think this could be implemented purely in WarpX's WritePlotFile routine by choosing a subset of the particles, multiplying their `id` numbers by `-1`, calling the normal `amrex::ParticleContainer` method to write the particle data, and then putting this `id`s back.

[2019-05-13 18:31] MaxThevenet opened #140 "back-transformed diagnostics broken"
Back-transformed diagnostics are broken in 2D and 3D. On `dev` branch, you can run `Examples/Physics_applications/laser_acceleration/inputs.2d.boost` and read the data in snapshot 3 for instance. This Python code snippet can be executed in a Jupyter notebook:
[code]

It plots the following images:
<img width="533" alt="Screen Shot 2019-05-13 at 11 26 59 AM" src="https://user-images.githubuserconte

[2019-05-13 18:34] MaxThevenet commented on #140
Note: I am pretty sure this was working well for the KPP runs 2 months ago.

[2019-05-13 23:08] MaxThevenet commented on #140
Here's how the fields look now. Looks much better! I am still a bit puzzled by the spurious waves that we see, but it's probably there in the actual fields.

<img width="547" alt="Screen Shot 2019-05-13 at 4 03 59 PM" src="https://user-images.githubusercontent.com/26292713/57659972-34ee7680-7599-11e9-9784-601124efb655.png">

[2019-05-14 20:57] #140 closed

[2019-05-14 21:01] atmyers opened #145 "Bad inputs options for GPUs should fail earlier"
Certain inputs options, such as the optimized current and charge deposition kernels, don't work on the GPU, nor should we expect them to. However, if you accidentally put one of these in your inputs file, currently the code will segfault, usually only after many timesteps. We should perform a validation step where the code checks whether any of these bad options have been set and fails early with

[2019-05-17 19:02] MaxThevenet commented on #135
This is addressed in PR https://github.com/ECP-WarpX/WarpX/pull/152

[2019-05-17 19:56] #135 closed

[2019-05-17 21:34] MaxThevenet opened #153 "Implement ionization"

[2019-05-20 20:31] MaxThevenet opened #154 "yt SlicePlot cannot annotate particles in RZ geometry"
This input file can be used to run a RZ simulation for beam-driven plasma acceleration.
[inputs.2d.txt](https://github.com/ECP-WarpX/WarpX/files/3199718/inputs.2d.txt)
The results can be plotted with
[code]
but line `sl.annotate_particles(...)` gives the following error:
[code]
though the data seems to be there in `plotfiles/plt00100/driver`.
@atmyers would this require change in `yt`?

[2019-05-20 20:45] atmyers commented on #154
Can we basically treat "r" as "x" and "z" as "y"?

[2019-05-28 05:39] RemiLehe opened #167 "Develop new Python scripts for automated tests on Travis CI"
Right now, WarpX uses the set of Python scripts `regression_testing` in order to run the tests on Travis CI. However, this set of scripts was not meant for this purpose, and is, in some aspects, not ideal.

It would be nice to develop our own set of small scripts that:
- parse the list of tests to be performed
- compile the corresponding executable (and avoid recompiling whenever a test reuses the

[2019-06-10 14:58] QJohn2017 opened #178 "installing wrapx code errors"
Hi,
I want to  install the WarpX code, when i set `USE_PSATD = FALSE` and type the command `make -j 4`, it can be compiled successfully, but once I set `USE_PSATD = TRUE` and compile the code, errors occurred:
![13](https://user-images.githubusercontent.com/31507149/59204347-02a15a80-8bd3-11e9-9152-4bae00fe3b42.jpg)

the compiling environment is also shown in figure above. can you help me to resol

[2019-06-10 15:58] RemiLehe commented on #178
Hi @QJohn2017,
Thanks for reporting this error.
The reason that you are having this problem is that you need to specify the path to the FFTW library (with `export FFTW=...`), see https://ecp-warpx.github.io/doc_versions/dev/building/spectral.html

In the documentation, we suggest `export FFTW=/usr/`, but this is just an example. The path should depend on the cluster that you are compiling on. Plea

[2019-06-10 16:09] QJohn2017 commented on #178
Hi，I have add the FFTW path in LD_LIBRARY path, and I also specified the FFTW path in the makefile of pisca directory, but the the errors Is also exist.

在 2019-06-10 23:58:49， "Remi Lehe" <notifications@github.com> 写道：

[2019-06-10 16:14] RemiLehe commented on #178
Alright. But did you type a command of the form
[code]
(where `...` should be replaced by a cluster-specific path)

If yes, could you post that command here, just to check?

[2019-06-11 02:52] QJohn2017 commented on #178
In the Makefile of `picsar`, I made the below changes:
`# External libs
FFTW3_LIB=/WORK/app/fftw/3.3.5-double/lib
FFTW3_INCLUDE=/WORK/app/fftw/3.3.5-double/include
VTUNEDIR=/opt/intel/vtune_amplifier_xe_2017.2.0.499904

P3DFFT_INCLUDE=/WORK/app/fftw/3.3.5-double/include
P3DFFT_LIB=/WORK/app/fftw/3.3.5-double/lib
IS_P3DFFT = false
`
and in the `.profile` file, I add the FFTW path to the system LD_L

[2019-06-11 03:44] WeiqunZhang commented on #178
Please try in command line what Remi said twice.

    export FFTW_HOME=/work/app/fftw/3.3.5-double/
    make

[2019-06-11 04:21] QJohn2017 commented on #178
Thank you ! when I tried the `export` command and then compile, the wapx code compiled successfully.
Why I type the command `export FFTW_HOME=/work/app/fftw/3.3.5-double/`, the errors could be avoided?

[2019-06-11 04:37] WeiqunZhang commented on #178
https://github.com/ECP-WarpX/WarpX/blob/master/Source/Make.WarpX#L104

The line above checks if `FFTW_HOME` is set in the environment.  If it is set, it will be used to set the path for the compiler to look for FFTW.  You can add `export FFTW_HOME=...` to your `.profile` or `.bashrc`.

The changes you make to picsar actually have no effects to warpx.

[2019-06-11 04:40] RemiLehe commented on #178
@QJohn2017 Since it seems that your original issue was solved, I will close this now.

[2019-06-11 04:40] #178 closed

[2019-06-11 04:41] QJohn2017 commented on #178
OKay. thank you very much!

[2019-06-11 04:43] RemiLehe commented on #145
Fixed by #168

[2019-06-11 04:43] #145 closed

[2019-06-11 04:46] QJohn2017 opened #179 "WarpX code running errors"
Hi, after I installed the WarpX code, then I want to run the examples in `../Examples/Physics_applications/laser_acceleration/laser_acceleration_PICMI.py`. When I submit the job by a job script file
[code]
The errors occurered :

[code]

[2019-06-11 13:36] QJohn2017 commented on #179
Thank you ! I have resolved it ?

[2019-06-11 13:36] #179 closed

[2019-06-11 13:39] QJohn2017 opened #180 "WarpX code run errors"
Hi, When i running the warpX code, some errors appeared, which I have attached it in attachment file,please help me to check it and resolve it ,thank you !
[slurm-11555516.txt](https://github.com/ECP-WarpX/WarpX/files/3276716/slurm-11555516.txt)

[2019-06-12 05:41] RemiLehe commented on #180
Thanks for reporting the issue @QJohn2017.
In order to help us debug this, could you send us your input script?

[2019-06-12 13:31] QJohn2017 commented on #180
Hi, my input script is the example `laser_acceleration_PICMI.py` which located in the directory `../Examples/Physics_applications/laser_acceleration`

[2019-06-25 16:14] MaxThevenet commented on #126
PR https://github.com/ECP-WarpX/WarpX/pull/150 addressed this issue. Can we close it, or do we want to add some more documentation?

[2019-06-25 20:44] MaxThevenet opened #186 "Translate Fortran routines to GPU-friendly C++"
We are progressively moving from Fortran to C++, for portability and consistency reasons. All functions declared in `Source/FortranInterface/WarpX_f.H` should be replaced with C++ functions as part of WarpX. This issue is labeled `good_first_issue` as it contains a lot of small tasks, some of which should be a good introduction to WarpX way for portability to GPU (though not all). Useful informati

[2019-06-25 22:47] LDAmorim commented on #186
Hi all,

Sorry for the confusion.
When I used the GitHub assign option, I didn't mean to assign all the functions that are in WarpX_f.H for myself.

Instead I am starting to read WarpX_f.H and to try to understand the first function: ```warpx_copy_attribs,```
which is a small subroutine defined in WarpX_f.F90 in fortran.

So that I can try to write it in C++ in the near future.

Cheers,
Diana

[2019-06-27 16:10] RemiLehe commented on #126
Agreed. We could close this.

[2019-06-27 16:10] #126 closed

[2019-06-27 16:31] LDAmorim opened #190 "Reading plotfiles from boosted frame examples - ds.field_list error message"
Hi all,

I am opening this issue, just in case any of you have encountered a similar error message before (and also if I find out what mistake I am making, by writing it here no one will repeat it!).

I am trying to change one function (warpx_copy_attribs - which affects back transformed diagnostics) from Fortran to CPP. When I tested the changes in my fork and branch, with the boosted frame examp

[2019-06-27 16:53] atmyers commented on #190
I think this is a problem I introduced when I added information about the rigid injected species into `WarpXHeader`, to fix the restart when those were used.

I am leaving for vacation today, and I'll fix this for real when I get back. In the meantime, you can delete the lines at the end of WarpXHeader that have to do with the rigid injected species, leaving only the species charges and masses, an

[2019-06-27 16:54] LDAmorim commented on #190
Hi Andrew,

Oh I see. I will test that fix then.

Thanks!

[2019-06-27 17:42] LDAmorim commented on #190
Hi Andrew,

You are right, the attached input file without the beam-rigid-injection lines:

[code]

Works well and I can get all the data:
![electrons-beam-00000](https://user-images.githubusercontent.com/15057096/60287928-f3efbe80-98c7-11e9-9b5d-5ea9f78c5002.png)

When I introduce the injection lines, it leads to the error above.
So I will work on my fork and branch without the part you mentioned

[2019-07-02 15:15] MaxThevenet opened #193 "Move Current deposition to C++"

[2019-07-04 00:48] LDAmorim opened #194 "Did you ever get "unexpected" results with inputs.2d.boost from Examples?"
Hi,

Sorry to bother you all with this, but I was wondering if you knew what would be the expected outcome of running WarpX/Examples/Physics_applications/laser_acceleration/inputs.2d.boost.

I am asking because the results I obtain does not seem like the standard blowout regime to me:
![Ey-beam-plasma-00300](https://user-images.githubusercontent.com/15057096/60631931-0a5db480-9db7-11e9-8e0f-fd0af3

[2019-07-05 18:27] #193 closed

[2019-07-08 17:31] MaxThevenet opened #196 "Avoid code duplication for deposition and gather in buffers"
When using mesh refinement, WarpX offers the capability to deposit charge and current, or to gather fields, from buffers at a level different from the particle's. The implementation leads to code duplication (roughly the same thing is done twice, once inside the patch and once in the buffers).

This (merged) PR https://github.com/ECP-WarpX/WarpX/pull/195 proposes a way to avoid this duplication fo

[2019-07-08 17:58] atmyers commented on #190
FYI I have made a pull request to yt that fixes this issue: https://github.com/yt-project/yt/pull/2289

[2019-07-08 18:09] LDAmorim commented on #190
Thanks!!

[2019-07-09 16:09] LDAmorim commented on #194
Hi,

I have been testing older versions of WarpX and the issue was still there when the last commit was on May 14th (Merge pull request #142 from ECP-WarpX/fix_mirror). I will now try to test earlier versions.

Changing the initial plasma position to 1.e-2 (i.e. there is no plasma initialized in the boosted frame initial box), didn't alter the formation of that first group of plasma electrons that

[2019-07-10 18:42] MaxThevenet opened #202 "Use refinement ratio >2"
Currently, WarpX is limited to refinement ratio of 2 between consecutive levels (This is hard-coded in some places). Could this work with higher refinement ratio?

[2019-07-10 18:44] MaxThevenet opened #203 "Multiple MR level"
All MR simulation have been done with `max_level = 1` so far. We should try and go to higher levels. That will probably require changes in the API and in the code (sub-cycling is not recursive so far).

[2019-07-10 19:39] RemiLehe commented on #203
There is also an issue with charge/current deposition with `max_level >= 2`

Pasted discussion from Slack:

Let us consider particles that are in a patch of the 2nd refinement level. Then:
- The particles deposit in `rhof[2]`
- In `SyncRho`, `rhof[2]` (non-empty) is interpolated into `rhoc[2]`, `rhof[1]` (empty so far) is interpolated into `rhoc[1]` (hence empty as well)
- Later in `SyncRho`, `rho

[2019-07-11 00:45] LDAmorim commented on #190
Just in case anyone else wants to model beams with the rigid option, until yt merges Andrew's PR, I decided to do the attached small bash script to remove the additional header lines automatically (to avoid making mistakes). So far it works for my runs.

To run it, first change it to ".sh", adapt the directory paths and confirm the WarpXHeader line numbers to be removed. Then use the command "bash

[2019-07-11 00:52] LDAmorim commented on #194
Hi all,

I just tried to re-run the simulation we did in the beginning of May, in 3D with a single stage to determine optimal beam phase with lower resolution (and beam particles) in my computer (instead of NERSC).

The run uses moving window, boosted frame and back-transformed diagnostics.

Below is one of the plots with the "strange" results I obtain for that case:

![Ey-beam-plasma-slice-x-0014

[2019-07-13 02:50] LDAmorim commented on #194
Hi all,
Below is a small update on this issue.

The code "old" versions:
- picsar:93b5159f4bfe
- amrex:19.05-67-g93fd673f769a
- warpx:19.05-115-g88466008b285

Have a different input file for the LWFA 3D boosted frame example, which is attached.
That input file, running with those code versions and the current ones, led to the following "not-strange" results:

![image](https://user-images.githubuse

[2019-07-13 03:25] LDAmorim commented on #194
Just FYI, the "old" WarpX example that had good results was adapted to the current codes versions and included in PR #206.

[2019-07-15 18:07] MaxThevenet opened #214 "Accelerate `AddPlasmaGPU`"

[2019-07-15 18:08] MaxThevenet opened #215 "Correctness and performance for MR on GPU"

[2019-07-15 18:13] MaxThevenet opened #216 "Debug c++ particle pusher"
This implementation proposed in PR https://github.com/ECP-WarpX/WarpX/pull/160 does not give the same results as before to machine precision. Might be because Fortran uses single precision by default while C++ uses double precision by default.

If there's a Fortran compilation flag to make all `double` precision default, that would be a nice way to test it.

[2019-07-15 18:15] MaxThevenet opened #217 "Reduce number of calls to `FillBoundary`"
@RemiLehe proposed a strategy there:
https://github.com/ECP-WarpX/WarpX/commits/save_fill_boundaries
More specifically on this commit
https://github.com/ECP-WarpX/WarpX/commit/d81e99e52990d671807542741a1539981d8c5cb7

[2019-07-15 20:22] LDAmorim commented on #190
Note that if you are running an input with multiple beams with the rigid option, you will have to remove multiple "sets" of lines in the WarpXHeader files.

[2019-07-16 18:16] dpgrote commented on #216
This was fixed in #160

[2019-07-16 18:16] #216 closed

[2019-07-17 11:47] hightower8083 opened #222 "particles import/export"
Dear devs,

we are playing with WarpX and it looks great.

In our present problem, we need to get a beam from one simulation (sparse plasma), and export it into another case (solid plasma). I saw that in [another](https://github.com/fbpic/fbpic) BLAST code there was a [simple way](https://github.com/fbpic/fbpic/blob/fd8cc6f98e234bfc7ef4e60ad14d56dbca5436d6/fbpic/lpa_utils/bunch.py#L389) to accompl

[2019-07-18 20:28] MaxThevenet commented on #217
I will also change calls to FillBoundary so that we exchange only **required** guard cells.

[2019-07-19 00:14] MaxThevenet commented on #217
For the record, this table lists, for all relevant routines, the number of guard cells for cell-centered and node-centered data. It is a first step to reduce the amount of data sent in `FillBoundary` calls. Some routines require 0 guard cells for node-centered data, because the nodes at the boundary between two boxes are duplicated on the two boxes.

I am not positive all of that is correct, but I

[2019-07-19 16:02] MaxThevenet commented on #217
My plan for this issue:
- remove unnecessary calls to `FillBoundary`
- reduce number of cells in `FillBoundary` calls
- Try and call `Redistribute` every n iterations

[2019-07-19 23:23] LDAmorim commented on #215
The timing and tiny profilers information for the performance tests done on GPU and CPUs, with and without a level 1 mesh refined patch, using a 3D boosted-frame uniform plasma input file are shown in the attached file.

[PerformanceUPlasma.txt](https://github.com/ECP-WarpX/WarpX/files/3412962/PerformanceUPlasma.txt)

For the run with 2 particles per cell (ppc) with a mesh patch, running on multip

[2019-07-20 01:14] MaxThevenet commented on #196
This is done in PRs https://github.com/ECP-WarpX/WarpX/pull/223 and https://github.com/ECP-WarpX/WarpX/pull/227

[2019-07-22 17:15] RemiLehe commented on #222
Thanks for your interest in the code, and for raising that issue.
There is currently no way to do this when using the compiled executable, and will probably take some time to have this implemented.

However, it might be possible to do what you suggest by using the [Python interface](https://ecp-warpx.github.io/doc_versions/dev/building/python.html), e.g. by reading the particles with openPMD-viewe

[2019-07-24 23:39] MaxThevenet opened #235 "Reconsider AoS vs. SoA?"
AMReX's particle container uses AoS for particles positions (actually not only position, but let us consider position only for simplicity), where the memory layout reads `x1 y1 z1 x2 y2 z2 ...` etc. In WarpX we convert this to SoA in most particle kernels, calling `GetPosition`, and store the results as `m_xp = [x1 x2 ...]` `m_yp = [y1 y2 ...]` etc. To my understanding, the main reason was for int

[2019-07-26 18:07] RemiLehe opened #237 "Move `Make.package` from PICSAR repo to WarpX repo"
This would make it easier to modify it, especially as we are currently using fewer PICSAR functions and therefore do not need to be compiled.

[2019-07-26 18:19] RemiLehe commented on #235
This could already be implement for `PushPosition`, I think.

[2019-07-26 20:20] ax3l commented on #235
Sounds very reasonable and will save a lot of memory movement.

[2019-07-27 19:43] hightower8083 opened #243 "`spack install warpx dims=2` builds 3d version"
when build with the spack the option `dims=2`, it does add it to `.spack/spec.yaml` but still builds a 3D code

[2019-07-27 21:51] RemiLehe commented on #243
Thanks for reporting this issue!

I think I just fixed it. Could you try the following:
- `spack uninstall warpx`
- Remove the cached source: `rm spack/var/spack/cache/warpx/warpx-dev.tar.gz`
- `spack install warpx dims=2`

[2019-07-28 06:42] hightower8083 commented on #243
Thanx, @RemiLehe that did it!

[2019-07-28 13:42] #243 closed

[2019-07-31 18:24] #96 closed

[2019-08-08 15:48] RemiLehe opened #258 "Update GPU build"
WarpX is now almost free of any OpenACC/Fortran code.

As a consequence, we should update:
- The `Make.WarpX` file, so as to have `USE_ACC=FALSE` if `USE_GPU=TRUE`
- The `building` documentation: `COMP=pgi` is not required anymore.
- The `spack` package for WarpX: we should add the option to install the GPU version of WarpX via spack.

[2019-08-12 19:45] dpgrote commented on #196
This was done for charge deposition in #263

[2019-08-12 19:58] MaxThevenet commented on #196
Indeed, thanks!

[2019-08-12 19:58] #196 closed

[2019-08-13 00:31] LDAmorim opened #267 "Beam Rigid issue in boosted frame"
Hi all,

The results of the 2D boosted-frame LWFA example that is in the repository laser-acceleration folder, `inputs.2d.boost`, running with the code versions of today and using the `Esirkepov` current deposition module, seems to neglect the beam rigid option.

The beam is supposed to travel a certain distance as rigid (only being pushed in z, I think), but seems to propagate independently of th

[2019-08-13 03:30] MaxThevenet commented on #267
@LDAmorim Thanks for reporting this issue.
@dpgrote Do you think it may come from recent changes we did in particle pusher and subsequent modifications of rigid particle container?

[2019-08-13 20:03] dpgrote commented on #267
I'll take a look.

[2019-08-13 21:17] MaxThevenet commented on #267
Thanks!

[2019-08-13 22:08] dpgrote commented on #267
This should be fixed with PR #268

[2019-08-13 23:31] LDAmorim commented on #267
Yes, It was. Thanks!

![Ey-mesh-00200](https://user-images.githubusercontent.com/15057096/62984367-beefea80-bde7-11e9-8b80-81421cf0a01c.png)

[2019-08-14 01:18] #267 closed

[2019-08-14 01:33] MaxThevenet opened #269 "Strange fields when using rigid injection"
Rigid injection sometimes show surprising behaviors. Attached is an input file with a rigid-injected beam propagating in vacuum in a boosted frame. Here are snapshots (in the boosted frame) of `Ex` after 100 iterations.
Without rigid injection (i.e., commenting line `particles.rigid_injected_species = beam`):
<img width="569" alt="Screen Shot 2019-08-13 at 6 26 52 PM" src="https://user-images.gith

[2019-08-20 22:47] LDAmorim opened #282 "Refine plasma"
Hi,

This is just an update/question for PR #279.

I have been trying to use the refine_plasma option with the branch fix_refine_plasma. For which the last change that appears in the log was:
[code]

I used the short 2D beam driven plasma wakefield acceleration run that is currently set for the reg tests of the sub-cycling, but with a boosted frame with boost = 2.

The results I got comparing the

[2019-08-23 16:30] RemiLehe opened #290 "Use SI units everywhere in the WarpX documentation"
The WarpX documentation (esp. the theory part) uses a mix of SI units, Gaussian units, natural units, in different sections/equations.

We should standardize the whole documentation so that SI units are used everywhere.

[2019-08-24 21:01] DanielWinklehner opened #292 "Poisson solver"
Hi All,

It looks like WarpX is coming along nicely! Congrats.

I was wondering if there were any plans to implement a Poisson solver (and 'complicated' boundary conditions from e.g. geometry data or even just cylindrical pipes)? This would enable many applications outside of plasma physics I would imagine...like high intensity ion beams ;)

Cheers,
   Daniel

[2019-09-05 04:12] RemiLehe opened #316 "Optimize MPI `Exchange` function between PML boxes and regular boxes"
When running with PML, WarpX performs MPI guard cell exchanges:
- between PML boxes (call to `FillBoundary`)
- between regular boxes (call to `FillBoundary`)
- between PML and regular boxes (call to [`PML::Exchange`](https://github.com/ECP-WarpX/WarpX/blob/master/Source/BoundaryConditions/PML.cpp#L626))

While `FillBoundary` is getting faster thanks to various efforts on the AMReX side, I think th

[2019-09-05 23:57] MaxThevenet opened #319 "port particle splitting to GPU"
Current code for particle splitting works on CPU only. The main routines should be ported to GPU, using similar techniques as ionization for instance.

[2019-09-06 00:03] MaxThevenet opened #320 "Implement particle pusher by Higuera and Cary"
It could be interesting to explore this particle pusher.
Here are the main references:
https://aip.scitation.org/doi/full/10.1063/1.4979989
http://accelconf.web.cern.ch/AccelConf/ipac2018/papers/thpml042.pdf
One could for instance mimic what is done for Boris and Vay pusher.

[2019-09-06 00:09] jlvay commented on #320
We want to implement for sure the one described in the Phys. Plasmas paper.
The conference paper describes a different pusher.

[2019-09-06 14:34] lucafedeli88 opened #321 "Usage of "long" type in the code"
"long" integer type is used in many places in the code (e.g., for particle index in particle containers).
However, on many machines, "int" and "long" are 32 bit integers, while "long long" is a 64 bit integer.
If the idea is that selected quantities need to be able to go beyond 2147483647, it should be better to use int64_t....

[2019-09-06 16:06] WeiqunZhang commented on #321
As far as I understand, long is mostly used for two reasons, (1) compatibility with PICSAR and python interface, and (2) the size.  For the size, yes, on "many" machines the size of long is 4 bytes.  But I don't think we care about integer overflowing on those *Windows* machines, because there are no supercomputers running Windows.  (Even Mac has the size of 8 for long).

[2019-09-09 12:48] humitos opened #326 "Add alpha warning banner in all the pages"
I just saw that you have a warning banner in the **alpha** version at https://warpx.readthedocs.io/en/19.08/index.html

Although, this warning is shown only that index page, but if you go to any other page you don't see the warning anymore.

I created an extension some time ago that adds this warning to all the pages automatically. You may be interested in checking it out: https://github.com/humit

[2019-09-10 22:37] ax3l commented on #326
Thanks!
How does this interact with the "not most recent version" header warning, e.g. in https://warpx.readthedocs.io/en/19.06/ ?

We (cc @RemiLehe) thought about removing the alpha-warning soon anyway.

[2019-09-10 23:05] ax3l commented on #321
Yep, sizes of `short`, `int`, `long` and `long long` depend on the data model. The official standard/docs: https://en.cppreference.com/w/cpp/language/types
Similar issue in real-word between Linux-OSX-Windows, all on 64bit machines: https://github.com/openPMD/openPMD-api/pull/337

TL;DR: Use `uint64_t` if you want to ensure your range is long enough for particle ids et al.
For example, on MSVC for

[2019-09-11 15:06] lucafedeli88 commented on #321
ok, thanks a lot for the clarification!

[2019-09-11 15:06] #321 closed

[2019-09-13 04:43] RemiLehe opened #349 "WarpX::SyncCurrent should be ported to GPU"
The function `WarpX::SyncCurrent` uses Fortran code (without OpenACC directives). This should be ported to C++.

[2019-09-13 09:41] lucafedeli88 opened #350 "Radiation Friction (a.k.a. Radiation Reaction)"
We might want to add radiation friction / radiation reaction to the code. We could add a particle pusher which takes it into account (e.g. boris + RR).   I could volunteer to do that if you think that this is a good idea...

Some refs.
- M Tamburini et al 2010 New J. Phys. 12 123005 https://iopscience.iop.org/article/10.1088/1367-2630/12/12/123005/meta
- M. Vranic et al.  Computer Physics Communic

[2019-09-13 21:00] ax3l commented on #349
I tried to look at this but did not fully understands which parts are Fortran calls in there. Any specific sub-call? Contains so many indirections, I might have missed it...

[2019-09-13 21:03] ax3l commented on #349
Oh, there are two different `WarpX::SyncCurrent ()` in `WarpXComm.cpp` and one overload of it calls `WRPX_SYNC_CURRENT`...

[2019-09-13 22:32] RemiLehe commented on #349
Yes, and `WRPX_SYNC_CURRENT` is in Fortran right now.

[2019-09-14 17:48] RemiLehe opened #353 "Add openPMD output for RZ geometry"
This is related to https://github.com/openPMD/openPMD-api/issues/545

## To Do

Meshes:
- [x] write Cartesian, reconstructed fields for theta=0 as in plotfiles: #1224
- [ ] in openPMD output:
  - do not write reconstructed at all
  - write all modes instead as defined by the standard

Particles:
- [x] fix theta mismatch after E/B were removed #1224
- position is stored internally for AMReX in r,z

[2019-09-16 15:23] levinem opened #358 "OSI-approved license?"
Is the project license an OSI-approved standard software license?

[2019-09-16 16:01] RemiLehe commented on #358
Not exactly: it is a modified version of the OSI-approved BSD 3-clause license.
The modifications are specific to University of California / LBNL / LLNL. But otherwise the license is very similar to BSD 3-clause.

[2019-09-16 16:08] WeiqunZhang commented on #358
Actually, it has been approved by OSI recently.

https://opensource.org/BSD-3-Clause-LBNL

[2019-09-16 16:12] levinem commented on #358
Nice!  Thanks for letting me know.

[2019-09-16 16:43] RemiLehe commented on #358
Thanks for the info @WeiqunZhang !

[2019-09-16 16:43] #358 closed

[2019-09-17 15:53] lucafedeli88 commented on #350
I've opened a dedicated PR (which is currently work in progress)

[2019-09-17 18:43] RemiLehe opened #364 "Coarse to fine interpolation: Allow different types of staggering"
As of #363, the coarse to fine interpolation explicitly assumes that the E and B fields are staggered. This should be generalized for the case of a centered / mixed grid.

[2019-09-18 09:52] lucafedeli88 opened #367 "How do we handle photons with zero momentum?"
At present the code crashes if photons with zero initial momentum are initialized. I noticed this bug writing a unit test:
[code]

This is due to the fact that the photon pusher contains the following line:
[code]
which is infinity if normalized momenta are 0.
This is not a big issue, since photons with zero momentum won't be generated by the QED modules. However, should we include a check in the

[2019-09-18 14:18] RemiLehe opened #369 "Update/automatically test example scripts"
When users first try WarpX, they typically use one of the example scripts.
However, these scripts are not automatically tested, which means that they are very likely to be obsolete, and might even crash.

We should automatically test these input scripts.

[2019-09-18 14:45] MaxThevenet commented on #367
I think the issue here is that photons should be pushed with a velocity, not a momentum... We plan some refactoring on particle handling at some point, this could be included there.
Yes I think we can implement the solution you propose. Otherwise we need something general enough to cover all injection types, and both at init and for continuous injection, which would require more changes.

[2019-09-18 18:38] hightower8083 opened #371 "gpu build, mpich warning about "rank-to-GPU mapping""
Testing GPU 2Dbuild on desktop station: 2 * GTX1080Ti, Ubuntu 18.04.1 (kernel 5.0.0-27-generic), Nvidia driver 430.26. Configured with _spack_:
[code]

For test using `Tests/Langmuir/inputs.multi.2d.rt` and `Tests/Langmuir/inputs.rt`
Single GPU run goes clean.
Two GPU run, `mpirun -np 2`, starts with a warning print:
[code]
In my case, does not affect of scaling, but may be it could be something t

[2019-09-18 19:02] WeiqunZhang commented on #371
The warning comes from AMReX.  I think in your case you can safely ignore the warning.  If you want to get rid of the warning, you can compile with

    make GPUS_PER_NODE=2 USE_GPU=TRUE DIM=2

[2019-09-18 19:12] hightower8083 commented on #371
thank you @WeiqunZhang for making it clear!
I've checked -- setting explicit `GPUS_PER_NODE` indeed removes the warnings.

[2019-09-18 19:12] #371 closed

[2019-09-19 00:37] MaxThevenet opened #373 "Use pragma once?"
Should we use
[code]
in header files instead of
[code]
?

[2019-09-19 01:34] LDAmorim opened #374 "#parts in back-transformed diagnostic with sub-cycling"
Hi,
I am also noticing an issue in the back-transformed diagnostics data, when I use MR together with sub-cycling (`warpx.do_subcycling = 1`). I am posting it here in case its source differs from https://github.com/ECP-WarpX/WarpX/issues/293.

In the run with MR and sub-cycling, the total number of particles of a beam registered in the back-transformed data differs from the value specified in the

[2019-09-19 01:38] LDAmorim commented on #374
ps: The difference in # of particles is very close to 25%.

[2019-09-19 01:53] WeiqunZhang commented on #373
I prefer include guard.  `#pragma once` is not in the standard.  And it can be slow. (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=58770)  The current system already works.  The only problem of include guard is the name has be to entered twice.  But one should use your editor to auto-complete the name in the `#define` line anyway.

[2019-09-19 14:28] WeiqunZhang commented on #373
GCC does not use pragma once in their own source code.

[2019-09-19 16:15] MaxThevenet opened #375 "Add automated tests for initial distributions"
So far, we do not have tests that check if particle distributions (gaussian, uniform, etc.) are properly initialize (i.e., at time step 0).

[2019-09-19 20:34] RemiLehe opened #378 "Port particle partition to GPU"
When particles (in a refinement patch) are partitioned between the deposition/gather buffers, the code uses the `std` library and thus always runs on CPU:
https://github.com/ECP-WarpX/WarpX/blob/dev/Source/Particles/PhysicalParticleContainer.cpp#L1106-1110

This should be ported to GPU

[2019-09-19 22:01] MaxThevenet opened #380 "out-of-bounds when subcycling + back-transformed diagnostics"
Compiling on `dev` branch with
[code]
and running this [inputs](https://github.com/ECP-WarpX/WarpX/files/3633376/inputs.txt) file results in
[code]
With Backtrace
[code]
It seems to be independent from PR https://github.com/ECP-WarpX/WarpX/pull/377

[2019-09-20 15:16] MaxThevenet opened #381 "RZ with laser gives SEGFAULT"
Running RZ with a laser antenna gives a SEGFAULT at the first iteration. @dpgrote mentioned it is probably because the mapping between cartesian and cylindrical coordinate has not been implemented for laser particles yet.

To reproduce the bug, compile warpx with `USE_RZ=TRUE` and run serial with this [input file](https://github.com/ECP-WarpX/WarpX/files/3636566/inputs.rz.txt).

[2019-09-20 16:18] MaxThevenet commented on #373
Thanks for your feedback @WeiqunZhang.

[2019-09-20 16:35] WeiqunZhang commented on #373
llvm doesn't use it either.  https://github.com/llvm/llvm-project/tree/master/libcxx/include

[2019-09-21 01:02] MaxThevenet opened #387 "TAB-check automated tests issue on MacOS"
The commands suggested in the TAB automated test output does not work on MacOS.
[code]
returns
[code]
I guess PR https://github.com/ECP-WarpX/WarpX/pull/347 fixed a similar issue for EOL whitespaces, so we could mimic what is done in this PR.

[2019-09-23 16:48] ax3l opened #391 "Modernize SplitParticles for GPU"
The `SplitParticles` functions need to be modernized for GPU support.

An implementation suggested by @MaxThevenet would work similar than the ionization routines #260 , splitting particles and determining via a prefix sum how many new particles need to be allocated.

[2019-09-23 16:50] ax3l commented on #387
I'll take care of that and use @gtrichardson as a test object :)

[2019-09-23 18:37] ax3l commented on #373
I think `#pragma once` is widely supported in all compilers in use so far.
It's unlikely we will notice the speed issue of the linked benchmark in GCC.

Include define guards also have the potential to be duplicated/collide, e.g. if new developers copy-paste existing headers and forget to change them.

Also, all include control macros must go ;-D This will simplify modernization later on towards C

[2019-09-23 18:54] WeiqunZhang commented on #373
I heard that Cray does not support pragma once.

[2019-09-23 19:28] ax3l commented on #373
Fixed now with cray cc 9.0+, build on top of clang. Cannot edit the Wikipedia page right now ;)

[2019-09-23 22:26] #387 closed

[2019-09-24 16:35] ax3l commented on #349
I am trying to look into this, but the full lack of parameter documentation of the two functions makes it a funny game to read and guess what this is doing ;)

[2019-09-25 16:01] RemiLehe commented on #374
@LDAmorim Could you confirm that this is now fixed?
If yes, could you close this issue?

[2019-09-25 16:07] RemiLehe commented on #391
@ax3l This seems to be a duplicate of #319. Should we close one of these two issues?

[2019-09-25 16:53] LDAmorim commented on #374
@RemiLehe thanks for pointing this out! Yes, the current dev branch no longer has this issue.

[2019-09-25 16:53] #374 closed

[2019-09-25 16:58] ax3l commented on #391
oh right, I overlooked this! Will close mine and add the other to the AMR on GPU project for tracking.

[2019-09-25 16:58] #391 closed

[2019-09-25 17:03] MaxThevenet commented on #319
Note that there's a small open PR https://github.com/ECP-WarpX/WarpX/pull/404 for particle, so let's just make sure we merge it before starting porting it to GPU.

[2019-09-25 17:04] ax3l commented on #380
Charge deposition was last changed in #263, maybe @dpgrote can spot if there is an out-of-bounds access in it?

[2019-09-25 17:14] MaxThevenet commented on #380
Note that this happens when using back-transformed because `rho` is requested by default in back-transformed diagnostics, so we need to do the charge deposition after the full timestep.

[2019-09-25 17:42] ax3l commented on #367
I think a photon momentum is physically also well defined.

We should just define a specific pusher for them, always moving them at `c` without respect for the momentum. And we might want to define their momentum properly?

[2019-09-25 21:12] ax3l commented on #358
And it has a SPDX identifier :)
https://spdx.org/licenses/

[2019-09-25 21:24] levinem commented on #358
Excellent, thanks for letting me know!

[2019-09-26 04:15] RemiLehe opened #406 "WarpX fails to compile in single precision"
The command
[code]
results in compilation errors.

[2019-09-26 20:05] RemiLehe opened #411 "`AddParticles` is slow on GPU, at the beginning of the simulation"
`AddParticles` typically calls `push_back` on managed-memory arrays. This is quite slow and should be avoided.

[2019-09-27 01:16] ax3l commented on #319
This is #409, right?

[2019-09-30 16:25] ax3l commented on #349
Implemented via #402 :)

[2019-09-30 16:25] #349 closed

[2019-10-01 23:33] RemiLehe opened #425 "Set up GPU regression tests on garuda"
It would be great to have the code automatically tested on GPU.

[2019-10-01 23:35] RemiLehe commented on #381
I think that this was fixed in: https://github.com/ECP-WarpX/WarpX/pull/397
@dpgrote Could you confirm and close this issue if it is the case?

[2019-10-01 23:44] dpgrote commented on #381
Yes, this is fixed by #397

[2019-10-01 23:44] #381 closed

[2019-10-01 23:45] atmyers commented on #425
Do we want all the tests to run on GPUs (it's "garuda" - we got a new machine for this), or a subset?

I think the

[2019-10-01 23:57] ax3l commented on #425
All the tests!! <3

[2019-10-02 04:04] RemiLehe commented on #425
Agreed. In principle all the tests should be able to run on GPU.

[2019-10-02 16:59] RemiLehe opened #426 "Support independent refinement ratios in different directions"
Right now, WarpX imposes that the refinement ratio be the same in x, y and z.
It would be great to have the capability to set a different refinement ratio in different direction.

As first step, it would already be useful to have this capability with refinement ratio *restricted* to either 1 or 2. (e.g. refinement of 2 in x and y, but refinement of 1 - i.e. no refinement - in z)

[2019-10-02 17:02] RemiLehe commented on #406
I think that we can close this once #422 is merged.

[2019-10-02 17:29] RemiLehe commented on #116
This could be done either by calling a few more `HDF5` primitive, to add the required metadata, or we could use the [libopenPMD library](https://github.com/openPMD/openPMD-api) instead.

[2019-10-02 17:33] RemiLehe opened #427 "Add openPMD output for particles"
It would be great to have output for the particles, similarly to the openPMD output that was implemented for the fields (see #80 #256)

[2019-10-02 17:38] RemiLehe opened #428 "Implement particle filters, in the data output"
As mentioned in #2, it would be very useful to have particle filters, to reduce the size of the data. For instance:
[code]

[2019-10-02 17:38] RemiLehe commented on #2
Most of the features mentioned in this issue are implemented. I added a new issue for the particle filters.

[2019-10-02 17:38] #2 closed

[2019-10-02 17:43] RemiLehe opened #429 "Implement binary particle collisions"
For dense plasmas, it would be useful to have binary particle collisions implemented.

Here are a few references that could be useful:
- https://journals.aps.org/pre/abstract/10.1103/PhysRevE.55.4642
- https://www.sciencedirect.com/science/article/pii/S0021999198960491?via%3Dihub
- https://aip.scitation.org/doi/10.1063/1.4742167
- https://www.sciencedirect.com/science/article/pii/S0021999108001988

[2019-10-02 17:57] #378 closed

[2019-10-02 18:00] ax3l commented on #378
Implemented in #409

[2019-10-02 18:05] RemiLehe opened #430 "Allow the extended PML to work with MR"
The extended PML (#289) currently only work with level 0. However, we expect that it would be very advantageous for MR. They should be generalized for MR.

[2019-10-02 18:14] ax3l commented on #428
Thanks for documenting this, we just talked about this yesterday again. Just for reference, that's how we did it in the past and I find complex filters, e.g. by derived or remembered particle attributes, extremely helpful for data reduction workflows:
* https://picongpu.readthedocs.io/en/latest/usage/param/core.html#particlefilters-param
* https://picongpu.readthedocs.io/en/latest/usage/param/part

[2019-10-03 15:45] RemiLehe commented on #411
Here is a bit more info:

- `AddParticles` is called at initialization here:
https://github.com/ECP-WarpX/WarpX/blob/dev/Source/Particles/PhysicalParticleContainer.cpp#L95
It is defined here:
https://github.com/ECP-WarpX/WarpX/blob/dev/Source/Particles/PhysicalParticleContainer.cpp#L225
and calls (under certain condition) `AddGaussianBeam`. The issue is with `AddGaussianBeam`.

- `AddGaussianBeam`

[2019-10-03 15:47] RemiLehe commented on #411
Here is a small script that can be used to test this:
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/3686945/inputs.txt). Right now, `AddParticles` takes most of the time when running this script.

[2019-10-03 17:38] RemiLehe opened #436 "CKC Pml are unstable in boosted-frame runs"
When using the PML with the CKC solver, simulations in the boosted-frame can become unstable.

This was *not* the case in version 19.08 of WarpX, so it seems that this is a bug that was recently introduced.

Here is an input script that reproduces the issue:
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/3687340/inputs.txt)

When looking at the `Ey` field at iteration 1000, we see strong fi

[2019-10-03 17:44] RevathiJambunathan commented on #116
In PR#197 I have made some modifications to BFD so that the slice-diagnostics are HDF5 compliant as well. I will add the openPMD in a separate branch.

[2019-10-03 20:34] RemiLehe commented on #436
Here is how it looks like with version `19.08` (no spurious fields at the back of the window)
![Screenshot from 2019-10-03 13-34-19](https://user-images.githubusercontent.com/6685781/66162098-88ae3a80-e5e2-11e9-9511-d9b20b4f7e7d.png)

[2019-10-03 22:01] RemiLehe commented on #427
Some more info on this:

- Here is how we currently dump the particles into the AMReX file format ("plotfile"):
https://github.com/ECP-WarpX/WarpX/blob/master/Source/Diagnostics/ParticleIO.cpp#L77
We would like to keep this, but add more code to dump the same information, using the openPMD api.

- In case this is useful, the structure of particle container (in AMREx/WarpX) is described here:
https

[2019-10-03 22:08] ax3l commented on #427
For particles, it might be necessary to prepare the AMReX particle data, sometimes a struct of array, into per-rank and per-quantity (openPMD speach: *record-component*) contiguous arrays.

[2019-10-03 22:15] RemiLehe commented on #427
Yes, note that we can convert the positions from the array-of-struct format to a set of arrays, using `WarpXParIter::GetPosition`: https://github.com/ECP-WarpX/WarpX/blob/master/Source/Particles/WarpXParticleContainer.cpp#L28

[2019-10-03 23:04] Yin-YinjianZhao commented on #411
@RemiLehe When I use "inputs.txt" as the input file, what executable should I use? Can you send me a GNUmakefile that is suitable for "inputs.txt"? Also, since we are talking about GPU, I need to run it on a node with at least one GPU right?

[2019-10-03 23:14] RemiLehe commented on #411
Yes, this would need to be tested on a node with a GPU (e.g. probably Cori-GPU in your case).
In order to test this, you can follow the instructions here to build the executable:
https://warpx.readthedocs.io/en/latest/building/cori.html
Then you can copy both the executable (which is in the `Bin/` folder) and the `inputs.txt` into a new folder and run
[code]
where `<warpx_executable>` should be re

[2019-10-04 00:14] ax3l commented on #427
cc-ing @guj

[2019-10-04 16:33] ax3l opened #439 "Question on "inputs.txt" as the input file"
@RemiLehe When I use "inputs.txt" as the input file, what executable should I use? Can you send me a GNUmakefile that is suitable for "inputs.txt"? Also, since we are talking about GPU, I need to run it on a node with at least one GPU right?

_Originally posted by @Yin-YinjianZhao in https://github.com/ECP-WarpX/WarpX/issues/411#issuecomment-538162155_

[2019-10-04 16:33] ax3l commented on #439
@Yin-YinjianZhao Yes, this would need to be tested on a node with a GPU (e.g. probably Cori-GPU in your case).
In order to test this, you can follow the instructions here to build the executable:
https://warpx.readthedocs.io/en/latest/building/cori.html
Then you can copy both the executable (which is in the `Bin/` folder) and the `inputs.txt` into a new folder and run
[code]
where `<warpx_executab

[2019-10-04 16:34] ax3l commented on #439
@Yin-YinjianZhao I moved you question here, since it was off-topic in #411 :)

[2019-10-04 16:35] ax3l commented on #439
Oh wait, no! I am sorry I mismatched the thread! Sorry sorry! :flushed:

[2019-10-04 16:35] #439 closed

[2019-10-04 18:19] RemiLehe commented on #436
Fixed by #438

[2019-10-04 18:19] #436 closed

[2019-10-05 00:05] LDAmorim opened #442 "Error message when reading back transformed diagnostic Header"
Hi all,

I have been trying to open the information stored in back-transformed diagnostics, but have been getting an error message that I am trying to understand. I don't know if I am making a mistake, or missing details from recent changes done to the code, but I didn't find in a related issue here so I decided to open this new one.

The error messages are present when using, for example, the inp

[2019-10-07 17:47] RemiLehe opened #444 "Implement Galilean PML"
We should create a new PML spectral solver, which uses the Galilean equations

[2019-10-07 17:48] RemiLehe opened #445 "Implement Galilean shift of boundary"
The current implementation of the Galilean algorithm pushes the particles in the Galilean frame. In the longer term, we should shift the boundaries of the simulation instead (similar to what was done with Warp and FBPIC).

[2019-10-07 18:35] #425 closed

[2019-10-07 20:21] MaxThevenet commented on #442
I have been able to read back-transformed diagnostics with `Tools/Visualization.ipynb` from your ATF 2D run. I'll try the one you mention here, now.

[2019-10-07 20:29] MaxThevenet commented on #442
With `Examples/Physics_applications/laser_acceleration/inputs.2d.boost` I can also open back-transformed diagnostics successfully, both with the snippet above and the example notebook `Tools/visualization.ipynb`.
The difference may come from our Python version (I am not sure `yt` is used here). Here's what I get when I open a Python terminal:
[code]
What does the error message look like after `Val

[2019-10-07 20:35] MaxThevenet commented on #442
Actually I think you are using an old version of `read_raw_data.py`. The one on `dev` branch looks like
[code]
whereas it seems that the one you are using is trying to read more that 4 lines from the `Header` file, which causes an error. A solution is to add `<your warpx directory>/Tools/` to your `$PYTHONPATH`, and always use the `read_raw_data.py` from there.

[2019-10-07 20:46] MaxThevenet commented on #442
Is it working now? If so, could you close this issue?

[2019-10-07 20:48] LDAmorim commented on #442
Yes it is, thank you for your help!

[2019-10-07 20:48] #442 closed

[2019-10-07 21:59] #411 closed

[2019-10-07 22:00] RemiLehe commented on #411
Fixed by PR #446. Thanks @Yin-YinjianZhao ✨

[2019-10-07 22:23] RevathiJambunathan opened #449 "Slice for back-transformed data in boosted-frame simulations"
Generate slice diagnostics to obtained back-transformed data on a reduced domain (1D, 2D slice or 3D reduced box).

See
https://github.com/ECP-WarpX/WarpX/pull/197

[2019-10-07 22:34] RevathiJambunathan opened #450 "Copy particles in boosted-frame simulations on the GPU"
GetParticleSlice() currently copies data that cross the z-slice on the CPU. Implemented a corresponding GPU copy.

[2019-10-07 22:40] RevathiJambunathan opened #451 "Optimize GetCellCenteredData() in Boosted frame diagnostics."
Currently, for boosted-frame simulations, GetCellCenteredData() interpolates the field to the cell-centers on the entire computational domain. But, the cell-centered data is required only on a z-slice that corresponds to z_lab at time, t_lab. Therefore, instead of interpolating the fields for the entire computational domain, we can optimize boosted-frame by interpolating the fields only on the z_s

[2019-10-07 22:43] RevathiJambunathan opened #452 "Multiple slices for diagnostics."
Define slice as an class to enable users to define multiple slices.
For example, 10 x-y slices at after every dz-intervals, and 20 y-z slices at dx intervals.
OR we could also include different configurations:
1D lines,
2D slices,
3D boxes.

[2019-10-07 22:45] RevathiJambunathan opened #453 "Enable mesh-refinement for slices"
Currently, a single level is assumed when data is copied or interpolated to slices.
This needs to be extended for a multi-level grid.

[2019-10-07 22:46] RevathiJambunathan opened #454 "Enable sub-cycling for slices"

[2019-10-07 22:49] RevathiJambunathan opened #455 "Generalize diagnostics to arbitrary non-axis aligned configurations"
Obtain field data and particle data on user-defined configurations that are non-aligned with the co-ordinate axes. For example, data on the surface of a sphere or a cylinder, or along the edges of the bubble regime.

[2019-10-08 20:00] RemiLehe commented on #320
@Yin-YinjianZhao
Here is a bit more info on the implementation in WarpX:

- The particle pusher is called here:
https://github.com/ECP-WarpX/WarpX/blob/master/Source/Particles/PhysicalParticleContainer.cpp#L1486
https://github.com/ECP-WarpX/WarpX/blob/master/Source/Particles/PhysicalParticleContainer.cpp#L1593
https://github.com/ECP-WarpX/WarpX/blob/master/Source/Particles/RigidInjectedParticleCon

[2019-10-09 15:28] RemiLehe commented on #320
@jlvay also pointed out a recent article that compares the different solvers:
https://iopscience.iop.org/article/10.3847/1538-4365/aab114/meta

[2019-10-09 15:44] RemiLehe opened #457 "Initialize space-charge fields at the beginning of the simulation"
It would be good to have the option to initialize the space-charge fields at the beginning of the simulation.

Here is a list of features that we should check, when implementing:
- [ ] Have the option to specify which species should have their space-charge field calculated.
- [ ] Making sure that this works for relativistic species
- [ ] Making sure that this works in cylindrical geometry (includi

[2019-10-09 16:38] MaxThevenet opened #458 "RZ LPA does not work on GPU"
The attached input file works on Summit CPUs, but all fields are zero when running on Summit GPUs.

[inputs](https://github.com/ECP-WarpX/WarpX/files/3708479/inputs.txt)

[2019-10-09 19:15] MaxThevenet opened #459 "Laser injection is wrong on GPU in 3D"
Running this [inputs](https://github.com/ECP-WarpX/WarpX/files/3709045/inputs.txt) file on Summit CPUs ([batch_cpu.txt](https://github.com/ECP-WarpX/WarpX/files/3709053/batch_cpu.txt)) and Summit GPUs ([batch_gpu.sh](https://github.com/ECP-WarpX/WarpX/files/3709052/batch_gpu.txt)) give the following images (left: CPU; right: GPU):
<img width="1242" alt="Screen Shot 2019-10-09 at 12 14 17 PM" src="

[2019-10-09 19:39] MaxThevenet commented on #459
These runs are pretty large, and it's probably not necessary to wait for 1000 iterations as I did or these images.

[2019-10-10 14:35] jlvay opened #461 "Sorting of particles per deposition/gather buffer is broken."
Issue seems to be related with #409 .

After #409, there are holes into the current densities in the fine and coarse patches (middle and right images):
<img width="448" alt="Screen Shot 2019-10-10 at 6 28 49 AM" src="https://user-images.githubusercontent.com/10981951/66578728-76775380-eb30-11e9-84f3-cea5b7eddcaa.png">

No holes before #409:
<img width="426" alt="Screen Shot 2019-10-10 at 6 43 48 A

[2019-10-10 15:08] RemiLehe commented on #461
Thanks for pointing out this issue! I'll have a look.

[2019-10-11 04:34] atmyers commented on #459
I believe this is fixed on the latest AMReX:

![plt01000_Slice_y_Ey](https://user-images.githubusercontent.com/4329158/66624585-a9a7fa00-eba5-11e9-84fe-7f5dcfda5c62.png)

Could you confirm?

[2019-10-11 17:19] MaxThevenet commented on #458
@atmyers fixed the issue in AMReX.
<img width="533" alt="Screen Shot 2019-10-11 at 10 19 15 AM" src="https://user-images.githubusercontent.com/26292713/66671319-9716da80-ec10-11e9-9cdf-afda3b748314.png">

[2019-10-11 17:19] #458 closed

[2019-10-11 17:20] MaxThevenet commented on #459
Yes, it is working now. Thanks!
<img width="651" alt="Screen Shot 2019-10-11 at 10 20 14 AM" src="https://user-images.githubusercontent.com/26292713/66671391-ba418a00-ec10-11e9-8eb6-2dadecd71918.png">

[2019-10-11 17:20] #459 closed

[2019-10-11 19:43] RemiLehe commented on #461
Through bissection, I found that the commit responsible for the difference is:
https://github.com/ECP-WarpX/WarpX/pull/409/commits/a95c8f5445b7e8b1fc8808ea5bc30ba3c3d02351

[2019-10-11 19:45] RemiLehe commented on #461
In case this is useful in the future, here is the script that I used to run the bissection:
[bissecting_script.py.txt](https://github.com/ECP-WarpX/WarpX/files/3719387/bissecting_script.py.txt)
[commits.txt](https://github.com/ECP-WarpX/WarpX/files/3719388/commits.txt)

[2019-10-11 21:39] Yin-YinjianZhao commented on #320
When reading the papers and implementing the methods, I found two typos in two papers, which made me suffer for some time before figuring them out...
So, I'd like to share them here. See the two photos below.

For testing, I followed Ripperda's paper and tested Boris's, Vay's, and Higuera's methods using five cases (uniform E, uniform B, force-free, E x B, magnetic mirror). Although I couldn't get

[2019-10-11 22:31] MaxThevenet opened #466 "Large 3D runs on GPU show numerical instability"
When running large simulation for laser-plasma interaction on Summit GPUs, WarpX shows numerical instability. Note that there are 2 boxes transversally, where some instability occurs.

Here are the [inputs](https://github.com/ECP-WarpX/WarpX/files/3719795/inputs.txt) and [output.txt](https://github.com/ECP-WarpX/WarpX/files/3719802/output_1.txt) files, as well as the [batch.sh](https://github.com/

[2019-10-14 09:10] lucafedeli88 opened #469 "Automated tests take a lot of time (tests for one of my PRs reached the time limit of 50 minutes )"
The automated tests take a lot of time, to the point that one of my latest PRs has reached the 50 min limit allowed by Travis ( https://travis-ci.org/ECP-WarpX/WarpX/jobs/597499706 ). I am now trying to save a few minutes in the preparation of the test environment (mini-PR https://github.com/ECP-WarpX/WarpX/pull/468 ). However, this won't definitively solve the problem. Just adding a single test r

[2019-10-14 16:34] lucafedeli88 commented on #469
I've miserably failed with https://github.com/ECP-WarpX/WarpX/pull/468 . Therefore, I've tried an alternative strategy: separating QED tests in a third job for Travis ( https://github.com/ECP-WarpX/WarpX/pull/472 )

[2019-10-14 17:09] MaxThevenet commented on #469
Here is a list of topics we could discuss, any suggestion/comment is welcome:
- `make -j 4` instead of `make -j 2` (Don't know if `make -j` can use hyper-threading, and don't know if TravisCI cores have HT)
- accelerate the build
- Use CMake?
- remove unnecessary `#include` directives
- Re-use executables even more
- When compiling 2D with/without PSATD, QED, PYTHON_MAIN, etc. do we need to recomp

[2019-10-14 17:21] atmyers commented on #469
I have noticed that on Garuda, the regression tests seem to be rebuilding every time, even when it should be able to reuse an existing build. I am looking in to it.

[2019-10-15 00:13] gtrichardson opened #474 "laser's "parse_field_function" profile doesn't appear to work"
If a laser's profile is changed to parse_field_function the program will fail with a segmentation error.

When I encountered the error I changed the profile to gaussian (deleting the parse_filed_function and adding the extra parameters such as profile_t_peak etc) and it ran fine. I've tried with the field_function in double quotes and without them but the error persisted. I also tried making the f

[2019-10-17 17:29] gtrichardson commented on #474
Not too urgent since the Maxwell QED corrections can be checked with simpler changes (Thanks to Maxence for pointing that out).

[2019-10-19 13:53] #461 closed

[2019-10-21 19:43] RevathiJambunathan commented on #449
Just merged PR #197 to dev! Yay! Thank you for the suggestions @MaxThevenet

[2019-10-21 19:43] #449 closed

[2019-10-21 22:43] atmyers commented on #466
This is reproducible on a smaller problem here:

[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/3753231/inputs.txt)

[script.txt](https://github.com/ECP-WarpX/WarpX/files/3753233/script.txt)

[2019-10-21 23:13] atmyers commented on #466
It seems likely that this is due to a bug in the CKC solver when running on GPUs.

With CKC, on the smaller problem:

![ckc](https://user-images.githubusercontent.com/4329158/67249761-a9b5be80-f41d-11e9-9b08-6f0f58d2606e.png)

With Yee:

![yee](https://user-images.githubusercontent.com/4329158/67249769-b2a69000-f41d-11e9-998e-04fc2a20fdfa.png)

[2019-10-22 20:32] MaxThevenet commented on #466
Tried calling the CKC solver from PICSAR (see [this branch](https://github.com/ECP-WarpX/WarpX/compare/dev...MaxThevenet:pxr_ckc)). Gives the same result, so it does not come from the C++ implementation of CKC. Would like to post an image, but GitHub is having issues with that right now...

[2019-10-22 21:21] MaxThevenet commented on #466
Even with more guard cells (ngE+2,ngB+2,ngJ+2) or (ngE+2,ngB+2,ngJ) or (ngE+4,ngB+4,ngJ+2) the instability occurs with the CKC solver.

[2019-10-22 23:17] MaxThevenet commented on #466
Running on CPU does not show the instability with @atmyers's small problem, so it is a GPU problem.

[2019-10-23 21:18] Yin-YinjianZhao commented on #320
The pusher has been added into WarpX, and one automatic test of the free-force field case is added.

[2019-10-23 21:18] #320 closed

[2019-10-23 22:20] MaxThevenet opened #485 "Load Balancing does not work on Summit GPUs"
Running with load_balancing ON gives error
[code]
See also this [Backtrace.txt](https://github.com/ECP-WarpX/WarpX/files/3764784/Backtrace.txt) file.

This can be reproduced with file `/Tools/performance_tests/automated_test_5_loadimbalance`

[2019-10-24 01:36] Yin-YinjianZhao commented on #429
@RemiLehe @MaxThevenet @jlvay

Some updates of my progress:

I have implemented the model proposed in Perez's paper (https://aip.scitation.org/doi/10.1063/1.4742167) by writing a small c++ code.
The code is attached in the code.zip file.
[code.zip](https://github.com/ECP-WarpX/WarpX/files/3765276/code.zip)

Currently I can reproduce the results of non-relativistic tests in Nanbu's paper (https://w

[2019-10-24 12:40] lucafedeli88 opened #487 "WarpX (dev branch) accesses uninitialized memory when plotting diags"
Hi. I've compiled the dev branch of WarpX ( `make DIM=2 -j4` ) and I've run it on the ionization example with valgrind. I got the following message:
[code]

I think that the issue could be related to runtime components, since I got this message only with examples involving this feature. Do you have an idea of the possible cause of this bug?

[2019-10-24 16:46] WeiqunZhang opened #488 "No regression test for 3d mesh refinement"
There is no regression test for 3d mesh refinement.

[2019-10-24 17:29] MaxThevenet commented on #429
Thanks! Note that the smile documentation mentions a typo in Perez's paper, but it is yet another one, see http://www.maisondelasimulation.fr/smilei/collisions.html

[2019-10-24 17:43] MaxThevenet commented on #487
Thanks for reporting that. Could you confirm that this is a plotting issue, i.e., the simulation runs well with `warpx.plot_int=-1`?

[2019-10-25 16:24] MaxThevenet commented on #487
Just ran with `valgrind`, and it seems that normal time steps (i.e., without plotting) are OK.

[2019-10-25 16:46] lucafedeli88 commented on #487
Yes, I can confirm that it is a plotting issue... sorry for the late answer...

[2019-10-29 23:14] levinem opened #497 "Potential off by one errors in two if conditionals on dev for i <= ohi vs i <= ohi+1"
I was wondering if the `i <= ohi` [here](https://github.com/ECP-WarpX/WarpX/blob/dev/Source/BoundaryConditions/PML.cpp#L36) and [here](https://github.com/ECP-WarpX/WarpX/blob/dev/Source/BoundaryConditions/PML.cpp#L60) is supposed to be `i <= ohi+1` like [here](https://github.com/ECP-WarpX/WarpX/blob/dev/Source/BoundaryConditions/PML.cpp#L28) and [here](https://github.com/ECP-WarpX/WarpX/blob/dev/S

[2019-10-29 23:29] WeiqunZhang commented on #497
I believe the index is correct.  Set how the arrays are defined.  https://github.com/ECP-WarpX/WarpX/blob/dev/Source/BoundaryConditions/PML.cpp#L93

[2019-10-30 01:59] levinem commented on #497
I see, yes, it does seem to be correct.  Thanks for looking into it!

[2019-10-30 01:59] #497 closed

[2019-10-30 15:42] lucafedeli88 opened #498 "Duplicate message 'WARNING: field ionization on GPU uses RedistributeCPU'"
I think that the lines
[code]
should be in `MultiParticleContainer` rather than in `PhysicalParticleContainer` . As it is now, the message is printed once per species, which is redundant. Maybe the message should be printed only if ionization is enabled. What do you think?

[2019-10-30 17:45] Yin-YinjianZhao commented on #429
@MaxThevenet @RemiLehe @jlvay

Some updates of my progress:

Finally added a relativistic test into the report: relaxation to Maxwell-Jüttner distribution. Also added some equations to present the full version of Perez's elastic model and fixed a stupid mistake under Maxence's help.
[main.pdf](https://github.com/ECP-WarpX/WarpX/files/3790358/main.pdf)

In addition, I have been working on some othe

[2019-10-30 17:57] RemiLehe commented on #429
Thanks a lot for the update and the report!
I'll have a look at it today!

[2019-10-31 10:14] lucafedeli88 opened #502 "Radiation Reaction should not be in PushP, right?"
Currently Radiation Reaction (a.k.a. Radiation Friction) appears in both `PushP` and `PushPX`. However, it seems that `PushP` is used just to evolve momenta by 0.5 dt backwards in time. If this is the case, I think that it would be better not to use RR in that routine. What do you think?

PR https://github.com/ECP-WarpX/WarpX/pull/525

[2019-11-01 22:40] Yin-YinjianZhao commented on #429
@MaxThevenet @RemiLehe

Some updates of my progress:

Updated report:
[main.pdf](https://github.com/ECP-WarpX/WarpX/files/3799803/main.pdf)

1. I found when I implemented the algorithm, I mixed the two from Nanbu and Perez, in terms of computing the density parameter n12. But I realized it does not work well for general cases. So, I changed my implementation to follow Perez only. The updated algor

[2019-11-04 16:20] lucafedeli88 opened #508 "Illegal memory access in ParticleCreaction/CopyParticle.H on GPU"
Hi,

I've compiled `WarpX` (dev branch) for GPU with the following line:
[code]
Then, I run the ionization example `Examples/Modules/ionization/inputs.rt` under `cuda-gdb` with memcheck enabled. I got the following error message:

[code]

Have you ever experienced something similar?

[2019-11-04 16:39] lucafedeli88 commented on #508
This seems to be a GPU-related issue: if I compile for CPU and run with `valgrind` I don't see any issue (except for https://github.com/ECP-WarpX/WarpX/issues/487, which seems to be rather harmless)

[2019-11-04 16:42] MaxThevenet commented on #508
Hm if I recall correctly I did some tests with `cuda-gdb` and `cuda-memcheck` (separately, though), that were working OK. One possibility is that I did not run the tests long enough (I just made sure that some ionization processes took place). Another possibility is that I broke the code after doing these tests, for instance I did not test the code after this commit https://github.com/ECP-WarpX/Wa

[2019-11-04 16:43] MaxThevenet commented on #508
In any case, thanks for reporting the issue!

[2019-11-04 17:03] lucafedeli88 commented on #508
I've added back `streamSynchronize` , but unfortunately I am still experiencing the same issue:
[code]

[2019-11-05 15:27] MaxThevenet opened #510 "Segfault when combining some options"
Running this [input file](https://github.com/ECP-WarpX/WarpX/files/3809701/inputs.txt) with `dev` branch using the following options results in segfault (after 15 iterations in current deposition on my local computer). I did not observe a segfault when PMLs are off, so is it simply that nodal PMLs are not implemented?
[code]

[2019-11-06 16:40] lucafedeli88 opened #512 "Adding more laser types"
in the near future I would like to try to add new laser types to `WarpX` (e.g. circularly or elliptically polarized laser beams, lasers having temporal profiles loaded from disk, Laguerre-Gaussian beams...). Do you think that this could be a useful feature ?

If you think that it could be interesting, I would like to propose a refactoring of the LaserParticleContainer class. All the laser types be

[2019-11-06 17:03] MaxThevenet commented on #512
Hi Luca, thanks for this suggestion. Note that @LDAmorim is also considering working on laser initialization: Diana's plan is to add the capability to read a laser envelope profile from file, thus allowing experimental profiles as well as non-analytical expression (e.g., inject a jinc profile away from focus), so we should probably coordinate. Another point is that, currently, you can input a circ

[2019-11-06 17:33] lucafedeli88 commented on #512
Ah! That's really a cool feature! And yes, if @LDAmorim  is working on that, we should definitively coordinate. When you say `envelope` do you really mean a slowly varying modulation or the actual temporal profile of the pulse? I am asking this because I am interested also in beams with very complex, rapidly varying, temporal profiles...

The advantage would be just to have a cleaner code. For now

[2019-11-06 17:49] MaxThevenet commented on #512
Ok thanks for the clarifications. You have my vote. Do you want to make a PR to implement the changes? Then, @LDAmorim could simply start from there.

As for the discussion on polarization, we can probably I think it is kind of independent (it might be minor changes to `get_amplitude`, independent on how `LaserParticleContainer` is organized), so let's keep it separate.

[2019-11-06 17:49] LDAmorim commented on #512
Hi @lucafedeli88 ,

Lets meet so I can share with you what me, @MaxThevenet  and @RemiLehe , were thinking of implementing. So far we spoke about a script based on one that @Maxence had from a couple of years ago in which he computed the laser envelope (disregarding, I think, the fast evolving oscillation term - exp(-iwt + kz) ). But we are also interested in including that part, specially if it i

[2019-11-07 13:12] lucafedeli88 commented on #512
Sure! We can arrange a zoom meeting

[2019-11-07 15:42] lucafedeli88 commented on #512
https://github.com/ECP-WarpX/WarpX/pull/515 should implement the re-organization of the `LaserParticleContaier` as proposed above.

[2019-11-08 13:50] lucafedeli88 commented on #508
Great! thanks a lot for the fix! It seems to be working nicely now (i.e. `cuda-gdb` does not detect any issue).

[2019-11-08 13:50] #508 closed

[2019-11-08 13:54] lucafedeli88 commented on #406
Compiling in single precision still results in a compilation error
`./Source/Particles/Sorting/Partition.cpp:133:68: error: no matching function for call to ‘copyAndReorder<float>::copyAndReorder(amrex::ParticleContainer<0, 0, 10, 0>::RealVector&, amrex::ParticleContainer<0, 0, 10, 0>::RealVector&, amrex::Cuda::DeviceVector<long int>&)’
         amrex::ParallelFor( np, copyAndReorder<Real>( wp, tm

[2019-11-08 17:06] RemiLehe commented on #510
Yes, that's correct, nodal PMLs are not implemented.
As discussed in the past, I think the way to fix this would be to have a templated discretized derivative function (templated on the type of finite-difference solver), so that we do not need to rewrite a different PML function for each solver.

[2019-11-08 18:04] ax3l commented on #406
Not sure if recent, I added compile tests in #494 and only had runtime issues left.

[2019-11-08 18:05] ax3l commented on #508
Great to hear! :)

[2019-11-11 00:49] MaxThevenet opened #517 "Segfault with NCI corrector + momentum-conserving gather"
This 2D [input file](https://github.com/ECP-WarpX/WarpX/files/3829300/inputs.txt) gives a Segfault. When compiling in `DEBUG` mode, the run crashes at the first iteration with Bactrace:
[code]
Is there a fundamental issue in combining these options, or is it just a bug when computing the guard cells in the NCI filter? I think we used this combination of parameters during the last milestone, didn't

[2019-11-12 03:57] MaxThevenet commented on #498
Fixed in PR https://github.com/ECP-WarpX/WarpX/pull/519

[2019-11-12 03:57] #498 closed

[2019-11-14 22:15] RevathiJambunathan commented on #450
PR #473 is merged with dev

[2019-11-14 22:15] #450 closed

[2019-12-02 21:20] #487 closed

[2019-12-02 21:23] RemiLehe commented on #380
Could this be related to #293

[2019-12-02 21:24] RemiLehe commented on #380
and to #22 ?

[2019-12-02 21:32] RemiLehe opened #537 "Regression tests are failing on CPU and GPU"
The regression tests are currently failing ; we would need to triage them and see which ones are indeed bugs, and which ones simply need an updated reference:

- For CPU: https://ccse.lbl.gov/pub/RegressionTesting/WarpX/
- For GPU: https://ccse.lbl.gov/pub/GpuRegressionTesting/WarpX/

[2019-12-03 00:15] RemiLehe opened #538 "Langmuir test fails with RZ geometry + GPU"
The automated Python analysis of the `Langmuir_multi_rz` test [fails on GPU](https://ccse.lbl.gov/pub/GpuRegressionTesting/WarpX/2019-12-02/Langmuir_multi_rz.html) but [passes on CPU](https://ccse.lbl.gov/pub/RegressionTesting/WarpX/2019-12-02/Langmuir_multi_rz.html).

I can reproduce the error locally, on a desktop GPU. The values of the Ez field (and maybe other fields) vary from one run to the

[2019-12-03 20:45] RemiLehe opened #545 "Results of ionization tests are modified by PR #422"
The regression tests indicate that the results of the ionization test changed significantly between Oct 25 and Oct 30:
https://ccse.lbl.gov/pub/RegressionTesting/WarpX/2019-10-30/ionization_boost.html

Running `git bisect` shows that the change occured on Oct 28, when merging PR #422.

[2019-12-03 21:44] ax3l commented on #545
Took a look at this again like a hawk: https://github.com/ECP-WarpX/WarpX/pull/422#pullrequestreview-326454996

Found more implicit real-int conversions in a couple of formulas but cannot spot an obvious "bug" that was introduced or fixed with this PR, yet.

[2019-12-03 23:45] ax3l commented on #545
We compared to a good commit before the merge, considering 9a3d00bbe42c25c59800b167800088a6db8e8081, for now and only changed the number of OpenMP threads.
Turns out that this alone creates a larger error in the regression test than the merged PR:
[code]

[2019-12-04 00:12] ax3l commented on #545
The diff in regressions comes from the changes in `Source/Particles/Deposition/CurrentDeposition.H` after bisecting the commit further.

[2019-12-04 00:43] ax3l commented on #545
The indicated regression test failure is a false positive.
The change of `1/c/c` to `Real const clightsq = 1.0_rt / ( PhysConst::c * PhysConst::c );` is slightly modifying the constants and in our monte-carlo ionization routines some cells flip now differently than others.
Plotting them shows now overall changes besides a slight change in ionization noise pattern at the decreasing intensity of the

[2019-12-04 00:44] ax3l commented on #545
[code]

[code]

    yt : [INFO     ] 2019-12-03 16:38:34,597 Parameters: current_time              = 2.6116293075658434e-13
    yt : [INFO     ] 2019-12-03 16:38:34,597 Parameters: domain_dimensions         = [ 16 800   1]
    yt : [INFO     ] 2019-12-03 16:38:34,598 Parameters: domain_left_edge          = [-5.00000000e-06 -7.10955525e-05  0.00000000e+00]
    yt : [INFO     ] 2019-12-03 16:38:34,5

[2019-12-04 00:46] ax3l commented on #545
@WeiqunZhang can you reset this individual test? It's good to go :)

[2019-12-04 00:51] WeiqunZhang commented on #545
Yes, I did.

[2019-12-04 00:56] ax3l commented on #545
Thank you! :)

[2019-12-04 00:56] #545 closed

[2019-12-04 20:37] WeiqunZhang commented on #474
@gtrichardson Do you have an inputs file for this?

[2019-12-04 21:20] gtrichardson commented on #474
[parse_field_function_example.txt](https://github.com/ECP-WarpX/WarpX/files/3923961/parse_field_function_example.txt)

I've tried several input files in case I was misunderstanding the documentation, though with no luck. This is the initial, straightforward input file that I used. If you have any other questions please let me know.

[2019-12-04 22:12] MaxThevenet commented on #517
This was fixed in PR https://github.com/ECP-WarpX/WarpX/pull/546.

[2019-12-04 22:12] #517 closed

[2019-12-05 04:11] ax3l commented on #474
We are also using C++14
[code]
in our still-C++11-codebase which was cousing trouble for @gtrichardson today. Or did we already upgrade to C++14 and his local source was out-of-date?

[2019-12-05 04:25] ax3l commented on #517
Thanks, well spotted!

[2019-12-05 14:35] RemiLehe opened #551 "NCI corrector seems to fail on GPU"
The automated test for the NCI corrector fails on GPU:
https://ccse.lbl.gov/pub/GpuRegressionTesting/WarpX/2019-12-05/nci_corrector.html
but passes on CPU:
https://ccse.lbl.gov/pub/RegressionTesting/WarpX/2019-12-05/nci_corrector.html

[2019-12-05 17:58] ax3l commented on #474
Update: @gtrichardson you just have to update your code base, WarpX requires C++14 now which provides the quoted new std library function.

[2019-12-05 18:00] gtrichardson commented on #474
Sounds good. I also was curious and tried running a parse_field_function with the C++11 patch you showed me yesterday, @ax3l ,  and it appeared to work. So it might be the case that this C++14 update resolves the parse_field_function bug @WeiqunZhang

[2019-12-06 13:09] lucafedeli88 commented on #474
Sorry, it's my fault. I should have written `return std::unique_ptr<Profile>(new Profile());` to comply with C++11.  I did't not think that, while `make_shared` has been around since C++11, `make_unique` appeared only in C++14 ...

[2019-12-06 23:35] WeiqunZhang commented on #474
I also works for me.  So I am going to close the issue.

[2019-12-06 23:35] #474 closed

[2019-12-09 21:25] LDAmorim opened #559 "Running WarpX examples with PICMI"
Hi all,
I have a question regarding the use of PICMI with WarpX.
Following the PICMI and WarpX installation described in PR #558 allowed me to create WarpX input files from a picmi python script.

However, if the script contained the line:
[code]

Then I would see the error message below due to the missing library to run WarpX in 2D geometry:
[code]

If that line is removed, the input file is crea

[2019-12-10 00:09] dpgrote commented on #559
The Python version of WarpX (using sim.step()) should work for all of the test cases. I don't remember if it has been tested on the GPU, but it should work in principle. Both statements (sim.write_input_file and sim.step) should be included in the input files to show the two ways that the code can be run. It might make it less confusing if one of the statements was commented out so it's clear that

[2019-12-10 10:20] hightower8083 opened #561 "reading the multi-mode RZ output"
Hi, I wanted to give a try to multi-mode RZ functionality (on CPU), but having some problems with output.

I'm not sure at which stage #353 now, but for me the openPMD did not work in RZ -- everything compiles fine, the calculation gets stuck at the output stage.

Alternatively I've checked the plotfile option, but its not straightforward neither -- the `ds.covering_grid` seems to only contain 0th

[2019-12-10 16:31] RemiLehe commented on #561
@hightower8083 Thanks for reporting this!

@ax3l Could this be because one needs to do `export OPENPMD_HDF5_INDEPENDENT=ON` in the case of WarpX? If yes, it might be worth adding this to the [WarpX documentation](https://warpx.readthedocs.io/en/latest/building/openpmd.html)

[2019-12-10 19:03] dpgrote commented on #561
The plot files will have the total field at theta=0, the sum of the real part of all of the modes.

[2019-12-11 13:03] hightower8083 commented on #561
Thanx for your responses, guys!
I guess plotfiles won't be very helpful for the test i've in mind -- it deals with off-axis affects in multimode RZ..

Concerning the _openPMD-api_, I have noticed that opmd output gets stuck only for mpi runs -- with a single mpi process it runs and does outputs, however, these have `'2dcartesian'` geometry and also do not seem to contain modes.

I've also checked

[2019-12-11 13:46] RemiLehe commented on #561
Thanks for letting us know @hightower8083.
I think that, in principle, `export OPENPMD_HDF5_INDEPENDENT=ON` should be done when *running* WarpX.

But in any case, even if the code is not stuck, the results will not be the expected ones because #353 is not implemented yet.

[2019-12-14 09:43] hightower8083 commented on #561
thanx for info -- no problem, will check it later!

[2019-12-15 07:09] ax3l commented on #561
We haven't implemented the RZ output in the per-mode convention that we like in openPMD yet, so even if it works the axis labels, etc. are probably a bit off.

Yes, as already mentioned depending on the MPI implementation, you probably can work-around a stuck write with exporting the [environment variable above](https://openpmd-api.readthedocs.io/en/0.10.1-alpha/backends/hdf5.html) in your jobscri

[2019-12-15 14:49] hightower8083 commented on #561
thanx @ax3l !

I'll be looking forward to the RZ output -- now, without per-mode format, I won't see the stuff, which I'm looking for (off-axis beam)

Concerning MPI output of openPMD in HDF5 format, I still cannot get it working neither with _openmpi_ nor with _mpich_..
Have just re-checked with all updated libs (warpx, amrex, picsar, openpmd-api) and using the included example
```Physics_applica

[2019-12-17 18:50] RemiLehe opened #570 "Update electrostatic solver"
The electrostatic solver is currently not functional. Here is a list of the first steps that would need to be done:
- [x] Fix compilation errors. In order to compile the electrostatic code, one can use:
[code]
(Done ; see #582)
- [ ] Add an automated test
- [x] Remove Fortran code and replace it by GPU-friendly code.

[2019-12-18 00:14] guj commented on #561
With "export OPENPMD_HDF5_INDEPENDENT=ON"  and setting "warpx.openpmd_tspf = false"
in the config file. Saving to h5 files through openPMD work for me. Would you give it a try?

I am trying to see why the default behavior (warpx.openpmd_tspf = true) is not working.

[2019-12-18 01:01] LDAmorim commented on #559
Thank you for your reply @dpgrote! And sorry for my late follow up.
I think that you are right.
It was probably just a problem with my initial installation (of the python interface of WarpX) that was with a bug. Both options that you mentioned, sim.write_input_file and sim.step, now work well for the test cases.

[2019-12-18 01:01] #559 closed

[2019-12-18 01:08] LDAmorim opened #571 "PICMI generates electrons with `<species_name>.injection_style=python`"
Hi all,
Sorry to bother you, but I have a very naive question that I am not being able to understand very well.
I was wondering why we set the WarpX parameter `<species_name>.injection_style` to `python`, in this line:
https://github.com/ECP-WarpX/WarpX/blob/d76fa513ff75ee723de8b8a055f8106105fbe058/Python/pywarpx/picmi.py#L71-L72

The `picmi` script I use includes the lines:
[code]
for the creatio

[2019-12-18 14:40] hightower8083 commented on #561
dear @guj , thank you for your response

I've checked the option `warpx.openpmd_tspf = false` and indeed together with `HDF5_INDEPENDENT` it enables writing h5 output to a single file.

There is however still some suspicious issue -- after the code finishes and writes the file, it gets stuck, e.g. after reaching end of simulation, the code prints
[code]
but does not exit and holds at this state sh

[2019-12-18 18:19] dpgrote commented on #571
Hi Diana - injection_style=python is the default so that the compiled code won't inject any particles initially. This default should be fine for particles created by ionization. Particles don't necessarily need to be added at the Python level. If you want particles created as with do_continuous_injection, then you would need to set the initial_distribution argument when creating the species. This

[2019-12-18 18:28] LDAmorim commented on #571
Hi Dave,
Thank you very much for your answer!
It really helps to understand it and this way I corrected the distribution for plasma and ionized species, so that only the plasma contains `fill_in = True` as in:
[code]

That is the flag that you are referring to, which is responsible for setting `<species>.do_continuous_injection=1` in the WarpX input, right?

[2019-12-18 18:49] dpgrote commented on #571
Yes, that is correct, fill_in=True turns do_continuous_injection on.

[2019-12-18 22:51] ax3l commented on #561
Thanks for investigating this @guj! The fix you propose in https://github.com/openPMD/openPMD-api/pull/643, does it work with `warpx.openpmd_tspf` when `true` *and* `false`?

[2019-12-18 22:53] guj commented on #561
Should work with both.

- Junmin

[2019-12-18 23:44] LDAmorim commented on #571
Thanks @dpgrote !!

[2019-12-18 23:44] #571 closed

[2019-12-19 00:09] LDAmorim opened #575 "Using PICMI to setup WarpX run with ionization"
Hi all,
I believe that right now the WarpX `picmi.py` file does not include ionization.
It is missing the implementation of the transition from the PICMI standard, which uses:
[code]
 to (`if model == 'ADK'`) generate the WarpX input parameters:
[code]
I think we can add these options to the `class Species(picmistandard.PICMI_Species)` in WarpX's `picmi.py`.
What do you think?
I can try to do an i

[2019-12-19 00:37] LDAmorim commented on #575
Tried to do this in <https://github.com/LDAmorim/WarpX/tree/picmi_ion>.
But `self.interactions` remains an empty array, even when I include `nspecies.activate_field_ionization(model="ADK", product_species=especies)` in the PICMI script.

[2019-12-19 21:56] RemiLehe commented on #551
I am able to reproduce the issue locally, on a single-GPU machine.

Also, note that:
- the test passes when using only 1 MPI
- test test fails when using 2 MPI (on a single GPU)
This is *not* due to a difference domain decomposition: in both cases, the simulation uses 16 boxes.

[2019-12-19 22:15] RemiLehe commented on #551
To make matters worse: the bug seems random ; when I run this multiple times, the test sometimes passes and sometimes fails

[2019-12-19 22:45] RemiLehe commented on #551
Whenever the bug happens, here is how the `Ex` field looks, at iteration 500
![Screenshot from 2019-12-19 14-44-50](https://user-images.githubusercontent.com/6685781/71216053-350cce00-226e-11ea-88f2-7abf100ed5b8.png)
So there is definitely something happening at the boundary between domains.

[2019-12-19 23:07] RemiLehe commented on #551
It looks like [this commit](https://github.com/RemiLehe/WarpX/commit/9eb6b7ef00daf38ea8fc6da99eff5f1abf16c4e0) fixes it.

[2019-12-20 02:35] #561 closed

[2019-12-20 06:02] guj commented on #561
Hi Igor,

Would you update openPMD and try both warpx.openpmd_tspf=true/false
and see if things work out for you?

If there is any issue, please share your input file and I will see if I can duplicate it.

Thanks,
- Junmin

[2019-12-20 21:36] #575 closed

[2019-12-20 22:55] #551 closed

[2019-12-20 22:55] #466 closed

[2019-12-22 13:08] hightower8083 commented on #561
Hi Junmin,

I have updated openpmd-api (dev branch, via slack) but the issue with getting stuck on output is still there.
For the tests I'm using `Examples/Physics_applications/laser_acceleration/inputs.2d`, to which i've added
[code]

So, what I see is
- the plotfiles are output anyway, regardless to `dump_plotfiles=0`
- with _mpirun_ the code still gets stuck at writing (or probably **closing**)

[2019-12-22 16:51] guj commented on #561
Yes,  this is what we have chosen to do  now.

Let me take a look. Thanks.

- Junmin

[2019-12-24 15:07] #538 closed

[2020-01-03 19:34] #469 closed

[2020-01-03 19:41] RemiLehe commented on #429
Closed by #539

[2020-01-03 19:41] #429 closed

[2020-01-03 19:47] RemiLehe commented on #427
Closed by #514

[2020-01-03 19:47] #427 closed

[2020-01-03 19:51] #369 closed

[2020-01-03 19:52] RemiLehe commented on #369
Closed by #477

[2020-01-03 19:58] RemiLehe commented on #316
Also, it seems that `PML::Exchange` is called every time that `FillBoundary` is called. This is not necessarily needed, since `FillBoundary` is sometimes called before field gathering, in which case the PML do not need to be updated.

[2020-01-08 00:25] ax3l commented on #406
Does not yet compile with latest `dev`, tested with bed6fa6939db176d4f5987db8792e793951932e5

[2020-01-08 01:29] LDAmorim opened #601 "Possible back transformed diagnostics issue - missing beam data"
Hi,
@Yin-YinjianZhao pointed out a possible issue to me.
He recently tested the example [inputs.3d.boost](https://github.com/ECP-WarpX/WarpX/blob/dev/Examples/Physics_applications/plasma_acceleration/inputs.3d.boost) and saw no beam data in the snapshots.

With the current code versions, an input (below) that was used for studying the witness beam properties for the previous milestones didn't gene

[2020-01-08 01:31] LDAmorim commented on #601
Both cases were in the 3D geometry, used boosted frame and moving window.

[2020-01-08 16:23] MaxThevenet commented on #510
PR https://github.com/ECP-WarpX/WarpX/pull/592 should avoid a segfault as it makes the code crash if these options are requested.

[2020-01-08 19:16] Yin-YinjianZhao commented on #601
A little bit more information from my side:

With the current code version of WarpX dev, using the example input file Examples/Physics_applications/plasma_acceleration/inputs.3d.boost, the simulation runs until STEP=1270.

[code]
(base) Bin$ du -sh lab_frame_data/snapshots/*/driver
 56K	lab_frame_data/snapshots/snapshot00000/driver
 56K	lab_frame_data/snapshots/snapshot00001/driver
 56K	lab_frame_

[2020-01-14 08:28] #502 closed

[2020-01-14 13:35] lucafedeli88 opened #618 "Initialize plasma density from file"
Hi,
I would like to propose to implement a new option for the initialization of the plasma density: using a (possibly very long) list of geometric primitives (boxes, cylinders, spheres) from a binary file.
The use case I have in mind is the simulation of laser interaction with very complex nanostructured targets (e.g. https://doi.org/10.1038/s41598-018-22147-6 ), where the target cannot be simply

[2020-01-14 17:33] RemiLehe opened #619 "Particle Names: Use openPMD ED-PIC Standard"
When WarpX output openPMD data, the particle data has the following keys:
`'momentum_x', 'momentum_y', 'momentum_z','weight'`

However, the [ED_PIC extension](https://github.com/openPMD/openPMD-standard/blob/latest/EXT_ED-PIC.md) specifies that the weight should be stored as `'weighting'` (instead of `'weight'`) and that the momentum should be stored as a vector (`momentum/` which contains the rec

[2020-01-14 17:39] ax3l commented on #619
Good catch!
General question: shall we just name the particles immediately after according openPMD names in `ParticleIO.cpp` or shall I add a translation table just for openPMD writing?

[2020-01-14 18:40] ax3l commented on #619
Ha, there is a lot more to add for the ED-PIC extension :D
Will work on this :)

[2020-01-15 21:25] RemiLehe opened #625 "Laser antenna is ignored if it is initially exaclty on the domain boundary"
When the laser antenna is initially outside of the moving window, the option `do_continuous_injection` allows the laser antenna to be injected later on during the simulation.

However, when the laser antenna is initially exactly on the domain boundary, this does not work.

Here is a reproducing script (no laser emission):
[inputs.2d.txt](https://github.com/ECP-WarpX/WarpX/files/4067618/inputs.2d.t

[2020-01-17 01:51] LDAmorim opened #637 "PICMI detail: run simulation without particle species"
Hi,
I am trying to test an RZ simulation of a laser propagating in vacuum (i.e. without particles/plasma) with WarpX.
I wish to compare the results with those from the same setup, but ran with code FBPIC (<https://github.com/fbpic/fbpic.git>).

For that reason, I adapted the PICMI (<https://github.com/picmi-standard/picmi.git>) standard script below to remove all the species information.
[picmi_co

[2020-01-17 17:56] LDAmorim opened #640 "RZ on-axis laser vanishes (w ionization)"
Hi all,
I discussed this topic with @RemiLehe and @dpgrote and decided to include it's details here so that everyone can be aware of the possible issue and give us suggestions.

The issue is that in an RZ geometry laser acceleration simulation the on-axis laser field vanishes.

The setup we are working on uses a moving window. In it, a gaussian laser pulse is sent into a pre-ionized plasma of Heli

[2020-01-17 19:04] dpgrote commented on #637
This issue had already been addressed in PR #593

[2020-01-17 19:25] LDAmorim commented on #637
Thank you for the quick fix @dpgrote !

[2020-01-17 19:25] #637 closed

[2020-01-17 22:05] LDAmorim commented on #640
Hi,
Here is a small update on the tests for this issue.
With the updated code versions the laser field non-physical behavior is still present.

The mode 0 structure differs significantly between the codes (WarpX - left plots | FBPIC - right plots) already at step 2000:

![image](https://user-images.githubusercontent.com/15057096/72649342-3f37f000-3932-11ea-8a79-68f636034bdb.png)

The plots here ar

[2020-01-17 23:37] LDAmorim commented on #640
The results of the simulation without Helium and without Nitrogen (i.e. just with the laser propagating in vacuum) led to similar results (at least for the laser dominated, mode 1, fields) for the runs with WarpX (earlier time step - left plots | later time step - right plots).

![image](https://user-images.githubusercontent.com/15057096/72653338-38fc4080-393f-11ea-9beb-33a0e832e41e.png)

On CORI@

[2020-01-21 02:44] lucafedeli88 opened #643 "Arithmetic overflow in particle ID"
Hi,
I've just found a bug related to an overflow of the particle ID.

I was experimenting with photon emission in my QED branch and I was doing a simulation with just one MPI task and one openMP thread. I was using a 1 um x 1 um box with only a tiny region (~ 0.02 um x 0.02 um) filled with 10.000 electrons per cell. I noticed that changing the resolution from 256x256 to 512x512 the number of gener

[2020-01-21 22:34] ax3l opened #645 "Quickly Close H5/BP Writes"
While writing HDF5 files with openPMD-api, the last written HDF5 file is not yet closed until the next file is written.

Wait for the [`Iteration::close()`](https://github.com/openPMD/openPMD-api/pull/746) API extension to land to close open HDF5/BP files. This will allow to read files quicker on the fly, e.g. with openPMD-viewer, and will avoid the time in which HDF5 files can be corrupted due to

[2020-01-23 08:01] ax3l commented on #619
Implemented via #621 and #630 :)

[2020-01-23 08:01] #619 closed

[2020-01-23 19:22] atmyers opened #649 "amrex::Abort depending on order of input parameters"
This is @mrowan137's comment, which I am migrating here from the amrex Github:

I am getting an AMReX error depending on the order of saved fields in my WarpX input file (full input is copied below). With this ordering, `warpx.fields_to_plot = proc_number part_per_cell`
the WarpX code runs without issue.

With this ordering, `warpx.fields_to_plot = part_per_cell proc_number` the run gets to step 3

[2020-01-24 01:48] ax3l commented on #649
cc @dpgrote ?

[2020-01-24 13:31] lucafedeli88 opened #655 "Photon particles contribute to total charge density"
Hi,
I've just realized that, when I plot the `rho` field (i.e. total charge density), photon particles seem to contribute...

[2020-01-25 00:58] lucafedeli88 commented on #350
This PR was merged a long time ago.

[2020-01-25 00:58] #350 closed

[2020-02-01 00:40] mrowan137 commented on #649
@atmyers @ax3l @dpgrote One additional comment, the issue appears also when saving only `proc_number`.  Before the step when the run dies, the `proc_number` array has values outside the range of possible values.

[2020-02-10 21:20] RevathiJambunathan commented on #601
PR#601 that fixes the issue is now merged with dev. Closing issue. Thank you @LDAmorim and @Yin-YinjianZhao for finding it and reporting it.

[2020-02-10 21:20] #601 closed

[2020-02-12 18:23] RevathiJambunathan commented on #649
@atmyers @ax3l @dpgrote @mrowan137 I think the error is coming from `dcomp++` within the MFIter loop in FieldIO.cpp.

PR coming up to fix this

[2020-02-13 02:43] MaxThevenet opened #712 "option: abort simulation if overflow GPU memory"
When the problem does not fit in the GPU memory, the time/iteration increases by orders of magnitude. It can be relevant to abort the run.

[2020-02-13 02:47] MaxThevenet opened #713 "Load Balance w.r.t. number of cells + particles"
As an alternative approach for load balancing, we could count the number of cells and particles, and feed the cost array with some heuristic, say `cost = 0.1 * n_cells + 0.9 * n_particles` (coefficients would be input parameters, with some advice in the doc from scans that we would do). It would not be as general as timers (it requires some tuning, and it is machine-dependent), but it would provid

[2020-02-13 02:51] MaxThevenet opened #714 "Load balance when one GPU gets close to memory overflow"
So far, using GPUs efficiently means filling the GPU memory as much as possible. We could have the option to load balance when the free memory on a GPU gets dangerously small (e.g., 10% of available memory).

[2020-02-13 03:06] MaxThevenet opened #715 "Add option to load balance at a given iteration"
Right now, with `load_balance_int = 10`, the load balancer will run at iterations `10, 20, 30, etc.

It would be nice to make it more flexible, e.g.:
- Activate load balancing at one given iteration (which can be 0, if we use a heuristic that is not time/iteration) **and/or**
- Load balance every `load_balance_int` iterations **between** `load_balance_start` and `load_balance_end` (or have just on

[2020-02-13 03:56] MaxThevenet opened #716 "Use custom box array for simulations with heavy (static) load imbalance"
Currently, the user provides `max_grid_size` and `blocking_factor`, and amrex decomposes the domain into boxes **independent on particles distribution**. For heavily load-imbalanced problems, when the load imbalance is relatively static (say, plasma mirror or ion acceleration simulations), it would make sense to (i) have smaller boxes in the plasma bulk where we can have ~100 particles per cell (s

[2020-02-13 21:05] RevathiJambunathan commented on #649
Thanks for posting the issue. PR#711 has fixed it.

[2020-02-13 21:05] #649 closed

[2020-02-17 01:20] ax3l commented on #712
Doesn't `amrex.abort_on_out_of_gpu_memory = 1` do that?

[2020-02-17 01:39] MaxThevenet commented on #712
It does, I open this issue by error :)

[2020-02-17 01:39] #712 closed

[2020-02-19 11:34] lucafedeli88 commented on #715
I think that I prefer the solution with three input parameters (with `load_balance_start` and `load_balance_end` having respectively 0 and the last step as the default value). This would also preserve retro-compatibility (i.e. users won't need to modify existing inputfiles).

I would also require to set explicitly `load_balance_int` if either `load_balance_start` or `load_balance_end` is set.

I w

[2020-02-20 18:47] danielbelkin opened #734 "GCC 7.5 & MPICH 3.3.1"
Hi,

I am trying to compile WarpX with brew's GCC 7.5 and MPICH 3.3.1 on OSX HIgh Sierra.

When executing `make realclean CXX=$(which g++-7) F90=$(which gfortran-7)` prints this error message:
[code]

[2020-02-20 18:52] danielbelkin commented on #734
probably mixed MPI versions, will re-open if this re-appears.

[2020-02-20 18:54] WeiqunZhang commented on #734
Try `make realclean COMP=gcc`.  The make system is not designed to take `CXX` and `F90` as an argument.  If you really want to do it, try `make realclean CXX=mpicxx F90 mpif90`, but that's what we do internally anyway.

[2020-02-20 19:37] danielbelkin commented on #734
'make realclean COMP=gcc' fails in the same way as 'make realclean', but 'make realclean CXX=mpicxx F90=mpif90' did.

[2020-02-22 01:06] ax3l commented on #715
I think having interval notations, e.g. `start:stop:stride start2:stop2:stride2 start3:stop3:stride3` as discussed elsewhere would be useful here as well, as for most our `_int` options.

[2020-02-24 18:14] #734 closed

[2020-02-25 00:09] LDAmorim commented on #215
Hi @MaxThevenet ,
I think this issue is no longer relevant (and so maybe it can be closed), because Andrew fixed the re-distribute functions.
What do you think?
Thanks,
Diana

[2020-02-25 01:08] MaxThevenet commented on #215
Agreed, thanks!

[2020-02-25 01:08] #215 closed

[2020-02-25 18:22] ax3l opened #744 "Diagnostics: More General Intervals"
We discussed in the last months to make ideally all `_int` intervals in inputs more general.
The idea is to be able to pass individual steps and multiple intervals for varying output.

In the past, we just used a union of intervals with start/stop/stride, e.g. [here](https://picongpu.readthedocs.io/en/latest/usage/plugins.html#period-syntax). Possible for WarpX could be a similar string syntax, e.

[2020-02-25 18:29] MaxThevenet commented on #744
I think this is just a fraction of what's needed for diagnostics. It would probably be useful to plot, for instance, only 1% of particles every 100 iterations, and 100% every 1000 iterations etc. In general, let us try and make the diagnostics more modular, so that we can have these types of options.

[2020-02-25 18:31] ax3l commented on #744
Yes, I think those are orthogonal tasks. The interval parsing can be implemented in a modular manner already. It might be useful outside of diagnostics, too.

[2020-02-25 19:38] dpgrote commented on #640
@LDAmorim I'm taking a look at this. Can you post the script you use to run the case in fbpic? Or are you using picmi_compton.txt?

[2020-02-26 01:43] ax3l commented on #734
Fixed via https://github.com/AMReX-Codes/amrex/commit/d7bf794daf52ee3eaf88c5f0448910948c5c9c4f

[2020-02-26 02:11] LDAmorim commented on #640
Hi All,
Sorry for getting back to this issue so late.
As a small update, I just used the current WarpX/AMReX and FBPIC code versions to run the picmi script ([picmi_compton.txt](https://github.com/ECP-WarpX/WarpX/files/4253077/picmi_compton.txt)) for the same (low resolution, laser, helium and nitrogen plasma/gas) simulation and still observed the issue of the laser field being "defocused" away fr

[2020-02-26 17:26] MaxThevenet opened #751 "Stop calling amrex fortran routines"
WarpX still calls some AMReX Fortran functions, in particular in `Diagnostics/FieldIO.cpp` and `Utils/Interpolate.cpp`, for instance

- [ ] `amrex_interp_efield`
- [x] `amrex_interp_bfield`
- [x] `amrex_interp_cc_efield`
- [ ] `amrex_interp_cc_bfield`
- [ ] `amrex_interp_nd_efield`
- [ ] `amrex_interp_div_free_bfield` (probably not needed in loop anymore; just in diags)

 etc. These function are j

[2020-02-26 22:27] LDAmorim commented on #640
Additional updates:

|  Tests |  issue verified ? | FBPIC match? |  notes |
| --- | --- | --- | --- |
| Without any plasma species | N | Y | |
| Without ionization | Y | N | |
| Without Nitrogen species | Y | N | |

[2020-02-27 08:01] lucafedeli88 commented on #715
Do you mean an interface allowing for rather complex requests like:
`load_balance_int = "1:1:1 100:1000:10 2000:10000:100 11172:11172:1"`, maybe with accepted entries like `::100` (every 100 steps from start to end) or `1000::100` (every 100 steps from 1000 to end)? If yes this would be the most flexible solution

[2020-02-27 16:34] MaxThevenet commented on #715
@atmyers @WeiqunZhang does AMReX have functions like `ParmParse.query` that read a list where the separator is not a whitespace?

[2020-02-28 00:59] LDAmorim commented on #640
Additional updates (part II):

|  Tests |  issue verified ? | FBPIC match? |  notes | plot label |
| --- | --- | --- | --- | --- |
| Const He electrons profile | Y | N | built-in profile matches cute one  | g |

![image](https://user-images.githubusercontent.com/15057096/75497078-f71bdc80-5977-11ea-8954-781fb8edb25f.png)

He plasma electron density also contains spurious effects in the runs where

[2020-02-28 10:51] lucafedeli88 opened #757 "New labels: WIP & mini-PR"
Hi!

I think that we could add a couple of new labels to be used for  PRs:
- WIP : Work In Progress
- mini-PR : a small (e.g. < 50 lines) PR

we could use these labels instead of adding `[WIP]` to the name of the PR. What do you think?

[2020-02-28 15:39] MaxThevenet commented on #757
I agree it would be nice to have buttons for these. However, labels refer to the code, while [WIP] and [mini-PR] refer to the git workflow. If we want to alter this convention, we could have labels like `workflow: mini-PR` and `workflow: WIP`?

[2020-02-28 15:47] lucafedeli88 commented on #757
I open this issue because I was inspired by what they do in this project https://github.com/PHAREHUB/PHARE/pulls . However, you are right, we should probably do as you suggest and add something like `workflow` to the buttons...

[2020-02-28 15:54] MaxThevenet commented on #757
We sometimes want to look at all open PRs *except* [WIP]. We could do this with
[code]
 in the PR search bar :).

[2020-02-29 00:05] LDAmorim commented on #640
For comparison and log purposes, below are the plots of the plasma density (computed via dens+=weight[part_i]/x[part_i]) of the different runs:

![image](https://user-images.githubusercontent.com/15057096/75596135-1e3fe000-5a44-11ea-8833-8560705aa4b3.png)

[2020-02-29 00:51] LDAmorim commented on #640
I tested a reduced box size and CFL condition of 0.9999 (instead of 1.0) and the issue is still visible (plot below).

![Ex-08000](https://user-images.githubusercontent.com/15057096/75597442-58ac7b80-5a4a-11ea-9529-89a040bf0738.png)

[input_script.txt](https://github.com/ECP-WarpX/WarpX/files/4269739/input_script.txt)

[2020-03-03 00:30] LDAmorim commented on #640
|  Tests |  issue verified ? | notes | plot label |
| --- | --- | --- | --- |
| Without filter | Y | no significant difference w/w(o)  | m |
| #modes =3 | Y | n |
| Periodic boundary (original trans. box size) |  | o |
| Interpolation cubic || p |
| Particles per cell | | q |

[2020-03-06 18:43] atmyers commented on #643
I believe the fix here is to switch to a two-pass approach in AddPlasma, where we first count the number of particles to add, and then add exactly that number, instead of creating invalid particles and then relying on the Redistribute to remove them. This will also be useful for @RevathiJambunathan's pulsar project.

I'll make a PR to do this.

[2020-03-06 18:45] atmyers opened #778 "AddPlasma should be generalized to handle non-rectangular geometries."
Right now, we assume that the region covered by a plasma species is rectangular in AddPlasma. This should be generalized to allow for user-defined geometries via function objects.

[2020-03-06 19:17] WeiqunZhang commented on #643
Are there cases the two-pass approach will not work because the number of particles to be added is random and the second pass won't add the same number particles?

[2020-03-06 19:32] atmyers commented on #643
We can handle that by building a mask or something and reusing it between the two passes. We could only do that if it's needed.

[2020-03-06 19:32] LDAmorim opened #779 "RZ with NRandomPerCell"
Hi,

For PR #765, I have been doing tests varying the #particles in theta required for accuracy of the results (issue #640).
Today I ran an RZ simulation with a laser and an electron species with `NRandomPerCell` injection style.
Unlike for the case of `gaussian_beam` and `NUniformPerCell`, the output plotfiles did not contain `particle_theta`, only:
[code]
Why is that?
Could we add that informati

[2020-03-06 19:34] LDAmorim commented on #779
Also, I think that the x,y positions correspond to r and z.
We could correct those labels, for users not to be confused.

[2020-03-06 22:44] dpgrote commented on #779
Is this with a picmi input file? There is an issue that the theta will not be written out when using picmi. I have this fixed and will be part of a PR with a number of other fixes to picmi with RZ.

You are correct, the position_x is actually r and y is z. This naming is done by yt. Note that for the momentum, they are correct, momentum_x is x etc.

[2020-03-06 22:46] LDAmorim commented on #779
Thank you for the reply @dpgrote .
This was using the laser acceleration example input file, but changing the injection style of the plasma electrons to `NRandomPerCell`.

[2020-03-06 22:47] LDAmorim commented on #779
Maybe we should have an RZ input/output parameters definition in a separate documentation section (instead of mixed with 2D and 3D). Because it is not consistent (x,y is sometimes x,y and other times r,z).
What do you think?

[2020-03-06 23:11] dpgrote commented on #779
I did a quick check, running the laser acceleration case with NRandomPerCell, and I see the theta saved in the plot file. Could you have accidentally run the 2D Cartesian version?

I agree that more documentation is needed to clarify the input and output when using RZ.

[2020-03-06 23:49] LDAmorim commented on #779
Oh I'm sorry, maybe I made some mistake.
This was the script that I used:
[input_script.txt](https://github.com/ECP-WarpX/WarpX/files/4301086/input_script.txt)

Could you please try to run it and check if you find the theta parameter in it?
Thanks @dpgrote

[2020-03-07 01:01] dpgrote commented on #779
I see what it is maybe. When using nrandompercell, num_particles_per_cell needs to be set for each species. I don't see that in the input file.

[2020-03-07 01:08] dpgrote commented on #778
This can be handled by the density_function which can specify an arbitrary region (bounded by the rectangle). Is there a reason why that isn't sufficient?

[2020-03-07 01:12] LDAmorim commented on #779
I might have made a mistake, but I think it follows the injection style, in the last line of the section:
[code]
of that input file.

[2020-03-07 01:39] dpgrote commented on #779
I see now - since you are specifying the plot_vars, currently you need to also specify theta, otherwise it won't be included. I can either change the documentation for plot_vars and list theta as an option, but it might be better to always include theta since the documentation states that the position is always included. It's good to have users so that these details get brought to light. I'll subm

[2020-03-09 15:53] LDAmorim commented on #779
Hi @dpgrote ! Thanks, I think I understand. I was assuming it was just one variable because otherwise it seemed to me that it would be easier to just set `<species_name>.num_particles_per_cell_each_dim` for both species styles. Thank you for helping me and for making it clearer!! And sorry, I do am the user that makes all possible mistakes.

[2020-03-10 01:11] RevathiJambunathan commented on #451
The current strategy for GetCellCentered() on the entire domain is more performant than interpolating fields on the required slices in the boosted-frame. It was implemented in PR #523 , but did not perform well. Closing issue since this idea did not really improve performance for the back-transformed diagnostics.

[2020-03-10 01:11] #451 closed

[2020-03-10 01:13] RevathiJambunathan commented on #186
@MaxThevenet Since previously use Fortran routines have been ported to GPU-friend C++ routines, should we close this issue?

[2020-03-10 01:59] MaxThevenet commented on #757
The labels were created.

[2020-03-10 01:59] #757 closed

[2020-03-10 17:15] MaxThevenet opened #786 "LGTM tests seem to stall for PR where neither C++ or Python files are modified."
PR https://github.com/ECP-WarpX/WarpX/pull/785 only modified `Doxyfile`, and the LGTM tests were not passing for 14 hours. We added a style change commit just to have these tests pass, but that's not a very nice way to go.

[2020-03-10 17:17] MaxThevenet commented on #786
PR https://github.com/ECP-WarpX/WarpX/pull/785 only modified `Doxyfile`, and the LGTM tests were not passing for 14 hours. We added a style change commit just to have these tests pass, but that's not a very nice way to go.

[2020-03-10 20:53] cyrush opened #788 "issue with WarpX::AverageAndPackFields"
When testing updates to the Ascent in situ integration -- I encountered a crash in
`WarpX::AverageAndPackFields()` when it tries to process `part_per_cell`.

[code]

This `AverageAndPackFields` is called prior to the functions that wrap WarpX data into the form passed to Ascent. Not sure the root cause of this, however without this chunk of code in situ processing works as expected.

I am using an

[2020-03-10 21:26] atmyers commented on #39
@RevathiJambunathan and I have looked at this and confirmed that we are no longer copying all the particles off during the back transformed diagnostics.

[2020-03-10 21:26] #39 closed

[2020-03-10 21:27] atmyers commented on #235
This has been implemented in PR #663

[2020-03-10 21:27] #235 closed

[2020-03-10 21:39] dpgrote commented on #788
I see a possible problem, at line 610 in FieldIO.cpp. Can you try changing the line to this:

                MultiFab temp_dat(grids[lev],mf_avg[lev].DistributionMap(),1,ngrow);

changing the last argument from 0 to ngrow, and see if it fixes the crash?

[2020-03-10 21:41] cyrush commented on #788
sure thing, I'll report back soon

[2020-03-10 22:23] cyrush commented on #788
@dpgrote yes, this resolves the crash -- thanks!
I added this fix as part of https://github.com/ECP-WarpX/WarpX/pull/789

[2020-03-10 22:31] dpgrote commented on #788
Glad that that fixed it.

[2020-03-11 21:28] RemiLehe opened #794 "Remove `driverback` from boosted-frame examples"
Some boosted-frame examples feature a "driverback" species.

I would recommend that this be removed because:
- This species was added as a "hack" to remove the errors associated with the erroneous space-charge field initialization (i.e. initializing the fields to be 0). However, I think that we are now able to initialize the space charge fields properly, using a `MultiGrid` solver with the option

[2020-03-12 15:32] lucafedeli88 commented on #655
photon particles have now `q=0`, so we can close  this bug

[2020-03-12 15:32] #655 closed

[2020-03-12 17:04] RemiLehe opened #797 "Make WarpX more generic/flexible with respect to staggering"
A number of functions rely on the flag `do_nodal`, or assume a given staggering for the fields.
Instead these functions should be generalized and take into account the `IndexType` in all directions of space.

Here is a list of the functions that would need to be generalized:

- [ ] Momentum-conserving Gather: interpolation of fields from the staggered grid to the nodes

- [ ] Diagnostics: interpol

[2020-03-13 21:14] atmyers commented on #643
Actually, maybe there is a simpler way to do this. Currently, there is an early exit in the MFIter loop that generates particles if there is no way that tile could intersect with the plasma region. Only if there is possible overlap do we advance `NextID`, allocate space, etc.

What if we make this loop execute with a tile size that depends on num_ppc (even on GPUs), so as to exclude more of the vo

[2020-03-13 21:21] atmyers commented on #643
Alternatively, a two-pass approach that could handle random is the following. First, count the number of cells that overlap with the region. Then, allocate enough space / advance NextID for num_cells_inside*num_pcc particles. Then, launch the kernel that actually generates positions and fills in the data. Particles that end up outside at this point could be invalidated as usually, and the amount o

[2020-03-14 00:02] RemiLehe opened #806 "Add automated/regression tests for PSATD single precision"
PR #805 added the capability to run PSATD in single precision ; however, the Travis tests need some rearrangement in order to run single precision PSATD without significantly delaying the results of the tests (due to the additional compilation step). This should be added at some point.

[2020-03-18 17:08] MaxThevenet opened #820 "Boost external fields on particles"
When running in a boosted frame, all parameters are entered in the lab frame in the input file, and transformed inside WarpX (for convenience).

This is however not true for external fields on particles (and I believe for external fields on the grid either), where the expression used in the code is directly the one parsed from the input file.

The solution would be to transform them in WarpX, as w

[2020-03-18 21:31] MaxThevenet opened #821 "Migrate back-transformed diagnostics to new diags organization"

[2020-03-18 21:32] MaxThevenet opened #822 "Migrate all current plotfile capabilities to new diagnostics organization"

[2020-03-18 21:32] MaxThevenet opened #823 "Write skeleton code for new diags reorganization"

[2020-03-19 20:40] Yin-YinjianZhao opened #826 "A bug occurs when running a simulation on GPU with collisions"
@RemiLehe @MaxThevenet @atmyers @WeiqunZhang

Recently, when doing the research of emittance growth due to collisions, I encountered a bug that occurs on GPU.

The input file used is attached:
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/4356764/inputs.txt)

I used `make -j 16 USE_GPU=TRUE USE_ASSERTION=TRUE` to compile the code on my local desktop and test it.
I remember I also tried to

[2020-03-19 21:54] mrowan137 opened #828 "Generalize hardcoded values in reduced diagnostics"
As described in a comment by @MaxThevenet for PR #790 , in `costs` reduced diagnostic:

[2020-03-19 22:36] Yin-YinjianZhao commented on #826
Got more info when running in DEBUG mode.
[code]

[2020-03-23 01:32] ax3l commented on #757
It's more convention to use `[WIP]` as a tag in the PR title.
Reason: every author can edit this, independent of the access status to the repo (not all external contributors, e.g. sporadic contributors) can change labels.

[2020-03-23 11:34] lucafedeli88 commented on #757
Ah, I was not aware of that... If this is the case, yes, of course, I am in favour of using [WIP] tag

[2020-03-23 15:56] ax3l commented on #788
Cherry-picked the individual commit into #837.
After merge, you can rebase #789 so it stays focused on a new feature :)

[2020-03-23 16:08] cyrush commented on #788
@ax3l  sure thing, thanks!

[2020-03-23 16:57] ax3l commented on #757
Probably something we should document in the CONTRIBUTING file then, to spread the word :) Do you want to add it therein?

[2020-03-23 17:01] MaxThevenet commented on #757
In the meantime, I'll delete the WIP and mini-PR tags.

[2020-03-23 18:32] LDAmorim commented on #779
Small update: This issue is solved.
The current version of the code yields the error message defined in PR #765 if the nr of particles per cell in theta is insufficient also with `NRandomPerCell` particle style.
This can be tested with example file:
[input_script.txt](https://github.com/ECP-WarpX/WarpX/files/4371258/input_script.txt)

When the nr of particles is sufficient, the code runs correctly

[2020-03-23 18:32] #779 closed

[2020-03-23 18:37] LDAmorim commented on #640
The issue generated due to insufficient resolution (#palsma particles in theta direction) was fixed in PR #765.

[2020-03-23 18:37] #640 closed

[2020-03-24 15:44] atmyers commented on #643
@lucafedeli88 Do you happen to have an inputs script that reproduces this issue? I have a potential fix and I'd like to test it.

[2020-03-24 19:16] mrowan137 commented on #713
This issue is addressed in PR #737.

[2020-03-24 19:16] #713 closed

[2020-03-24 19:26] LDAmorim opened #845 "EOL error"
Hi,
Sorry to bother you all.
I am getting an error due to EOL (when I push to my fork).
When I try to fix it, by copy pasting the result shown in GitHub or trying to run:
`.github/workflows/source/hasEOLwhiteSpace`
I get errors due to incompatibilities with `grep`.
I am using macOS Catalina (with zsh instead of bash) and Xcode.

I managed to fix the first grep issue (which comes from grep no longe

[2020-03-24 23:44] LDAmorim commented on #845
This issue is making the error seen in: #847

[2020-03-25 01:05] MaxThevenet opened #848 "Bug with particle back-transformed diags"
In a 30-min 4-node Summit simulation using this [input file](https://github.com/ECP-WarpX/WarpX/files/4378442/inputs.txt) and this [submission script](https://github.com/ECP-WarpX/WarpX/files/4378443/script.txt), the `beam` species is not written to back-transformed diagnostics. However, when running the same script with `amr.n_cell = 16 16 64 amr.max_grid_size = 16` (and removing other species),

[2020-03-25 18:06] ax3l commented on #845
As the CI prints here, you should be able to go to your WarpX code and run:
[code]

After that, `git status` should show you the fixed EOL-whitespace files. You can then commit this change as usual.

[2020-03-25 21:30] ax3l opened #851 "FullBoundary -> FillBoundary_nowait"
`FillBoundary` is issuing a couple of asynchronous p2p communications with a blocking wait call at the end.

How WarpX uses these overall blocking calls is by calling `FillBoundary` consecutively in ghost/guard updates [for multiple fields and in loops for multiple levels](https://github.com/ECP-WarpX/WarpX/blob/bfd2c87b050cf36d3ca7fb77d60146dd9610c472/Source/Parallelization/WarpXComm.cpp#L364-L41

[2020-03-26 01:14] LDAmorim commented on #845
Thank you @ax3l!!
I'm sorry, apparently I did copy paste all the output instead of line by line... thanks for catching it :)

I totally agree! I will try to make it work and then we can add a condition that tests if it is in a OS X machine or not, choosing then to use grep or perl accordingly.

[2020-03-26 01:14] #845 closed

[2020-03-26 20:43] RemiLehe opened #855 "Integrate the regression tests into the automated CI"
Right now the regression tests are run on the battra machine, every night. However, this causes tests to fail *after* PRs are merged. Instead it would be good to *enforce* that PRs pass the refression tests, by integrating them in Travis CI.

This would essentially require the Travis CI instance to download the reference test results, from a dedicated Google Drive. Here are the corresponding actio

[2020-03-26 23:23] Yin-YinjianZhao commented on #375
This issue is solved by PR #735 .

[2020-03-26 23:23] #375 closed

[2020-03-27 15:37] atmyers commented on #848
This was due to a synchronization bug in rigid injection. To fix it, I added a `Gpu::synchronize`at the end of the redistribute call in amrex.

I also made a PR to port the rigid injection remap, boost and remap, and mean particle velocity functions to the GPU. This would also fix the issue, but I think the sync also should be there.

[2020-03-30 07:49] ax3l commented on #855
I checked the APIs for up- and download and GDrive has the problem that we have to use an actual account for uploads (no public *writable* shared key/url-token possible). Have to check if an extra Google Account is okay for such workflows or if we take another service.

[2020-03-30 16:46] NeilZaim opened #867 "Cannot change external electric field function with command line parameters"
When I try do to something like `mpirun ./main3d.xxx input_file "warpx.Ex_external_grid_function(x,y,z)=0."` (I've tried several variations of this without success) I get an error of the form `amrex::Abort::0::ParmParse::bldTable(): value with no defn: warpx.Ex_external_grid_function(x,y,z) !!!`.

It seems to be because of the parenthesis and the commas in the input parameter name which make the p

[2020-03-30 16:50] WeiqunZhang commented on #867
Could you try `..... input_file warpx.Ex_external_grid_function(x,y,x)=0.` without the double quotes?

[2020-03-30 16:53] NeilZaim commented on #867
Without the quotes I get `bash: syntax error near unexpected token `(' `  .

[2020-03-30 16:55] NeilZaim commented on #867
An if I replace `(` by `\(` I get the same amrex::Abort as before.

[2020-03-30 18:06] MaxThevenet commented on #867
What about
[code]
?

[2020-03-30 18:16] NeilZaim commented on #867
That yields the same behaviour. (bash syntax error as it is and the same amrex::Abort if I replace `(` and `)` by `\(` and `\)` )

[2020-03-30 22:09] ax3l commented on #757
oh, we could even write `[mini]`/`[small]` since each PR... is a PR :D

[2020-03-30 22:14] ax3l commented on #751
Since AMReX supports this now, our goal should be to compile successfully with
`make BL_NO_FORT=TRUE`

(and then change the default to that).

[2020-03-30 23:21] ax3l commented on #848
Re.: #862 ?

[2020-03-30 23:23] ax3l commented on #715
@lucafedeli88 yes, something like this turned out to be [quite useful for me in the past](https://picongpu.readthedocs.io/en/0.4.3/usage/plugins.html#period-syntax)

[2020-03-30 23:30] ax3l commented on #186
Cross-link: AMReX Fortran functions used in WarpX: #751 #1103

[2020-03-30 23:38] ax3l commented on #786
We removed the "required" tag in the settings for now for this.

[2020-03-30 23:39] MaxThevenet commented on #848
@atmyers this issue was solved by #862, wasn't it?

[2020-03-30 23:39] #786 closed

[2020-03-31 17:09] ax3l commented on #855
As discussed today, another option is to publish the build artifacts alongside the HTML summary that is already rsync-ed to a web-server at https://ccse.lbl.gov/pub/

We discussed today if we can also find a workflow to update the regression tests less manually. One way might be to create a text file or directory of text files in the WarpX source that contains a serial-number (increase only) or ha

[2020-03-31 23:27] MaxThevenet opened #872 "New diagnostics: per-species charge density"
Several users showed interest in having a per-species charge diagnostics, while currently all what is computed in WarpX is the total rho. This could be implemented in the new diagnostics, and requires the following steps:
1. Write `WarpXParticleContainer::DepositCharge(rho, lev[, ...])` that deposits the charge of a species in `MultiFab rho`, at a given level (the existing overloads are, in my und

[2020-04-01 22:50] LDAmorim commented on #845
Hi all,
I haven't yet been able to work around the MacOS `zsh`-shell issues on using the file `.github/workflows/source/hasEOLwhiteSpace`.

Instead I created the small bash script (file called `<name_you_choose>.sh`) below that can check for EOL white spaces and remove them from all the files that were changed in the current git repo.

To commit all the changes without EOL white spaces, you can ru

[2020-04-09 16:27] ax3l opened #903 "Phase Space Diagnostics"
A new particle diagnostics that allows to project particles (after filtering/selection) into a 2D phace space would be super useful for plasma mirror and laser-ion simulations, in whose also the low-energy tail (with a lot of particles) can be of interest for analysis.

Some implementation I did a few couple of years ago:
- https://picongpu.readthedocs.io/en/0.4.3/usage/plugins/phaseSpace.html#usa

[2020-04-09 16:39] ax3l commented on #744
How one can implement the parser: https://github.com/ComputationalRadiationPhysics/picongpu/blob/dev/include/pmacc/pluginSystem/toTimeSlice.hpp

[2020-04-09 16:54] MaxThevenet commented on #744
A few points to help for the implementation:
- The AMReX parser that reads input parameters is `ParmParse` (see `amrex/Src/Base/AMReX_ParmParse.H`). Before implementing something in WarpX, let us consider what capabilities we would need, and decide with the AMReX people what should be in WarpX and what belongs to AMReX.
- The new diagnostics are in the `Diagnostics` class, see `Diagnostics/Diagnos

[2020-04-09 16:58] RemiLehe opened #904 "Implement cylindrical PML"
The PML are currently not implemented in RZ geometry (this is true for both the FDTD and PSATD modes).

The FDTD implementation could be done by following a similar approach as in [this paper](https://www.sciencedirect.com/science/article/pii/S002199919896082X). Note that the above paper studies only the case `m=0` ; hence the theory would have to be extended to azimuthal mode decomposition.
Note

[2020-04-09 18:20] dpgrote commented on #904
@RemiLehe Is there a paper describing the method used in FBPIC? I can do this, after implementing the Galilean and other updates in the queue for the RZ spectra.

[2020-04-09 19:39] RemiLehe commented on #904
No, the FBPIC implementation is new and unpublished so far. However, I can send some notes by email.

[2020-04-13 23:09] MaxThevenet opened #914 "Asserts on problem size"
Currently, the code seems to produce wrong results when the number of guard cells is larger than the number of valid cells. There should be some asserts for this.

[2020-04-13 23:10] MaxThevenet opened #915 "Allow nox != noy != noz?"
Currently, the shape factor order must be the same in all directions. Should we allow for different orders in different directions?

[2020-04-14 18:11] EZoni commented on #751
Do we want to try to replace the functions above with the function `Average::CoarsenAndInterpolate` introduced in #853 as a first step? Or do we want to write a specific new function that possibly interpolates over more than 1 or 2 points? Since the functions above are used for I/O purposes, I would expect `Average::CoarsenAndInterpolate` to be enough, but I would like to receive feedback on this.

[2020-04-14 22:54] RemiLehe opened #918 "Automated tests for RZ spectral"
The RZ spectral code is currently not tested. We could add a similar test to the one done for RZ FDTD.

[2020-04-14 22:56] RemiLehe opened #919 "Ensure that `gemm` operation is done on GPU, when running with RZ spectral"
@dpgrote mentioned that using `blaspp` on GPU seems slower than programming explicit `for` loops to perform the matrix multiplication. This is a bit strange and we should probably check that the `gemm` operation is indeed running on the GPU. If not, one alternative option would be to use `cublas` directly (instead of `blaspp`)

[2020-04-15 02:45] RemiLehe opened #920 "Avoid compiling the Cartesian spectral code, when compiling with `USE_RZ`"
When using `USE_RZ=TRUE` and `USE_PSATD=TRUE`, we compile both the RZ spectral code and the Cartesian spectral code. However, the Cartesian spectral code is not used (expect for the PML, but this is erroneous, as mentioned in #904 #909).

Therefore, we could save some compile time by avoiding the compilation of the Cartesian code in this case.

[2020-04-15 18:56] RevathiJambunathan opened #922 "Assess computational benefit of a single temporary MultiFab in the diagnostic class"
In the recently reformatted diagnostic implementation, temporary MultiFabs are created and used for computing divE, divB, particle_per_cell, particles_per_grid, in their respective functors (Source/Diagnostics/ComputDiagFunctors/*.cpp).
Instead of defining temporary multifabs for each of the above mentioned functors, we need to assess if there is some benefit in allocating a single temporary multi

[2020-04-15 20:20] ax3l commented on #922
Awesome suggestion! I think independent of performance, this could lower our memory footprint as well and allow us to run larger simulations on the same GPU hardware, what do you think?

[2020-04-15 21:44] MaxThevenet commented on #751
Can `CoarsenAndInterpolate` reproduce the behavior of all functions above to machine precision, or do some of them use several-point averaging?

[2020-04-15 21:44] MaxThevenet commented on #751
Ah, the comment above doesn't apply to `amrex_interp_div_free_bfield`, which is doing a more elaborate interpolation but we don't need that.

[2020-04-15 21:54] EZoni commented on #751
Thanks for the feedback, I will check each of the functions above and report here.

[2020-04-15 22:19] RevathiJambunathan commented on #922
yes, I think we allocate-deallocate to limit memory peak, each time an operator() for the functors is called in diagnostics.

[2020-04-15 22:23] RevathiJambunathan commented on #848
@atmyers @MaxThevenet since #862 solves this issue, can we close it?

[2020-04-15 22:24] MaxThevenet commented on #848
Indeed, thanks,

[2020-04-15 22:24] #848 closed

[2020-04-16 22:25] EZoni commented on #751
My conclusion so far is that we cannot use `Average::CoarsenAndInterpolate` for the functions above, as they seem to be used for interpolating fields from coarse grids to fine grids (hence refining and not coarsening). The replacement of the functions mentioned in this issue would also correspond to resolving the fifth point "Output of raw data: Interpolation of fields from coarse to fine" mention

[2020-04-22 03:52] MaxThevenet opened #939 "SEGFAULT for laser particles in current deposition"
Running this [input file](https://github.com/ECP-WarpX/WarpX/files/4513679/inputs.txt) (laser propagating in vacuum, with moving window, in the lab frame) gives a reproducible SEGFAULT at iteration 458. It produces this [Backtrace](https://github.com/ECP-WarpX/WarpX/files/4513681/Backtrace.1.0.txt) when run in DEBUG mode, in current deposition, with direct and Esirkepov deposition, for order 1 or

[2020-04-22 14:10] MaxThevenet opened #940 "SEGFAULT in amrex::BoxArray::coarsenable from Average::CoarsenAndInterpolate"
Automated test `reduced_diags_loadbalancecosts_timers` on PR #933 fails due to a segfault in
[code]
at the `coarsenable` call in the ASSERT line below
[code]
When adding
[code]
right before the ASSERT line, the code returns
[code]
I do not see what is wrong in this BoxArray or in the coarsening ratio, so I don't get why `coarsenable` fails so far.

To reproduce the issue, I executed the code with

[2020-04-22 15:47] EZoni commented on #940
I observed that the segfault happens only when running with more than 1 MPI rank. Do you confirm that?

[2020-04-22 15:51] MaxThevenet commented on #940
I agree. Also, it doesn't seem to occur in 2d.

[2020-04-22 16:41] EZoni commented on #940
It seems to me that the segfault is not caused by the call to the function `coarsenable`, but rather by the initialization

`Array4<Real const> const& arr_src = mf_src.const_array( mfi );`

right before the `ParallelFor` inside `Average::CoarsenAndInterpolateLoop`. In other words, commenting out the initialization above and the subsequent `ParallelFor` (as it depends on the initialization of `arr_

[2020-04-22 17:36] Yin-YinjianZhao opened #942 "Runtime error when using single precision"
An error occurs when running this input file:
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/4517974/inputs.txt)

The code can not run when compiled using
`make -j 4 DIM=2 PRECISION=FLOAT USE_SINGLE_PRECISION_PARTICLES=TRUE`,
which leads to `main2d.gnu.FLOAT.TPROF.MPI.OMP.SP.pSP.ex`.

The code can run when compiled using
`make -j 4 DIM=2`, which leads to `main2d.gnu.TPROF.MPI.OMP.ex`.

In a

[2020-04-22 18:14] EZoni commented on #940
@RevathiJambunathan Did you mention that by changing the input parameter `warpx.load_balance_int` in the input file `Examples/Tests/reduced_diags/inputs_loadbalancecosts` from `warpx.load_balance_int=2` to `warpx.load_balance_int=1` you get **segfault** after 1 iteration instead of 3? I don't observe the same behavior at the moment: if `warpx.load_balance_int=1`, I still get **segfault** after the

[2020-04-22 18:16] MaxThevenet commented on #942
Thanks for the issue, I am able to reproduce the bug locally!

[2020-04-22 18:17] MaxThevenet commented on #940
@EZoni the segfault probably occurs at the first dump iteration after a LB iteration.
I think @RevathiJambunathan and @WeiqunZhang identified the bug, with @mrowan137's help @RevathiJambunathan is currently working on a fix.

[2020-04-22 18:32] RevathiJambunathan commented on #940
@EZoni sorry -- I was not fully clear when I talked about it this morning. I also changed diag.period = 1 and played with load_balance_int=1,2,3,4 to confirm if that was the cause for error.

[2020-04-23 15:50] MaxThevenet commented on #625
I think this is related to #942, @atmyers suggested that it is probably a machine-precision error.
I suspect both issues could be fixed with an `Abort` giving a clear error message when the distance between the antenna and the domain boundary is below machine epsilon. As the antenna is the main cause for this issue, @RemiLehe @Yin-YinjianZhao @atmyers do you think that's an acceptable solution for

[2020-04-24 18:55] ax3l commented on #939
First sight: `int* ion_lev = nullptr;` lacks the `AMREX_RESTRICT` qualifier in one line before the call of the crashing `DepositCurrent`.

[2020-04-24 19:01] ax3l commented on #939
I am not sure this implicit cast is super clean in `doEsirkepovDepositionShapeN`
[code]
would do
[code]

[2020-04-24 20:20] ax3l commented on #939
Can reproduce the crash on Linux! :tada:

[2020-04-24 20:28] ax3l commented on #939
The crash is in `ShapeFactor.H`:
[code]

[2020-04-24 20:42] ax3l commented on #939
Unspecific to OpenMP :)

[2020-04-27 16:07] LDAmorim opened #952 "Read particle data from openPMD - crash if parallel"
Hi all,

I have been running the following external `openPMD` particle properties file [e-_primary_s1_opmd.h5.zip](https://github.com/ECP-WarpX/WarpX/files/4537894/e-_primary_s1_opmd.h5.zip) with the current master branch, using the input file
[input_script.txt](https://github.com/ECP-WarpX/WarpX/files/4540668/input_script.txt)

I found that parallelization leads to coach:
- if I ran it on only 1

[2020-04-27 16:20] MaxThevenet commented on #952
Thanks for this issue @LDAmorim. Are you running 2D or 3D?

[2020-04-27 16:21] LDAmorim commented on #952
Oh sorry, in 3D

[2020-04-27 16:24] ax3l commented on #952
I quickly checked the values for the particles in the file: momentum, charge and mass look valid (no nan, no infs), including units.

Should we double-change the range of position, to make sure we do not inject particles in outside of the global simulation domain?

[2020-04-27 16:30] ax3l commented on #952
Really hope this is not related to #939

[2020-04-27 16:38] LDAmorim commented on #952
The following plots compare the data in the `openPMD` external file and the output of the first plot file from the simulation with 1 node only and show that the 956 particles agree in position and momentum.

![comp_codes_x](https://user-images.githubusercontent.com/15057096/80397084-7b041f00-886a-11ea-8504-f91f3d794c80.png)
![comp_codes_y](https://user-images.githubusercontent.com/15057096/8039708

[2020-04-27 16:40] MaxThevenet commented on #952
@ax3l yeah, probably worth increasing the domain size :).

[2020-04-27 16:40] MaxThevenet commented on #952
Running with larger domain works fine!

[2020-04-27 17:07] ax3l commented on #952
progress: probably weighting is off.

[2020-04-27 17:22] LDAmorim commented on #939
The weighting is now correct.
Regardless of if we use `q_tot` or not, the run crashes on multiple nodes

[2020-04-27 17:50] ax3l commented on #952
@LDAmorim posted:

Regardless of if we use q_tot or not, the run crashes on multiple nodes

[2020-04-27 20:02] ax3l commented on #952
@LDAmorim @MaxThevenet found it:
Please add
[code]
to your input file.

[2020-04-27 20:29] LDAmorim commented on #952
Thanks, I will test that!

[2020-04-27 20:29] LDAmorim commented on #952
But this does not explain why it’s only when we run in parallel that we get an issue

[2020-04-27 20:50] MaxThevenet commented on #952
Actually you need both
[code]
And I think we understand the bug now, and why it only happens in parallel, we can talk about it later. But it's important to use the same value for charge and mass as what's in the OpenPMD file.

[2020-04-27 21:19] RemiLehe opened #954 "Add latice elements in WarpX"
As mentioned during a recent WarpX meeting, it would be nice to add an interface that implements latice elements (e.g. solenoid, thin lens, quadrupole) in WarpX.

These would be implemented as an external field applied to the particles (not to the grid), but this should avoid using the parser. Additionally, this interface should be compatible with the boosted-frame simulations. (i.e. the external

[2020-04-28 06:32] ax3l commented on #939
I think we are probably pushing `m=0` particles as if they had a mass, which generates NaNs at some point.

[2020-04-28 06:46] ax3l commented on #952
Offline discussed: we need to BCast the values from the now IOProcessor to other ranks.
Today's updates are incoming via #956

[2020-04-30 17:33] RemiLehe commented on #954
As mentioned by @jlvay on Slack:

Analytical formulas for solenoid are given in Eqs. (26)-(31) of the code AMBER (that I developed with Bill Fawley 20+ years ago :grin: ), see page 27: https://www.dropbox.com/s/whxp6n96iqfxhn9/amber_doc.pdf?dl=0
For implementation in AMBER, see:    https://www.dropbox.com/s/bdmghy243vyymv9/lattice.f90?dl=0
For implementation in Warp, see file solenoid.py in warp/s

[2020-05-01 19:20] MaxThevenet opened #972 "Bug in new diagnostics"
Currently, with the new diagnostics, when `<diag_name>.period` divides the number of iterations (e.g., period=10, max_step = 10 or 100), the last iteration is written twice. There are a few ways to fix this, but the best solution is probably to use the intervalParser of #925.

[2020-05-05 00:48] MaxThevenet commented on #972
Fixed in #982.

[2020-05-05 00:48] #972 closed

[2020-05-06 20:43] #952 closed

[2020-05-11 23:44] MaxThevenet opened #1004 "Particle filters in OpenPMD"
The AMReX writer functions for the plotfile format take a particle filter, i.e., a lambda function that is evaluated on each particle and returns 0 (do not dump this particle) or 1 (dump this particle).

Class `ParticleDiag` holds the the general properties of these filters (provided by the user), and the filters are constructed in `FlushFormatPlotfile::WriteParticles`, and a lambda function conta

[2020-05-13 00:24] RemiLehe opened #1011 "Unstable Galilean LWFA simulation in 3D"
I have an LWFA case in the boosted frame, with the PSATD Galilean scheme, which seems to be unstable in 3D but stable in 2D. There is probably a bug, so I am attaching some info about this:

- Here are the reproducing scripts:
[inputs3d.txt](https://github.com/ECP-WarpX/WarpX/files/4619104/inputs3d.txt)
[inputs2d.txt](https://github.com/ECP-WarpX/WarpX/files/4619105/inputs2d.txt)
This was run on 6

[2020-05-13 00:28] MaxThevenet commented on #1011
Thanks @RemiLehe for reporting this, I will try to investigate soon.

[2020-05-13 04:05] RemiLehe commented on #1011
Note: I also tried to simulate the same case with FBPIC, using the Galilean frame (and 3 azimuthal modes) and did not see an instability:

<img width="446" alt="Screen Shot 2020-05-12 at 9 02 41 PM" src="https://user-images.githubusercontent.com/6685781/81770038-ef0e0c00-9493-11ea-9861-078c9a49796d.png">

(The modulation of the field along z is due to the fact that the laser driver focuses and def

[2020-05-13 16:58] LDAmorim commented on #1011
Hi @RemiLehe ,
Could you please share the bash scripts on Summit? So I can reproduce the issue with the same parallelization (I learned with my last one that that could play a role sometimes - although probably not in this one).
Thanks

[2020-05-13 19:54] RemiLehe commented on #1011
Of course! Here is the submission script that I used:
[submission_script.txt](https://github.com/ECP-WarpX/WarpX/files/4624337/submission_script.txt)
(The 2D and 3D simulations were submitted in the same way: both on 1 node, i.e. 6 GPUs)

[2020-05-13 20:53] LDAmorim commented on #1011
Thanks!!

[2020-05-13 23:03] LDAmorim commented on #1011
Hi again,
Sorry that I took a while, but I finally got to compare the 2D and 3D runs with the inputs @RemiLehe  shared in this issue.
I got the same results:

3D run:
![image](https://user-images.githubusercontent.com/15057096/81873872-7b224100-9531-11ea-9d71-af7eacaa1a3d.png)

2D run:
![image](https://user-images.githubusercontent.com/15057096/81874458-c12bd480-9532-11ea-8991-76cf5c80da9c.png)

T

[2020-05-14 17:21] MaxThevenet opened #1022 "Provide a PR template"
When creating a PR, there some urban knowledge that developers are using:
- Should this PR have tag [WIP]? [mini]?
- Will it break Battra tests?
- Should the Python interface be modified (a large part of it is not tested in CI)?

Providing a PR template, with e.g., checkboxes for some points, would remind the contributor about these points.

[2020-05-14 17:23] MaxThevenet opened #1023 "Test continuity equation"
Let us add a test checking `divE-rho = 0` to machine precision for Esirkepov deposition. This could potentially be the source of discrepancy between single and double precision.

[2020-05-14 17:30] EZoni commented on #1023
I would be willing to help with this, if that is OK with everyone.

[2020-05-14 18:12] RemiLehe opened #1025 "Add automated test for FillBoundary on Travis CI"
We have an automated test that makes sure that we exchange enough guard cell for each call to `FillBoundary` [here](https://github.com/ECP-WarpX/WarpX/tree/master/Regression/TestFillBoundary).

However, this test is not run automatically, and it is in fact currently broken (in part because of changes in the WarpX input format).

It would be useful to have this test run on Travis CI, as part of our

[2020-05-14 18:21] MaxThevenet commented on #1023
Sounds great, thanks! Note that this test could probably re-use existing example input files. Also, @mrowan137 has started looking into the discrepancy between single and double precision, for which this test should be relevant. Could you two coordinate to avoid duplicating the efforts?

[2020-05-14 19:32] EZoni commented on #1023
I think the effort of including a check on charge conservation is quite minor compared to the whole bug fixing, hence I think it probably makes more sense that both tasks are completed by @mrowan137, who is also investigating the bug. I expect that to be easier and faster than synchronizing separate efforts.

@mrowan137 @MaxThevenet Please, feel free to comment on this, if you do not agree.

On my

[2020-05-14 20:23] MaxThevenet commented on #1023
Yeah sorry I don't mean you should work together on the test, just decide together on who does it

[2020-05-15 00:07] ax3l commented on #1023
Not sure if helpful, but we usually plotted this in the past:
- https://github.com/ComputationalRadiationPhysics/picongpu/blob/master/src/tools/bin/plot_chargeConservation.py
- https://github.com/ComputationalRadiationPhysics/picongpu/blob/master/src/tools/bin/plot_chargeConservation_overTime.py

For the first time steps one could see low-level reduction groups at the machine precision level in ou

[2020-05-16 00:18] EZoni commented on #1023
@MaxThevenet @mrowan137

Charge conservation with Esirkepov deposition seems well preserved for the following three test cases (input files followed by the infinity norm of the relative error of `div(E)-rho/eps0`, normalized with respect to `max|rho/eps0|`, at the last iteration):

| input file | norm of error |
| :-: | :-: |
| [inputs_2d_multi_rt.txt](https://github.com/ECP-WarpX/WarpX/files/4637

[2020-05-20 00:38] MaxThevenet commented on #1011
The problem seems to be due to transverse boundary conditions. Replacing
[code]
with
[code]
in the 3D input file above seems to remove the instability, see image below. There could be a joke in the PSATD, either in this kind of operations
[code]
or maybe some guard cells are not reset to 0 at every iteration.

![diag_Ex_yt_01000](https://user-images.githubusercontent.com/26292713/82391668-b8d20e80

[2020-05-20 16:12] LDAmorim commented on #1011
Thanks for finding the fix @MaxThevenet and @jlvay !

Small update:
Testing the input that Rémi shared initially but with `geometry.is_periodic = 1 1 0` indeed showed correct fields and particle distribution.

![image](https://user-images.githubusercontent.com/15057096/82470259-f75cdd00-9a79-11ea-8bdb-92d367b4f641.png)

[2020-05-20 18:59] ax3l opened #1035 "Reuse/Expose Async I/O"
We want to expose the MPI-Thread based latency hiding in AMReX plotfile I/O to openPMD-api as well.

There are two ways to do this: spawn the whole I/O format call in a thread or handle the I/O asynchronicity in the openPMD-api flush() calls.

Here are specific refs.:
- https://github.com/AMReX-Codes/amrex/blob/97b888bcfb9282e7b788e2c11a76f68e35e5979d/Src/Base/AMReX_VisMF.cpp#L2211
- https://githu

[2020-05-20 21:42] MaxThevenet opened #1037 "Fix and upgrade rho in diags"
Currently, the charge deposition diagnostics contains `rho` from the previous timestep, which is not practical. Besides, when a user requests rho in the diagnostics, rho is computed at every timestep, which is not needed. A clean way to fix it would be to:
 - Avoid computing rho every timestep (delete `WarpX::plot_rho` handling in the code)
 - Re-compute `rho` on the fly from the diagnostics. Henc

[2020-05-20 23:33] MaxThevenet commented on #1037
Note that line
[code]
in `WarpXIO.cpp` could help.

[2020-05-26 22:16] ax3l opened #1053 "openPMD: Example Notebook"
Add to the notebook in `Tools/PostProcessing/Visualization.ipynb` and manual: how to read openPMD data.

[2020-05-28 07:27] danielbelkin opened #1056 "Error when amrex.fpe_trap_invalid=1"
WarpX crashes when running PSATD with `amrex.fpe_trap_invalid=1`. The error message given is `Erroneous arithmetic operation`.

This was observed running on KNL, with compiled with `COMP=intel DIM=2 USE_PSATD=TRUE`. The problem seems to originate from line 179 of InitializeSpectralCoefficients in PsatdAlgorithm. The input script, backtrace, and the script used to submit the job are all attached.

[2020-05-28 20:11] danielbelkin opened #1058 "Explain blocking_factor in the documentation"
Right now, the only information about blocking_factor given in the documentation is

When I read this, it was not clear whether blocking_factor was the number of blocks along each dimension or the number of cells per block along each dimension. I believe the latter is correct, but it would be helpful to make this explicit.

[2020-05-29 22:30] RemiLehe opened #1063 "Issue with PSATD PML on GPU"
When using the PML with PSATD, it seems that an instability can develop in the x-y lower corner.

Here is an input file that reproduces the issue:
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/4704629/inputs.txt)

In order to reproduce this issue, the code should be compiled in the following way:
[code]

A few observations:
- I only observed the problem when both *use_pml=1* and *do_nodal=

[2020-06-03 08:49] NeilZaim commented on #1063
For the record I think we have observed the same (or at least a very similar) issue in a 2D simulation. The following input file, if the code is compiled with `DIM=2 USE_PSATD=TRUE USE_GPU=TRUE`, should reproduce the issue.
[input.txt](https://github.com/ECP-WarpX/WarpX/files/4721973/input.txt)

As in the initial post, I observe an instability coming from a corner when we have GPU + PSATD + do_nod

[2020-06-11 15:10] RevathiJambunathan opened #1086 "Reformat Back-Transform (1) :: create new BTDiagnostics class and functor"
Create a new class::BTDiagnostics in Source/Diagnostics/ and a new functor to perform the core operations of back-transform diagnostics.
Re-organize class::Diagnostics to only include functions common to class::FullDiagnostics and class::BTDiagnostics.

[2020-06-12 00:04] LDAmorim opened #1088 "openPMD with periodic boundary conditions"
Hi all,

When reading particles that fall outside of the simulation box, using openPMD external input file via `<species>.injection_style = external_file` and periodic boundary conditions, those particles are reflected back into the box (top left plot).

![image](https://user-images.githubusercontent.com/15057096/84450620-82f30500-ac05-11ea-8752-e1d1f51821ab.png)

Above are plots from my usual ope

[2020-06-12 14:26] RevathiJambunathan commented on #453
This is now accounted for in the new diagnostics, using the user-defined <diag>.lo and <diag>.hi and coarsening ratio.
Closing the issue.

[2020-06-12 14:26] #453 closed

[2020-06-12 14:28] RevathiJambunathan commented on #452
This feature is now implemented in WarpX as well with the reformatted diagnostics.
ndiags = diag1d, diag2d, diag3d
See documentation to define the lo and hi for each of these diags.

[2020-06-12 14:28] #452 closed

[2020-06-12 18:20] cyrush opened #1091 "add docs for ascent replay mode"
Add details about the ascent extract + replay workflow that is useful for crafting ascent_actions.yaml files.

Note: for @cyrush  and matt larsen

[2020-06-12 18:24] cyrush commented on #1091
make sure to include details about how to set extract file paths.

[2020-06-16 02:46] #1086 closed

[2020-06-16 15:49] LDAmorim opened #1095 "Back transformed diagnostic with particles out of box"
Hi all,

I decided to open this issue to keep a record of it and of the tests done for it.

I had 2 2D runs in the boosted frame with the option to store back transformed diagnostics.
One using the PSATD+Galilean and the other FDTD methods.
Although the results made sense in the plotfiles (i.e. in the boosted frame), there were particles (just very few) with positions that did not fit inside the s

[2020-06-16 16:06] LDAmorim commented on #1095
Small update:

I played around with the beam particles initial properties (as they were setup for 3D, but in 3D its charge and nr of particles needs to be reduced), to see if they would remain in the box, but it was unsuccessful.

And the problem persisted. Although the plotfiles (plotted below) seemed to be ok.

![image](https://user-images.githubusercontent.com/15057096/84798878-53028380-afb0-11

[2020-06-16 16:56] LDAmorim commented on #1058
Hi @danielbelkin, this is a very good point. I will try to address this and ask for your opinion.

[2020-06-17 01:41] ax3l commented on #1037
With respect to the numeric values we see in the LWFA example, it also seems that rho is orders of magnitude off. (Way too small.) Can you confirm that? Seen in plotfiles and Ascent.

[2020-06-17 02:11] EZoni commented on #1037
Thank you @ax3l for mentioning this. I'm not sure how the bug you report relates to the issues addressed by @MaxThevenet originally (mainly time staggering by one time step of rho when requested as a diagnostic, which I would not expect to cause errors of several orders of magnitude), but it is worth investigating further. Do you know if the input files in Examples/Physics_applications/laser_accel

[2020-06-19 00:49] LDAmorim opened #1106 "RZ parse_density_function question"
Hi,

I am running WarpX within the RZ geometry.
And I was initializing a plasma profile that would ideally be constant transversely and longitudinally would have linear up and down ramps enveloping a constant density section.
Although this is not a realistic profile (I would need to add a very short linear down ramp transversely).

I tested that profile with `(abs(x)<1.0e-5)` for the transverse di

[2020-06-19 00:56] LDAmorim commented on #1106
The parser seems to make sense in a 2D test run:

![image](https://user-images.githubusercontent.com/15057096/85085549-0d4ee200-b18d-11ea-853a-2bf07b0f3fb6.png)

[2020-06-19 00:57] LDAmorim commented on #1106
Here are the inputs I used to test in RZ:
[input_script.txt](https://github.com/ECP-WarpX/WarpX/files/4801889/input_script.txt)
And in 2D:
[input_script.txt](https://github.com/ECP-WarpX/WarpX/files/4801891/input_script.txt)

[2020-06-19 01:15] dpgrote commented on #1106
Hi @LDAmorim, instead of (abs(x) < 1.e-5), try using ((x*x + y*y) < 1.e-10). In RZ, the particles are loaded in 3-space, x, y, and z.

[2020-06-19 01:18] LDAmorim commented on #1106
Thank you for the super quick reply @dpgrote !
Oh, I thought `x` corresponded to `r` in RZ. Sorry, I will try that.

[2020-06-19 01:24] LDAmorim commented on #1106
The limit is correct (plot below), sorry for the trouble.

There is something strange on the transverse profile near the axis, but I suppose this is what you were fixing in #1072, right?

![image](https://user-images.githubusercontent.com/15057096/85086854-b77c3900-b190-11ea-8b87-213ca193f76a.png)

I used:
[code]

[2020-06-19 01:32] ax3l commented on #751
Finalized with #1103

[2020-06-19 01:32] ax3l commented on #186
#1103

[2020-06-19 02:28] #751 closed

[2020-06-19 02:29] ax3l commented on #258
Fortran finalized with #1103 #1108

[2020-06-19 02:29] #258 closed

[2020-06-19 02:30] ax3l commented on #186
Fortran finalized with #1103 #1108

[2020-06-19 02:30] #186 closed

[2020-06-19 02:31] ax3l commented on #570
Fortran finalized with #1103 #1108, any tests for ES to go @RemiLehe @dbizzozero ? :)

[2020-06-19 16:27] ax3l commented on #939
The crash (SIGBUS) occurs here:

https://github.com/ECP-WarpX/WarpX/blob/99b8bf5ee4ac6f1212d2d98c964ca733dee52a74/Source/Particles/ShapeFactors.H#L168

`x_old` already gets into this function with a negative, very large value. `i_shift` then becomes a very large, positive value, `xint` an NaN and the array access is out-of-bounds, which causes the crash.

The particle in question has a -NaN `uzp[i

[2020-06-19 17:07] ax3l commented on #939
The problem is in `update_laser_particle`, where we manage to flip above 1.0 for relativistic betas ([`v_over_c = 1.0075`](https://www.sciencemag.org/news/2012/06/once-again-physicists-debunk-faster-light-neutrinos)):

https://github.com/ECP-WarpX/WarpX/blob/99b8bf5ee4ac6f1212d2d98c964ca733dee52a74/Source/Laser/LaserParticleContainer.cpp#L676

Staying in expressions of momentum instead of velocity

[2020-06-19 21:42] #1095 closed

[2020-06-20 00:52] LDAmorim opened #1110 "Vanishing plasma stage in 3D 3-stage boosted frame run"
Hi all,

Although we have already discussed this on Monday, I am creating this issue to collect and organize all the tests that we (together with @jlvay and @atmyers) have been doing to understand why we are not seeing the 3rd plasma stage in some of our 3D 3-laser driven plasma wakefield stages simulations (using the boosted frame and running on GPUs).

The initial setup where I also saw this iss

[2020-06-20 22:04] #1058 closed

[2020-06-22 16:22] #1088 closed

[2020-06-22 21:45] RevathiJambunathan opened #1112 "Integrate BTD and galilean shift"
I am creating an issue on this topic so that it is listed as a to-do.
Currently, back-transformed diagnostics (BTD) works without galilean shift.
For PSATD simulations with galilean velocities, we need to account for the shift when performing back-transformed diagnostics.

[2020-06-24 04:03] danielbelkin opened #1117 "Clarify filter documentation"
In the theory section, there is discussion of several filter options. However, only the bilinear filter (without compensation) is an currently an option in WarpX. It might be helpful to make it clear in the theory section which parts are implemented and which are not, and in particular to note explicitly that the default bilinear filter is uncompensated.

[2020-06-24 05:07] danielbelkin commented on #1117
Similarly, in the discussion of input parameters, the reader is referred to the theory section for details on the "direct" current-deposition algorithm. However, the theory section discusses several approaches to current deposition; it would be helpful to specify explicitly which one "direct" refers to.

[2020-06-26 22:33] ax3l commented on #1037
Clarified: I overlooked we plot C/m^3 instead of a normalized number density. Looks good!

[2020-06-30 00:55] bzdjordje opened #1132 "Compiling WarpX for GPU on Lassen"
I am trying to compile WarpX on Lassen, whose specifics can be found here: https://hpc.llnl.gov/hardware/platforms/lassen

The outputted error can be found in the attachment.

I was told that Lassen architecture would be closest to the instructions for Summit, but a lot of the modules listed are not present on our system.

I noticed that you recommended gcc/6.4.0 but the only options on Lassen are

[2020-06-30 01:43] WeiqunZhang commented on #1132
Unfortunately, I don't have access to lassen.  Could you try to edit `amrex/Tools/GNUMake/Make.machines` to remove `lassen`?  `Make.llnl` has some hardwired stuff that is probably outdated.  This will make it to use the generic setup.

[2020-06-30 04:38] #1110 closed, assigned to nobody

[2020-06-30 23:08] bzdjordje commented on #1132
Thank you, the first time I compiled it this worked, but now after trying to recompile again I am seeing the follow errors:

Loading ../amrex/Tools/GNUMake/comps/gnu.mak...
Loading ../amrex/Tools/GNUMake/sites/Make.unknown...
/bin/sh: /usr/tce/packages/cuda/cuda-10.1.243/extras/demo_suite/deviceQuery: No such file or directory
Compiling AMReX_buildInfo.cpp ...
mpicxx -ccbin=g++ -Xcompiler=' -Werro

[2020-06-30 23:16] bzdjordje opened #1136 "GPU vs CPU Benchmark"
Is there a best way to compare performance between GPU and CPU? Is there a specific way to compile the two different main2d files? Everything should be the same between the two except for USE_GPU. I am also using USE_OMP=TRUE and compiling on gcc/7.3.1. Currently GPU is running 5x _slower_ than on CPU. My example outputs are as follow:

**GPU:**
Initializing CUDA...
CUDA initialized with 20 GPU(s)

[2020-07-01 05:41] MaxThevenet commented on #1136
Thanks for sharing the results @bzdjordje, and great to see that you have been able to run WarpX on CPU and GPU :).

In general, you can run the same simulation on CPU and GPU, **but the parallelization may be different** in order to utilize resources efficiently. Some information on how to run WarpX on a typical CPU platform (Cori@NERSC) and a typical GPU platform (Summit@OLCF) can be found on th

[2020-07-02 00:52] ax3l commented on #1132
Hi @bzdjordje,

we just discussed internally and since we do not have access to the machine we could try if the automatics in our new CMake build system scripts might help you here.
 (We follow the steps documented here: https://warpx.readthedocs.io/en/latest/building/cmake.html)

Can you please try the following?
First pick a GCC module version that works with the CUDA module version you have on

[2020-07-02 15:59] LDAmorim commented on #1106
Hi @dpgrote !
I think that #1072 fixes the issue near the axis and everything else seems correct now that I am correctly writing the RZ input.
If you think so too, please feel free to close this issue.
Thank you,
Diana

[2020-07-02 17:58] dpgrote commented on #1106
Good to hear that it is working now. I'll close this issue.

[2020-07-02 17:58] #1106 closed, assigned to dpgrote

[2020-07-02 18:09] LDAmorim commented on #1106
Thank you for all your help @dpgrote !!

[2020-07-02 23:03] #1112 closed, assigned to atmyers, RevathiJambunathan

[2020-07-03 00:15] RemiLehe opened #1139 "Regrid the spectral solver object when doing load-balancing"
The spectral solver object, which is initialized here:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/WarpX.cpp#L907

probably need to be redistributed in this function:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/Parallelization/WarpXRegrid.cpp#L99

[2020-07-03 00:17] LDAmorim opened #1140 "libEnsemble runs not updating laser position"
Hi all,
It seems to me that the example in [Tools/LibEnsemble](https://github.com/ECP-WarpX/WarpX/compare/development...LDAmorim:laser_libE?expand=1#diff-a1b20a3eb323232d28e88aaee90aef93) does not account for position the laser according to the different stages and lenses configurations.

When doing 3D tests in an identical regime, I obtained the following results for the original run (left column

[2020-07-03 06:10] MaxThevenet opened #1144 "Compile error when building WarpX on Juwels with MVAPICH2"
This is NOT an urgent issue because we have a workaround, but an easy fix would always be welcome (and this issue reports a problem that could be linked with others).

WarpX builds successfully on Juwels with OpenMPI, but MVAPICH2 is the preferred implementation on this platform. When compiling for CUDA with MVAPICH2, I get compilation errors for unknown flags.

[code]

[code]

When compiling the

[2020-07-03 11:14] MaxThevenet commented on #1144
Note: @ax3l implemented a fix in CMake, so now we can
- compile with OpenMPI, with CMake or AMReX build system
- compile with MVAPICH with CMake

So this is even less a priority.

[2020-07-03 23:48] WeiqunZhang commented on #1144
What does `mpicxx -c -compile` show?

[2020-07-04 02:02] maximumcats commented on #1144
Is CUDA 10.2 an available module at JUWELS?

[2020-07-04 02:03] maximumcats commented on #1132
Removing the `AMREX_LINKER=nvcc` line near the end of `Make.defs` works around this issue. We'll try to fix this in AMReX.

[2020-07-04 06:54] WeiqunZhang commented on #1144
If CUDA 10.2 is available, could you try it with the latest AMReX?   If you are stuck with CUDA 10.1, there are no easy fixes for the issue unfortunately.

[2020-07-06 08:24] bzdjordje commented on #1132
Thank you for your responses! Using cmake to compile I am getting the following output/error messages - nvcc fatal   : Unknown option 'pthread', and this with AMREX_LINKER = nvcc commented/uncommented in amrex/Tools/GNU.../Make.defs.

The entire compilation output should be attached below.
[warpx_lassen_comp2.txt](https://github.com/ECP-WarpX/WarpX/files/4877624/warpx_lassen_comp2.txt)

[2020-07-06 12:58] MaxThevenet commented on #1144
CUDA 10.2 is unfortunately not available yet. However, after a fix in CMake by @ax3l we have been able to compile WarpX with MVAPICH2 on Juwels using CMake, which is probably sufficient for the moment. Then I can ask the support if they plan on installing CUDA 10.2.

[2020-07-06 17:20] ax3l commented on #1132
Thank you for the details!

Looks like spectrum MPI also adds `-pthread` to the link line, which is picked up by nvcc. As a quick-hack, you can paste the last output line before the error - which is the link line and remove the last `-pthread`. Executing this will link WarpX in the CMake build. I'll check upstream to prevent this in the future (https://gitlab.kitware.com/cmake/cmake/-/issues/20924

[2020-07-06 18:32] ax3l commented on #1132
@bzdjordje can you please try if adding this one additional line
https://github.com/ECP-WarpX/WarpX/pull/1147/files
in your `CMakeLists.txt` helps?

After adding this line, please go to the `build/` directory again and run:
[code]

[2020-07-06 19:16] ax3l commented on #1132
@bzdjordje if the above does not help: looks like [several improvements for MPI linking options](https://gitlab.kitware.com/cmake/cmake/-/commits/master/Modules/FindMPI.cmake) went into CMake 3.15.1. Is there any chance to load a newer CMake, e.g. CMake 3.15.1 or directly 3.17+ that I am using successfully on Summit? Can you potentially open a ticket with Lassen user support to provide a newer CMa

[2020-07-07 04:41] bzdjordje commented on #1132
@ax3l , I made the edit to the CMakeLists.txt you suggested and also changed the cmake version to the latest one available (3.16.8, then 3.14.5, 3.12.1, etc) and it was able to compile with cmake+make (I am adding the -DWarpXDIMS=2 tag, I am assuming that should work per the documentation). However when I try to run the compiled code I get a SegFault and then MPI_ABORT error, not sure what the Bac

[2020-07-07 05:42] ax3l commented on #1132
Oh this looks (nearly) good! Can you say what did make the difference, the newer CMake version or the change in `CMakeLists.txt`?

If I read the backtrace right, the crash you see was introduced in AMReX a few days ago, we saw it today as well and are working on a fix #1152. Please roll back to a [last-weeks' version of AMReX](https://github.com/AMReX-Codes/amrex/commit/443fad731bd28291c3d03b58cb5

[2020-07-07 06:38] bzdjordje commented on #1136
Hi @MaxThevenet, good to hear from you again! Apologies for the delay, I have been having some issue recompiling WarpX again on GPU, being addressed in issue #1132.

Regarding your other requests, I am trying to compile/run on the following two machines:
Lassen (GPU): https://hpc.llnl.gov/hardware/platforms/lassen (seems to be similar to Summit)
Quartz (CPU): https://hpc.llnl.gov/hardware/platform

[2020-07-07 07:00] MaxThevenet commented on #1136
Ok, thanks for the details. I think the main issue here is that this 2D problem is far too small for the number of nodes you are using. A few scans could help us find optimal conditions, but I suspect that a good starting point would be:
- On Lassen, use 1 node, and only 1 GPU, 1 MPI rank, I am not sure about the syntax on this platform.
- On Quartz, use only 1 node, with 4 MPI ranks and 8 OpenMP

[2020-07-07 17:18] LDAmorim opened #1152 "SegFault in Particle Diagnostics"
Hi,

Using the current  [AMReX](https://github.com/AMReX-Codes/amrex) code version (branch `development`) leads to a `Segfault` error message when dumping the diagnostics at time step 0.

I got this error when running a laser driven plasma acceleration setup (that was running successfully when using previous code versions) in Summit @ OLCF, using the input and script files:
[inputs.txt](https://gi

[2020-07-07 22:52] atmyers opened #1153 "GPU launch failure with uniform plasma script in DEBUG mode"
I am getting the following error with the `Examples/Physics_applications/uniform_plasma/inputs_3d` file when running with DEBUG=TRUE:

[code]

This happens both on summit and on my local workstation. Running under `cuda-gdb` reveals:

[code]

Coming from kernel launches where we use the `GetExternalEField` and `GetExternalBField` functors. Commenting out the lines with the parser make this go away

[2020-07-08 04:23] #1153 closed, assigned to atmyers

[2020-07-08 08:31] NeilZaim commented on #715
Closing this issue since this was implemented in #925

[2020-07-08 08:31] #715 closed

[2020-07-08 08:32] NeilZaim commented on #744
Closing this issue since this was implemented in #1000

[2020-07-08 08:32] #744 closed

[2020-07-08 18:19] ax3l commented on #1132
@bzdjordje

Just wondering if I need to merge #1147 or not.

[2020-07-08 21:58] LDAmorim commented on #1140
Correcting the laser and mirror position as done in https://github.com/ECP-WarpX/WarpX/pull/1141, according to the plasma stages length and positions, fixes this issue:

![image](https://user-images.githubusercontent.com/15057096/86973530-95d7f700-c129-11ea-8d14-a90c18674758.png)

[2020-07-09 02:00] bzdjordje commented on #1132
Hi @ax3l, apologies for the delay! I recompiled everything from the beginning, and what finally worked (yes!), was to take the highest version of cmake, 3.16.8 for Lassen, but I also needed the -DWarpX_amrex_branch fix as well, otherwise it would compile but then fail on the cli run with a Segfault.

So your fix below seems to work for now, though I will need to study the outputs a bit more to be

[2020-07-09 16:00] atmyers commented on #1152
I believe this is fixed now if you update to the latest amrex. Could you please confirm?

[2020-07-09 21:34] LDAmorim commented on #1152
Hi @atmyers ,  thank you for this fix to the `SegFault`!
I just tested the current codes versions (including AMReX) and I seem to be able to compile and run my 3D FDTD simulation on Summit's GPUs successfully (plotfile results are as expected).
So, if you want, you can then close this issue.
Thanks

[2020-07-09 21:56] atmyers commented on #1152
Thanks!

[2020-07-09 21:56] #1152 closed, assigned to atmyers

[2020-07-10 06:39] ax3l commented on #1152
Just cross-referencing this to keep a reproducible paper trail:
- PR: https://github.com/AMReX-Codes/amrex/pull/1073
- revert: https://github.com/AMReX-Codes/amrex/pull/1121

[2020-07-10 06:54] ax3l commented on #1132
HI @bzdjordje,
don't worry and thank you for the response! Okay, that means I do not need #1147 but we just need a newer CMake for this system. Something must have fixed that then in CMake 3.15 or 3.16... Good to know, we will document this when further working on the templates for the system for tuned performance.

The `-DWarpX_amrex_branch` work-around can now be dropped as #1152 has just been f

[2020-07-11 22:25] bzdjordje commented on #1136
Ok, sorry for the delay, I had trouble recompiling the GPU version of WarpX per issue #1132 but it seems to work again now.

So I configured the Lassen/GPU and Quartz/CPU simulations per your recommendations and I did indeed see a GPU speed up this time! 11s vs 17s. Is there a simple way to scale this for a bigger problem? For example this problem had about 32,000 cells, 25 particles-per-cell, and

[2020-07-12 06:51] bzdjordje commented on #1132
`cmake` would take a minute or two, but them `make` could take up to thirty minutes, increasing the processor count to `make -j 10` sped it up to a few minutes. A simple fix, thank you! For the `cmake`+`make` of on CPU/quartz there were many warnings though the compilation completed and the executable ran nonetheless. I might post those in as a new issue if they keep coming up and there are no pre

[2020-07-13 17:31] EZoni opened #1163 "Galilean CI tests"
When I try to run the test **galilean_2d_psatd** with zero Galilean velocity, setting `psatd.v_galilean = 0. 0. 0.` in Examples/Tests/galilean/inputs_2d, the resulting electric energy seems to be
[code]
instead of
https://github.com/ECP-WarpX/WarpX/blob/8af11ca6108147464c4072ae62e643582bc15563/Examples/Tests/galilean/analysis_2d.py#L28-L29

<br/>

Similarly, when I try to run the test **galilean_3

[2020-07-13 22:29] oshapoval commented on #1163
@EZoni Thanks a lot for sharing your observations!
I recalculated the reference energy values for both 2D and 3D tests with v_galilean = (0,0,0) using:` ./run_test.sh galilean_2d_psatd galilean_3d_psatd`.
I am confirming that I am getting same energy as you did for 2D case (`energyE_psatd = 403.7990470629009`) and slightly different for 3D case (`energyE_psatd = 414.22472100727856` and `energyE_ps

[2020-07-13 22:46] oshapoval commented on #1163
Sorry, previous comment was not complete.

[2020-07-13 22:51] oshapoval commented on #1163
@EZoni Sorry, previous comment was incomplete. There is a typo in the `WarpX/Regression/WarpX-tests.ini` from my side. It should be `dim=3` instead of `dim=2` for `galilean_3d_psatd` test. I noticed it when was adding 3D automated test for the averaged algorithm. I will update it.

[2020-07-13 23:26] #1144 closed, assigned to WeiqunZhang

[2020-07-13 23:26] #1140 closed, assigned to LDAmorim

[2020-07-13 23:49] ax3l commented on #1132
Sounds great! :+1:

yep, I am trying to establish more diagnostics and keep them on by default. those warnings are mostly harmless, but I am keeping them active to remind all developers to fix them ;)

Excellent, yes! Please don't hestitate to @ me on those. I'll be out of office early August but otherwise around.

Thank you for the docs! LSF sounds good, we can then set it up similar to our summi

[2020-07-14 00:38] EZoni commented on #1163
@oshapoval Thank you very much for checking this!

Regarding the checksum benchmarks, the reason for having all zeros seems to be how the fields data are read in [Regression/Checksum/checksum.py](https://github.com/ECP-WarpX/WarpX/blob/development/Regression/Checksum/checksum.py).

In your analysis scripts, the fields data are read with
https://github.com/ECP-WarpX/WarpX/blob/0b00cfa973de24e3ae08e

[2020-07-14 16:01] RevathiJambunathan opened #1166 "Add support for paticle buffers in the reformatted BTD class and even full diagnostics"
In the reformatted Backtransformated diagnostics class, BTDiagnostics.H, support for particle buffers is required. These buffers can also be used in FullDiagnostics to include Ex-Ez, Bx-Bz data of the particles in the output

[2020-07-14 16:02] RevathiJambunathan opened #1167 "Add support for OpenPMD and plotfile formats for BTD"
Currently, we have temporary functions, starting with `TMP_` in BTDiagnostics.H class to write out customized output for the reformatted BTD. This will be deleted after support for OpenPMD and plotfile format is included.

[2020-07-14 16:05] RevathiJambunathan opened #1168 "Create geometry object storing Back-transformed buffer information"
A geometry object is needed to store the amrex::RealBox and amrex::Box information of the buffers in the BTDiagnostics class.
The geometry will also include number of cells in the lab-frame to be included in the header file.
This object will be useful when support for plotfile/OpenPMD format is included for BTD.

[2020-07-15 15:26] EZoni commented on #1163
Most parts of the issue were fixed by @oshapoval's PR #1173!

Only the 2D JSON benchmarks for the Galilean and averaged Galilean tests remain to be fixed, by either hacking Regression/Checksum/checksum.py for these specific tests or by fixing the corresponding issue on the **yt** side (if any):

https://github.com/ECP-WarpX/WarpX/blob/af7144301bf0d6bbc2263ef389c321cb0cb6fe40/Regression/Checksum/be

[2020-07-20 19:00] ax3l opened #1187 "PSATD as Runtime Option"
We want to redesign WarpX to use PSATD as a runtime option as soon as FFT support is compiled in. This will simplify WarpX by being able to build one WarpX binary that can be used with all MW solvers.

- [x] step 1: rename `algo.maxwell_fdtd_solver` to `algo.maxwell_solver` and throw warning if old option is still used: #1188
- [x] step 2: add `PSATD` to available options in `algo.maxwell_solver`

[2020-07-20 22:22] Yin-YinjianZhao opened #1189 "Issues for using external fields in RZ"
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/4950268/inputs.txt)
When this input is used for RZ, the beam is found to diverge, however it should be focused.
![100](https://user-images.githubusercontent.com/56095356/87992009-256f9500-ca9c-11ea-8e5c-6d5558e19abd.png)
![300](https://user-images.githubusercontent.com/56095356/87992011-26082b80-ca9c-11ea-9a85-0f336b251663.png)
![500](https://u

[2020-07-21 01:22] EZoni commented on #940
This issue was fixed in #943. The test `reduced_diags_loadbalancecosts_timers`, that was crashing in #933 before the fix in #943 was merged, runs successfully now.

[2020-07-21 01:22] #940 closed

[2020-07-21 09:25] lucafedeli88 opened #1193 "Issues in compiling WarpX on Summit"
Hi!

I've just tried to update and recompile WarpX on Summit.
I suspect that there might be a bug because I get the following error message:
[code]
Only the latest commit ( 54e50ce8a238ceeb480269198eef1ca3874a95fd ) seems to be affected. If I checkout the previous commit ( 03b22b9e3eacb707a227bd9a03c86f699f65915d ) compilation succeeds.

[2020-07-21 15:52] EZoni commented on #1193
Hi Luca, #1192 will fix this.

[2020-07-21 19:08] mrowan137 opened #1195 "Hardware dependence of checksum benchmarks"
We have some evidence that the result of benchmark tests from the checksum regression tests can depend on hardware on which tests are compiled and run; for example, running on Summit's Power9 CPUs seems to give slightly different results compared to the Travis CI tests.  For this issue, we should confirm whether this is the case, and (conditional on a hardware dependence of test results) modify th

[2020-07-22 12:29] lucafedeli88 commented on #1193
Great! Since the bug has been fixed, I will close the issue.

[2020-07-22 12:29] #1193 closed, assigned to nobody

[2020-07-23 07:28] ax3l opened #1201 "CMake: Release (or replace -O2)"
Use `-DCMAKE_BUILD_TYPE=Release` for optimal performance for now (`-O3`).

Unfortunately, the current default I picked `RelWithDebInfo` [builds with `-O2`](https://gitlab.kitware.com/cmake/cmake/-/blob/master/Modules/Compiler/GNU.cmake#L59-60).

Possible solutions:
- overwrite `RelWithDebInfo` defaults to replace `-O2` with `-O3` (e.g. https://phabricator.kde.org/D10447)
- switch to `Release` by d

[2020-07-23 19:51] ax3l commented on #942
Just to prep. our discussion: Can we still reproduce this after #1082 and #1084?

[2020-07-23 22:08] #1163 closed, assigned to nobody

[2020-07-24 16:37] #1201 closed, assigned to ax3l

[2020-07-24 17:49] NeilZaim opened #1206 "Grid creation with large max_grid_size"
Not sure if this is an issue with amrex or warpx but I'm putting it here. :)

We wanted to run a series a simulations ensuring that we always have 1 box per MPI/GPU regardless of the size/parameters of the simulation. From what I (thought I) understood of amrex grid creation, I thought that we would be able to achieve this by setting a low value for `blocking_factor` (typically 8) and a ridiculous

[2020-07-27 00:39] ax3l opened #1213 "Collisions: Segfault on Typo in Species"
When selecting an non-existing species in `<collision_name>.species = ... ...` the code segfaults. This can be hard to spot for users, e.g. if they do a typo (`electron` vs. `electrons`, etc.).

- [ ] (A) It would be better if we caught this and did an `Abort("...");` with a clear error message, e.g. `Collision module <collision_name>: Particle species <...> does not exist. Available species are:

[2020-07-28 15:24] RemiLehe opened #1220 "Prevent situations where the number of guard cells is larger than the number of cells of an individual box"
When spectral solvers, the number of guard cells can be quite large.
When using domain decomposition, we can sometimes end up in a situation for which the number of physical cells in individual boxes is lower than the number of guard cells.

In this case, my understanding is that the code is incorrect, because it only considers guard cells communications with nearest-neighbors boxes, while in the

[2020-07-28 15:49] WeiqunZhang commented on #1220
The guard cell communication should work even if the number of guard cells is larger then the length of valid boxes.

Yes, one could use `blocking_factor` to make sure the boxes are bigger than a certain size.

[2020-07-28 16:04] WeiqunZhang commented on #1206
Yes, you are right that `AmrMesh::ChopGrids` cannot deal with very large `max_grid_size`.  We could modify that function to handle that.  But it will not guarantee exactly 1 Box per process.

[2020-07-28 17:45] ax3l opened #1221 "2D3V: sort defaults"
As bespoken yesterday, we do not yet know good defaults for 2D3V simulations for the `warpx.sort_int` and `warpx.sort_bin_size` parameters.

This issue documents that we need to scan and default-set them.

[2020-07-29 22:15] ax3l commented on #353
Just checked and added write examples to the API: https://openpmd-api.readthedocs.io/en/latest/usage/examples.html

I did a quick test based on 57cc9a3397f3e89e57b3bbc15ba8215ad2144b4f using the `Examples/Physics_applications/laser_acceleration/inputs_2d_rz` example.

I added the lines
[code]
for output.

From a quick `h5ls -r` it looks to me we are writing the reconstructed fields already, but no

[2020-07-30 04:28] ax3l commented on #353
I updated all details in the PR description :)

[2020-07-30 04:55] ax3l commented on #1004
Memo to myself - see signatures of:
- `WarpXOpenPMDPlot::DumpToFile`
- `amrex::ParticleContainer<...>::WritePlotFile`