[2020-08-01 13:01] lucafedeli88 opened #1230 "Should we silence an OpenMPI-related warning adding `-DOMPI_SKIP_MPICXX` to the compilation flags?"
While fixing some compiler warnings in WarpX, I've noticed that on my laptop a very large fraction of the warnings is:
[code]
I've read that a possible fix is to use the `-DOMPI_SKIP_MPICXX` compilation flag ( https://github.com/open-mpi/ompi/issues/5157 ). Should we consider to do that or something similar?

[2020-08-01 16:23] ax3l commented on #1230
I think that sounds reasonable and newer OpenMPI 4.0+ don't ship those (MPI-2 C++ API) bindings anymore, so I think it's only a warning with older OpenMPI releases.

You should not see this with CMake, since I include MPI with `-isystem` instead of `-I`, do you? Otherwise [`FindMPI.cmake`](https://github.com/Kitware/CMake/blob/master/Modules/FindMPI.cmake) can set this logic.

[2020-08-02 01:00] lucafedeli88 commented on #1230
I can confirm that I don't see the OpenMPI-related warning with CMake.
Anyway, would you suggest to add  `DOMPI_SKIP_MPICXX` somewhere in the makefiles or should we just ignore this (very minor) issue?

[2020-08-02 04:20] ax3l commented on #1230
I think it's a good addition to GNUmake for OMPI<4.0 in AMReX.

On August 1, 2020 6:00:32 PM PDT, Luca Fedeli <notifications@github.com> wrote:

[2020-08-03 08:04] hightower8083 opened #1232 "HDF5-DIAG error with openpmd backend (overflow on particle id numbers)"
In a typical LWFA simulation (512x512x1024, ckc, pml) with `openpmd@h5` diags, at around 20k iterations, i receive an error message (for all processes)
[code]
When running 8 GPUs (V100@16Gb) this causes the crash with `amrex::Abort::7::ERROR: overflow on particle id numbers !!!`. When using 32 GPUs it does not crash but still prints the messages and the corresponding h5 file (e.g. for it=25k) is c

[2020-08-03 23:37] RevathiJambunathan opened #1234 "Add reformatted BTD CI-test after resolving CI time-out issue"
In PR#1158, the CI test for reformatted BTD slices was removed since the CI time-limit was reached.
This test needs to be added back when the CI time-out issue is resolved.

[2020-08-04 00:47] Yin-YinjianZhao commented on #1189
Some updates: @RemiLehe @dpgrote @RevathiJambunathan

RZ and 3D are compared.

For 3D, with the input file [inputs_3d.txt](https://github.com/ECP-WarpX/WarpX/files/5019456/inputs_3d.txt), we have at t = 1e-11 s, where beam is red, ions are blue.

![3d](https://user-images.githubusercontent.com/56095356/89240377-cab45e00-d5b0-11ea-8af1-0162dec411b9.png)

For RZ, with the input file [inputs_rz.txt](

[2020-08-04 01:36] Yin-YinjianZhao commented on #1189
Also, Reva has checked that the parser looks good by printing values from the code and they matched with those in the input file.

[2020-08-04 01:45] RevathiJambunathan commented on #1189
Hi @Yin-YinjianZhao Thank you for the update and for checking this. I wanted to mention that the number of ions per cell in the input_rz file should be 2 2 2.
Sorry! my bad. I gave you mis-information when we talked offline about only the first two dimensions being used.
I checked this now, and in RZ, three values are provided for particles_per_cell. I tested this locally and I get 2 ions per cell

[2020-08-04 18:01] Yin-YinjianZhao commented on #1189
Thanks to @RevathiJambunathan, this issues is solved by the PR #1235 !

[2020-08-04 18:01] #1189 closed, assigned to RevathiJambunathan

[2020-08-06 14:30] lucafedeli88 opened #1238 "Suspicious line found while fixing some warnings"
Hi,
I was fixing some warnings and I came across this one:
[code]
Implicitly converting a `Real` (`m_data` is an `std::vector<Real>`) into an `unsigned int` (`m_data_string` is an `std::vector<string>`) seems a bit suspicious to me...Is there a specific reason?

[2020-08-10 23:26] EZoni opened #1242 "Galilean PSATD in RZ geometry with modes m > 0"
By running the input script [inputs_rz.txt](https://github.com/ECP-WarpX/WarpX/files/5053850/inputs_rz.txt), similar to the one used for the new CI tests galilean_rz_psatd and galilean_rz_psatd_current_correction added in #1216, I get these results for the electric fields Er and Ez:
<p align="center">
    <img src="https://user-images.githubusercontent.com/59625522/89839742-5d11b000-db23-11ea-9bd8

[2020-08-15 21:30] mrowan137 commented on #1238
@lucafedeli88 `m_data[ind_rank]` in this context is a rank and will be no larger than the number of MPI ranks (minus 1).  Unless the number of ranks is larger than the largest possible unsigned int, it should be correct to convert the the `Real` to `unsigned int`.  Thanks for catching this warning, we can make a PR to remove this warning with an explicit conversion.

[2020-08-16 01:30] lucafedeli88 commented on #1238
Ok! I see... thanks for having addressed this!

[2020-08-22 08:36] #1238 closed, assigned to nobody

[2020-09-01 09:15] lucafedeli88 opened #1279 "Suspicious overflow in conversion from `long int` to `int` for NoSplitParticleID variable"
Hi!
while compiling the latest version of WarpX I noticed this warning message:

[code]
It seems quite suspicious to me, so I decided to bring it to your attention. Is this overflow the expected or desired behaviour?

[2020-09-01 17:22] atmyers commented on #1279
Thank you - that is indeed suspicious. I've opened PR #1280 which I believe will fix the problem.

[2020-09-01 21:31] #1279 closed, assigned to ax3l, atmyers, RemiLehe, MaxThevenet

[2020-09-02 21:55] RemiLehe opened #1284 "Add error message when user attempts to use PML with Galilean"
This is not yet implemented.

[2020-09-03 15:33] RemiLehe commented on #1242
@EZoni Thanks again for reporting this. Is this issue still relevant, or has it been fixed by some of the recent changes to the RZ solver?

[2020-09-03 15:56] EZoni commented on #1242
@RemiLehe Yes, the stability issue was fixed via #1254 and can be closed. I believe there is a remaining issue with current correction and high modes (both standard and Galilean PSATD), but I can report on this offline first.

[2020-09-04 13:16] RemiLehe commented on #1242
OK, thanks. I'll close this issue then.

[2020-09-04 14:41] #1242 closed, assigned to nobody

[2020-09-04 17:44] RemiLehe opened #1293 "WarpX does not take into account the mean velocity of each species, when continuously injecting particles"
When continuously injecting particles, it is important to take into account the mean velocity of the particles, in order to ensure that particles are injected with the expected spacing. (This is because particles move between the discrete times at which we inject ; the distance moved will effect the spacing between injected particles, if the injection is done naively.)

In WarpX, we **only** take

[2020-09-04 20:19] RemiLehe commented on #430
@ablelly  started working on this in this branch:
https://github.com/ablelly/WarpX/tree/overlap_pml_mr

For reference, the original PR that implements extended PML (without MR) is here:
https://github.com/ECP-WarpX/WarpX/pull/289
with a subsequent minor fix here:
https://github.com/ECP-WarpX/WarpX/pull/567

[2020-09-08 20:12] ax3l commented on #1232
We merged several fixes for overflowing particle ids in the last weeks, does this problem disappear now with the inputs you used to trigger this?

[2020-09-08 21:01] RemiLehe commented on #430
Here is a (partial) list of what would need to be done:
**The links indicate the corresponding implementation in @ablelly's branch ; but the code would probably need to be edited, because the current main branch of WarpX evolved significantly since then.**
- [x] Creation of the PML for the **coarse patch**, with a number of PML cells tailored in such a way that the **physical size** of the PML for

[2020-09-09 09:35] hightower8083 commented on #1232
Thanx for the response @ax3l !
Unfortunately, for a moment I've no calculation time left on this big machine to make a test..
So assuming this could have been got fixed, I'll close this thread for now, and will update if will see this problem again.

[2020-09-09 09:35] #1232 closed, assigned to ax3l, atmyers

[2020-09-09 17:28] jlvay commented on #430
This is great! Thanks!

[2020-09-10 10:24] lucafedeli88 opened #1308 "Should we implement an utils::enumerate function in WarpX?"
Quite often, in my `for` cycles, I feel the need of something like `for i, val in enumerate(vec)` , which is available in python. Should we consider to implement something like that in WarpX?

As @ax3l once pointed out (https://github.com/ECP-WarpX/WarpX/pull/1239), some people have already done that (e.g. https://faouellet.github.io/enumerate/). I've recently found also this implementation from F

[2020-09-10 13:19] lucafedeli88 opened #1311 "Should we implement a new "extrema" diagnostic in WarpX?"
An open PR (https://github.com/ECP-WarpX/WarpX/pull/988) by @NeilZaim introduces the diagnostic `MaxField` in WarpX. Should we implement something similar also for particles ( I liked this feature in a code that I used in the past ) ?

For instance, we could calculate xmin, xmax [...] pxmin, pxmax [...] gamma_min, gamma_max, wmin and wmax (we have merging and splitting) for each species. For QED s

[2020-09-10 18:43] EZoni opened #1312 "Run 3D Galilean Travis CI tests on 2 MPI ranks"
In the attempt to reduce the execution time of some of the 3D Galilean tests, I tried to check if it would be possible to run on Travis the test **galilean_3d_psatd** with 2 grids on 2 MPI ranks (instead of 1 grid on 1 MPI rank), by removing the following two lines from the input file
https://github.com/ECP-WarpX/WarpX/blob/614dc2962f9b5b576b4f734532c969b89f1316c0/Examples/Tests/galilean/inputs_3d

[2020-09-14 15:59] lucafedeli88 opened #1323 "Is there a way to change the seed of the random number generator 🎲 in WarpX?"
Hi!
With @NeilZaim , we were wondering if there is a way to manually set the seed of the RNG in WarpX with an instruction in the inputfile...
In case there is no way to do that, do you think that it could be interesting to add this feature?

[2020-09-16 00:54] LDAmorim opened #1330 "Sphinx (w spack) build of Docs"
Hi all,

I just wanted to mention an issue when building the docs locally, using `sphinx` version 3.2.0 installed by `spack` since https://github.com/spack/spack/pull/17977 (instead of `homebrew` - i.e. for those of us who like to use `spack` for everything!).

I got this issue in my macOS using:
* **Spack:** 0.15.4-890-88749de5c
* **Python:** 3.7.8
* **Platform:** darwin-catalina-skylake

and fol

[2020-09-16 00:55] LDAmorim commented on #1330
The file below includes all the output of running `sphinx`, v 3.2.0:
[sphinx-err-_ezc68fq.log](https://github.com/ECP-WarpX/WarpX/files/5228911/sphinx-err-_ezc68fq.log)

[2020-09-16 21:04] EZoni opened #1339 "Replace do_nodal with options for staggering independently in each direction"
WarpX currently stores the boolean `do_nodal`, which controls whether the grid points are collocated at the nodes or at the cell centers (following the Yee grid).

Recent observations by @danielbelkin showed that we might want to explore more complex configurations, other than the Yee grid or nodal grid. Some of these configurations were prototyped in #1170, which will be probably replaced and/or

[2020-09-17 17:38] NeilZaim opened #1345 "Computation time given at each step doesn't include time spent in diagnostics"
In the output file the time duration given at each step after `This step = ` does not include the time spent in diagnostics, which is a bit misleading. See example of a few timesteps with full diagnostics turned on below (notice how `Walltime` increases faster than value given after `This step = `)

[code]

Is there a reason for that? If not, do we want to change it?

[2020-09-17 18:53] ax3l commented on #1330
Hi Diana,

Thank you for the detailed report.
This looks like a [breathe](https://github.com/michaeljones/breathe) related issue to me. Can you tell me how you installed breathe (`spack install py-breathe`?) and which version you are using?

If you want to build the documentation with Spack, let us add a Spack environment that essentially does mirror the pip [requirements.txt](https://github.com/E

[2020-09-18 06:07] ax3l commented on #1323
Hi @lucafedeli88 and @NeilZaim,

yes there is - it's called [`warpx.random_seed`](https://warpx.readthedocs.io/en/20.09/running_cpp/parameters.html#overall-simulation-parameters) :)

[2020-09-18 07:41] lucafedeli88 commented on #1323
Ah great! thanks!

[2020-09-18 07:41] #1323 closed, assigned to nobody

[2020-09-18 07:42] ax3l opened #1346 "Diagnostics: Unify Int(erval)/Period/Frequency"
For interval syntax, diagnostics and reduced diagnostics we currently use:
- `<reduced_diags_name>.frequency`
- `<diag>.period`
- `_int`

as keyword namings. This describes always the same thing and should be unified.

Period is nice, because it's a short and full name, not an abbreviation, and clear.
`int` is sub-ideal because it is an abbreviation for int(erval) that is not obvious not newcomers

[2020-09-18 07:49] MaxThevenet commented on #1346
Good point @ax3l, thanks for opening this issue. `period` is fine with me, though the intervals parser is slightly more general than just specifying a period. Alternatively, we could use `<diags>.intervals` (9 letters vs. 6 for `period`, or vs. 7 for `periods` which would be a bit more accurate). Besides being more accurate, it is also the name used in the source code, which makes things slightly

[2020-09-18 07:55] lucafedeli88 commented on #1346
It's a good point indeed!
Among th four options that have been mentioned, my personal ranking is:
1) `intervals` (I agree with @MaxThevenet  that it most accurately describes what the instruction does)
2) `period` (I agree with @ax3l  that it's short and clear)
3) `frequency
4) `_int` (being an abbreviation, it's a bit obscure)

[2020-09-18 07:58] ax3l commented on #1346
Great idea, `intervals` and even `periods` is grammatically better. I am always a bit iffy about using plural by default for readability reasons, but here might be a good case with the nice [intervals syntax](https://warpx.readthedocs.io/en/20.09/running_cpp/parameters.html#intervals-parser) (aka [period syntax](https://picongpu.readthedocs.io/en/0.5.0/usage/plugins.html#period-syntax) :D aka [num

[2020-09-18 08:07] ax3l opened #1347 "Inputs: Unify Value Spellings"
Historically, the values (right-hand-side) of most WarpX inputs used  `word-word2` as spelling for value keywords.

[code]

We now mix a bit with `UpperCamelCase` for allowed values.

Our keys (left-hand-side) use `snake_case` relatively consistently (also with AMReX conventions). Should we unify the right-hand side as well again?
And if so: to `snake_case`, `concatenated-word` or `UpperCamelCase`

[2020-09-18 08:19] lucafedeli88 commented on #1347
I am a big fan of the `snake_case` 🐍  style! I personally think that it's more elegant and more readable !
On the other hand, I don't like too much the `concatenate-word` style (a.k.a. `kebab-case` 🥙).  I don't think that it has particular
disadvantages however (i.e. it's quite readable too).
For what concerns `UpperCamelCase` and `lowerCamelCase` 🐫, I've always found them more difficult to read.

[2020-09-18 09:02] ax3l commented on #1308
Yes, structured bindings are another good reason to switch to C++17 soon-ish. We might want to wait for at least [one further major CUDA release](https://gist.github.com/ax3l/9489132#device-side-c-standard-support) so we are not sitting with an unexpected nvcc compiler bug for `development`, but otherwise I would not hang around with C++14 for too long.

C++17 is a major feature release with a lot

[2020-09-18 09:55] NeilZaim commented on #1346
Good idea to unify these notations. :+1: I'm fine with either `intervals` or `period` (singular or plural).

`diag.period = 100` is probably the most explicit for the more common cases where we just put a single value. But as said before `intervals` is a bit more accurate in more complex cases like `diag.intervals = 500:800:50, 532:532` (although I would not be too bothered by writing `diag.period

[2020-09-18 16:03] Yin-YinjianZhao opened #1351 "A Bug in Restart"
I have tested the restart of WarpX and found a possible bug.

For a simple run (based on a setup that I used recently with Remi for collisions), the restart looks good.
Both plotfiles and reduced diags seem to work fine.
This run uses a moving window in the lab frame, and no field is solved.
The input is attached.
[input1.txt](https://github.com/ECP-WarpX/WarpX/files/5246650/input1.txt)
Directly r

[2020-09-18 16:42] lucafedeli88 commented on #1311
I close this PR because we are actually implementing "extrema" diagnostics!

[2020-09-18 16:42] #1311 closed, assigned to nobody

[2020-09-18 17:25] Yin-YinjianZhao commented on #1351
I did another test using `Example/Physics_applications/laser_acceleration/inputs_3d`, and found a similar error.
[inputs_3d.txt](https://github.com/ECP-WarpX/WarpX/files/5247074/inputs_3d.txt)
After the restart, `domain_dimensions` changed to `64 64 22`, but it should be `64 64 512`.
[code]
Also, the electrons are gone after the restart.
For reduced diags, this time, we can see a difference betwee

[2020-09-18 17:28] Yin-YinjianZhao commented on #1351
@atmyers @WeiqunZhang
Hi Andrew and Weiqun, based on the testing results shown above, do you have an idea where in the code the bug would be? From the 1st test, we may feel the bug is in the diagnostic of plotfiles, since reduced diagnostic works fine. But for the second test, the reduced diagnostic also produces a difference, so I'm not sure anymore.

[2020-09-18 17:30] Yin-YinjianZhao commented on #1351
I did another test using `Example/Physics_applications/laser_acceleration/inputs_3d`, and a similar error.

[2020-09-18 17:43] Yin-YinjianZhao commented on #1351
[plot.txt](https://github.com/ECP-WarpX/WarpX/files/5247285/plot.txt)
Attached a yt script to get the data, however I use gnuplot to plot, but still just in case this script can help.

[2020-09-18 18:42] ax3l opened #1352 "Documentation: Git and GitHub Tutorial"
From reviewing new developers, I feel that the provided `git`/GitHub background resources could be slightly improved, e.g. with an introduction to GitHub and it's user-interface. This even needs to explicitly links on  [how to add images to a comment](https://github.blog/2015-09-25-attach-files-to-comments/) or [how to interact with suggested changes](https://docs.github.com/en/github/collaboratin

[2020-09-21 17:02] lucafedeli88 commented on #1308
Also this proposal could be a great source of inspiration: http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2020/p2164r0.pdf
And it comes with a nice example: https://godbolt.org/z/2Kxo8d

[2020-09-21 20:42] EZoni opened #1360 "Improve API and usage of PMLs"
Based on recent discussions related to the milestone report, it became clear that we would like to have a cleaner API and usage of the PML feature in WarpX.

PMLs are currently controlled by the single variable `WarpX::do_pml`. The combination of PMLs and non-periodic BCs is used in WarpX to realize open BCs.

In the future, we would like to:
1. control the use of PMLs with mesh refinement separat

[2020-09-21 20:43] Yin-YinjianZhao commented on #1351
Fixed by @RevathiJambunathan 's PR #1354 .
Thank you!
Now, all the tests mentioned above produce good matched results!

[2020-09-21 20:43] #1351 closed, assigned to RevathiJambunathan

[2020-09-21 22:32] #645 closed

[2020-09-21 22:51] ax3l commented on #1360
Might be related to discussions in #1334 (there for particles) :)

[2020-09-22 14:53] LDAmorim opened #1366 "Restart missing for PSATD"
Hi all,
The restarts have not yet been implemented for `PSATD` as the following `TODO` abort message explains.
https://github.com/ECP-WarpX/WarpX/blob/1cedb617ba5853d64402e79667a06cb30cd73ed8/Source/Initialization/WarpXInitData.cpp#L254
I am writing it here as an issue so we don't forget it.
Cheers,
Diana

[2020-09-22 16:47] ax3l commented on #1346
Discussed in our developer meeting on 08/22: We will tackle this after the milestone in October because we need to break inputs file syntax for this.

We agreed to go with `<...>.intervals` as unified naming.

@NeilZaim volunteered to update this, thank you! :sparkles:

[2020-09-23 07:48] #1308 closed, assigned to nobody

[2020-09-23 16:33] EZoni commented on #1352
@ax3l Thank you for opening this issue! As discussed briefly offline, I will be happy to help with this! I will start going through the material that you already posted and thinking how to properly incorporate this into our documentation.

[2020-09-23 17:09] lucafedeli88 commented on #1230
I close this issue because there is an open PR to fix this warning in AMReX (https://github.com/AMReX-Codes/amrex/issues/1397)

[2020-09-23 17:09] #1230 closed, assigned to ax3l, atmyers, WeiqunZhang, MaxThevenet

[2020-09-23 20:59] ax3l commented on #1352
This sounds great, @EZoni! Thank you for taking this on :+1:

[2020-09-23 21:00] ax3l commented on #1330
Updated with #1348 :)

[2020-09-23 21:00] #1330 closed, assigned to ax3l

[2020-09-24 00:14] #1037 closed

[2020-09-24 07:26] ax3l opened #1378 "CMake 3.18+: CUDA Arch Detection"
Implement policy: [CMP0104](https://cmake.org/cmake/help/v3.18/policy/CMP0104.html).

Looks a bit cumbersome with 3.18.0+ on Summit otherwise:
[code]

[2020-09-24 15:41] LDAmorim opened #1380 "MPI thread - AMReX"
Hi all,

I asked @ax3l for help with this yesterday and he already fix it in https://github.com/AMReX-Codes/amrex/pull/1406.

But I wanted to open (and close right after) an issue here for future notice.
Just so you would remember to update your `AMReX` repo and for you to know what kind of error message to expect.
(I had a hard time finding it's originating code inside `AMReX` repo/docs.)

I foun

[2020-09-24 15:41] LDAmorim commented on #1380
Closed in AMReX-Codes/amrex#1406

[2020-09-24 15:41] #1380 closed, assigned to ax3l

[2020-09-24 15:44] ax3l commented on #1380
Thanks for documenting this temporary issue. Yes, you got that PR in AMReX right.
Also related to #1376

[2020-09-24 17:13] LDAmorim opened #1381 "RZ+openPMD - Malloc"
Hi all,

I am trying to run `WarpX` in RZ with `openPMD` (to input particles from `openPMD` files) in CORI@NERSC.

And I encountered the error message below.
It does not appear when I read my file in 2D (successful plots in next message).

Googling the first message, it seams to come form some re-writing of a variable.
But I don't know where to look for this (yet!).

So I was wondering if any of y

[2020-09-24 17:15] LDAmorim commented on #1381
I don't know if I am missing a command for RZ or for `openPMD`.

Here is the backtrace, script and input files from this issue:
[script.txt](https://github.com/ECP-WarpX/WarpX/files/5277923/script.txt)
[Backtrace.0.0.txt](https://github.com/ECP-WarpX/WarpX/files/5277924/Backtrace.0.0.txt)
[input.txt](https://github.com/ECP-WarpX/WarpX/files/5277928/input.txt)
[e-_primary_opmd.h5.zip](https://githu

[2020-09-24 18:15] LDAmorim commented on #1381
The 2D `WarpX` executable works and reproduces the correct particle injection from `external_file`.
Figure below shows `openPMD` file data on left  distribution plots (position top / velocity bottom) and `WarpX` diags at time step 0 on right plots.

<img width="909" alt="image" src="https://user-images.githubusercontent.com/15057096/94183204-e91f3300-fe56-11ea-8d3e-7131d36d6f80.png">

[2020-09-30 16:15] LDAmorim commented on #826
Hi and thank you for reporting this @Yin-YinjianZhao !

I found the same error running the current versions on SUMMIT@OLCF GPUs the version of WarpX built with `openPMD` and `RZ`.
And I am not using collisions, just injecting beams (from openPMD external files) that propagate in vacuum.

[input.txt](https://github.com/ECP-WarpX/WarpX/files/5306798/input.txt)
[script.txt](https://github.com/ECP-War

[2020-09-30 16:21] LDAmorim commented on #826
Looking at my backtraces and your messages though, it seems like the source for my issue might be a different function than for yours.

Do you think they are the same issue?

[2020-09-30 16:26] Yin-YinjianZhao commented on #826
@LDAmorim Hi Diana, I don't know, I haven't touched this bug for a while, but I thought it is due to something wrong in the collision module. Maybe you can open a new issue for yours. They could be independent.

[2020-09-30 16:27] LDAmorim commented on #826
Thank you  @Yin-YinjianZhao !
I will do that, open a separate issue and mention this one there.
If it is related, I will be happy to help still!

[2020-09-30 16:37] LDAmorim opened #1399 "RZ + openPMD"
Hi all,

Issue in #826 , reported by @Yin-YinjianZhao , could (or not) be related to this issue.
But I am not using collisions - module that Yin thinks has the source for his issue.

I found the the error message:
[code]
when running the current versions on SUMMIT@OLCF GPUs the version of WarpX built with `openPMD` and `RZ`.
That produced `diag00000` correctly - the 3 beams are injected (from exte

[2020-09-30 16:47] lucafedeli88 opened #1400 "Diagnostic "rho per species" seems to produced also particle output"
A very recent PR ( https://github.com/ECP-WarpX/WarpX/pull/1294 ) implemented a new "rho per species" diagnostic. I think that such a diagnostic is extremely useful. However, looking at the documentation, it seems to me that you cannot have the density of a given species without having also at least the positions of all the particles of that species. Is this the case?
If this is the case, I think

[2020-09-30 17:02] EZoni commented on #1400
Hi Luca,

I think #1294 did not change the default behavior for the output of particle quantities. By reading the documentation, it seems that WarpX always writes the particle positions. I do not know why that was chosen as default behavior. Are you saying that we would like to change this default behavior and avoid writing always the particle positions, unless they are specified explicitly as `<d

[2020-09-30 18:13] ax3l opened #1402 "Reduced Diagnostics: File Handling on Restart"
I think we need to check what happens to output files of reduced diagnostics on restart.

The general challenge with restarts is (w/ example steps):
- sim runs until step 142
- a reduced diagnostics runs every 10 steps
- is restarted from step 100
- continues to generate data from an earlier step onward

Generally, one wants to avoid any noticeable difference in restart runs to runs that are run a

[2020-09-30 18:22] ax3l commented on #1402
@RemiLehe: we could also instead of copying store the full reduced diag file as a string variable with the checkpoint.

[2020-09-30 18:39] EZoni commented on #1400
Another alternative would be to specify `rho` not as part of `<diag_name>.<species_name>.variables`, but somewhere else. I am not sure what would be the best place for that, so I am open for suggestions.

[2020-09-30 20:35] ax3l commented on #1399
@LDAmorim since the input script does not use openPMD - can you please just compile & run w/o openPMD support and thus verify it's really not depending on it?
Update: oh wait, you use openPMD to load data. I see.

[2020-09-30 20:42] #1063 closed

[2020-09-30 22:06] LDAmorim commented on #1399
Thanks for checking this @ax3l !
Yes, indeed, I am loading files (to inject the beams) that were generated using the `openPMD` `series` format.

[2020-10-01 01:33] ax3l commented on #1399
Offline discussed: let's try to run this on one GPU and track the exact location of the memory violation down with `cuda-memcheck`. This seems to be inside a kernel.

[2020-10-01 01:59] LDAmorim commented on #1399
For documentation purposes:
I tested using the versions of the codes below (from about Jul 1) that were taken from when I was doing some test runs with `RZ` and `openPMD`.
And I get the same error message.

Will test with `cuda-memcheck` asap.

[code]

[2020-10-01 10:22] NeilZaim commented on #1400
Hello. First of all, thanks a lot @EZoni for this new diag, it will be very useful for us!

Regarding this issue I agree with Luca: to me it's important from a user point of view to be able to dump rho without having to dump all the particles' positions. On large runs, it can really be inconvenient to need 100s of GBs to few TBs of output to plot a single density map. (I think reducing the quantit

[2020-10-01 15:47] LDAmorim commented on #1399
I ran the very quick test run in my computer (in 1 CPU node).
And also got a `SIGABRT` error at step 1:
[error.txt](https://github.com/ECP-WarpX/WarpX/files/5313271/error.txt)
[output.txt](https://github.com/ECP-WarpX/WarpX/files/5313275/output.txt)
With an empty backtrace.
I will test with `cuda-memcheck` asap.

[2020-10-01 15:53] EZoni commented on #1400
Hi @NeilZaim and @lucafedeli88, thanks for your feedback!

The rationale that I had in mind at the beginning was to avoid a situation like (or similar to)
[code]
which might seem redundant and might increase the likelyhood of typos in the species name.

However, I agree with you on the fact that the item `rho_electrons` above would belong more logically to the grid fields rather than the particle

[2020-10-01 16:23] #1132 closed, assigned to nobody

[2020-10-01 17:59] LDAmorim commented on #1399
Update:
I managed to find the error - using NCI corrector with RZ is not possible.

This issue is no longer present with PR # #1405.

[2020-10-01 17:59] #1399 closed, assigned to nobody

[2020-10-06 15:16] lucafedeli88 opened #1415 "WarpX cannot be compiled with RZ + single precision"
When compiling WarpX with RZ + single precision I get a number of error messages such as:
[code]
Indeed, `sx_new` and `sz_new` are `double` arrays. This was done on purpose to avoid bugs in single precision, according to a comment in the code. However, it seems to prevent compilation in single precision entirely. Is this the intended behaviour?

[2020-10-06 17:44] lucafedeli88 opened #1416 "Issue concerning moving window direction and laser direction not being aligned"
Hi!
I have observed a weird behaviour of laser injection when the moving window direction is not aligned with the laser direction.
To be more specific, this is my inputfile:
[code]
Here is the field I get:
![immagine](https://user-images.githubusercontent.com/4558310/95239966-05827e80-080c-11eb-9200-93ed22814cff.png)

However, if I set the direction to `1. 0. 0.` everything seems fine:
![immagine]

[2020-10-07 10:37] NeilZaim opened #1420 "Boundary conditions with PSATD"
I've been testing the boundary conditions in a very simple 2D case with a laser aligned with one of the axes, either with `do_pml = 0` or `do_pml = 1`. When I use the Yee solver, the behaviour is good: `do_pml = 0` corresponds to reflecting boundary conditions (although I don't think this is explicitly stated in the docs I'm assuming this is the expected behaviour) and `do_pml = 1` corresponds to

[2020-10-07 16:16] RemiLehe commented on #1420
Thanks a lot for pointing out this problem!
The behavior for `do_pml=1` in particular is quite surprising. We have an automated test that looks at the absorption of a laser with PML:
https://github.com/ECP-WarpX/WarpX/blob/development/Examples/Tests/PML/inputs_2d
in which we check that the PML absorb the laser properly with PSATD:
https://github.com/ECP-WarpX/WarpX/blob/development/Examples/Tests/

[2020-10-07 17:08] EZoni commented on #1420
Also, I remember PMLs with PSATD being sensitive to whether `rho` is used in the update equations for the electric field or not, maybe due to a sort of discontinuity in how the update equations are implemented with or without `rho` inside the domain or in the PMLs.

The CI test runs with `psatd.update_with_rho = 1`, while the default for PSATD simulations is `psatd.update_with_rho = 0`.

It would

[2020-10-08 01:48] lucafedeli88 commented on #1416
I think that I understand a bit better what causes the issue that I observed. Basically, at time t=0 the antenna is partially out of the simulation box (i.e. a region of the antenna which would normally generate a signal is out of the simulation box). I am not sure to understand what happens when the moving window brings this region of the antenna into the simulation box...

[2020-10-08 14:01] lucafedeli88 commented on #1415
This issue has just been fixed

[2020-10-08 14:01] #1415 closed, assigned to mrowan137

[2020-10-08 17:23] NeilZaim commented on #1420
Thanks for your replies @RemiLehe and @EZoni ! I've been running the tests that you suggested:

- The automated test indeed looks good.
- `psatd.update_with_rho` does not seem to have a major effect in these specific scenarios.
- I think the main difference between the test I've presented above and the CI test is the resolution.

To confirm this, I've run a small scan using the automated test and

[2020-10-12 07:43] #1400 closed, assigned to EZoni

[2020-10-13 08:45] hightower8083 opened #1430 "Using checkpoint/restart or having start/stop option for the moving window during the run"
Hi devs, i've a small question

I need to model interaction of a relativistic e-beam with some target and see its evolution, but `initialize_self_fields` fails to converge (i.e. rapidly diverges to `10e20`).

So I try to do a _composite_ case, where a window moves for some distance (to develop the correct beam fields), and then stops to resolve interaction with a target and its evolution. To do th

[2020-10-13 11:02] NeilZaim commented on #1402
Hello. I've just tested the behavior of reduced diags with restarts. Basically, we currently just keep appending data to the output file specified in the input file (if the output file does not exist upon restart it is created and no header is written). It behaves exactly as you'd expect (no gaps in data, no duplicate timestep) if:
- The initial output file has not moved between the initial run an

[2020-10-13 16:19] ax3l opened #1434 "Particle Diagnostics: AoS selection"
## plotfiles and openPMD

Currently, in `<diag_name>.<species_name>.variables` we can select SoA particle attributes (momentum, weight, etc.).

We realized that (un)selecting the AoS (positions, id/cpu) would be useful as well. Currently, those attributes are always written.

[2020-10-13 16:43] ax3l opened #1435 "Regression Tests: Make Everything a Restart-Test"
We realized that ensuring the book keeping in start/restart requires a more wholistic approach.

@atmyers had the idea to make every test a restart tests [`restartTest = 1`](https://github.com/ECP-WarpX/WarpX/blob/875fdded8fcd29d381d9887f68739e3acc9cb842/Regression/WarpX-tests.ini#L865-L881). This will essentially run them twice and should uncover missing restart functionality in newly added tests

[2020-10-13 22:50] Yin-YinjianZhao opened #1438 "Issue of Restart: Particle Injection"
Here I post my findings for the issue of restart.

I used an input script based on `Examples/Physics_applications/plasma_acceleration/inputs_3d_boost`.
[inputs_3d_boost.txt](https://github.com/ECP-WarpX/WarpX/files/5374560/inputs_3d_boost.txt)

My work flow is as follows.

- Directly run the attached input script, which leads to a simulation without restart.
- Rename the folder `diags` to `diags_n

[2020-10-14 08:34] ax3l commented on #1308
Discussed in a developer meeting recently: we actually do not plan to stick with C++14 for too long.

Once we switch to C++17 and have structured bindings available, we should reconsider :)

[2020-10-14 13:01] NeilZaim opened #1439 "Field diagnostic coarsening ratio requires the boxes to be coarsenable"
So if we want to have a coarsening ratio of `n` in one direction, the size in this direction of every box must be a multiple of `n`.

When we use `max_grid_size` and `blocking_factor` to do the domain decomposition, this can be satisfied by requiring that `n` divide the blocking factor in this direction. This is what is specified in the docs and we even have an assert for that.

Now, if we use `wa

[2020-10-14 16:36] ax3l opened #1441 "Stop the Moving Window"
@hightower8083 asked on Gitter about a functionality to stop the moving window after a certain time step.

He currently tries to achieve that with the `Physics_applications/plasma_acceleration/inputs_2d` example, restarting at a certain time step, and then re-starting with a changed input file with `warpx.do_moving_window` changed to `0`, which is not successful (fields are off).

Looks similar to

[2020-10-14 17:22] hightower8083 commented on #1441
yes the idea is to deactivate the `moving_window` via sectioning the run with checkpoint/restart and use a modified input script for the restart.
For a  minimal example one take `plasma_acceleration/inputs_2d` and modify the corresponding lines:
[code]

For restart, one can use same script and modify it as following:
[code]

Considering the `particles` diagnostics one can see that windows does get

[2020-10-14 21:59] ax3l commented on #1441
As a quick-hack, try to execute this block unconditionally (`if(true)`) for the executable used during restart:
https://github.com/ECP-WarpX/WarpX/blob/c0ee57664cedc31a5c16c809482e3068828a7755/Source/Diagnostics/Diagnostics.cpp#L222-L229

[2020-10-15 13:42] hightower8083 commented on #1441
I think for a moment i'll better focus on the #1442 rather than on the hacking the restart, although IMHO having the window modifiable at restart could be a great tool allowing more flexibility for the  composite cases

[2020-10-15 16:24] MaxThevenet opened #1443 "WarpX nvcc linking stalls on Juwels"
When compiling WarpX on Juwels at JSC, the compilation works fine but the nvcc linking hangs forever (step `Linking main3d.gnu.TPROF.MTMPI.CUDA.ex ...` never finishes).
My `warp.profile` looks like (I removed things I think don't matter)
[code]
`module list` returns
[code]
A few additional points:
- WarpX compiles fine on other platforms, of course
- When compiling with CMake, the same problem hap

[2020-10-15 21:19] ax3l commented on #1443
Thank you for the details and JSC support mail kick-off.

For completion, can you please post the last lines shown by `make VERBOSE=ON` and also the full output of `cmake [...]` when run in a fresh/empty build directory?

Things we already tried (on Slack):
- [x] serial build
- [x] CUDA 10.1 supports GCC 8: https://gist.github.com/ax3l/9489132
- [ ] build in tmpfs
- [ ] explicitly set CUDA SM

[2020-10-16 06:56] #1430 closed, assigned to nobody

[2020-10-16 16:25] MaxThevenet commented on #1443
So after further tests, the code compiles successfully on CUDA/11 and GCC/9.3, and the linking doesn't hang anymore. Unfortunately, these are experimental modules on Juwels, so we cannot run a simulation with this executable. Unsurprisingly, the code compiles fine on CPU.

I know that the code worked fine at the beginning of the month on commit https://github.com/ECP-WarpX/WarpX/commit/73caf7421f9

[2020-10-19 16:13] MaxThevenet commented on #1443
Lewis (@lboult) went through the process of `git-bisect`ing the issue (thanks a lot for that!), and found that the commit that introduced the issue https://github.com/ECP-WarpX/WarpX/commit/02978bc8e4ecc12a74bceeb38e5dbc82615c75e2,  from PR https://github.com/ECP-WarpX/WarpX/pull/1156.

@WeiqunZhang @ax3l do you see what could have cause the linking error (with GCC/8.3.0 and CUDA/10.1.105) from th

[2020-10-19 16:52] lboult commented on #1443
Hey guys, yes please let me know if I can be of more help with tests!

[2020-10-19 21:27] ax3l commented on #1056
Docs: https://amrex-codes.github.io/amrex/docs_html/Basics.html#debugging

We should consider adding `amrex.fpe_trap_invalid`, `amrex.fpe_trap_zero`, `amrex.fpe_trap_overflow`, and `fab.init_snan` to CI.

[2020-10-20 10:11] MaxThevenet commented on #1443
Update: I hacked a little bit into `Source/Parser/wp_parser_c.h`, and producing a dummy code where `wp_ast_eval` take only one template parameter `template <int Depth>` instead of 2 including 1 optional `template <int Depth, std::enable_if_t<(Depth<WARPX_PARSER_DEPTH), int> = 0>` fixed the issue. However, I had to do other stupid things for this to work, so I don't know precisely what fixed the is

[2020-10-20 12:33] AndiH commented on #1443
Jumping in here from JSC!

That's not true. Although not part of the production stage of software, we will make it the production stage in a few weeks. Right now, `Stages/2019a` is the default, in a few weeks, `Stages/2020` is the default which you can start using already now. It's 80% complete.

No changes were made on the system with software from `Stages/2019a`. We try to leave production stage

[2020-10-21 16:22] MaxThevenet commented on #1443
Thanks @AndiH for coming to help. I looked at the code but couldn't find an obvious fix that would still preserve the code capabilities. In the end, I created a new branch from an old working WarpX commit, and cherry-picked recent changes needed by @lboult. This is available on that branch https://github.com/MaxThevenet/WarpX/tree/lewis. @lboult confirmed that it fixes the issue.

This should be s

[2020-10-22 06:42] AndiH commented on #1443
Alright! I'll close the issue on our side as well.

You can always already use the 2020-Stages with
[code]
… but I think you know that already.

[2020-10-22 06:47] MaxThevenet commented on #1443
@AndiH actually, could you keep it open, at least this morning? We were fooled by the test we did, it worked for thousands of iterations but then crashed shamelessly... @lboult will give us an update this morning.

As for
[code]
I tried that, and the code compiles fine, but it crashes at runtime. We concluded that this was still an experimental installation, not yet ready for production, so we sho

[2020-10-22 06:50] AndiH commented on #1443
Ah, too late – but I can reopen it; no problem.

The new stage should be about ready to go, so any crash you get right now is not expected. We've just not _released_ the stage yet because we have not reached the end of the list of software we need to provide.
Please report your crash to the ticket you filed (actually, that will reopen it). Any analysis you can already do on your part is greatly ap

[2020-10-22 06:52] MaxThevenet commented on #1443
Ok I'll re-create the bug, document it and provide a reproducer.

[2020-10-22 07:57] MaxThevenet commented on #1443
So after more cherry-picking, Lewis is able to run his simulations on Juwels. Thanks for your help!

[2020-10-22 08:01] AndiH commented on #1443
Alright! That does mean I can close the ticket again, right?

[2020-10-22 08:30] MaxThevenet commented on #1443
Wait, now I am confused:

**Problem 1**: Linking hangs forever, so we can't do our production runs. Going back to an old working version and cherry-picking required commits provided a sufficient workaround for now, so: **problem solved**

**Problem 2**: with `Stages/2020`, WarpX compiles but crashes at runtime: **problem NOT solved**

You proposed:

so I did that as a continuation of the ticket. D

[2020-10-22 09:19] AndiH commented on #1443
You said in your previous comment

I assumed that was referring to "**Problem 2**". If not, what was it referring to?

And yes, I was referring to the details you send around 9:35 today, reopening ticket 1041033.

[2020-10-22 09:24] MaxThevenet commented on #1443
Alright, sorry, that was still problem 1. It was an update to my comment this morning:

so problem 2 is still not fixed, and any help to fix it would still be much appreciated.

[2020-10-22 09:24] AndiH commented on #1443
Ok! Got it!

[2020-10-22 10:50] #1443 closed, assigned to ax3l, MaxThevenet

[2020-10-22 21:16] LDAmorim opened #1453 "Build on Summit"
Hi everyone,

Sorry if we discussed this issue recenly and I forgot how its fixed (or how to correctly compile the current code versions in Summit).

I tried to compile WarpX in Summit@OLCF and got the following warning message as the end of the output:
[code]

To double check this issue I deleted my codes versions and re-cloned them from github and then I tried to compile WarpX with the commands

[2020-10-22 23:15] lucafedeli88 opened #1455 "Should we add the `-Werror` compiler flag to the CI builds?"
We are very close to eliminate all the compilation warnings for WarpX*, at least when `g++` is used (`clang` is more severe).
As @EZoni and @ax3l have suggested in the past, should we add the `-Werror` compiler flag to the CI builds, so that we can be sure that new PRs do not introduce new warnings?

* to give and idea, if I compile with `cmake` with the default settings and `g++ 9.3.0` I have zer

[2020-10-22 23:17] #1416 closed, assigned to nobody

[2020-10-23 01:07] ax3l commented on #1455
Yay! :tada: I started this in #1457 for the GH action compile checks (NVCC, ICC, DPC++, HIP).

Not sure how to pass this extra flag to the  `regtest.py` suite since it relies on GNUmake that in turn does not incorporate the Unix `CXXFLAGS` environment hints: https://github.com/ECP-WarpX/regression_testing; might need an addition so we can set its `XTRA_CXXFLAGS` without posting it in each entry of

[2020-10-23 01:11] ax3l commented on #1455
@WeiqunZhang @atmyers shall we add this to AMReX as well? If we only add this in WarpX CI, we will potentially fail our CI if a new warning is merged into AMReX.

[2020-10-23 02:47] ax3l commented on #1455
We are close! :rocket:

I currently still see those warnings on Summit:
[code]

The 2nd is #1453

In CI I see in AMReX:
- https://github.com/AMReX-Codes/amrex/issues/1478
- https://github.com/AMReX-Codes/amrex/issues/1479

[2020-10-23 08:01] ax3l commented on #1453
Hi Diana,

the warning can be ignored but should be fixed.
https://github.com/ECP-WarpX/WarpX/blob/bc3bf28155c3257e7fd6386bd43a9f9fd52b7287/Source/Parallelization/WarpXRegrid.cpp#L80
If you like you can take this on: `nboxes` is stored as a `amrex::Real` because it is used above in a floating point operation. If you want to fix this in-place in line 80, you could add a `static_cast<std::size_t>()`

[2020-10-23 08:15] ax3l commented on #1381
Sorry, I have not seen this earlier. Feel free to @-me so I receive a notification.

Is this problem still up to date? I cannot see the exact lines, but going back a month in the code it looks to me, in combination to the lines that `Bracktrace.0.0.txt` points to, that this has something to do with the parsing of the input options inside `PlasmaInjector::PlasmaInjector (int ispecies, const std::st

[2020-10-23 10:35] LDAmorim commented on #1453
Hi @ax3l,
Thank you so much for the detailed reply and fix!

I will be very happy to apply both the warning fix and the update to the documentation (and I will link the PRs to this issue).

And thank you @mrowan137 for following up on the related question in `slack`.

Cheers,
Diana

[2020-10-23 10:38] LDAmorim commented on #1381
Hi @ax3l!
Thanks for following up on this.
I will test it again asap and share the updates here.
Cheers,
Diana

[2020-10-23 16:08] lucafedeli88 commented on #1455
Uhm... it's UB right? I think that it is my fault.  I can fix it with something like `std::memcpy(&m_params.nt, buf, sizeof(uint32_t))` .  Actually, I used this unsafe type punning technique multiple times in that file. I will open a PR.

Btw, which combination of compiler and compiler options gave you this warning? I have never seen it on my machines...

[2020-10-23 18:46] WeiqunZhang commented on #1455
With #1466, DPC++ build is warning free for me.

[2020-10-23 21:52] Yin-YinjianZhao opened #1467 "Possible Bug in Back-transformed Data"
Recently, I've been running WarpX using an input script: [input.txt](https://github.com/ECP-WarpX/WarpX/files/5431879/input.txt).
(It is not a short simulation, but can be terminated earlier for the purpose of debugging.)

If I use the script [plot_boost.txt](https://github.com/ECP-WarpX/WarpX/files/5431884/plot_boost.txt) to read the data and make plots in the boosted frame, I got for `E_x`:
![Ex

[2020-10-24 12:00] lucafedeli88 commented on #1455
This PR should fix the issue: https://github.com/ECP-WarpX/WarpX/pull/1470 .

[2020-10-26 09:31] wangjia-ai opened #1472 "Questions about warp-x"
hello
I meet some questions when learning warp-x, in the input file of laser drivering accelerator, there are only some parameters about electrons, but where are the positive charges in the plasma? And what is the meaning of rho parameter----only containing the charge density of electrons OR containing all the charge density of electrons and  positive charges???
thanks

[2020-10-26 17:47] Yin-YinjianZhao commented on #1472
@wangjia-ai Hi, from my understanding, if only plasma electrons are provided in that input file, a neutralizing background will be added in the code automatically for the purpose of charge neutrality. Is that correct @ax3l ?

[2020-10-26 20:25] ax3l commented on #1453
Fixed with #1461 and #1462, thank you @LDAmorim ! :tada:

[2020-10-26 20:25] #1453 closed, assigned to LDAmorim

[2020-10-26 20:45] ax3l commented on #1378
Fixed in #1459

[2020-10-26 20:45] #1378 closed, assigned to ax3l

[2020-10-26 20:47] RevathiJambunathan commented on #1467
@Yin-YinjianZhao which snapshot in particular did you use for visualization? the 0^th snapshot?

[2020-10-27 03:17] wangjia-ai opened #1475 "An error when running warpx with ionization injection with external B field"
Recently, I am running a case of ionization injection with external B field , but here is an error which I cannot solve .
Error:
Grids Summary:
  Level 0   400 grids  104857600 cells  100 % of domain
            smallest grid: 64 x 64 x 64  biggest grid: 64 x 64 x 64

2::Assertion `write_int_comp.size() == 0u' failed, file "./Source/Diagnostics/WarpXOpenPMD.cpp", line 368, Msg: "openPMD: Particle

[2020-10-27 06:14] ax3l commented on #1472
Hi @wangjia-ai, thank you for posting your questions, welcome to WarpX :sparkles: and thanks @Yin-YinjianZhao for quickly helping.

Yes, you are right: if we only initialize electrons without associated fields, the electromagnetic particle-in-cell algorithm will automatically build up fields when displacing them through currents - which looks exactly as if electrons were initially resting over inf

[2020-10-27 16:22] ax3l commented on #1455
@lucafedeli88 sorry this slipped me, yes I saw this with GCC 6.4.0 + CUDA on Summit with the usual modules and CMake: https://warpx.readthedocs.io/en/latest/building/summit.html

[2020-10-27 16:46] RemiLehe opened #1476 "Document new option `numprocs` ; use it in the examples"
This option makes it easier for the user to use a reasonable domain decomposition.

It should be documented, and used in the default examples.

[2020-10-27 17:13] lucafedeli88 commented on #1455
Thanks really a lot @ax3l !

[2020-10-27 17:46] ax3l commented on #1455
As discussed in our developer meeting, let's start with GCC/Clang coverage for host builds: https://github.com/AMReX-Codes/amrex/pull/1484

Then later on add CUDA (besides the already covered `*this` capture that is always an error) and if they become more stable DPC++/SYCL.

[2020-10-29 01:35] RevathiJambunathan opened #1479 "WarpX reflection boundary not same as perfect electric conductor (PEC)"
The perfect electric conductor boundary condition requires that the tangential components of the E-field and normal component of the B-field are zero.

Currently for FDTD simulations, when periodic = 0, and do_pml = 0, the E-B fields in WarpX undergo reflection, however, the reflection changes the phase of the E-B wave. To show the differenece between WarpX reflection and PEC, I ran a case using t

[2020-10-29 16:06] Yin-YinjianZhao commented on #1467
When increasing `driver.npart` and `driverback.npart` from 1000 to 10000, the back-transformed plot look like:
![Ex_lab](https://user-images.githubusercontent.com/56095356/97599905-bb815880-19c5-11eb-9c6d-ee53adbff223.gif)
It seems like the weird fields are not improved.

[2020-10-29 16:13] RevathiJambunathan commented on #1467
Thanks for testing this! Will take a closer look

[2020-10-29 20:17] Yin-YinjianZhao commented on #1467
Then, `warpx.cfl = 0.95` is used to try to decrease the numerical dispersion.
![Ex_lab](https://user-images.githubusercontent.com/56095356/97627679-efba4080-19e8-11eb-9777-e454e59ec41c.gif)

[2020-10-30 16:07] Yin-YinjianZhao commented on #1467
@RemiLehe @jlvay @RevathiJambunathan
So, do those vertical lines acceptable? Should I close the issue?

[2020-10-30 17:51] RemiLehe opened #1484 "Update documentation on PML"
The WarpX documentation does not correspond to the algorithm that is implemented in WarpX (which uses a 2-step PML):
https://warpx.readthedocs.io/en/latest/theory/PML.html
This should be updated.

[2020-10-31 02:58] #1467 closed, assigned to RemiLehe, RevathiJambunathan

[2020-11-02 17:29] hightower8083 opened #1489 "openPMD-api build instructions"
hey @ax3l,

I've noticed a minor inconsistency in the [openPMD-api build instructions](https://github.com/ECP-WarpX/WarpX/blob/development/Docs/source/building/openpmd.rst#installing-openpmd-api-from-source) for WarpX

Here  you write
[code]

but in my case, the `openPMD-install` folder contains `lib64` instead of `lib` so this path should be corrected..

[2020-11-02 20:02] ax3l commented on #1489
Hi @hightower8083,

Thank you for the report. Yes, this seems to be the default on some Linux with multi-arch support. We recently updated this in the upstream docs: https://github.com/openPMD/openPMD-api/issues/792 and we should update this here, too. Will do a PR: #1491. (The Cori docs have the right `lib64` as specific to that system.)

[2020-11-02 22:11] hightower8083 commented on #1489
Thanx!
This issue kept me puzzled for some minutes, so its good to get it mention, so that copy-pasters won't need to do more thinking than strictly necessary =)

[2020-11-02 22:11] #1489 closed, assigned to ax3l

[2020-11-03 00:08] ax3l commented on #1489
Absolutely, thanks for reporting :+1:

[2020-11-03 11:14] wangjia-ai opened #1493 "Laser-ion acceleration"
hello everyone:
I want to ask some questions that have bothered me for a long time .
In the input file of the  case of Laser-ion acceleration , why the parameter '' do_field_ionization = 1'' is ignored??
And when I run the warpx with species that is ionized ? There are always some errors ??
Thanks very much

ions.mass = 2.3428415e-26
ions.charge = q_e
ions.injection_style = nuniformpercell
ions.nu

[2020-11-03 11:59] wangjia-ai commented on #1493
I found that if I used the default file output, there was no error, but if I used the H5 file output, it would be wrong

[2020-11-04 14:47] hightower8083 opened #1495 "Initial output and use of interval parser for checkpoint diagnostics"
I've noticed that (at least) `checkpoint` diag always produces output for the 0th time-step which does not make much use but takes disk-space and writing time. I've tried to suppress this output using interval parser form `diag_restart.period = 1000::1000` but it did not help. Am I doing something wrong or its a bug?

[2020-11-05 11:04] LDAmorim opened #1497 "Build RZ error fftw (even without PSATD)"
Hi everyone,

AS discussed with @ax3l and @dpgrote , I just tested the RZ build again.
And I still get the error message that triggered PR #1494 (that lead to PR #1496) due to the missing fftw3 header file.
[code]

This happens even in my local computer; even when I use `cmake` instead of `make`to build WarpX with RZ and even when I specify (and you can see below that `cmake` reads it correctly) '

[2020-11-05 12:06] NeilZaim commented on #1495
Hello @hightower8083. I think you're right: the current behaviour of diagnostics is to always dump the first and last timestep. I think we could consider changing that, especially regarding the first timestep which often does not contain much information.

@ax3l @RemiLehe Do you think it's a good idea to turn off always dump diags at the first (and possibily the last) timestep or at least to add a

[2020-11-05 12:27] hightower8083 commented on #1495
thanx for you response @NeilZaim !
I'm not sure about disabling the dump diags at the first timesteps (at list as some default option) -- this was my goal here, but in a general case 0th step is also useful.
Ideally would be to make the diags  follow the parser rules, as given in the [corresponding examples](https://warpx.readthedocs.io/en/latest/running_cpp/parameters.html#intervals-parser):
[cod

[2020-11-05 16:45] dpgrote commented on #1497
I see what is probably the issue. At line 6 in RhoFunctor.cpp, SpectralFieldData.H is included with dims RZ. This should only be included if this is RZ and PSATD. I'll post a PR to fix this.

[2020-11-05 18:22] dpgrote commented on #1497
@LDAmorim Can you try PR1498 and see if it resolves the issue?

[2020-11-05 21:44] ax3l commented on #1497
@LDAmorim I'll go ahead and merge the PR since it looks great - but leave this issue open until you can confirm this fixes the issue for you.

[2020-11-06 09:42] LDAmorim commented on #1497
Thank you @ax3l ! I will try to check this asap.

[2020-11-16 19:59] ax3l commented on #1493
Hi @wangjia-ai,

sorry for the delay in answering, we were (and still are this week) busy with virtual conferences.

It is ignored because it is commented out: the line starts with a `#` sign.
I added the laser-ion acceleration example recently and just add ionization physics as an example to modify the setup. By default, the example uses a pre-ionized target.

Can you elaborate a little on this a

[2020-11-16 23:33] #1420 closed, assigned to nobody

[2020-11-17 08:02] wangjia-ai commented on #1493
Input File:
[code]

And here is the error:
[code]

But if I delete the lines
[code]
or delete the ions species, WarpX can run normally!
@ax3l

[2020-11-18 17:34] aeriforme opened #1518 "non-physical electrons behavior in laser-solid interaction"
Dear developers,

I have recently encountered some problems when running 2D simulations with WarpX. The simulations consist of a high-intensity (a0=40) ultra-short (30 fs) laser that interacts with a double-layer solid target of micrometric thickness. The first layer has a density close to the critical value, the second one is a high-density layer. We want to simulate the heating of electrons with

[2020-11-18 18:26] lucafedeli88 commented on #1518
Thanks for having opened this issue. We will have a look as soon as possible.

[2020-11-18 19:02] RemiLehe commented on #444
There is a corresponding PR:
https://github.com/ECP-WarpX/WarpX/pull/733
However, this does not take into account the careful PML-PSATD analytical integration that was performed here:
https://github.com/ECP-WarpX/WarpX/pull/1513
Therefore, PR #733 may need to be revisited in light of #1513.

[2020-11-23 06:58] ax3l commented on #1497
I think #1498 should fix this :tada:, does this work for you, too?

[2020-11-23 12:40] hightower8083 opened #1527 "bug in stretching of the gaussian laser due to the temporal chirp"
Just a quick reminder to @RemiLehe from our offline discussion about the issue with a too much stretching due to `phi2` term. Possible origin is a missing factor `1._rt / stretch_factor**0.5` at the end of [this operator](https://github.com/ECP-WarpX/WarpX/blob/a5890bf66f599bd5c62604664d65559038d3cbe8/Source/Laser/LaserProfilesImpl/LaserProfileGaussian.cpp#L128-L136), which one can find [in FBPIC]

[2020-11-23 17:43] RemiLehe commented on #1527
Thanks for the reminder!
I am working on this ; could you please post the input script (or a modified version thereof) in which you observed the issue?

[2020-11-23 18:17] hightower8083 commented on #1527
OK, i've re-run the tests and it appears it was my bug in defining the FTL duration which gave a wrong stretch estimate.. So there is nothing wrong with the laser!
Closing this now.

[2020-11-23 18:17] #1527 closed, assigned to nobody

[2020-11-23 20:19] ax3l commented on #1518
@aeriforme thank you for reporting & posting the details! We are over here coming out of conference weeks and going into the thanksgiving week, sorry for the delay.

Can you please do a plot of the accumulated "rho" to double-check if the overall initial target is as planned quasi-neutral?
It looks to me like the substrate might not be quasi-neutral:
[code]
I think this might have to read `2.0826e

[2020-11-24 00:37] lucafedeli88 commented on #1518
I can confirm that the charge of the substrate ions is an issue. I ran the simulation myself and I added the densities, obtaining this:
![immagine](https://user-images.githubusercontent.com/4558310/100031203-4d2d8b80-2df5-11eb-9b4c-46e39934f06e.png)
Since at t=0 the fields are zero, this means that the target behaves as if there was an immobile, very dense, ion layer. Such layer can lead to an unp

[2020-11-25 18:28] EZoni opened #1534 "Calls to FillBoundaryAux()"
Following up on #1522, this is to remind us that the following call
https://github.com/ECP-WarpX/WarpX/blob/bedec348b35ac28cf85cfe588e0ffd618fb2a1f9/Source/Evolve/WarpXEvolve.cpp#L117-L120
seems necessary in order for the NCI corrector (with the FDTD solver) to work correctly with mesh refinement.

In other words, if that call is removed, the CI test `nci_correctorMR` fails (no NCI mitigation).

H

[2020-11-30 17:01] #1312 closed, assigned to nobody

[2020-11-30 17:18] #570 closed

[2020-11-30 17:23] RemiLehe opened #1537 "Expand Poisson solver capabilities"
WarpX has a nice electrostatic mode.
However, some advanced capabilities are missing for the moment:
- [ ] Mesh refinement. (The code might already be working with electrostatic and mesh refinement, but it would need to be tested.)
- [ ] RZ geometry
- [ ] complicated boundaries
- [ ] Make it work with different types of centering (nodal / cell-centered)

[2020-11-30 19:36] RemiLehe commented on #13
@Yin-YinjianZhao Could you confirm that this issue was fixed in your latest tests with checkpoint/restart?

[2020-11-30 19:38] RemiLehe commented on #38
@atmyers Has this issue been fixed?

[2020-11-30 19:38] RemiLehe commented on #42
Since we are no longer using the `PICSAR` current deposition, this issue can be closed.

[2020-11-30 19:38] #42 closed

[2020-11-30 19:39] ax3l commented on #1443
I realized a few weeks later: we could-have worked around this by just using another linker with CMake.

By default, CMake uses for CUDA projects the host compiler's toolchain as linker, which is usually the best choice. We saw that our GNUmake build system did not hang, as it linked with nvcc. The corresponding CMake option to change the default linker is:
[code]

So likely `-DCMAKE_LINKER=$(whic

[2020-11-30 19:46] RemiLehe commented on #136
This has been implemented in #724

[2020-11-30 19:46] #136 closed

[2020-11-30 19:46] #326 closed

[2020-11-30 19:47] atmyers commented on #38
Yes it has, I will close the issue.

[2020-11-30 19:47] #38 closed

[2020-11-30 19:49] RemiLehe commented on #319
@MaxThevenet Do you think that his issue is resolved?

[2020-11-30 19:54] #237 closed

[2020-11-30 19:56] RemiLehe commented on #222
You can now inject particles from an external openPMD file by using:
`<species_name>.injection_style = external_file` (see the WarpX documentation)

[2020-11-30 19:56] #222 closed

[2020-11-30 19:57] #167 closed

[2020-11-30 19:59] RemiLehe commented on #364
This is now implemented thanks to #853

[2020-11-30 19:59] #364 closed

[2020-11-30 20:02] RemiLehe commented on #643
This was probably fixed by #830. Is that correct @lucafedeli88 ?

[2020-11-30 20:19] MaxThevenet commented on #319
Particle splitting has not been ported to GPU yet.

[2020-12-01 23:05] Yin-YinjianZhao commented on #13
I tried it with an updated version of the input script attached.
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/5625957/inputs.txt)
After running it once, uncomment `#amr.restart = diags/diag00100` and rerun to restart the simulation.
The segfault does not occur anymore and the code can restart successfully, as shown below.
[code]
We may close the issue.
@RemiLehe

[2020-12-01 23:34] RemiLehe commented on #13
Thanks for checking @Yin-YinjianZhao

[2020-12-01 23:34] #13 closed

[2020-12-02 10:09] lucafedeli88 commented on #643
Ah, yes! We can close this issue.

[2020-12-02 10:09] #643 closed

[2020-12-02 10:26] hightower8083 opened #1543 "openPMD data in RZ reads as cartesian instead of thetaMode geometry"
For some reason I cannot get openPMD diagnostics working correctly in RZ.
I build WarpX with `openpmd-api@0.13.0-beta` which is also built from source, and use `bp` backend with adios2 which is also build from source.
When I read the diagnostics data with `openmpd-api@0.12.0-alpha` shipped by **conda**, or with `openpmd_viewer` (built-upon this api), its recognises `Geometry.cartesian` instead of

[2020-12-03 00:00] ax3l commented on #353
@RemiLehe I think we are not yet writing individual modes of the field, are we?

[2020-12-03 10:33] wangjia-ai opened #1546 "Ionization Physics: Restart Broken"
Dear developers:
        Recently, I was trying a simulation with restart, but I encountered a problem. My steps are as follows:

[inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/5635437/inputs_2d.txt)

       1: Change  max_step=4  to  max_step=2 ,  and run it.
       2: Change  max_step=2  to  max_step=4 ,and uncomment  amr.restart = diags/chk00002/  , run it.
       but,there is an erro

[2020-12-04 04:41] RemiLehe commented on #1543
Thanks a lot for reporting this issue!
Do you know whether this does also happen with the `h5` backend?

[2020-12-04 15:49] hightower8083 commented on #1543
its the same for `bp` and `h5` backends. I've added a more detailed issue with other comments [here](https://github.com/openPMD/openPMD-viewer/issues/296).

[2020-12-05 04:59] RevathiJambunathan commented on #430
@RemiLehe Based on the above list, 3 points are addressed in PR#1490 and the others were already implemented in development. A test case is included in the PR as well.

- Creation of the PML for the coarse patch, with a number of PML cells tailored in such a way that the physical size of the PML for the coarse patch and fine patch match. This is added in PR#1490

- Apply PML damping to the coarse

[2020-12-07 18:32] EZoni opened #1554 "Loop over boxes in WarpX::UpdateAuxilaryDataStagToNodal"
The following change, namely a loop over the cells of a valid box grown by 2 guard cells, was introduced in #1468, as an empirical fix to some bug appearing when running the new Galilean or comoving algorithms with high-order interpolation from staggered to nodal grids (momentum-conserving field gathering):
https://github.com/ECP-WarpX/WarpX/blob/1f8ab0e625f27e9201b0da9dcfbab52c30112089/Source/Par

[2020-12-07 19:59] ax3l commented on #1543
That's because we only output the reconstructed 2D slice at theta=0 in cartesian geometry for now.

see open to-do in https://github.com/ECP-WarpX/WarpX/issues/353 :)

[2020-12-08 09:51] NeilZaim commented on #1546
Hello @wangjia-ai and thanks a lot for reporting the issue, I am able to reproduce it.

It looks like the checkpoint&restart capability is not yet compatible with field ionization (if I comment the lines concerning ionization in the input file the restart works well), so we'll have to work on that.

[2020-12-09 00:28] dpgrote opened #1560 "Make regression tests directly runnable"
As it is now, many of the regression tests fail when run in place. For example, in Examples/Tests/collision, the analysis script crashes with a Python error (when trying to get a list of output files since the output files have the wrong name). In most cases, the analysis script complains about not finding the json file (since it doesn't have the appropriate regression test name). These errors wil

[2020-12-11 21:47] RevathiJambunathan commented on #430
There are two specific topics to address in the future
1. Ensure PML with MR works with multiple disjoint boxes. Currently, the coarse patch is constructed by taking minimal_box() of the fine-patch. However this bounding box overlaps with the fine_patch boundary only if they are not disjoint.

2. The current extension of PML j damping for MR works without numerical artefacts only for shape_factor

[2020-12-15 17:06] hightower8083 opened #1574 "usage of plot_filter_function(t,x,y,z,ux,uy,uz)"
dear devs

I've a problem with the `plot_filter_function(t,x,y,z,ux,uy,uz)` in a 3D case (multi-GPU) with `plotfile` diagnostics backend.
By no means I could not make it work for a simple filter `(uz>1.5)` -- it writes no particles at all..
Here is a piece of the input file
[code]
Just in case, i've also tried SI units instead of normalized, i.e. replace  `(uz>1.5)` with `(uz>4.0963867961067354e-2

[2020-12-15 18:11] ax3l commented on #1560
Discussed today in the developer meeting:

- `./run_test.sh`: ok, but quite a few implicit assumptions accumulated over time
- Workflow: running one of the examples cannot succeed with the whole workflow yet
  - Usability improvements
  - Json checksum database: implicitly takes diag1 plotfile, but cannot find json name unless passed
  - Inputs often heavily augmented with options from regression

[2020-12-16 18:04] EZoni opened #1579 "Interpolation functions in WarpX"
Various interpolation functions are currently implemented in WarpX:

1. `namespace Interpolate`:
    - files: [Source/Utils/Interpolate.H](https://github.com/ECP-WarpX/WarpX/blob/development/Source/Utils/Interpolate.H), [Source/Utils/Interpolate.cpp](https://github.com/ECP-WarpX/WarpX/blob/development/Source/Utils/Interpolate.cpp), [Source/Utils/Interpolate_K.H](https://github.com/ECP-WarpX/WarpX/

[2020-12-17 00:24] RevathiJambunathan commented on #1579
Thank you @EZoni for this list!
Another function, which is not used in elctrodynamic, but used in electrostatic, (probably) is
https://github.com/ECP-WarpX/WarpX/blob/6454d77d8259a068cee3d481770ceda20789640e/Source/Particles/WarpXParticleContainer.cpp#L627

Where we assume refinement ratio =2.

[2020-12-17 01:55] ax3l commented on #1579
And we have this assert in the comms:
https://github.com/ECP-WarpX/WarpX/blob/6454d77d8259a068cee3d481770ceda20789640e/Source/Parallelization/WarpXComm.cpp#L299

When removed, we hit this asset:
[code]
https://github.com/ECP-WarpX/WarpX/blob/6454d77d8259a068cee3d481770ceda20789640e/Source/Particles/WarpXParticleContainer.cpp#L262-L264

[2020-12-17 06:11] ax3l commented on #1574
Hm, I thought we had a test on this but I cannot spot it.
Generally, try to escape the function like this:
[code]

~~uz should be in beta*gamma and~~ need to validate, maybe still in SI. I think to remember it works last time I used it - nonetheless, we updated this functionality recently #1384 and it's lacking a test...

[2020-12-21 21:46] #1438 closed, assigned to RevathiJambunathan

[2020-12-23 18:38] atmyers commented on #1574
The issue seems to a units bug in WarpX. What we actually store for the particle momenta is `gamma*v`. When we write out particles for plotfiles, we convert that to SI units. The filter function gets applied after this conversion; however, for some reason it includes another factor of (1/c), as if we were attempting to convert from gamma*v to normalized units. So the quantity that actually gets pa

[2020-12-23 18:51] atmyers commented on #1574
I have attempted to fix this in PR #1598

[2021-01-04 23:42] EZoni opened #1602 "Unused functions "ExchangeWithPml..." ?"
The three functions
https://github.com/ECP-WarpX/WarpX/blob/2fe64fb007abd3b55b320ba1acf2f285345248ae/Source/WarpX.H#L694-L696
implemented here
https://github.com/ECP-WarpX/WarpX/blob/2fe64fb007abd3b55b320ba1acf2f285345248ae/Source/Parallelization/WarpXComm.cpp#L23-L59
do not seem to be called anywhere in the code.

Does anyone know why? Did I maybe miss the part of the code where they are used? If

[2021-01-09 06:11] guj opened #1614 "Timed out when load balancing"
We observed by chance that WarpX times out with a certain setup.

The script and input file can be accessed on Summit (OLCF) at:
[code]

The WarpX code we used is the latest one from git.

Behaviour observed:
- Program is hanging at step 50 ( note that we set `warpx.load_balance_int = 50`).
- When the option    `warpx.load_balance_int` is commented out, all ok.

[2021-01-11 21:36] RemiLehe commented on #1602
Hm, yes, I think that these functions can safely be removed.
Thanks for pointing this out @EZoni !

[2021-01-12 16:49] MaxThevenet opened #1619 "Problem with ionisation + openPMD"
When running a simulation with ionization, the ionisation level of each particle is a mandatory output, because it is an integer attribute (it cannot be turned off with `<diag_name>.<species_name>.variables`, which only lets the user select real particle attributes). However, openPMD IO currently don't support integer attributes, the user gets the following error
[code]
Is there a way to turn off

[2021-01-12 18:39] ax3l commented on #1619
Thank you for the issue!
I think I accidentally patched this out at some point, @MaxThevenet can you recommend a test case or inputs set to test against? :)

[2021-01-12 19:17] ax3l commented on #1619
I just checked, added the assert because they ionization_state was not in the regular SoA. Adding support now.

[2021-01-12 19:22] MaxThevenet commented on #1619
I posted this to the wrong issue '-.-. I agree with Junmin, this 2D input file should do: https://github.com/ECP-WarpX/WarpX/blob/development/Examples/Modules/ionization/inputs_2d_rt, with openPMD output, should I try it?

[2021-01-12 19:26] ax3l commented on #1619
That's good, I will test against that and open a PR for testing.

[2021-01-12 19:44] #1602 closed, assigned to nobody

[2021-01-14 23:13] ax3l commented on #1346
Closed via #1485, thank you @NeilZaim! :sparkles:

[2021-01-14 23:13] #1346 closed, assigned to NeilZaim

[2021-01-15 07:00] ax3l commented on #1614
https://github.com/AMReX-Codes/amrex/pull/1721 should address this.

One can compile it prior to merge by adding
[code]
to CMake.

[2021-01-15 19:24] #1574 closed, assigned to ax3l, atmyers, RevathiJambunathan

[2021-01-15 19:25] ax3l commented on #1574
@hightower8083 when you get to it, can you please confirm the latest `development`, which now includes #1598, fixes your reported issue?

[2021-01-16 00:10] ax3l commented on #1574
I did some independent tests on the same filter logic on openPMD files in #1632 and can confirm that this works (I filtered electrons over a certain non-zero gamma locally to see if I can spot heated electrons in the right energy range - worked well!)

Please don't hesitate to perform your own tests nonetheless.

[2021-01-16 00:16] ax3l commented on #428
Implemented in plotfiles and fixed with #1574
Implemented in openPMD via #1632

[2021-01-16 00:16] #428 closed

[2021-01-18 19:41] ax3l opened #1637 "ParticleHistogram: filter_function"
We need a `filter_function` for the `ParticleHistogram` diagnostics.
This is needed for many virtual diagnostics, e.g. for acceptance filtering (apertures).

[2021-01-18 21:20] yasaray opened #1639 "Plasma Focus Simulation"
I want to learn WarpX for plasma focus device simulation but I cannot be sure that I can use WarpX for that purpose.
Before spending time for learning WarpX, I hope I could receive some answers for the following 2 questions (or at least for question 2).

1) Did anyone use WarpX for plasma focus device simulation ?
2) Can I use WarpX for plasma focus device simulation (what is your opinion) ?

I am

[2021-01-19 04:50] ax3l commented on #1614
I did a small local test with https://github.com/AMReX-Codes/amrex/pull/1721 and can confirm this fixes the issue for me :sparkles:

[2021-01-19 04:50] #1614 closed, assigned to WeiqunZhang, mrowan137

[2021-01-19 05:19] ax3l commented on #1493
Thanks for the report, PR #1622 will fix this :)
(Cross-link: issue #1619)

[2021-01-20 15:18] NeilZaim commented on #1637
In the end I can volunteer for this @ax3l

[2021-01-20 22:10] #1619 closed, assigned to ax3l

[2021-01-20 23:47] EZoni opened #1642 "Discrepancy between CPU and GPU runs in 3D with PSATD and PML"
If we run the input file [inputs_3d.txt](https://github.com/ECP-WarpX/WarpX/files/5845877/inputs_3d.txt) on the `development` branch, there is a discrepancy in the results obtained on CPU and GPU.

@NeilZaim has observed this first, while testing #1600, and I could confirm his observations, including the fact that the issue does not seem to appear in 2D.

<p align="center">
    <img src="https://u

[2021-01-21 21:50] ax3l commented on #1639
Hi Yasaray,

WarpX implements the particle-in-cell method. Here is the theoretical background: https://warpx.readthedocs.io/en/latest/theory/theory.html

No. Also the term plasma focus device is not a universally defined term that we are familiar with.

Following your questions and details posted in [PIConGPU](https://github.com/ComputationalRadiationPhysics/picongpu/issues/3397), we are sorry to

[2021-01-21 21:51] #1639 closed, assigned to nobody

[2021-01-26 01:07] ax3l opened #1652 "I/O: Ion Charge"
The `charge` attribute in the particle containers is the elementary charge.

Instead of dumping it as a constant for ions and also dumping the ionization level we can write an integer record and use `unitSI` to store the fundamental charge (`q_e`) conversion factor.

At the moment we write charge unconditionally as fundamental charge on all species as constant and also dump the ionization level fo

[2021-01-26 02:23] EZoni commented on #1579
List of PRs addressing this issue: #1584, #1585, #1624, #1650, #1653.

[2021-01-26 18:30] RemiLehe commented on #1642
Here is the PR that I mentioned during the dev meeting:
https://github.com/ECP-WarpX/WarpX/pull/583
In this PR, we make sure that the duplicated nodal points are always synchronized between boxes **of the same MultiFab**. When using PML, I think that some nodal points are also duplicated, but because the PML and the regular grid are separate MultiFab, we never synchronize these nodal points. @Weiq

[2021-01-27 13:25] bssharma1958 opened #1656 "Plotting data file"
How to plot the data file generated inside the diags subfolders. I have tried in many ways but could not succeeded. Could you help me it out. The file names are different as mentioned in the manual of Warpx. x-special/nautilus-clipboard
copy

[2021-01-27 16:39] #1637 closed, assigned to NeilZaim

[2021-01-27 17:38] Yin-YinjianZhao opened #1657 "Bug in restart"
A possible bug was found when working on the PR #1623.
In that PR, if the restart test input (Examples/Tests/restart/inputs) adds the following:
[code]
the output beam will be shifted by some value along z, compared to that of a run without restart.
One can clone the branch in that PR, add the above inputs, and run locally `./run_test.sh restart` to reproduce the bug. Then, one could run this scri

[2021-01-27 21:51] ax3l opened #1659 "Z-Curve Balancing Quickly Out-of-Memory"
Hi,

we observed a case with WarpX in which we initialize a vacuum domain (just fields) with a moving window for our default, 3D LWFA case.
After its first steps, the moving window moves into a domain in which a slab of particles gets initialized continously.

When using the space filling z-curve algorithm and dynamic load balancing, we immediately get an out-of-memory event on Summit GPUs, even t

[2021-01-27 23:34] ax3l commented on #1659
Debugging approach developed on Slack:
Adding `amrex::Print() << newdm` here:
https://github.com/ECP-WarpX/WarpX/blob/e77244f62740a9cf0972a63a5054f07d4c015fb9/Source/Parallelization/WarpXRegrid.cpp#L61

[2021-01-29 10:19] lucafedeli88 opened #1664 "Particle creation diagnostics?"
Hi!
I was thinking that in some simulations it could be interesting to store particle creation events, in order to answer questions like:  "where did photon emission occur?" "what were the properties of positron particles when they were created?"  " what was the local EM field when a ionization event happened?"
Now these pieces of information can be obtained only if particle data is dumped at ever

[2021-02-02 17:25] RemiLehe opened #1674 "Expose WarpX data to Python, on GPU"
Right now, WarpX exposes its data to Python, by converting it to `numpy` arrays:
https://github.com/ECP-WarpX/WarpX/blob/1f8ab0e625f27e9201b0da9dcfbab52c30112089/Python/pywarpx/_libwarpx.py#L135
However, this would not be a good solution when running on GPU. Instead we should expose the data as a GPU-aware object (e.g. `cupy` array)

[2021-02-03 01:00] RemiLehe opened #1675 "Add embedded boundaries in the electrostatic solver"
As discussed off-line, it would be nice to add embedded conducting boundaries for electrostatic solver in WarpX.
This issue summarizes some of the points that were discussed:
- We would probably use the new embedded boundary feature, implemented here: https://github.com/ECP-WarpX/WarpX/pull/1641
- We would then use [AMReX's linear solvers with embedded boundaries](https://amrex-codes.github.io/amr

[2021-02-03 01:12] #1642 closed, assigned to nobody

[2021-02-03 17:20] WeiqunZhang commented on #1675
An example of AMReX's EB linear solver is here https://github.com/AMReX-Codes/amrex/tree/development/Tests/LinearSolvers/CellEB.

[2021-02-04 10:30] NeilZaim commented on #1664
Yes, I think such a diag would be quite useful for (at least) QED simulations :) .

I guess one way to achieve this could be to have the possibility to store extra particle variables in the SoA (e.g. the initial particle position). This would be useful for more things than just particle creation but I guess quite bad in terms of memory usage.

Or did you have in mind a diagnostic more specific to

[2021-02-04 14:49] lucafedeli88 commented on #406
@ax3l , do you think that we can close this issue? Since CI tests run smoothly I guess that compiling in single precision is not an issue now...

[2021-02-04 17:56] lucafedeli88 commented on #1664
I had in mind something like the second solution that you have mentioned: storing creation events in a buffer and dump it every few timesteps or when it is full. However, if we decide to implement this diagnostic we can consider in detail all the possible options...

[2021-02-05 03:29] RemiLehe commented on #406
Agreed. Thanks for pointing this out @lucafedeli88

[2021-02-05 03:29] #406 closed

[2021-02-07 03:59] steelan opened #1688 "velocity of moving window in boost frame"
I tested a case with 'warpx.moving_window_v = 0.95' and 'warpx.gamma_boost = 10' and noticed that the velocity of the moving window in the boost frame is 0.95, the same as that in the lab-frame. I guess the problem lies in the following line:

https://github.com/ECP-WarpX/WarpX/blob/389d041ad62131f64bf8c0cfe93c17ba7dc5bc91/Source/Utils/WarpXMovingWindow.cpp#L47

Is the 'moving_window_v' here the v

[2021-02-08 19:57] ax3l commented on #1674
### cupy

Comparison table has no `frombuffer` equivalent: https://docs.cupy.dev/en/stable/reference/comparison.html

Chainer mentions a `cupy.creation.from_data`: https://docs.chainer.org/en/v1.3.1/_modules/cupy/creation/from_data.html
[Code](https://github.com/cupy/cupy/blob/079e1235686144f5e04dff437c0bba828027fc4e/cupy/_creation/from_data.py)

`cupy.ndarray` constructors not obvious to pass dev

[2021-02-08 20:38] RemiLehe commented on #1688
Good catch! Thanks a lot for pointing this out :) I think that you are absolutely correct.
Would you be willing to open a corresponding pull request? Our [CONTRIBUTING.rst](https://github.com/ECP-WarpX/WarpX/blob/development/CONTRIBUTING.rst) has more info on how to proceed.
Also: in this case, I think that one has to be careful with the units:
[code]
where `c` is defined in [WarpXConst.H](https:/

[2021-02-09 02:00] ax3l opened #1693 "Particle Histogram: Performance Regression"
We are running 2D3V simulations on 20 cori nodes with OpenMP acceleration and see a performance regression once we add the reduced diagnostics for particle histograms:
[code]

The simulation time goes roughly up by 8x.

When commenting out the `filter_function`, the runtime again increases by 1.5x - so the issue must be inside the binning itself.

[2021-02-09 02:46] ax3l commented on #1693
Ok, the problem is here:
https://github.com/ECP-WarpX/WarpX/blob/2cfc0673f0fc2a55e2b223ee792d03e3f7666631/Source/Diagnostics/ReducedDiags/ParticleHistogram.cpp#L162-L167

For 1000 bins this iterates the particle list 1000 times.

The logic must be inverted: for iterate the particle list once and determine the bin a particle contributes to, then atomic-add into it.

Here is the equivalent logic in

[2021-02-09 03:05] Yin-YinjianZhao commented on #1693
@ax3l Good catch! I will work on this.

[2021-02-09 07:19] ax3l commented on #1693
Thanks @Yin-YinjianZhao! :+1:

[2021-02-10 13:09] steelan commented on #1688
Great. A pull request has been submitted in #1700. Thanks for correcting the units.

[2021-02-10 13:09] #1688 closed, assigned to nobody

[2021-02-12 16:14] #1554 closed, assigned to nobody

[2021-02-13 21:40] ax3l commented on #1674
Discussion moved to: https://github.com/AMReX-Codes/pyamrex/issues/9

Looks like the community standardizes on the [CUDA Array Interface (v3)](https://numba.readthedocs.io/en/latest/cuda/cuda_array_interface.html).

Ref.: https://github.com/cupy/cupy/issues/4644#issuecomment-775480279

[2021-02-18 01:05] ax3l opened #1719 "SYCL/DPC++: FFT Library"
Just a reminder for ourselves to add a SYCL/DPC++ FFT library for PSATD support.

https://github.com/ECP-WarpX/WarpX/blob/development/Source/FieldSolver/SpectralSolver/AnyFFT.H

Potential candidates:
- `oneMKL`: https://docs.oneapi.com/versions/latest/onemkl/fourier-transform-functions.html (part of *oneAPI Math Kernel Library*)
  - limitation: at the moment limited to 1D FFT on device
  - update:

[2021-02-18 17:39] #1167 closed, assigned to nobody

[2021-02-19 18:13] BifengLei opened #1724 "Laser field amplitude is reduced in output for low grid resolution"
Hi everyone,
I am very new for the Warpx code and have a quite basic question about the laser field initialisation.
I am currently running a test with the [lwfa example](https://github.com/ECP-WarpX/WarpX/blob/development/Examples/Physics_applications/laser_acceleration/inputs_3d) packaged with the source code.
<img width="869" alt="Screen Shot 2021-02-19 at 13 00 36" src="https://user-images.gith

[2021-02-19 21:13] jlvay commented on #1724
Hi. The laser field is sampled by the grid and whether the sampled field hits the laser field at its max depends on the relative phase of the field injected at each time step. The higher the resolution, the higher the chances are to hit at or near the maximum. The laser is emitted using a virtual antenna, which is why it actually emits two counter-propagating lasers. Simulations are usually set up

[2021-02-19 21:54] BifengLei commented on #1724
In Warpx, can the laser only be initialized with the antenna method?

@jlvay  So many thanks for your clear explains.

[2021-02-20 10:44] BifengLei commented on #1724
@jlvay So many thanks for your explain. It is really very helpful.

I read the code a little bit but still confused here.  It seems that the grid resolution for the spacing of laser particles  only depends on the cell size in polarization direction (y-direction),
https://github.com/ECP-WarpX/WarpX/blob/16ba48a9ae1c28817481007ba93cc20aedba9cf2/Source/Laser/LaserParticleContainer.cpp#L557-L563

And

[2021-02-22 07:51] #1693 closed, assigned to ax3l, Yin-YinjianZhao

[2021-02-23 00:23] dpgrote opened #1733 "Naming standard for ParmParse variables"
This is a bit of a detail, but I think it would be a great help for code readability and reduce mistakes to have a naming standard for the ParmParse instances. They appear in many places and often the variable name `pp` is used, which is not descriptive. Whenever I'm working on input code, I find I frequently have to look up-code to make sure that I'm using the correct pp for the input group, espe

[2021-02-24 16:32] EZoni commented on #1733
Hi Dave, personally I agree with your suggestion here. It would certainly improve code readability and reduce mistakes. Once we reach agreement with everyone else, I can also volunteer for this, in case you do not have time to work on it.

[2021-03-04 15:17] Yin-YinjianZhao opened #1760 "GPU out of memory issue: memory usage depends on `gamma_boost`"
Recently, when doing comparison tests using WarpX with Hipace++ on Summit for the coming milstone, I observed strange "GPU out of memory" errors.
Take the most recent run as an example, which is located at `/ccs/home/yinjianz/aph114share/yin/2020_12_07_CompareHipace/512/gm_4` on Summit at the moment, the code can run until 258 time steps, then crashed due to `amrex::Abort::49::Out of gpu memory. F

[2021-03-04 17:10] RemiLehe commented on #1760
Thanks a lot for reporting this!

Could you actually post the files (esp. input file, output file, and submission file) for the 8 nodes, both for:
- gamma_boost = 10 (i.e. successful run)
- gamma_boost = 4 (i.e. unsuccessful run)

This would maybe allow us to understand the differences between those 2 runs.

[2021-03-04 21:45] Yin-YinjianZhao commented on #1760
Relevant files of gamma_boost = 4 (i.e. unsuccessful run) has been posted.

files of gamma_boost = 10 (i.e. successful run) are here.

[output.txt](https://github.com/ECP-WarpX/WarpX/files/6086780/output.txt)
[submit.sh.txt](https://github.com/ECP-WarpX/WarpX/files/6086782/submit.sh.txt)
[inputs3d_psatd.txt](https://github.com/ECP-WarpX/WarpX/files/6086783/inputs3d_psatd.txt)

[2021-03-08 20:08] ax3l commented on #1760
Without looking into the underlying issue yet, I could imagine the problem occurs with a slightly different particle dynamics with different boosts.

Investigation to do: how many particles are there per grid and rank over time? We can use @mrowan137's [cost analysis for this](https://warpx.readthedocs.io/en/latest/visualization/plot_distribution_mapping.html), I think - and we have a diagnostics

[2021-03-08 20:09] RemiLehe commented on #1760
@Yin-YinjianZhao For the gamma_boost = 4, I think that you posted the files that correspond to 32 nodes. Do you also have the files for 8 nodes (still gamma_boost = 4)? If yes, could you post it here?

[2021-03-08 20:11] RemiLehe commented on #1760
As a follow-up on @ax3l comment: to diagnose the number of particles per cell, you could use:
[code]

[2021-03-08 21:11] Yin-YinjianZhao commented on #1760
I don't have it at the moment, do you want me to rerun that one? @RemiLehe

[2021-03-10 18:38] ax3l opened #1776 "WarpX: Finalize Windows Support"
WarpX 21.03 on Windows works (executables) and we ship via conda-forge.

# Details to Fix

## PICMI import

[code]

## openPMD write (laser-ion)

segfaults in fields

[2021-03-11 11:58] lucafedeli88 opened #1781 "Compilation in sigle precision: issue when ccmake is used to configure compilation"
Hi!
I've experienced a surprising issue concerning the compilation of WarpX in single precision.
If I do
[code]
everything works nicely.
However, if do:
[code]
and if I configure  `WarpX_PRECISION=SINGLE` with `ccmake` I get the following error message (and the compilation fails):
[code]
If it can help, my `cmake` version is `CMake Version 3.16.3` and my compiler is `g++ (Ubuntu 10.2.0-13ubuntu1)

[2021-03-11 17:53] ax3l commented on #1781
Ok, what you describe should be identical to
[code]
and that workflow shows the same problem to me.

We probably need to trigger a clean rebuild of AMReX and/or PICSAR when this option changes in an existing `CMakeCache.txt`.

(The work-around until then is to remove `CMakeCache.txt` or simply clean the whole build directory.)

[2021-03-11 19:21] ax3l commented on #1781
Found the issue, the `AMReX_PARTICLES_PRECISION:STRING=DOUBLE` is not updated in `CMakeCache.txt`  after the 2nd call :). This is because it was renamed at some point. Fix proposed in #1782

[2021-03-11 21:44] #1781 closed, assigned to ax3l

[2021-03-11 22:31] atmyers opened #1784 "WarpX should (perhaps optionally) allow reading / writing DistributionMappings when Checkpointing"
In `InitFromCheckpoint`, we read in the `BoxArray` for each level from the checkpoint file and then generate a new `DistributionMapping` using the default strategy, meaning SFC with equal weights per box. For inhomogeneous cases where we use dynamic load balancing, the existing dmap may be a much better guess than this. We should implementing restarting with this, at least as an option.

[2021-03-16 06:15] ax3l commented on #1776
Related (`.dll` builds): https://github.com/AMReX-Codes/amrex/pull/1847

[2021-03-16 16:26] RevathiJambunathan commented on #1168
This has been addressed in PR #1241

[2021-03-16 16:26] #1168 closed, assigned to RevathiJambunathan

[2021-03-16 18:40] RemiLehe opened #1797 "Add 3D CI tests for Silver-Mueller boundary conditions"
We currently only have 2D CI tests for Silver-Mueller.

[2021-03-16 19:21] ax3l commented on #1187
This issue and the whole project on it is complete :rocket: :sparkles:
https://github.com/ECP-WarpX/WarpX/projects/12

[2021-03-16 19:21] #1187 closed, assigned to dpgrote, ax3l, RemiLehe

[2021-03-16 22:30] RemiLehe opened #1799 "Possibility to break up the `PhysicalParticleContainer::Evolve` function"
For certain algorithms, it might be interesting to be able to call different parts of the [`Evolve`](https://github.com/ECP-WarpX/WarpX/blob/development/Source/Particles/PhysicalParticleContainer.cpp#L930) function separately (e.g. only doing the gathering, or only doing the current deposition).

This would however require that we also have a separate function to perform the [partition of particle

[2021-03-17 09:11] ax3l opened #1803 "ParaView (5.9/5.10): Fix particle & field transposal"
ParaView (5.9/5.10): Fix particle & field transposal.

Works on [openPMD example files](https://github.com/openPMD/openPMD-example-datasets/) (from Warp) but not on WarpX files: fields and particles are transposed in their domain.

I might have broken this in the last update before the merge, maybe because the annotations in the example files are off.

[2021-03-17 21:02] RemiLehe opened #1806 "Should`PhotonParticleContainer` redefine `DepositCharge`"
It seems that the `PhotonParticleContainer` redefines [`DepositCurrent`](https://github.com/ECP-WarpX/WarpX/blob/development/Source/Particles/PhotonParticleContainer.H#L89) so that it does not do anything.

However, it does seem to do the same thing with `DepositCharge`. @NeilZaim @lucafedeli88 Should we add a corresponding function definition?

[2021-03-18 11:39] NeilZaim commented on #1806
I completely agree.

Alternately, we could force `do_not_deposit = 1` in the constructor the `PhotonParticleContainer` and then we don't need to redefine neither `DepositCurrent` nor `DepositCharge`. Both options are fine for me.

[2021-03-18 15:06] lucafedeli88 commented on #1806
I totally agree. `DepositCharge` for photons is a complete waste of time, since their charge is zero ( https://github.com/ECP-WarpX/WarpX/blob/development/Source/Particles/SpeciesPhysicalProperties.H ).

[2021-03-18 19:33] #1733 closed, assigned to EZoni

[2021-03-22 00:43] WeiqunZhang commented on #1760
It seems that the memory issue is due to that the back transform diagnostic has a default buffer size of 256.  For gamma=4, that uses up to ~ 5 GB.

[2021-03-22 13:37] atmyers commented on #1760
In the long run it would probably be better to use pinned memory for the BTD buffers.

[2021-03-22 21:27] atmyers opened #1826 "We should use pinned memory for BTD buffers"
Currently the buffers we use to store particles and mesh data for the BTD are placed in device memory. These buffers can be pretty big on realistic simulations (~ 4GB). We should place them in pinned memory instead so they won't count against the limited device total.

[2021-03-22 22:08] RemiLehe opened #1827 "Remove the MultiFabs `Efield_avg_fp` and `Efield_avg_aux` and use `Efield_aux` instead"
We should think about whether we can remove `Efield_avg_fp` and `Efield_avg_aux` and use `Efield_aux` instead.

These fields are allocated here:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/WarpX.cpp#L1216
https://github.com/ECP-WarpX/WarpX/blob/development/Source/WarpX.cpp#L1305
Note that we may want to keep the `Efield_avg_cp`, depending on which exact algorithm we want to implemen

[2021-03-23 20:59] #1806 closed, assigned to nobody

[2021-03-24 16:16] RemiLehe opened #1833 "Set the default interpolation order to `nox=noy=noz=2`"
As discussed off-line, the default order of the shape factor should probably by 2.

[2021-03-29 20:51] RemiLehe opened #1844 "Abort the simulation when guard cells are bigger than valid cells"
We should abort the simulation when the guard cells do not overlap only with the nearest-neighbor boxes, but instead also overlap with "next-neighor" boxes. (since this breaks locality assumptions that we are making for the local communications between boxes)

@WeiqunZhang suggested the following code offline:
[code]

[2021-03-30 00:04] ax3l commented on #1844
@RemiLehe do we need to check this once after initialization or periodically, e.g. after we changed grid sizes after a load balance step?

[2021-03-30 00:10] EZoni opened #1846 "Handle Ghost Cells in Yee Grid With `read_raw_data.py`"
When I try to read the raw data, with ghost cells, produced by running this test input file [inputs2d_pwfa.txt](https://github.com/ECP-WarpX/WarpX/files/6225219/inputs2d_pwfa.txt), using the function `read_data` implemented in Tools/PostProcessing/read_raw_data.py as follows,

[code]

I get the following error

[code]

This does not happen if `warpx.do_nodal = 1` in the input file, in which case e

[2021-03-30 00:58] RevathiJambunathan opened #1847 "Appropriate treatment for refined patch boundary co-inciding with the domain boundary"
There are two aspects to this Issue
1. pml which is automatically turned on for mesh-refienement patches, must be toggled according to the domain boundary, such that, pml flag is set to 0, if it coincides with the non-pml domain boundary,
and pml flag is set to 1, if it coincides with a pml-type domain boundary.
This first part is addressed in PR #1768

2. The second aspect is to ensure that the a

[2021-03-30 15:09] RemiLehe commented on #1844
In the current WarpX code, we keep the grid sizes constant, and we simply pass grids around to different MPI ranks. Thus, in this case, we would only need to check this at initialization.
But you are right that at some point we discussed adding the option of breaking boxes down into smaller boxes for load-balancing. Once this is implemented in WarpX, we would indeed need to check the above conditi

[2021-03-30 15:13] RemiLehe commented on #1844
One solution would maybe be to implement this check in the function `AllocLevelMFs`
https://github.com/ECP-WarpX/WarpX/blob/development/Source/WarpX.cpp#L1140
but I am not sure whether this function is called during load-balancing.

[2021-03-30 16:38] ax3l commented on #1844
I looked at this function yesterday as well and then wondered the same, thus the earlier question.
I just checked now: called in `InitFromScratch` -> `MakeNewLevelFromScratch` -> `AllocLevelData` -> `AllocLevelMFs`. `MakeNewLevelFromScratch` is also called in `AmrCore`, but as I found on a quick search, only on first initialization.

[2021-03-30 17:59] atmyers commented on #1846
I think `nghost` needs to be a numpy array, like `np.array([8, 9])` in the case you mentioned. Does the output look reasonable if you do that?

[2021-03-30 18:09] WeiqunZhang commented on #1844
I think in addition to `AllocLevelMFs`, we need to check that in `WarpX::RemakeLevel` too.

[2021-03-30 18:29] EZoni commented on #1846
Yes, it does. If I replace by hand the line
[code]
with
[code]
the output looks reasonable.

[2021-03-30 18:44] mrowan137 commented on #1139
This is addressed in PR #1815.

[2021-03-30 18:44] #1139 closed, assigned to nobody

[2021-03-30 18:45] mrowan137 commented on #50
PR #1815 may partially address "Have the spectral solver work with load-balancing #1139".

[2021-03-30 18:56] EZoni commented on #1846
@atmyers I can submit a PR where I read the correct numbers of ghost cells from whatever `f.readline()` returns. Thank you for the hint. Somehow I thought that `nghost` had to be a single integer for the Python script to work. One thing that I'm not sure about is why in the Yee case above the numbers of ghost cells are 9 in x and 8 in z, as if the grid was intrinsically nodal in x and staggered in

[2021-03-30 20:41] RevathiJambunathan opened #1850 "BTD to include rho_<species>"
In backtransformed diagnostics, we support already `rho` but not yet `rho_species` fields.

- [x] add an assert check until implementation is done (at the moment it produces invalid fields if selected)
- [ ] implement `rho_<species>`

[2021-03-31 00:09] #1846 closed, assigned to EZoni

[2021-03-31 03:25] #1827 closed, assigned to nobody

[2021-04-01 09:05] lucafedeli88 opened #1863 "PML requires huge amount of memory in some conditions"
Hi!
I am experiencing some issues with PML in a 3D simulation where I need to use PSATD solver.

#### Problematic test case with PML enabled
On the Summit supercomputer, this test simulation should run seamlessly on 12  GPUs
[code]
However, each timestep takes an unreasonable amount of time:
[code]
most of the time is spent copying data:
[code]

and the GPU memory is almost full:
[code]
that looks

[2021-04-01 10:23] NeilZaim commented on #1863
I suspect that this is due to what is described in #1451 (had forgotten about this PR :grimacing: ).

Basically the number of guard cells in the PMLs is set to the PSATD order divided by 2 (instead of the number of guard cells in the regular domain as specified by the input file).

I think reducing the psatd order from 100 to 16 in this test case should strongly reduce the memory footprint.

[2021-04-01 10:35] lucafedeli88 commented on #1863
Thanks @NeilZaim ! That is indeed the case: reducing the order to 16 reduces the memory footprint significantly.
I also checked with `valgrind --tool=massif` (on my laptopt with a reduced version of this test case) and I can confirm that PML routines allocate a huge amount of memory.
In 2D simulations this is not a huge issue, since domains are usually large. However, it becomes a really important

[2021-04-02 02:27] #1863 closed, assigned to nobody

[2021-04-02 16:43] dpgrote opened #1868 "Allow expressions for my_constants"
Would it be possible to allow an expression to be used for a my_constants that uses predefined quantities? An example use would be `my_constants.mi = 0.1*m_p`.

[2021-04-02 17:27] WeiqunZhang commented on #1868
I think this is already supported in `makeParser` function in WarpXUtil.cpp.  The predefined constants there include `q_e`, `m_e`, `m_p`, `epsilon0`, `clight` and `pi`.

[2021-04-02 17:43] dpgrote commented on #1868
There seems to be a bug somewhere. If I have only the one line `my_constants.nn = 0.1*m_p`, I get this error

ParmParse::queryval type mismatch on value number 0 of
 last occurence of my_constants.nn
 Expected an "d" type  which can't be parsed from the string "0.1*m_p"
my_constants.nn(nvals = 1)  :: [0.1*m_p]
amrex::Abort::SIGABRT

But if I define another constant, like this:
`my_constants.nn = 1

[2021-04-02 18:22] RevathiJambunathan opened #1869 "Anisotropy for material properties"
Implement capability for anisotropic material properties

[2021-04-02 18:54] WeiqunZhang commented on #1868
What if you put `0.1*m_p` inside a pair of `"`?

[2021-04-02 18:56] dpgrote commented on #1868
Nope, same error

[2021-04-02 19:16] WeiqunZhang commented on #1868
Maybe the problem is it's not using `queryWithParser`?

[2021-04-02 20:46] dpgrote commented on #1868
Yes, thanks, that seems to work. I'll post a PR. Though it risks an infinite loop `my_constants.x = x`.

In the case above that was not returning an error, it was because the constant (mi) was not being used in the input file so was not read in.

[2021-04-06 20:27] ax3l commented on #1868
Ha, we am currently using expressions such as:
[code]
and they are just silently wrong :sweat_smile:

[2021-04-07 00:54] dpgrote commented on #1868
This will be resolved by PR #1874.

[2021-04-07 00:54] #1868 closed, assigned to nobody

[2021-04-07 15:58] #1844 closed, assigned to EZoni

[2021-04-20 17:23] peterscherpelz opened #1900 "Expand python couplings"
This transcribes a Slack conversation of desired additions to the Python coupling so that we have similar functionality to what we currently have in using Python coupled to Warp.

- [x] Get phi on grid - can copy similar wrapper functions, just need it for phi
- [x] Get density per species on grid - don’t see an obvious call yet
- [ ] Get macroparticle count, drift velocity, electron temperature o

[2021-04-20 17:27] peterscherpelz opened #1901 "Conductor shapes and particle scraping"
The goal here is to support something analogous to the `Assembly` class in Warp. Assemblies can both modify the field solve (see #1675 and #1641 for existing WarpX work in this direction), and also support scraping particles that impact them. A python interface is also desired.

[2021-04-20 17:28] peterscherpelz opened #1902 "Add additional particle attributes at runtime"
These are equivalent to the `pid` array in Warp. From @dpgrote , "In Warp, the pids is an extra 2D array for the particles allowing users to store arbitrary data for each particle. This data moves around with the particles, for example, when running in parallel. This would be equivalent to adding more attributes to the PIdx structure, but at run time. I think that this can be done dynamically."

A

[2021-04-20 17:32] peterscherpelz commented on #1901
Other desired features are:
- Record particle statistics that were scraped: For each conductor, and for each particle species, record for each timestep the number of particles that impacted, and their summed attributes (eg total weight impacted, and an option for including summed additional particle attributes from #1902 )
- Have an interface in scraping to reflection functions: These can remove p

[2021-04-20 19:42] peterscherpelz commented on #1900
Control flow should be able to be accomplished by using `picmi.Simulation.step(nsteps)` in the python package, then decide whether to terminate after each `n` steps.

[2021-04-21 04:08] RemiLehe opened #1905 "Set `geometry.coord_sys` to `1` by default, when compiling with RZ"
When using the RZ version of the code, the user needs to set `geometry.coord_sys = 1` in the input script. This is probably error-prone, so it would be great if this becomes the default when the code is compiled for RZ.

[2021-04-24 04:40] EZoni commented on #1833
I would like to make the changes that close this issue soon, because I think it is important and helpful to set more robust defaults.

I would be more in favor of using cubic splines by default, so
`interpolation.nox = interpolation.noy = interpolation.noz = 3`.
What would be the objections against this choice, besides performance?

Here's two reasons why setting cubic by default would sound more

[2021-04-24 05:59] ax3l opened #1914 "RZ+PSATD Build w/ CUDA in 21.04/21.05"
According to our nightly installation tests, in 21.04 with RZ we have a little NVCC CUDA 11.3.0 build issue with RZ+PSATD of the form
[code]

This looks like a typical `nvcc` quirk.
The problem can likely be solved by defining in the kernel a local const variable for this global constexpr `ep0`.

https://github.com/ECP-WarpX/WarpX/blob/5035351505823a0f2ba4070434453746064589cc/Source/FieldSolver/Sp

[2021-04-25 09:27] MaxThevenet opened #1915 "error when using openPMD + BTD?"
I encountered an error with openPMD BTD with this 2D [input file](https://github.com/ECP-WarpX/WarpX/files/6371538/inputs.txt) when executing e.g.
[code]
The simulation runs until the end and crashes at the finalize step with error message
[code]
Backtrace:
[code]
I also ran in Debug mode. This reproducer then takes 30 min (instead of 1 min in production mode), but it does not provide any addition

[2021-04-27 15:59] RevathiJambunathan commented on #1760
PR #1858 adds a user-input for buffer-size to address large memory usage for back transformed diagnostics.
@Yin-YinjianZhao if that fixes the issue here, should we close this?

[2021-04-27 16:19] RevathiJambunathan commented on #1784
@WeiqunZhang had mentioned at the developer meeting that writing out/reading in the `cost_per_box` would be more general and will allow for changing the number of processors during restart, potentially.
Just adding this point here to keep it in one place

[2021-04-27 16:31] RevathiJambunathan commented on #1847
The point [2] above is addressed is PR #1767

[2021-04-27 17:12] dpgrote commented on #1905
This could perhaps be done in the `CheckGriddingForRZSpectral` routine, which is called before the input file is read in by AMReX code. I can submit a PR.

[2021-04-27 18:16] EZoni opened #1916 "Naming Convention for Particle Momenta and Proper Velocities"
As discussed offline, we would like to have more consistency in the naming conventions for the variables that represent the particle momenta and proper velocities in the code.

For instance, we have:

1. `<species_name>.ux` for particles with constant momentum profile, where `ux` represents the normalized (non-dimensional) momentum `ux = px/(mc)`:
https://github.com/ECP-WarpX/WarpX/blob/5035351505

[2021-04-27 18:20] dpgrote opened #1917 "yt: nbody species appearing"
I've been having the issue when using a newer version of yt, that the extra species nbody appears when reading in plot files. For regular post processing, this is not a problem. However, when dealing with regression tests, it does cause problems. Since that species is not present in the json files the tests fail. The other way around happens when I create a regression test - the nbody species is a

[2021-04-27 18:43] RevathiJambunathan commented on #1917
Thank you @dpgrote ! yes. I see this as well. Thanks for the hack.

[2021-04-27 18:52] dpgrote commented on #1905
I submitted PR #1918 to address this.

[2021-04-28 00:31] RemiLehe commented on #1905
Thanks a lot for addressing this issue! ✨

[2021-04-28 00:31] #1905 closed, assigned to nobody

[2021-05-04 23:43] Xinying-Wang-CS opened #1935 "error: could not find git for clone of fetchedamrex-populate"
Hello, when I tried to compile Warpx with cmake, it says "error: could not find git for clone of fetchedamrex-populate", and the location happens in :
cmake/dependencies/AMReX.cmake:106 (FetchContent_Populate)
cmake/dependencies/AMReX.cmake:199 (find_amrex)

Could you help me please? thank you

[2021-05-05 16:18] jlvay opened #1938 "RZ PSATD Boosted Frame Debug"
Observations:
- PSATD agrees with FBPIC in lab frame but not in BF (gamma=2)
    - PSATD and FBPIC agree at first but slowly diverge
- PSATD and Yee do not agree in lab frame
- need to crosscheck that plasma is properly loaded with correct density in WarpX BF runs

Action:
- DPG: rerun Cho's case with dual FBPIC/WarpX python run
    - I reran a bigger simulation with the latest fixes and it shows

[2021-05-05 16:21] RemiLehe opened #1939 "Back-transformed diagnostics do not work for low gamma"
For `gamma_boost = 1.001`, one would expect that the back-transformed diagnostics give similar results to the regular diagnostics.

However, this is not the case in practice. We would need to think whether this is a fundamental limitation of the back-transform algorithm, or whether this is a bug.

[2021-05-05 20:10] RemiLehe opened #1941 "Add safe-guard against negative radial lower bound in RZ mode."
In RZ mode, it seems that the user can accidentally provide a negative value for the lower bound in RZ mode, like this:
[code]
In this case, the code will run without any warning, but will generate incorrect result. We should probably add a safe-guard against this (e.g. an `amrex::Assert`)

[2021-05-05 20:16] RemiLehe opened #1942 "Add an `injection_style` that does not inject any particle"
In some simulations, we may want declare a species, but not inject it in the simulation. (For instance, in a simulation that starts with neutral, ionizable atoms, we may want to create the electrons *species* - so that ionized electrons can later be stored into it - but we do not want to explicitly inject any electron *macroparticles*.)

It seems that we can already do this by setting `injection_s

[2021-05-05 20:23] RemiLehe opened #1943 "`warpx.use_filter` produces strange results in RZ FDTD mode"
It seems that using `warpx.use_filter=1` produces strange results, for the RZ **FDTD** solver. See for instance the snapshot for a laser-wakefield simulation below:
![Screen Shot 2021-05-05 at 1 21 59 PM](https://user-images.githubusercontent.com/6685781/117204242-e5686d00-ada4-11eb-9746-f7b186c2d54f.png)
(note: labels are swapped; this shows the charge density `rho`)

Maybe we should **add an ass

[2021-05-06 20:31] dpgrote commented on #1938
Here is an image showing the comparison for the large case (with nz=1792) and all of the latest fixes in PR #1945.
![Ez0_2000](https://user-images.githubusercontent.com/449904/117361684-36449800-ae6f-11eb-89aa-6d5d16efaf60.png)

[2021-05-06 21:09] jlvay commented on #1938
Awesome! Is it for gamma_boost=2? Did you have a chance to try the smaller case yet?

This is for gamma_boost = 2. I haven't tried the smaller case yet.

[2021-05-08 09:34] MaxThevenet commented on #1939
Might be related to #1915

[2021-05-10 21:36] #1914 closed, assigned to ax3l

[2021-05-12 03:57] #1833 closed, assigned to EZoni

[2021-05-17 19:00] ax3l commented on #1917
I remember we had this popping up before. @atmyers @WeiqunZhang do you know when this shows up? Is this from AMReX or yt?

[2021-05-17 19:19] ax3l commented on #1935
Hi @Xinying-Wang-CS, the reason you see this message is because you do not have `git` installed ([homepage](https://git-scm.com)).

Which operating system are you working on?

Please see the developer dependencies as well, which are documented here:
https://warpx.readthedocs.io/en/latest/install/cmake.html
https://warpx.readthedocs.io/en/latest/install/dependencies.html

[2021-05-17 21:36] atmyers commented on #1917
This is likely due to a change in yt. Do you know when / with what version of yt it started happening?

[2021-05-18 23:04] dpgrote commented on #1917
I started seeing this awhile ago, as early as last fall maybe. At some point around then, I started using the main branch (instead of relying on pip to install).

[2021-05-19 12:41] lucafedeli88 opened #1971 "Should we add a warning if the initial laser position is outside the simulation box?"
I am asking this because I've just spent some time trying to understand why there was no laser in my simulations, finally realizing that I had set the x position of the antenna to `-1.5-6` instead of `-1.5e-6`  (the left boundary was at `-2e-6`) ...

[2021-05-19 19:31] atmyers commented on #1917
There is some discussion of this on the yt Github Issue linked above. Basically, this was an intentional change on their end. I think the best way forward is for us to skip the "nbody" fields on our checksum framework, as Dave has already done.

[2021-05-21 18:50] #1479 closed, assigned to RevathiJambunathan

[2021-05-21 18:50] #1847 closed, assigned to RevathiJambunathan

[2021-05-24 23:14] ax3l commented on #1971
Oh yes, great idea! :)

Just be aware of the moving antenna option for boosted frame sims. (We could skip the check there first as soon as `continuous_injection` is set; the proper check there would be to check the time of the laser init, otherwise we might warn a lot in multi-stage LWFA sims.)

[2021-05-25 08:45] lucafedeli88 commented on #1971
Ok! I can do that! however, I don't know how to get the coordinates of the simulation box with AMReX...

[2021-05-28 08:50] lucafedeli88 opened #1993 "Should we collect all the 🚨⚠️🚨 warnings 🚨⚠️🚨 generated during the initialization and show them right before step 1?"
In few cases WarpX generates warnings during the initialization, which can be quite important (e.g., see https://github.com/ECP-WarpX/WarpX/issues/1971)! However, I am afraid that these warnings are not sufficiently visible right now, since they are buried within many regular output lines.

I was wondering if we could consider a solution where we record all the warnings and we show them all at onc

[2021-06-01 17:02] ax3l commented on #1993
I think grouping them is a great idea. One thing that we could consider as well is to know only put them in output but also (a copy) of them in a dedicated file, e.g. `warpx_warnings.txt`.

As of the location, it turns out that _after_ step 1 might be the easiest location #1596 #1630, because at that point we know that all parameters have definitely been read. (We can double-check again if at the

[2021-06-01 17:12] lucafedeli88 commented on #1993
I like the idea of a `warpx_warnings.txt` file. It increases the probability that a user actually reads the warnings! I think that it's OK if we place the warning messages after the first step, it is still very close to the beginning of the output.

[2021-06-01 17:17] ax3l commented on #1993
We could use the chance to write a helper function for warning that adds common prefixes (as in #1630) and does the file re-direction of a copy of the warnings.

If we use it consistently, we can also print a message at the end of  the run again, to state that warning occurred.

[2021-06-01 17:23] ax3l commented on #1971
Just to add the reference, this is how we query the sim box extent for the full diagnostics:
https://github.com/ECP-WarpX/WarpX/blob/ad7f6a630c606c64503c99c77a74c5ed27db16e0/Source/Diagnostics/FullDiagnostics.cpp#L356-L365

[2021-06-02 10:32] lucafedeli88 commented on #1993
I've just opened a PR with some initial work on a "warning logger" https://github.com/ECP-WarpX/WarpX/pull/1997 .

When tested with this simple program
[code]

the output is

[code]

Is this close to what we want?

In any case, I have several questions:
- Should we let only the I/O process to add warnings or should all the processes be able to add warnings (in this case we would need to merge the

[2021-06-03 12:13] lucafedeli88 commented on #1993
This (**very** work in progress) PR demonstrates a possible implementation: https://github.com/ECP-WarpX/WarpX/pull/1997

[2021-06-03 12:13] lucafedeli88 commented on #1993
What do you think?

[2021-06-04 14:04] lucafedeli88 opened #2004 "Compilation of WarpX fails on Summit when openPMD is enabled and nvcc/11.2 + gcc/10.2 are used"
Hi!

I've just noticed that trying to compile WarpX with `openPMD` enabled and `nvcc/11.2` + `gcc/10.2` results in the following error during the linking phase:

[code]
I know that the documentation suggests to use `gcc 6.4` + `nvcc 10` on Summit, but I've been using those more up-to-date compilers for a few months without any issue...

[2021-06-04 14:57] WeiqunZhang commented on #2004
This is a known issue.  You can either use `-Xptxas --disable-optimizer-constants` or disable rdc with `-DAMReX_GPU_RDC=OFF`.  There is a PR for this, #1999.

[2021-06-04 15:34] lucafedeli88 commented on #2004
Thanks!

[2021-06-04 15:34] lucafedeli88 commented on #2004
Should we leave the issue open until https://github.com/ECP-WarpX/WarpX/pull/1999 is merged?

[2021-06-04 15:37] ax3l commented on #2004
Yes, let's cross link and leave open til merged. Thanks for the report, that's an NVCC 11.2/3 issue.

I wonder if we can also works around at the source, we are using the same filter in plotfiles, but I have not seen the issue there yet.

[2021-06-04 17:09] ax3l commented on #2004
Just to document this publicly: Note that @maxpkatz recommends not to use

even if the compiler output suggests this, because it will very likely influence code generation a lot (for the worse).

[2021-06-04 17:11] ax3l commented on #2004
@lucafedeli88 since you use nvcc 11.2 for a while already, did you see when this was introduced?
I wonder if it's from a change in the parser, since it affects various kernels that support particle filtering.

[2021-06-05 03:07] lucafedeli88 commented on #2004
I think that the last time I compiled WarpX on Summit was a few weeks ago (maybe ~ 2-3 weeks ago)....

[2021-06-05 04:39] ax3l commented on #2004
![Screenshot from 2021-06-04 21-38-25](https://user-images.githubusercontent.com/1353258/120880132-3672a900-c57d-11eb-97b2-d16601adc465.png)
I wonder if it's from the increased complexity of functions we provided in the Parser, we definitely added a few potentially (register) heavy ones... (e.g. `jn` on device)

We can also save a few registers per kernel by setting `-DWarpX_GPUCLOCK=OFF` (4 regis

[2021-06-07 09:21] NeilZaim commented on #1993
The output looks good overall to me.

Didn't think about this too much but I would say only I/O adds the warnings. Is there a reason not to do that?

Yes I would say it's a good idea to keep them. The [!! ] notation is not 100% clear at first sight, but I think it's good enough. And I don't see a simple way to make it better (we could consider using different colors or bold font but I don't know i

[2021-06-07 20:35] ax3l opened #2007 "Summit: NVCC/10.1.243 Linker Issue w/o RDC"
Linker issue seen today as of 6b84b94dfc92ec0cd29b1e42f9ff0c45a45997a4, potentially from #1999
[code]

Adding `-DAMReX_GPU_RDC=ON` again fixes the issue.

- [x] does not occur with local NVCC `11.3.109`, with CI NVCC `11.0.2` but with Summit NVCC `NVCC/10.1.243`
- [x] confirmed issue with CMake
- [ ] confirmed issue with GNUmake

[2021-06-07 20:54] ax3l commented on #2004
That problem should be fixed with #1999 but I see a regression for NVCC 10.1.243 in #2007

Does Summit's nvcc/11.2 work for you, @lucafedeli88 ?

[2021-06-07 21:01] ax3l commented on #1993
Agree with the above, looks pretty good (have not checked yet the implementation PR you proposed).

Ideally the I/O process, although I can imagine that some (local) tests might need to do a reductions for this first, e.g. if an issue only occurs on a single rank (can imagine that situation for performance checks).

We could add an overload to `logger.record_entry()` that acts like an MPI Gather a

[2021-06-09 19:25] ax3l opened #2009 "amrex.the_arena_is_managed=0"
Since WarpX runs w/o managed memory, we might want to change the default of `amrex.the_arena_is_managed` to `0`.

At least on Windows, managed memory also creates performance regressions.

[2021-06-11 08:35] lucafedeli88 commented on #2004
Yes, I've just compiled WarpX with openPMD  using  `nvcc 11.2` ( `11.2.67` to be precise ) on Summit. I haven't observed any issue.

[2021-06-11 17:52] ax3l commented on #1901
Meeting notes 06/11/2021:

A possible way to implement this is using the particle buffers as also used in back-transformed diagnostics (#1898) to accumulate "lost" particles (negative ID) before they are removed in an AMReX redistribute. We could then use the "full" output diagnostics routines to periodically output these particles (plotfiles or openPMD).

We discussed several possible ways:
- pro

[2021-06-11 17:55] ax3l commented on #1902
I think we need to chat with @atmyers on this to see how to integrate this seamlessly with AMReX particle structures & their communication.

[2021-06-11 18:10] atmyers commented on #1902
WarpX has the ability to add real and integer particle components at runtime. The `AddRealComp` and `AddIntComp` methods:

https://github.com/ECP-WarpX/WarpX/blob/development/Source/Particles/WarpXParticleContainer.H#L288

need to be called to register these variables with amrex. Would it be sufficient to expose these two functions to Python?

[2021-06-11 22:03] ax3l opened #2015 "Cori/Summit: E4S Modules"
Today, E4S modules officially launched for Cori.

We can modernize our module list to use the shipped ADIOS2 release among others, instead of having to pre-compile it ourselves.

Docs: https://docs.nersc.gov/applications/e4s/cori/21.02/

OLCF equivalent: https://docs.olcf.ornl.gov/software/e4s.html

[2021-06-11 22:36] peterscherpelz commented on #1902
@atmyers I think that looks right, yes! I evidently missed those when I looked before.

It looks like we'll need the get functions too (`getParticleComps` etc) to get the name -> index mapping in Python I believe.

Finally, I'm suspicious there's a bug in https://github.com/ECP-WarpX/WarpX/blob/4974f07209ebc5e0578fc383057b4be383cdf318/Python/pywarpx/_libwarpx.py#L376 as when there is more than one

[2021-06-11 22:40] peterscherpelz commented on #1901
Thanks @ax3l ! I think the two other notes I had were:
* Whether or not we use a particle buffer of lost particles, being able to hand those particles coordinates/attributes to python to record in whatever transformed/abbreviated diagnostic would be very helpful
* We do need to know how to mark particles that hit Assemblies/Conductors/Embedded Boundaries as "lost". It seemed like there may be a wa

[2021-06-13 12:20] lucafedeli88 commented on #2004
The issue has been fixed

[2021-06-13 12:20] #2004 closed, assigned to ax3l, atmyers, WeiqunZhang

[2021-06-16 02:05] ax3l commented on #2009
At the moment, running WarpX with `amrex.the_arena_is_managed=0` segfaults on Summit:

[code]

[2021-06-16 02:42] ax3l commented on #2009
With #2018 applied, the next segfault is triggered also in init from:
[code]

[2021-06-16 22:06] ax3l commented on #2009
The `unpackRemotes` problem is addressed by https://github.com/AMReX-Codes/amrex/pull/2116 (WarpX: #2020)

[2021-06-17 03:10] ax3l commented on #2009
With both https://github.com/AMReX-Codes/amrex/pull/2116 and WarpX #2019 applied, load balancing :juggling_person: enabled every 10 steps.
testing a use-case that is close to using all memory

**Without I/O:**
- :white_check_mark: , I can start up and iterate with `amrex.the_arena_is_managed=0`
  - :neutral_face:  `amrex.the_arena_is_managed=0` load balancing goes out-of-memory (OOM) at step 960 i

[2021-06-21 23:13] #1971 closed, assigned to nobody

[2021-06-23 16:31] mxz297 opened #2028 "Compilation failure using rocm-4.2 on Spock"
I followed the instruction here to compile and run WarpX on Spock:

https://warpx.readthedocs.io/en/latest/install/hpc/spock.html

I was able to compile and run WarpX with rocm-4.1, but compilation of WarpX failed with rocm-4.2:

[code]

[2021-06-23 17:10] WeiqunZhang commented on #2028
This is a known bug in rocm 4.2.  Please use 4.1 for now.

[2021-06-23 19:12] mxz297 commented on #2028
@WeiqunZhang Thanks for your response.

[2021-06-23 19:12] #2028 closed, assigned to nobody

[2021-06-25 18:03] ax3l commented on #1901
We discussed today that @atmyers will help us to scrape particles into a pinned memory buffer before our redistribute.
I will help with the hooking in of external C++ routines once we have a first prototype.

In parallel, the Modern Electron team might be interested to check if the Python routines for "regular" particles are sufficient to manipulate/analyze the scraped particles or if they need ex

[2021-06-25 20:22] EZoni opened #2035 "Instability when Filling Guard Cells with Inverse FFTs"
The issue was originally reported by @NeilZaim.

There seem to be problems when we fill the guard cells with inverse FFTs in simulations using the PSATD solver. Here's a 2D input script that reproduces the issue: [inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/6718612/inputs_2d.txt).

By replacing, on the current `development` branch (4e8eba636a354c5a83f6909e8081662e0082f488), `mf_box` wi

[2021-06-25 20:23] ax3l opened #2036 "FFTW: OpenMP"
Backport once merged:
- [x] FFTW OpenMP support https://github.com/Hi-PACE/hipace/pull/541

[2021-06-25 20:23] ax3l opened #2037 "FFTW Cleanup"
We should consider here and in HiPACE (https://github.com/Hi-PACE/hipace/issues/542) to use:

- `fftw_cleanup`
- `fftw_cleanup_threads` (with OpenMP)

When shutting down the simulation with FFTW.

Refs.:
- http://www.fftw.org/fftw3_doc/Using-Plans.html
- http://www.fftw.org/fftw3_doc/Usage-of-Multi_002dthreaded-FFTW.html

[2021-06-26 00:14] EZoni commented on #2035
As commented on Slack:
I wonder if we should simply damp the fields in all directions with non-periodic PSATD, instead of only in the moving window direction (aka no direction in this particular test)?
Otherwise the FFTs "wrap around" if there are non-zero values in the last cells...which I think is why we needed damping in the non-periodic direction of the moving window, indeed.

[2021-06-29 15:24] EZoni commented on #1943
Is there an input file that we can use to reproduce this issue?

[2021-06-30 22:34] #2036 closed, assigned to ax3l

[2021-07-01 18:30] ax3l commented on #2035
A draft for a fix is opened in #2045

[2021-07-01 21:55] ax3l commented on #2035
X-ref: appeared after #1867

[2021-07-05 16:46] lucafedeli88 opened #2056 "Compiling with WarpX_COMPUTE=CUDA and WarpX_IPO=TRUE leads to issues on some machines"
Hi!

I have observed that compiling WarpX with ` WarpX_COMPUTE=CUDA` and `WarpX_IPO=TRUE` leads to an executable that cannot be run on some machines. Indeed, when I try to run the executable compiled in this way on a workstation equipped with a NVIDIA GV100 card I get the following error message:

[code]
Everything is OK if I remove `WarpX_IPO=TRUE`.

Have you ever observed this behavior?

[2021-07-06 00:56] lucafedeli88 commented on #2056
I have observed the same issue on a laptop equipped with a modern NVIDIA GPU. When I compile without IPO everything works nicely. Otherwise, with IPO enabled, I get the error message `no kernel image is available for execution on the device !!! `.

Also, there might be something wrong with IPO in `cmake`  : if I first compile WarpX without IPO and then I use `ccmake` to enable IPO and regenerate t

[2021-07-07 03:33] ax3l commented on #2007
Cannot reproduce as of `21.06-48-gf76fc32` (f76fc32644dbe491293db3c844eb802b4d7ee9bd)

`cmake -S . -B build -DWarpX_COMPUTE=CUDA -DWarpX_DIMS=2 -DWarpX_QED=OFF -DWarpX_OPENPMD=ON -DWarpX_GPUCLOCK=OFF`

[2021-07-07 03:41] ax3l commented on #2056
Hm, I have to admit IPO, especially with GPUs, is not super straight forward. I tested this on Summit a while back and a lot of things in the toolchain need to come together to make this work:
- modern compile tool chain, especially on PPC
- library/linker tools need to match perfectly, e.g. `CMAKE_AR`, `CMAKE_LINKER`, `CMAKE_RANLIB`, etc.

I definitely also have challenges compiling many modern s

[2021-07-07 05:37] #1917 closed, assigned to nobody

[2021-07-08 09:05] #2035 closed, assigned to nobody

[2021-07-08 13:27] lucafedeli88 commented on #2056
Thanks a lot for the explanation, @ax3l !

Maybe we could consider disabling `IPO` when WarpX is compiled for GPUs if it can cause issues. Or we could print a warning in `cmake` to tell the user that the combination `GPU+IPO` is very fragile and the executable may not work.

Anyway, concerning the "no kernel image" issue, I've managed to reproduce it with a configuration that should be supported,

[2021-07-08 15:59] EZoni opened #2068 "CI Tests: Do Not Build Same Executable Multiple Times"
Looking at the "Build & test" [log](https://dev.azure.com/ECP-WarpX/WarpX/_build/results?buildId=3350&view=logs&j=1b898616-071f-5570-1cbf-6bb499f46f78&t=1adc1957-4cfa-5acc-f91b-c36360712427) of the CI tests in the "cartesian2d" suite (taken from a random commit), you can see that we build the same executable two times for the first two tests:

[code]

In particular, the two build commands are iden

[2021-07-08 23:03] ax3l commented on #1917
I found a couple of further yt 4.0 breaking changes that affect us and documented them in https://github.com/ECP-WarpX/WarpX/pull/2066#issuecomment-876700156

[2021-07-13 16:38] #2068 closed, assigned to nobody

[2021-07-13 16:40] ax3l commented on #2068
Thanks for spotting and fixing this, @EZoni ! :rocket:

x-ref: https://github.com/ECP-WarpX/regression_testing/pull/13

[2021-07-13 16:43] ax3l commented on #2068
The 2nd compile was probably not too slow because we use ccache on Azure.
But local runs definitely did build twice if CCache was not explicitly turned on:
https://github.com/ECP-WarpX/WarpX/blob/0379aade67b4a2c7d0317a769604bf8a645dc0cf/.azure-pipelines.yml#L13

[2021-07-14 03:51] #1941 closed, assigned to nobody

[2021-07-14 21:29] EZoni opened #2089 "Strange [-Warray-bounds] Warnings"
I noticed that we have various warnings that look like this
[code]
when we compile WarpX with GNU Make (with all default build options).

Discussion initiated in https://github.com/AMReX-Codes/amrex/pull/2169.

Copying @WeiqunZhang's comment from there:

[2021-07-14 21:34] WeiqunZhang commented on #2089
If I make the following changes, the warnings are gone.
[code]
This is not meant to be a fix, just to demonstrate the issue.  Maybe the compiler sees that those indices are initialized to -1 somewhere.

[2021-07-14 21:40] WeiqunZhang commented on #2089
If we are sure it's false positive, we can disable the compiler warning with
[code]

We don't see the warning in cmake build, because it does not use `-Wall` by default.

[2021-07-14 21:44] EZoni commented on #2089
Actually I cannot find where those pointers like `m_src_comps_i` (whose `j`-th value is then assigned to `src_comp`) are assigned.

A `git grep` of `m_src_comps_i` in Source/ gives
[code]

Where are the values in `m_src_comps_i` actually assigned, before being copied to `src_comp` locally?

[2021-07-14 21:51] atmyers commented on #2089
Maybe we need to initialize them at https://github.com/ECP-WarpX/WarpX/blame/21.07/Source/Particles/ParticleCreation/SmartCopy.H#L69 ?

[2021-07-14 21:53] WeiqunZhang commented on #2089
It is initialized by `src_comp = m_src_comps_r[j];`.  The question is what's in `m_src_comps_r`.

[2021-07-14 21:58] WeiqunZhang commented on #2089
[code]

[2021-07-14 22:03] EZoni commented on #2089
This one gets access to the members `src_comps` and `dst_comps` of the struct `SmartCopyTag`, though. It doesn't initialize the members `m_src_comps_r` and `m_src_comps_i` (and the `dst` ones) of the struct `SmartCopy`, does it? Maybe I'm missing something.

[2021-07-14 22:04] WeiqunZhang commented on #2089
The ctor of `SmartCopyFactory` does it.

[2021-07-14 22:11] atmyers commented on #2089
I think the problem is with the `int` components - if I comment those out but leave the real the problem goes away.

[2021-07-14 22:12] atmyers commented on #2089
I think maybe the `SmartCopyFactory` isn't filling those...

[2021-07-14 22:12] WeiqunZhang commented on #2089
Yes.  https://github.com/ECP-WarpX/WarpX/issues/2089#issuecomment-880225756

[2021-07-14 22:13] WeiqunZhang commented on #2089
If SmartCopyFactory is not filling it, why does the compiler think it's -1?

[2021-07-14 22:15] WeiqunZhang commented on #2089
If I change it to `src_data = src.m_idata[src_comp-1];`, the error becomes
[code]

[2021-07-14 22:17] WeiqunZhang commented on #2089
Can we run a test using that code and see what the index is?

[2021-07-14 22:23] atmyers commented on #2089
I think that `int num_copy_int` is `0` in the cases where the index is `-1`, so all that code is skipped, but the compiler isn't figuring that out... should we take this to Slack?

[2021-07-14 22:24] WeiqunZhang commented on #2089
Sure

[2021-07-15 13:36] #2089 closed, assigned to nobody

[2021-07-15 16:15] EZoni commented on #1938
My understanding is that the RZ spectral solver in the boosted frame now seems to work, thanks to the latest fixes in #1945 and #2029.

@dpgrote @MaxThevenet @jlvay Shall we close this issue then?

[2021-07-15 16:36] EZoni commented on #1497
Just scanning open RZ issues. I believe this issue is resolved (simply the PR that fixed the issue had not been automatically linked to it): WarpX builds successfully with `USE_RZ=TRUE` and with `USE_PSATD=FALSE` or `USE_PSATD=TRUE`.

[2021-07-15 16:36] #1497 closed, assigned to dpgrote

[2021-07-15 16:43] EZoni commented on #872
This issue was superseded by the second part of #1037, which was resolved in #1294. The corresponding back-transformed diagnostic counterpart is addressed in the separate issue #1850.

[2021-07-15 16:43] #872 closed

[2021-07-15 16:52] EZoni commented on #918
This issue is resolved, as several automated tests for the RZ spectral solver have been added in the past year. Here's an up-to-date list:
- https://github.com/ECP-WarpX/WarpX/blob/38bbc5de41f176becacad00152008c77f7b018d7/Regression/WarpX-tests.ini#L689
- https://github.com/ECP-WarpX/WarpX/blob/38bbc5de41f176becacad00152008c77f7b018d7/Regression/WarpX-tests.ini#L709
- https://github.com/ECP-WarpX/

[2021-07-15 16:52] #918 closed

[2021-07-15 20:04] tanweihou opened #2094 "Installation problem [version 21.07]: geometry.prob_lo not found in table"
Hi all,

I built WarpX version 21.07 with no MPI, no QED, and no OMP, everything else default, the executable is named `warpx.3d.NOMPI.NOACC.DP`
The gcc version is 9.2.0.
While the build was successful, I ran into the following error when I was running it by command `./warpx.3d.NOMPI.NOACC.DP`.
[code]
Here's the content of Backtrace.0.
[code]

Is there some settings that I should configure when us

[2021-07-15 20:14] RemiLehe commented on #2094
Thanks for your interest in the code.

Did you try to pass an input script to the code? i.e.
[code]

See [this link](https://warpx.readthedocs.io/en/latest/usage/examples.html) for some examples of input scripts.

[2021-07-15 20:19] tanweihou commented on #2094
Yes, I tried the 2D case of beam-driven electron acceleration, AMReX input script, [input_2d](https://warpx.readthedocs.io/en/latest/_downloads/a858652e53603fa07d220f12cd1023df/inputs_2d)

It returned similar error messages.
[code]

[2021-07-15 20:56] tanweihou commented on #2094
@RemiLehe
It turns out that the problem occurs when I am running 2D cases in WarpX examples.
Both 3D cases in WarpX examples work just fine.

Does WarpX treat those test cases as 3D cases and hence running into problems ?
Thank you.

[2021-07-15 21:31] RemiLehe commented on #2094
Yes, that's correct, if you want to run a 2D case, you will need to recompile the code with `-DWarpX_DIMS=2`.

[2021-07-15 21:41] tanweihou commented on #2094
Thank you, I will close the issue.

[2021-07-15 21:41] #2094 closed, assigned to nobody

[2021-07-15 22:56] #1455 closed, assigned to ax3l, atmyers, WeiqunZhang, jlvay, LDAmorim, MaxThevenet, RevathiJambunathan, NeilZaim, Yin-YinjianZhao, EZoni

[2021-07-16 00:12] #1942 closed, assigned to nobody

[2021-07-16 00:22] ax3l opened #2097 "openPMD: avoid managed memory"
Make sure that openPMD output can run with `amrex.the_arena_is_managed=0` #2009

We need to explicitly copy D2H first, e.g. here
fields: https://github.com/ECP-WarpX/WarpX/blob/495d0520b4020a3c59df9b372f02d989a7180b31/Source/Diagnostics/WarpXOpenPMD.cpp#L1053-L1055
particles: https://github.com/ECP-WarpX/WarpX/blob/495d0520b4020a3c59df9b372f02d989a7180b31/Source/Diagnostics/WarpXOpenPMD.cpp#L596

[2021-07-16 17:24] RemiLehe opened #2099 "Embedded boundaries: raise error when using RZ"
The embedded boundaries have not been implemented in RZ (both for electrostatic and electromagnetic). We should raise a corresponding error when the user tries to use them.

[2021-07-19 16:31] ax3l commented on #1652
openPMD meta-data: The member charge does not change when we ionize an ion.
But in that case, I believe that charge is not the charge of the fully stripped ion (e.g. 6*q_e for Carbon) but instead it is only the fundamental charge (i.e. q_e, the absolute value of the charge of the electron)

[2021-07-19 23:35] ax3l commented on #2097
- Another test: make sure that no kernels are running once we start the D2H access for I/O via GPU synchronize.
- potentially `cudaMemPrefetchAsync` could be called for host before I/O, but it's not clear if this only works the other way around (H2D): https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__MEMORY.html#group__CUDART__MEMORY_1ge8dc9199943d421bc8bc7f473df12e42

[2021-07-20 15:58] ax3l commented on #2056
Isn't IPO off by default?

The problem is, that this warning is a bit disruptive if one sets up a well-tested env and we have no good way to differentiate. I am thinking to maybe add a sentence or two in the docs where we describe the IPO parameter if someone wants to turn it on, what do you think?

[2021-07-26 15:54] EZoni opened #2132 "RZ CI Tests: Discrepancies Between Local v. Azure Benchmarks"
A number of developers have observed occasional discrepancies between the CI benchmarks generated on local machines and the ones generated on Azure, for some of the RZ automated tests.

Cc: @dpgrote @MaxThevenet @RevathiJambunathan @oshapoval @RemiLehe @ax3l
Please feel free to edit this description by adding the PRs and tests where you encountered this issue (or do so in the future):
- #2029: `ga

[2021-07-26 20:03] #2099 closed, assigned to nobody

[2021-07-29 10:20] OscarJakobssonResearch opened #2145 "Follow-up: error when using openPMD + BTD"
As shown in #1915, boosted simulations with openPMD and back-transformed data occasionally crash at the last iteration with a "Detected illegal access to iteration that has been closed previously" error.
Since each snapshot is filled I was hoping the data would still be salvageable after the crash. When trying to analyse the data with "ts_laser = LpaDiagnostics('./diags/diag1/',check_all_files=Fal

[2021-07-29 19:20] ax3l commented on #2145
@OscarJakobssonResearch,

thanks for the report. Yes, I'll raise #1915 again for triage. On which operating system & with which software versions do you see this?
What's the gamma boost that you use (#1939)?

This should not be a problem if you run openPMD with ADIOS output, but unfortunately HDF5 files that are not closed cleanly stay in inconsistent state, which is a limitation of (parallel) HDF

[2021-07-29 19:49] ax3l commented on #1915
updated inputs file for WarpX version `21.07-66-gbf7150fa8`: [inputs.txt](https://github.com/ECP-WarpX/WarpX/files/6903251/inputs.txt)
Can reproduce locally on Ubuntu as well.

I wonder if `Detected illegal access to iteration that has been closed previously.` truly is the only error? We fixed to not throw this (final) message in case a previous error occurred recently: https://github.com/openPMD/

[2021-07-29 22:45] ax3l commented on #1915
The first two lab frame snapshots are not flushed until we do the final close.
Somehow the lab frame outputs are:
2, 4, 5, 9, ... (`FilterComputePackFlushLastTimestep`:) 0, 1, 2 - this "jumping" of labframe snapshots **also happens with the plotfile output**

[2021-07-29 22:47] RevathiJambunathan commented on #1915
[Listing things to check based on offline conversation : Axel and Reva]

- [x] do not force_flush if last BTD is already written out [not directly related to this issue. its need to prevent re-opening a closed file] -> #2148

- [ ] In the 2D example, the first two snapshots (0 & 1) are not fully flushed (i,.e, not fully filled) while snapshot 2 onward everything is fully filled and flushed. Need t

[2021-07-29 23:44] ax3l commented on #1915
- [ ] Found why some buffers / lab snapshots are not dumped:
- For `i_buffer=0`, the `m_buffer_counter[0]` peaks out at `249` and is thus never dumped.
- `i_buffer=3` maxes out at `255` (size: `256`)
- ...

I think that problem comes from `BTDiagnostics::PrepareFieldDataForOutput()`.

Then "underful" buffers are dumped after the evolve loop via `FilterComputePackFlushLastTimestep`.

[2021-07-30 00:15] ax3l commented on #1915
- [x] Step `2` is flushed again in `FilterComputePackFlushLastTimestep` because of the `force_flush` flag.
It's size is `m_buffer_counter[2]=0` at that point and the openPMD backend catches it as double-write attempt, thus the reported error message is thrown.

We could skip `m_buffer_counter[i_buffer]` of size 0 in the last timestep dump, which would:
- skip already written lab snapshots
- skip n

[2021-07-30 00:43] ax3l commented on #2145
Hi @OscarJakobssonResearch, a first fix for the immanent crash is in #2148.
But there is a bit more to be fixed that we document in #1915 and will address in another PR.

I'll close this to keep the reporting in #1915 together in one thread and since your HDF5 question is answered (cannot be recovered until HDF5 improves that aspect).

Sorry for the inconvenience that this might have caused and fo

[2021-07-30 00:43] #2145 closed, assigned to ax3l, RevathiJambunathan

[2021-07-30 19:22] NeilZaim opened #2151 "Issue when reading fields on reduced domain (diag_lo and diag_hi) with yt"
I have a simple 2D input file [(inputs.txt)](https://github.com/ECP-WarpX/WarpX/files/6909522/inputs.txt) that has a diag that dumps the rho field on only part of the simulation domain, thanks to the input parameters `<diag_name>.diag_lo` and `<diag_name>.diag_hi`.

When trying to read the field with yt, using the function `covering_grid`, I find that the data is "shifted spatially", so that I onl

[2021-08-02 17:05] shekhar4091 opened #2156 "Header files missing: Error during compilation"
I am new to Warp-X and am trying to install it after going through the documentation as given in https://warpx.readthedocs.io/_/downloads/en/18.11/pdf/. I am using WSL 2 for installation on a windows 10 machine.  When i try compiling the executable using 'make -j 4' . I get an error which says
" fatal error: picsar_qed/containers/picsar_array.hpp: No such file or directory
 #include <picsar_qed/co

[2021-08-02 20:35] ax3l commented on #2156
@shekhar4091, thanks for raising the question and welcome to WarpX!

It looks to me like you are trying to compile a very old development version of WarpX (`18.11`).
Please follow the latest installation guideline here: https://warpx.readthedocs.io/en/latest/install/users.html
and please tell us if the problem persists :)

[2021-08-02 20:46] ax3l commented on #2151
Hi @NeilZaim,

a quick first check before going deeper: does the problem persist with yt versions `3.6.1` and `4.0.1`?
Potentially: Is the same problem present with openPMD HDF5 files?

[2021-08-02 21:02] atmyers commented on #2151
My guess is that the correct geometry is not being written into the
plotfile header.

On Mon, Aug 2, 2021 at 1:46 PM Axel Huebl ***@***.***> wrote:

[2021-08-02 22:17] dpgrote commented on #788
This was fixed by PR #837.

[2021-08-02 22:17] #788 closed

[2021-08-02 22:21] dpgrote commented on #1675
This has been implemented in PR #2067 and this issue can be closed.

[2021-08-02 22:27] dpgrote commented on #1943
In PR #2031, filtering is turned off by default with RZ FDTD. If filtering is turned on with RZ FDTD, a warning will be printed since it has not been implemented. Can this issue be closed or left open as a reminder that filtering in not implemented in RZ FDTD?

[2021-08-02 22:30] dpgrote commented on #1902
This PR has been satisfied with PR #2112 and PR #2115 and so can be closed.

[2021-08-03 22:20] #1902 closed, assigned to nobody

[2021-08-05 11:32] OscarJakobssonLPA opened #2166 "Laser from txye file in boosted frame - Something bad has happened with the simulation time"
Hi,

The option to inject laser pulses from external binary files is a great feature of WarpX.
I am currently trying this in the boosted frame by re-writing the input file in WarpX/Examples/Modules/laser_injection_from_file/inputs.2d_test_txye. See attached input file.

I am meet with
`amrex::Abort::99::Something bad has happened with the simulation time !!! `
which relates to
`    if(idx_t_left <

[2021-08-06 15:27] NeilZaim commented on #2151
I can confirm that the problem persists with yt `3.6.1` and `4.0.1`. Actually, the glitch to recover the data by toying with the `left_edge` value no longer works with `4.0.1` because I get an error saying that I am trying to read data beyond the simulation domain.

And in case it can help, it looks like the shift between the value that I have to put in `left_edge` to read the full data and the ac

[2021-08-08 17:21] shekhar4091 commented on #2156
Thank you @ax3l for the help. I was able to install WarpX with the documentation you mentioned above. Now I am trying to run some test cases as given here https://warpx.readthedocs.io/en/latest/usage/examples.html#usage-examples
I have read the input parameters page and understood most of them. After going through the input file I was able to understand how the work flow takes place. But when I ru

[2021-08-10 17:32] ax3l opened #2177 "Performance Tests: Update"
From @MaxThevenet:

- [x] inputs are not in CI: #2179
- [ ] runtime etc. is read from TProf data, which is not very stable and gives some over-complicated Python code
- [ ] The build system is old, and output are with plotfiles
- [ ] the tests are relatively small, not perfectly production-like

[2021-08-11 06:07] ax3l commented on #2166
Hi Oscar,

Thanks for the report! I am not sure this feature was tested with boosted frame support yet.

Let me cc @lucafedeli88, he might know more about it.

[2021-08-11 06:19] ax3l commented on #2156
Hi @shekhar4091,

no worries, that's what we are here for :)

So one basic aspect that we do potentially not cover well in the docs is the following: WarpX can be compiled with 2D, 3D or RZ geometry.
Input files need to match the dimensionality of the binary for the C++ executable usage.

Here, the turner case is in 2D but you compiled with defaults, which gives you a 3D WarpX executable.
Just add

[2021-08-13 16:44] RevathiJambunathan opened #2196 "Checkpoint file must include macroscopic properties"

[2021-08-13 18:55] ax3l opened #2198 "Ascent/SENSEI: plot_filter_function for particles"
We have not yet implemented `plot_filter_function` for Ascent and SENSEI diagnostics.

We should either warn when it's used, abort or implement it :)

Note: both tools have threshold filters, so "warning" the user that the filter is not applied is totally fine as well for now.

[2021-08-19 13:31] OscarJakobssonLPA commented on #2166
Hi,

Thank you @ax3l and @lucafedeli88.
A further update to this issue. The error appears when warpx tries to read in the second chunk of the laser. The first iterations, up to time_chunk_size, run fine.

By commenting out txye_laser.time_chunk_size the boosted simulation run as expected.

For smaller simulations this issue is solved.
When running RZ/3D simulations the external files can be 10s of

[2021-08-19 15:55] NeilZaim commented on #510
This is a bit old but I can confirm that, after updating the deprecated input parameters, I no longer see a segfault with the input file and runtime parameters above but have a nice error message instead. So I think we can safely close this issue.

[2021-08-19 15:55] #510 closed

[2021-08-23 23:20] #1366 closed, assigned to nobody

[2021-08-24 16:12] atmyers commented on #2151
I made two pull requests to yt to fix this issue, the first has been merged: https://github.com/yt-project/yt/pull/3468
and the second is still waiting for final review: https://github.com/yt-project/yt/pull/3470

[2021-08-24 17:49] atmyers commented on #2151
Both have been merged now, if you update your yt this issue should be fixed.

[2021-08-25 10:15] NeilZaim commented on #2151
Yes I can confirm that the problem is resolved with the latest yt version, so I'm closing the issue.
Thanks a lot for quickly fixing this!

[2021-08-25 10:15] #2151 closed, assigned to nobody

[2021-08-25 10:49] NeilZaim commented on #914
This is fixed by #1873, so I'm closing the issue.

[2021-08-25 10:49] #914 closed

[2021-08-26 20:08] RemiLehe opened #2242 "Relativistic Poisson solver with embedded boundaries"
PR #2143 finalized the implementation of the Poisson solver with embedded boundaries in the case `do_electrostatic = labframe`.

For completeness, it would be good to also implement it in the case `do_electrostatic = relativistic`. This would essentially require to call `mlmg.getGradSolution` and apply relativistic factors / transformations.

In addition, it would also be good to generalize #1811

[2021-08-27 01:20] ax3l opened #2244 "openPMD: <diag_name>.plot_raw_fields"
Add support for `<diag_name>.plot_raw_fields` for openPMD output.

We have to decide what to do with guard cells (cropping them away is probably the best idea). openPMD has no formal definition for duplicate data, but ADIOS1/2 as a backend should support it.

[2021-08-30 15:36] NeilZaim commented on #939
This was fixed by #1315 so I'm closing the issue.

[2021-08-30 15:36] #939 closed

[2021-08-31 19:07] ax3l opened #2257 "ECT: Init on GPU"
The Enlarged Cell Technique (ECT) initialization needs re-work to avoid race conditions on GPU.

(work-around: run on CPU for now; downside: with moving window, when conductors change every time step, this can be slow)

Follow-up to #1923
cc @lgiacome @RemiLehe

[2021-08-31 19:08] ax3l opened #2258 "ECT: Many Irregular Cells"
Limitation of the first implementation of the Enlarged Cell Technique (ECT): If many irregular cells intrude the same regular cell, the regular cell might run out of area and the algorithm fails. In this case we fall back to staircasing. (work-around: better resolution)

Follow-up to #1923

cc @lgiacome @RemiLehe

[2021-08-31 19:12] ax3l opened #2259 "ECT: Segfault if EB Is Enabled"
The test `Examples/Physics_applications/laser_acceleration/PICMI_inputs_laser_acceleration.py` segfaults if embedded boundaries are compiled in (https://github.com/ECP-WarpX/WarpX/pull/2170#issuecomment-908936727). This seems to be a regression to #1923

The issue resides in `FiniteDifferenceSolver::EvolveBCartesian<CartesianCKCAlgorithm>`
Segfault in accessing a `amrex::FabArray<amrex::FArrayBox>

[2021-08-31 22:52] ax3l opened #2264 "I/O: External Fields"
Implement in the full diagnostics (plotfiles/openPMD/ascent/sensei):

Add possibility to either output "all fields" (grid + external fields from lenses, parser, etc.) or only external fields (everything but the grid fields).

### Possible Approach

We want to avoid adding/removing fields to the simulation grid to avoid cancellation errors.

Use temporary, cell-centered array and evaluate external

[2021-09-01 22:18] RevathiJambunathan opened #2268 "Spatially varying temperature for momentum intialization"
Plasma momentum initialization in the code currently supports a single temperature.
For example :
See BoltzmannMomentum below :
https://github.com/ECP-WarpX/WarpX/blob/75de2af8e8edd7f75523a244eef56e9c5b29b8ae/Source/Initialization/InjectorMomentum.H#L142
A constant `t` is used to compute mean-velocity which is used to initialize all particles.

This needs to be extended for spatially varying value

[2021-09-02 23:12] RemiLehe opened #2277 "Automatically transform the external field to the boosted frame"
When the user specifies external fields through the parser, then should automatically be transformed to the boosted frame.

[2021-09-08 16:41] dpgrote commented on #2277
@RemiLehe Having just done this for the plasma lenses, I can do this for the other external fields.

Though, [looking at it](https://github.com/ECP-WarpX/WarpX/blob/0ff0c955f3a6fe8375e0f49e60cc8f339c3ff188/Source/Particles/Gather/GetExternalFields.H#L53-L68), it will need a fair amount of rewrite since the boost mixes the E and B fields. The E and B classes would probably have to be combined into

[2021-09-09 19:00] anecas1979 opened #2293 "Installed but failed to run example: Mention Default is 3D"
Dear WarpX,

I was able to install warpx using the cmake instructions.  However, when I ran any example, I received error:
In the directory: /theory/anecas/src/warpx/runDir/test
As the user: anecas
SLURM_JOB_NODELIST ibm-[006-009]
SLURM_SUBMIT_DIR /theory/anecas/src/warpx/runDir/test
SLURM_JOB_ID 24872
MPI initialized with 64 MPI processes
ParmParse::queryarr too many values requested for last occ

[2021-09-09 19:20] anecas1979 commented on #2293
Problem solved.

[2021-09-09 19:20] anecas1979 commented on #2293
Please let new users know that the default compiling is for 3D.

[2021-09-09 23:27] nruof opened #2295 "Checkpoints for restarting don't handle runtime attributes"
Restarting from a checkpoint with python picmi works correctly as expected, however errors out when trying to restart from a checkpoint created from a simulation that added new runtime attributes (Warp: "pids").

Checkpoints are saved regardless, but may not be saving the new pids in the ParticleContainer.  When re-running the simulation from a checkpoint, the error given is "ParticleContainer::Re

[2021-09-13 18:35] #1784 closed, assigned to atmyers

[2021-09-13 23:14] RemiLehe commented on #2277
@dpgrote Do you want to take this on?
Otherwise, I could also try to do this e.g. starting next week.

[2021-09-13 23:15] ax3l commented on #2293
Hi @anecas1979, thank you for the report and glad you found it!

Which installation method did you use, did you compile from source?
Just looking for a good place in the docs to drop that info!

[2021-09-13 23:19] atmyers commented on #2295
I will look into this.

[2021-09-14 10:14] NeilZaim commented on #1345
Closing this after #2278.

[2021-09-14 10:14] #1345 closed, assigned to nobody

[2021-09-14 22:40] atmyers commented on #2295
It looks to me that the PID information is being correctly saved to the checkpoint file and that reading the runtime components back in is supported. The issue is that the checkpoint is read in the call to:

[code]

but the runtime component for "newPID" is added after that in `PICMI_inputs_2d.py`. So, at the time WarpX tries to read the checkpoint, it is not expecting to find the runtime componen

[2021-09-16 20:06] dpgrote commented on #2277
@RemiLehe I can work in this (if you haven't started yet). The same thing will have to be done for the accelerator lattice code (which is on my todo list) so this would be a good place for me to start getting that organized as well.

[2021-09-17 18:44] #1675 closed, assigned to dpgrote

[2021-09-23 22:04] ax3l commented on #2132
On DGX, I saw segfaults in FFTW:
https://github.com/ECP-WarpX/WarpX/blob/3a6650e45ef4cf9fed32e62228f4f45f4e74303a/Source/FieldSolver/SpectralSolver/SpectralFieldData.cpp#L165-L168

This can also be a compiler/MPI mismatch, but it's worth double-checking out FFTW API contract usage.

Update: probably just an incompatible FFTW module that I loaded quickly on DGX

[2021-09-24 20:20] KZhu-ME opened #2340 "MLMG solver diverges with circle embedded boundary"
The mlmg solver diverges when calculating fields for step 0 under certain conditions depending on the dimensions of the grid, the resolution of the grid, and the size of the circle embedded boundary of the grid (based on my preliminary testing).

Attached is a minimum working example 2D picmi input file that reproduces this issue. We found that the issue is present when we vary the radius of the c

[2021-09-26 05:06] RemiLehe opened #2343 "`warpx.zmax_plasma_to_compute_max_step` does not work with restart"
The automatic calculation of the number of iteration to perform from `warpx.zmax_plasma_to_compute_max_step` seems to be off when done after a restart. (observed recently in boosted-frame simulations)

[2021-09-26 05:53] wangjia-ai opened #2344 "A compilation error"
Dear developers：
        Recently, I want to update the latest version of warpx 21.09， but meet a compile error. Do you know how to solve this problem?
        Workflow:
        cmake -S . -B build_rz -DWarpX_DIMS=RZ -DWarpX_COMPUTE=CUDA -DWarpX_OPENPMD=ON -DWarpX_QED=OFF
        cmake --build build_rz -j 4
        Error：
       [compile_error](https://user-images.githubusercontent.com/73467797/13

[2021-09-26 23:22] roelof-groenewald opened #2346 "Solution of electrostatic solver with Neumann BCs depend on USE_EB compile flag"
Support for Neumann BCs with the electrostatic solver has been added in PR #2345. However, it was observed that the solution of the Poisson equation drastically changes when WarpX was compiled with `USE_EB=TRUE`.
The electrostatic potential from a simulation using Neumann BCs in the x-direction (and Dirichlet in the z-direction) was compared to results from Warp for the same simulation setup. The

[2021-09-27 07:29] NeilZaim commented on #2344
Hello @wangjia-ai. I believe this issue was very recently fixed [here](https://github.com/ECP-WarpX/WarpX/pull/2333). You can use a more recent version of the code, on the `development` branch, to solve this problem.

[2021-09-27 09:00] #2344 closed, assigned to nobody

[2021-09-27 09:09] wangjia-ai opened #2347 "Installation error: identifier "src_zeropad" is undefined"
Dear developers:
        Recently, another installation error happens as seen below

![error2](https://user-images.githubusercontent.com/73467797/134878766-fd2a8f6d-16a9-457b-b24c-a922f8a817c0.png)
       Thanks

[2021-09-27 15:22] WeiqunZhang commented on #2346
Yes, that is the case.  https://github.com/AMReX-Codes/amrex/blob/54dc681046f8c3f19034358fe0d45b72d13a9863/Src/LinearSolvers/MLMG/AMReX_MLEBNodeFDLaplacian.H#L13

Please post an amrex github issue.  We can add support for it.

[2021-09-27 16:06] roelof-groenewald commented on #2346
Thanks @WeiqunZhang!

[2021-09-27 23:51] ax3l commented on #2347
@wangjia-ai thank you for the report!
Can you attach the full build output when you start this from a fresh, empty `build` directory? I wonder if you GCC is too old or not matching the nvcc version or if it's another problem.

[2021-09-27 23:52] ax3l commented on #2347
Also seen by @PhilMiller

[2021-09-27 23:54] PhilMiller commented on #2347
`cmake ~/repos/WarpX/  -DWarpX_DIMS=2 -DWarpX_EB=ON -DWarpX_LIB=ON -DWarpX_COMPUTE=OMP -DWarpX_OPENPMD=ON -G Ninja`

[code]

[2021-09-27 23:55] ax3l commented on #2347
Uff, yes should not compile with GPU for all but 3D cases.

Regression to #2314 since we only compile in 3D with CUDA/SYCL/HIP atm (due to CI time).
Will add a 2D compilation to HIP.

[2021-09-28 00:07] ax3l commented on #2347
Thank you both for the report!
Fix in #2353 :)

[2021-09-28 02:16] #2347 closed, assigned to ax3l

[2021-09-29 21:19] peterscherpelz commented on #1901
I'm going to mark this issue complete. Future PRs may address items such as multiple conductors, but all the primary functionality described here has been implemented.

[2021-09-29 21:19] #1901 closed, assigned to nobody

[2021-09-29 21:21] peterscherpelz commented on #1900
While not quite everything has been addressed, all top-priority items have, and opening separate issues for future work will be much more productive.

[2021-09-29 21:21] #1900 closed, assigned to nobody

[2021-09-30 22:38] WeiqunZhang commented on #2346
Could you give this a test?  https://github.com/AMReX-Codes/amrex/pull/2371

[2021-10-01 05:03] roelof-groenewald commented on #2346
Yeap, that fixes it! Thanks a lot for looking into it. I'll close this issue and make a note on the pending PR that it should be merged after your AMReX PR is merged and the version used in WarpX is updated.
![eb_fix](https://user-images.githubusercontent.com/40245517/135567904-e709a5a5-037e-4fa0-8fd4-fe815bd46b42.png)

[2021-10-01 05:03] #2346 closed, assigned to nobody

[2021-10-04 23:20] ax3l commented on #2340
ping @atmyers @WeiqunZhang :)

[2021-10-04 23:30] WeiqunZhang commented on #2340
Do you have an inputs file that does not use python?

[2021-10-05 00:10] KZhu-ME commented on #2340
@WeiqunZhang

Yep, here's the non python input file: [inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/7281928/inputs_2d.txt)

[2021-10-05 16:52] KZhu-ME commented on #2340
If this helps, we noticed that two of our circleCI tests (that also used the circle embedded boundaries) would consistently fail in this same way with the mlmg solver diverging, after updating the amrex branch we used for the build from `b15b1cf8d282cbb2c0d0bc0c7b049a79375ea63c` to `350a3efc2c6408efcadb6aaf0a334944af51098b`. Of note though, the tests would still pass when run locally, they would o

[2021-10-06 00:15] KZhu-ME commented on #2340
Update: I tried running the script using an old version of warpx (`61258362727c9733b89369067343947ee556a002`) and an old version of amrex (`b15b1cf8d282cbb2c0d0bc0c7b049a79375ea63c`) and the script runs without failing. So it seems like some change after these commits is causing the issue.

[2021-10-06 00:38] WeiqunZhang commented on #2340
That's actually very surprising.  I don't understand the reason.  In any case, I think I have found the issue, and I am working on a fix.

[2021-10-06 18:09] ax3l opened #2382 "cartesian3d: BTD_ReducedSliceDiag Test Unstable"
In CI, we see that the `cartesian3d` test `BTD_ReducedSliceDiag` sporatically crashes.
This needs maybe a build in debug mode locally to find out where it crashes.

CC @RemiLehe @RevathiJambunathan

[2021-10-06 23:51] WeiqunZhang commented on #2340
https://github.com/AMReX-Codes/amrex/pull/2386  Could you give this a try?

[2021-10-07 15:12] NeilZaim commented on #2382
I have tried in debug mode locally but couldn't see a crash. :'( I have also tried with valgrind but nothing popped up.

[2021-10-07 17:53] WeiqunZhang opened #2390 "Out-of-bounds error in 2D EB"
While working on #2340, I observed an out-of-bounds error in `WarpX::ComputeEdgeLengths` if WarpX (2D and with EB) is compiled in debug mode.  The issue is even in 2D there are 3 components in `m_edge_lengths`.  So the code like below is incorrect in a number of ways.
[code]
First, only two out of the three components of `m_edge_lengths` are initialized here.  The second issue is that the second d

[2021-10-07 17:58] WeiqunZhang commented on #2390
If the `m_edge_lengths` etc. are only used by the ECT solver, maybe we do not need to allocate and initialize them.

[2021-10-07 18:20] lgiacome commented on #2390
Hi Weiqun,

Alright, I see that this won't work in 2D.
I also have to say that the ECT, for now, is only implemented in 3D, but it should be easy to adapt it to work also in 2D and it is already on my TODO list.
Maybe for the moment, it would be better to do this initialization process only when working in 3D since 2D and electromagnetics are not really supported yet.

These mfabs are also used by

[2021-10-07 20:47] KZhu-ME commented on #2340
It fixes the issue of mlmg fails to converge for the 0th and 1st step, However, running 10 steps will still cause the mlmg solver to fail to converge.

[2021-10-07 20:52] WeiqunZhang commented on #2340
Does it blow up or just need more iterations?

[2021-10-07 21:03] KZhu-ME commented on #2340
It looks like it just needs more iterations.

[2021-10-07 21:06] WeiqunZhang commented on #2340
I think it will require fewer iterations if the number of cells is a power of 2.  That will allow for more coarsening if the geometry permits.

[2021-10-07 21:50] EZoni opened #2392 "Missing Python Analysis for CI Test `uniform_plasma_restart`"
Our CI test `uniform_plasma_restart` does not perform any Python analysis at the moment, not even the default check-sum regression analysis (`analysisRoutine` not set in WarpX-tests.ini and `JSON` benchmark file missing):
https://github.com/ECP-WarpX/WarpX/blob/153ee5bdb3bdd36d74c07a573394d1ec21d72485/Regression/WarpX-tests.ini#L875-L891

Once #2384 is merged, I believe it should be possible to ru

[2021-10-07 23:59] PhilMiller commented on #2340
As noted in our call, in a time-independent electrostatic problem (e.g. if the EB potential doesn't change until several steps into the run), the relative tolerance setting on the solver means that each step will progressively try to find a solution that's better than the previous step by a factor of the tolerance. Initially, this is fine, but it gets harder to satisfy until the solver hits the it

[2021-10-08 17:16] KZhu-ME commented on #2340
Fixed with https://github.com/AMReX-Codes/amrex/pull/2386!

[2021-10-08 17:16] #2340 closed, assigned to nobody

[2021-10-08 17:17] EZoni opened #2399 "Restart: Possible Bug with PML BCs"
If we modify `runtime_params` of the CI test `restart_psatd` in Regression/WarpX-tests.ini, by replacing `damped` with `pml` while setting `boundary.field_lo` and `boundary.field_hi`,
[code]
we need to increase the tolerance of the Python analysis script Examples/Tests/restart/analysis_restart.py from `1e-12` to `1e-06`, in order for the analysis to pass and get to the stage of the check-sum regre

[2021-10-08 18:25] #2295 closed, assigned to atmyers

[2021-10-08 19:08] WeiqunZhang commented on #2009
That was my initial reaction at that moment.  But that was not the issue.  The issue seemed to be related to cudaFree, but it was not in a callback function, although it was called in a mutex protected region.  Back in June, I did see the hang issue and could not figure out why.  The mutex usage was simple enough, it was hard to believe it would cause a deadlock.

Anyway, I did the test again toda

[2021-10-08 23:04] ax3l commented on #202
Yes, I have done some tests with that but no CI coverage.
Subcycling is only implemented for ratios of 2 right now, though.

[2021-10-08 23:04] ax3l commented on #202
@EZoni linked #1716 #1650 on Slack that we can update

[2021-10-11 17:35] ax3l commented on #2382
Backtrace printing added in https://github.com/ECP-WarpX/regression_testing/pull/16, let's see if we catch it next time

[2021-10-11 17:37] ax3l commented on #1935
Please comment if the problem persists and we can re-open.

[2021-10-11 17:37] #1935 closed, assigned to ax3l

[2021-10-11 18:23] ax3l commented on #2132
Proposed fix for `multi_J_rz_psatd` and `galilean_rz_psatd` stability in #2404

[2021-10-11 20:51] ax3l commented on #2132
@EZoni still sees a discrepancy locally. Let's see if #2302 gets better now for `multi_J_rz_psatd`.

[2021-10-11 22:31] #2392 closed, assigned to EZoni

[2021-10-11 22:59] ax3l commented on #2390
@lge0303 Thank you for working on those! :)

Can you please add runtime asserts for the things that are not supported as long as they are in-development (RZ and 2D EB/RZ algorithms that are not yet implemented, for instance). That way, it is easier for users/other devs to see (self-documenting behavior).

[2021-10-12 16:38] ax3l commented on #1776
Segfault in write from mixing OpenMP runtimes in conda (blosc & WarpX): https://github.com/conda-forge/warpx-feedstock/pull/29

[2021-10-12 21:39] ax3l commented on #2132
`multi_J_rz_psatd` will be temporarily disabled in #2411 until we find the origin of the fluctuation.

[2021-10-13 08:41] ax3l commented on #2132
New candidate spotted: `ElectrostaticSphereEB_mixedBCs` differs in analytics (via #2411)

[2021-10-13 20:20] ax3l commented on #1776
Segfault w/o OpenMP points on conda-forge to:
[code]

Could be:
- a bug in WarpX, using the API in BTD for fields wrongly
- a bug in openPMD-api
- a problem from mixing MSVC for all the stack but for the actual WarpX build in the end (where we use LLVM)

WarpX conda-forge feedstock runtime tests: https://github.com/conda-forge/warpx-feedstock/pull/30

WarpX CI runtime tests: #2440

[2021-10-13 23:29] hklion opened #2422 "Spatially vary bulk velocity in momentum initialization"
This is a similar idea to #2268 (PR #2357), but for the bulk velocity rather than the temperature. My plan is to follow a similar structure to #2357, creating classes to store and get the velocity information.

Currently, the code can take a non-negative real velocity as an input. The direction is specified by a string (negative velocities are indicated in the string). I want to give the option of

[2021-10-14 12:56] lgiacome opened #2423 "Extend field probe reduced diags to optionally save J, rho, phi, F, G, Bavg, and/or Eavg"
As a follow-up to #2416 and #2154 it would be desirable to add more fields that can optionally be monitored with the field probe.

[2021-10-15 22:25] RemiLehe opened #2437 "Filtering + shape factor of 1 + energy-conserving causes strange asymmetry"
When doing a test with 2 repelling charge, I observed a strange asymetry:
![img](https://user-images.githubusercontent.com/6685781/137560810-9126a04b-14f0-4620-b4fe-e00d1442d259.gif)

The particles move in a diagonal direction, whereas they should only move towards each other.

Interestingly, this only happens for:
- shape factor of 1
- energy-conserving
- filtering

Note that, in the above condit

[2021-10-16 00:55] ax3l commented on #2437
Since the filter has distinct code paths currently: Is that a CPU or GPU test?
Update on Slack: CPU test.

[2021-10-18 17:00] ax3l commented on #2437
@jlvay on Slack:

One could set
[code]
and see if they go in opposite direction in z.

[2021-10-18 21:38] RemiLehe opened #2445 "Add a warning when using shape_factor of 1 and energy conserving"
The users should be very wary when using these options together, because the results become numerically very sensitive.

[2021-10-18 21:46] RemiLehe commented on #2437
After more discussion: it could be that this is because the initial Poisson solve is not using filtering:
The initial Poisson solve calls `DepositCharge`:
https://github.com/ECP-WarpX/WarpX/blob/8a6287989c02877b0691267cc4ad0bf7d80e4c35/Source/FieldSolver/ElectrostaticSolver.cpp#L115
which in turn seems to call `SumBoundary` directly, instead of calling the usual `SyncRho` which includes filtering.

[2021-10-18 22:26] RemiLehe commented on #2437
It seems that the issue is solved by #2446 .
There is still a very small asymmetry when the above PR is used, but at least it does not depend on whether we filter or not. That remaining asymmetry could well be explained by the NGP interpolation.

[2021-10-18 23:07] RevathiJambunathan opened #2448 "ADIOS2 backend does not work with particle buffers for BTD for >1 mpi simulation"
PR #1898 adds capability to visualize particles for back-transformed lab-frame data.
However, it currently does not work with ADIOS2 backend.
Attached is the input file that fails.

[inputs_2d_boost_testBTD.txt](https://github.com/ECP-WarpX/WarpX/files/7369005/inputs_2d_boost_testBTD.txt)

The code runs to completion when using more than 1 mpi-rank.
However, when visualizing snapshot 2 where two f

[2021-10-19 01:41] tanweihou opened #2449 "BeamRelevant option for reduced diagnostics is not working"
Hi all, I have this weird problem that the `BeamRelevant` option for reduced diagnostics is not working.
While the simulation ran fine,the output text file did not record the correct output, instead it recorded only zero for all parameters. Also, the simulation ran fine even if I wrote the wrong `particles.species_names`.

Here's my input file. I used WarpX version 21.10 for this example.
Thanks.

[2021-10-19 21:13] atmyers opened #2451 "Moving window does not work with amr.ref_ratio=4"
Specifically, it is having a ref_ratio of 4 in the moving window direction that is the issue. Having `ref_ratio = 4` in the transverse direction seems fine.

To reproduce this, you can run the test at `WarpX/Examples/Physics_applications/laser_acceleration/inputs_2d` with the following runtime options:

`/main2d.llvm.TPROF.MTMPI.QED.GPUCLOCK.ex inputs_2d amr.max_level=1 max_step=200 warpx.fine_tag

[2021-10-19 23:18] KZhu-ME opened #2453 "MLMG Solver many iterations with embedded cylinder"
The MLMG solver takes many iterations to converge on a solution when there is an embedded cylinder in the simulation. This is especially apparent when compared to warp, as warp takes many fewer iterations to converge on a solution than warpx.

@WeiqunZhang The input files were uploaded on slack, as the checkpoint file is too large to upload here.

[2021-10-20 00:58] ax3l commented on #1776
Crashes for conda-forge Windows builds fixed via:
- https://github.com/conda-forge/openpmd-api-feedstock/pull/76
- ~~https://github.com/conda-forge/warpx-feedstock/pull/29~~ (was not a problem)
- https://github.com/conda-forge/warpx-feedstock/pull/30
- https://github.com/conda-forge/warpx-feedstock/pull/31

[2021-10-20 00:58] ax3l commented on #1776
PICMI Python import fixed via #2412

[2021-10-20 01:04] #1776 closed, assigned to ax3l

[2021-10-20 21:18] EZoni commented on #2382
Here is another backtrace for this from a [CI raw log](https://dev.azure.com/ECP-WarpX/WarpX/_build/results?buildId=5247&view=logs&j=fc138a38-7e4f-5d28-e3f1-923e4d419807&t=44870656-3815-5988-9b4c-fc2f7ca6e7d5) in #2429: [BackTrace.txt](https://github.com/ECP-WarpX/WarpX/files/7384345/BackTrace.txt).

[2021-10-21 18:21] EZoni opened #2461 "Langmuir MR Test Crashes with MR Ratio 8"
If we try to run the test `Langmuir_multi_2d_MR` by setting `amr.ref_ratio = 8` (currently `4`) in its `runtime_params` defined in Regression/WarpX-tests.ini, the test crashes because the following ASSERT is triggered:
https://github.com/ECP-WarpX/WarpX/blob/defefa9b053dccc3cf35a2e8e4fda7ea01a7f7d7/Source/BoundaryConditions/PML.cpp#L749-L760
Here's the backtrace generated by the test: [Backtrace.t

[2021-10-21 18:37] EZoni opened #2462 "Problems with Milestone Run in RZ"
In preparation of the last milestone report, we ran some simulations of 2 plasma stages in RZ geometry, which did not seem to produce correct results.

Here's the input file that was used: [inputs_rz.txt](https://github.com/ECP-WarpX/WarpX/files/7392075/inputs_rz.txt). The run was performed on Summit using 4 nodes (24 GPUs).

Here's a movie showing the time evolution of the component Ez of the ele

[2021-10-21 20:04] RemiLehe opened #2464 "`divE` diagnostic is inaccurate when using momentum-conserving"
When outputting `divE` from WarpX, we pass `Efield_aux` to the [`divE` functor](https://github.com/ECP-WarpX/WarpX/blob/0b6ddad4ce039277025b80ba81ff2692b3a80724/Source/Diagnostics/ComputeDiagFunctors/DivEFunctor.cpp).

For momentum-conserving simulation, `Efield_aux` is nodal instead of being staggered (as assumed by the `divE` functor). Therefore the calculation of `divE` is incorrect.

It is not

[2021-10-21 20:06] RemiLehe commented on #2464
Actually, maybe I was too pessimistic: maybe we can just replace `Efield_aux` by `Efield_fp` here:
https://github.com/ECP-WarpX/WarpX/blob/02096d079680a2f7125db230bcde872dde63732c/Source/WarpX.cpp#L2183
and then do the same for `Efield_cp`, and finally call something similar to `UpdateAuxilaryData`.

[2021-10-21 22:16] WeiqunZhang commented on #1435
#2444 is an example.

[2021-10-21 22:22] ax3l commented on #1441
Implemented in #2027

[2021-10-21 22:22] #1441 closed, assigned to ax3l

[2021-10-21 22:27] RemiLehe commented on #2399
As discussed with @EZoni, this issue is probably because the Galilean PML have not yet been implemented. (see issue #444)
I will therefore close this issue.

[2021-10-21 22:27] #2399 closed, assigned to nobody

[2021-10-21 22:51] RevathiJambunathan opened #2466 "BTD : Close files when snapshot is full."
Currently, for BTD, the snapshots in lab-frame are closed only when a buffer is full.
However, for many simulations, the snapshot can be filled even if the last buffer is not full.
This issue needs to fixed so that the snapshot file is closed even if the last buffer us not full, but the last slice in the snapshot is back-transformed.

[2021-10-21 22:53] RevathiJambunathan opened #2467 "BTD in RZ to be implemented."
Currently, BTD is implemented for cartesian coordinates. This needs to be extended to RZ

[2021-10-21 22:54] RevathiJambunathan opened #2468 "BTD bug-fix for restart"
PR #2356 fixed the starting position for BTD in the old implementation.
This needs to be added in the new BTD implementation.

[2021-10-21 22:56] RevathiJambunathan opened #2470 "BTD checkpoint/restart"
The new BTD implementation needs to be extended to ensure that checkpoint/restart is supported and accurate for the back-transformed snapshots.

[2021-10-21 22:58] RevathiJambunathan opened #2471 "BTD for gamma=1"
The algorithm in the new BTD implementation needs to be restructured to support simulations with gamma=1.

[2021-10-21 23:00] RevathiJambunathan opened #2472 "Support for particle visualization in BTD with plotfiles/openpmd"

[2021-10-22 00:03] ax3l commented on #2466
@RemiLehe I think this is @camille12225 's problem we saw with the new BTD fields for the last file in a simulation

[2021-10-22 22:25] RemiLehe commented on #2462
For comparison, here are the result from a **3D** script, which should in principle simulate the same physics (albeit with different numerical parameters):
![img008500](https://user-images.githubusercontent.com/6685781/138529292-bf44348b-ced2-4f7a-838f-49d37eaaa6de.png)
This snapshot should correspond roughly to iteration 1500 from the above RZ movie. However, the fields significantly different.

[2021-10-25 21:29] KZhu-ME commented on #2453
Fixed with https://github.com/ECP-WarpX/WarpX/pull/2457 and https://github.com/AMReX-Codes/amrex/pull/2421.
In our test run the number of iterations to convergence decreased from ~60 to ~6 iterations!

[2021-10-25 21:29] #2453 closed, assigned to nobody

[2021-10-25 23:07] ax3l commented on #2382
Saw the same backtrace again in #2479: [Backtrace.txt](https://github.com/ECP-WarpX/WarpX/files/7413978/Backtrace.txt)

[2021-10-26 16:36] ax3l commented on #2466
@camille12225 has a test case that we can try on the fix for this, stored in `/global/cfs/cdirs/m558/camille/Up500Down100` on NERSC.
All `openpmd_1*.bp`, so reconstructed steps at the end of the simulation, seem to be broken at the moment.

[2021-10-27 20:30] ax3l commented on #2449
@tanweihou, I think you are missing the
[code]

In your inputs?
https://warpx.readthedocs.io/en/latest/usage/parameters.html#diagnostics-and-output

[2021-10-27 20:31] ax3l commented on #2449
cc-ing @Yin-YinjianZhao for more `BeamRelevant` diagnostics questions.

[2021-10-27 20:59] tanweihou commented on #2449
Hi @ax3l , I still get the same problem after putting `freespace_stats.intervals = 100 # or other values`, as shown in below.

[code]

[2021-10-27 23:18] Yin-YinjianZhao commented on #2449
Hi @tanweihou I tested and found `myparticle.q_tot = 1.e-12` should be `myparticle.q_tot = -1.e-12` because you are using electrons. Then, you will have outputs in the `BeamRelevant` reduced diagnostics.
@ax3l I will close this issue.

[2021-10-27 23:18] #2449 closed, assigned to nobody

[2021-10-28 17:08] ax3l commented on #2449
Awesome, thanks for checking and solving this @Yin-YinjianZhao! :+1:

[2021-10-28 21:31] EZoni commented on #2462
Small update: I re-ran the test with the latest version of WarpX and can confirm that I still see the issue reported here. Note that the RZ test runs quite quickly even on a local desktop computer (e.g. using as little as 8 CPU cores).

[2021-10-28 23:03] EZoni commented on #2462
@RemiLehe One difference between the 3D input and the RZ input is about the plasma lenses.

In the 3D input we set:
[code]

While in the RZ input we set:
[code]

So just double-checking: are these differences (e.g. one order of magnitude of difference in `repeated_plasma_lens_lengths`, `repeated_plasma_lens_strengths_B` and same for E which is absent in the 3D input) set up on purpose?

[2021-10-29 18:49] KZhu-ME opened #2512 "AMReX commit causes incorrect E field around EB"
_Originally posted by @KZhu-ME in https://github.com/ECP-WarpX/WarpX/pull/2496#issuecomment-954969721_

When we run our tests, the AMReX commit https://github.com/AMReX-Codes/amrex/commit/652af10ae992e2cf5c1812e0908d9b88ac22126c that corresponds to https://github.com/ECP-WarpX/WarpX/pull/2478 passes our tests.
But AMReX commit https://github.com/AMReX-Codes/amrex/commit/652af10ae992e2cf5c1812e0908

[2021-10-29 19:46] PhilMiller commented on #2512
This may not be a good path to resolution, but I can't help but think that if, outside the solver proper, the potential for points inside the EB were set to the same value as at the boundary, the function that computes the field based on the potential gradient would just naturally avoid this artifact.

Though, I do vaguely recall that there was some reason that such an assignment was specifically

[2021-11-01 18:36] WeiqunZhang commented on #2512
OK. I understand the issue now.  A fix will be coming soon.

[2021-11-01 21:00] ax3l commented on #2512
Thank you Weiqun! Fix merged in AMReX via https://github.com/AMReX-Codes/amrex/pull/2453 :)

[2021-11-01 21:41] PhilMiller commented on #2390
Rather than asserts, could you please add the appropriate no-op returns to the code, so that the built in calls to these routines don't break code that's not relying on them?

[2021-11-01 21:45] WeiqunZhang commented on #2390
Since 2d does not currently work anyway, we could return immediately for 2d as a stopgap.

[2021-11-01 23:23] ax3l opened #2517 "libfabric 1.6+:"
Document work-arounds for libfabric 1.6+ on more Cray systems: #2515
- [ ] Spock
- [ ] Perlmutter
- [ ] Cori

[2021-11-02 03:53] #2466 closed, assigned to RevathiJambunathan

[2021-11-02 15:31] #2512 closed, assigned to WeiqunZhang

[2021-11-03 20:36] RemiLehe opened #2522 "Gaussian beam positions do not change with `warpx.random_seed`"
When creating a Gaussian bunch and changing `warpx.random_seed`, the *momenta* of the particle change, but the positions stay identical. This is an issue to get true random samples when gathering statistics over many simulations.

[2021-11-05 20:49] EZoni opened #2525 "Instability with PML and Domain Decomposition"
Cc: @NeilZaim @lucafedeli88 @RemiLehe @ax3l @WeiqunZhang @atmyers

Here's a PICMI script initializing a unit pulse in the component Ey of the electric field and visualizing the fields Bx, Ey, Bz as well as the split fields Gx, Gy, Gz in the PML.

The simulation is 2D, with periodic boundary conditions in x and PML in z. The simulation behaves differently if we decompose the domain in x (e.g. 2 gri

[2021-11-05 21:50] EZoni commented on #2525
I've run the same test initializing By instead of Ey and visualizing the fields Ex, By, Ez as well as the split fields Fx, Fy, Fz in the PML.

Things look better in this case. There might be a bit of asymmetry in some of the fields, but the differences resulting from the two types of domain decomposition are less striking than the case above where F is zero by construction and G is non-zero.

With

[2021-11-05 21:57] EZoni commented on #2525
I can also confirm that G is the cause of the issue in this test. If I turn OFF the backward FFTs of G, both in the valid domain and in the PML, which means that I do not use G at all (as if I had set it to zero everywhere at each time step), then the simulation is stable and symmetric.

[2021-11-05 22:11] EZoni commented on #2525
Here's similar results with a laser instead of a unit pulse: [inputs_2d_picmi.txt](https://github.com/ECP-WarpX/WarpX/files/7489139/inputs_2d_picmi.txt) (this input file must be run with the compiled version of WarpX, not through PICMI).

With domain decomposition in z (stable and symmetrical):
![figure_pml_z_128x64_600_laser](https://user-images.githubusercontent.com/59625522/140583876-460ebed5-8

[2021-11-06 09:18] wangjia-ai opened #2528 "cmake error with -DWarpX_PSATD=ON"
Dear developers：
        Recently, I encountered a problem when updating WarpX.
        The workflow is as follows：
        1:  mkdir warpx_21_11
        2: cd warpx_21_11
        3: git clone https://github.com/ECP-WarpX/WarpX.git ./
        4: cmake -S . -B build_RZ -DWarpX_DIMS=RZ -DWarpX_COMPUTE=CUDA -DWarpX_OPENPMD=OFF -DWarpX_PSATD=ON -DWarpX_QED=OFF
         Then there is a cmake error：
![c

[2021-11-08 21:20] PhilMiller opened #2534 "CUDA memory errors in scrapeParticles"
Running `development 13f6e984` under Nvidia's `compute-sanitizer`, and input from `Examples/Physics_applications/capacitive_discharge/inputs_2d`, I see the following errors reported:

[code]

[2021-11-08 22:00] EZoni commented on #2525
Another small update: with the last input setup posted here (with the laser), the two simulations seem to agree pretty well up to iteration 150, and after that one can start seeing some really small differences (which grow later in time) in the signal of Gx and Gz, coming out of the vertical interface between the two subdomains in x (looking at the unstable case). But up to iteration 150 I have no

[2021-11-09 00:08] PhilMiller commented on #2534
`git bisect` points all the way back to https://github.com/ECP-WarpX/WarpX/pull/2069

[2021-11-09 00:08] PhilMiller commented on #2534
This is occurring in a problem with no actual embedded boundary

[2021-11-09 00:18] ax3l commented on #2534
attn @atmyers

[2021-11-09 00:38] PhilMiller commented on #2534
I've got a fix. There's one spot that doesn't respect the dimensionality of the build. It's not CUDA-specific

[2021-11-09 00:42] PhilMiller commented on #2534
It only comes up in a build with both EB and assertions enabled.

Can I recommend that the CI builds all have maximal assertions, even if they're otherwise optimized?

[2021-11-09 00:45] PhilMiller commented on #2534
On CPU with assertions, I got:

[code]

With stack trace:

[code]

[2021-11-09 00:54] ax3l commented on #2534
Thanks a lot, great catch!

Yes, we tried this - but especially bounds checks are so slow that we cannot run them on CI: #1883

[2021-11-09 18:39] #2522 closed, assigned to nobody

[2021-11-09 18:42] ax3l commented on #2132
Likely related: simulations with Gaussian beam might have had system dependent init routines before #2522 / #2523 was fixed. (Thanks for the fix @RemiLehe :tada: )

The fix changed:
- `LaserAccelerationBoost`
- `LaserAccelerationMR`
- `LaserAccelerationRZ`
- `PlasmaAccelerationBoost2d`
- `PlasmaAccelerationBoost3d`
- `PlasmaAccelerationMR`
- `Python_gaussian_beam`
- `RefinedInjection`
- `RigidInje

[2021-11-09 18:50] EZoni commented on #2525
@WeiqunZhang If I rerun the laser case with domain decomposition in x (see https://github.com/ECP-WarpX/WarpX/issues/2525#issuecomment-962251124) by commenting out the call `pml[lev]->FillBoundaryG(patch_type);` from `WarpX::FillBoundaryG` in Source/Parallelization/WarpXComm.cpp,
[code]
the simulation is stable and the fields look like the following (I think the white regions close to the middle o

[2021-11-09 19:45] RemiLehe opened #2539 "Correct binary fusion algorithm in RZ"
Corrections similar to  #2510 should be introduced

[2021-11-09 20:53] RevathiJambunathan commented on #2382
Saw the same backtrace again in #2530
[CI_Backtrace.txt](https://github.com/ECP-WarpX/WarpX/files/7507917/CI_Backtrace.txt)

[2021-11-09 20:54] RevathiJambunathan commented on #2382
It does not crash locally for me

[2021-11-10 17:29] MaxThevenet opened #2542 "Crash in parallel simulations when flushing particle data on JUWELS Booster"
A production 3D simulation with openPMD output crashes at the first particle flush, when running in parallel. This [input file](https://github.com/ECP-WarpX/WarpX/files/7514687/inputs.txt) is a reproducer showing the problem on a simplified setup. This is executed with the following [submission script](https://github.com/ECP-WarpX/WarpX/files/7514700/script2.sh.txt) on the Juwels Booster. The CMak

[2021-11-10 18:08] RevathiJambunathan commented on #2382
a potential fix #2543

[2021-11-10 19:26] etpalmer63 opened #2544 "Doxygen links to AMReX Doxygen pointing to wrong place"
This issue arises when I attempt to click on the link from the Doxygen page for `LaserProfilers.H`, https://warpx.readthedocs.io/en/latest/_static/doxyhtml/_laser_profiles_8_h.html.

On that page, if you click on the `AMReX_Gpu.H` link, you will be taken to `https://amrex-codes.github.io/amrex/doxygen/AMReX__Gpu_8H.html.html`. This results in a 404 error. Instead, it should link to `https://amrex-

[2021-11-10 20:09] #2534 closed, assigned to PhilMiller

[2021-11-10 21:59] RevathiJambunathan commented on #2382
Closed PR #2543 since BTD was not  called at initialization anyway.
Looking into Source/Diagnostics/BTD_Plotfile_Header_Impl.cpp:40

[2021-11-11 03:41] ax3l commented on #2528
Hi @wangjia-ai,

thanks for opening the issue and sorry for the slight delay.

Can you tell me how you installed your dependencies?
We have various possibilities to set up a WarpX development environment: https://warpx.readthedocs.io/en/latest/install/dependencies.html#install-dependencies

Or are you on an HPC machine and need help there? https://warpx.readthedocs.io/en/latest/install/hpc.html#hp

[2021-11-11 03:43] ax3l commented on #2544
Thanks for the report!
Curious, the class links work, e.g., to `AmrCore`:
https://warpx.readthedocs.io/en/latest/_static/doxyhtml/class_warp_x.html

[2021-11-11 03:45] ax3l commented on #2544
Bit puzzled how to solve this though, this is all we set to cross link the pages:
https://github.com/ECP-WarpX/WarpX/blob/b0c2c4286fa15f93a780625b51beb03362dc26c0/Docs/Doxyfile#L2107

Seems only to be a problem with links to AMReX source files - classes and other objects work :thinking:

Maybe that's a Doxygen bug that we need to report upstream?

[2021-11-11 14:49] etpalmer63 commented on #2544
It could be because some AMReX files are not properly/fully documented. -- I'll look into it.

Seems like its not a problem with the AMReX files, since in [this case](https://warpx.readthedocs.io/en/latest/_static/doxyhtml/_particle_scraper_8_h.html) the link to `AMReX_MultiFab.H` does not work, and in [this case ](https://amrex-codes.github.io/amrex-hydro/Doxygen/html/hydro__ebmol_8H.html)the sam

[2021-11-11 16:47] etpalmer63 commented on #2544
Reported to Doxygen: https://github.com/doxygen/doxygen/issues/8889

[2021-11-11 17:26] ax3l commented on #2542
Thanks for the detailed report!

As discussed on Slack, we see this problem only on Juwels so far and the same run works on other clusters.

The backtrace indicates that the problem originates straight out of the MPI-I/O layer (ROMIO). That's a bit curious, because by default OpenMPI uses OMPIO as it's I/O implementation instead of ROMIO, so something seems to be non-default on Juwels. I see that

[2021-11-11 17:29] ax3l commented on #2542
If this works, then we should remove the hint to change this in our docs:
https://github.com/ECP-WarpX/WarpX/blob/development/Docs/source/install/hpc/juwels.rst

I think we used  this temporarily to work around another earlier issue on Juwels.

[2021-11-11 17:44] ax3l commented on #2542
OMPIO errors still with (test from Maxence):
[code]

[2021-11-11 17:47] ax3l commented on #2542
Let's see if we can work-around this via:
[code]

Update: same error.

[2021-11-11 17:50] ax3l commented on #2542
The first errors:
[code]

point to a `ulimit` issue: https://github.com/open-mpi/ompi/issues/4336

Update:`ulimit -n` returns `524288` (pretty good) and the above linked issue is fixed in OpenMPI 4.1.1

[2021-11-11 18:01] ax3l commented on #2542
So the OMPIO problem here seems to point to a problem opening temporary files on Juwels for `mmap` (which is memory mapping for files):
https://github.com/open-mpi/ompi/blob/v4.1.1/ompi/mca/sharedfp/sm/sharedfp_sm_file_open.c#L129-L141

This seems to be part of the OpenMPI `sharedfp` framework, so it likely has its own controls that we can try:
https://www.open-mpi.org/faq/?category=ompio#sharedfp

[2021-11-11 18:22] ax3l commented on #2542
I asked about additional `--mca` options that we could try to modify or skip the `sharedfp` framework component in https://github.com/open-mpi/ompi/issues/9656

[2021-11-11 20:15] damianam commented on #2542
@AndiH brought me here. I am probably the guy you want to talk to if you have problems on the JUWELS Booster and/or the MPIs there.

Bear with me now, I am not an OpenMPI expert. We explicitly disable the `ompio` framework via the `mpi-settings` environment module:

[code]

If you actively enable `ompio` you are exploring uncharted territory for us. Regardless of that, it seems like the issue pops

[2021-11-12 00:55] PhilMiller opened #2553 "Compilation failure in QED with AMReX_PARTICLES_PRECISION=SINGLE"
When I configure with `-DWarpX_QED=ON -DAMReX_PARTICLES_PRECISION=SINGLE`, I encounter a compilation error as follows:

[code]

[2021-11-12 00:57] PhilMiller commented on #2553
Easily worked around for us, since QED=ON is the default, but we don't need it, so we can just turn it off.

[2021-11-12 15:02] etpalmer63 commented on #2544
A fix has already been pushed to address the issue in the AMReX Doxygen.

I mentioned the issue in WarpX to the Doxygen maintainer, but I couldn't recreate the extra ".html" bug. It turns out that when I build locally, the link works. For both versions 1.9.2 and 1.8.17. It looks like you're running ver. 1.8.13, maybe you could try 1.8.17 and see if that fixes the problem?

[2021-11-12 19:12] ax3l commented on #2390
X-ref: #2401

[2021-11-12 19:28] KZhu-ME opened #2554 "Load balance high residual and seg fault with EB"
When trying to use load balancing with the input file from https://github.com/ECP-WarpX/WarpX/pull/2538, with the changes from https://github.com/ECP-WarpX/WarpX/pull/2401, and adding return statements to the beginning of `WarpX::ComputeEdgeLengths`, `WarpX::ComputeFaceAreas`, `WarpX::ScaleEdges`, and `WarpX::ScaleAreas`, we get a very high residual (3e289) on step 4 (load_balance_intervals = 5),

[2021-11-12 20:26] roelof-groenewald commented on #2554
At least part of the problem is that `phi_fp` is not reset in `WarpX::RemakeLevel`. With the reset in we longer see the segfaults mentioned above. I will continue testing after fixing to see if there are other visible issues.

[2021-11-12 20:49] roelof-groenewald commented on #2554
There is definitely still a big problem with load balancing as can be seen in the attached figures of ion density.
(Note the plots below were generated with a different input script than the one attached above so don't be surprised by dimensions not agreeing)
Without load balancing on:
![Xe_ion_charge_density_0000002500](https://user-images.githubusercontent.com/40245517/141532452-9a35ce90-4c79-42

[2021-11-12 21:02] #2390 closed, assigned to RemiLehe, lgiacome

[2021-11-12 21:32] ax3l commented on #2554
attn @WeiqunZhang @lgiacome :)

[2021-11-12 21:36] ax3l commented on #2553
Ah, mixing precision for fields and particles is not yet supported/tested, but we are working on it: (here: DP particles, SP fields #2017).

This definitely needs a few interface updates and/or extra casts.
cc-ing @lucafedeli88 and @NeilZaim on it, I think that's likely a quick fix :)

The general "all SP" mode (`-DWarpX_PRECISION=SINGLE`) should work, though. Are you aware of that option? It wrap

[2021-11-12 21:39] ax3l commented on #2544
Excellent, will update to see if that fixes it :rocket:
Thanks a lot for doing the upstream report & coordination, appreciate it!

[2021-11-15 11:33] NeilZaim commented on #2553
Thanks for finding this issue. :+1:

Yes, picsar_qed does not currently support mixed precision, we only have a single Real type for both fields and particle quantities so I'm not surprised that we have compilation issues if we try to use `float` for particle quantities and `double` for fields.

I think supporting this would require a bit of work (either adding a second Real type in picsar_qed and

[2021-11-15 15:01] #2525 closed, assigned to nobody

[2021-11-15 18:36] PhilMiller opened #2560 "Compilation failures with -DWarpX_PRECISION=DOUBLE -DAMReX_PARTICLES_PRECISION=SINGLE"
I want to test out reduced precision for particles, which requires actually compiling the code in that form. This will catalog the compilation failures that appear, to get them cleared up.

* QED has issues, and is not necessary for our runs, so disable it with `-DWarpX_QED=OFF`

[code]

[2021-11-15 19:26] ax3l commented on #2554
Is it possible that we forget to load balance a couple of EB-related MultiFabs?
https://github.com/ECP-WarpX/WarpX/blob/ed9a8edc1e6c07b7f6942c0c9b86ab8d2fda6690/Source/WarpX.H#L1039-L1051

For an example on where to add them for load balance, see #2555

[2021-11-15 19:29] ax3l commented on #2554
@WeiqunZhang @lgiacome can you please add inline Doxygen comments to these members on the way?
[code]

This helps people understand what the 100s of member variables in `WarpX.H` are used for :)

[2021-11-15 19:34] ax3l commented on #2560
X-ref: #2017

[2021-11-15 20:06] ax3l commented on #2560
This PR already contains the fix for the particle histogram :)
More pushes to it welcome :)

[2021-11-15 22:06] lgiacome commented on #2554
@ax3l, I really don't know well this part of the code, but I think EB is being handled at the beginning of `Warpx::RemakeLevel`.
Is it correct?

https://github.com/ECP-WarpX/WarpX/blob/ee3fa1d0388af4ed43a578097cc86b0a6e0cbb21/Source/Parallelization/WarpXRegrid.cpp#L150-L159

[2021-11-15 22:45] WeiqunZhang commented on #2554
I think one needs to rebuild the mulitfabs before calling `ComputeEdgeLengths` etc., otherwise `m_edge_lengths` etc. are still in the old DistributionMapping.