[2021-11-15 22:57] RemiLehe commented on #2554
@WeiqunZhang @lgiacome
Am I correct that the functions `ComputeEdgeLengths` `ComputeFaceAreas`, `ScaleEdges`, `ScaleAreas` etc. (as well as the quantities `Venl`, `m_edge_lengths`, `m_face_areas`, `m_flag_info_face`, `m_flag_ext_face`, `m_area_mod`, `m_borrowing` that these functions initialize) are only needed for the electromagnetic solver?
If yes, then, although I agree with @WeiqunZhang that t

[2021-11-15 22:59] RemiLehe commented on #2554
Or maybe the issue here is due to the function `ComputeDistanceToEB` (which is also in the code that @lgiacome posted and ~~which would also need to be called after regridding, as @WeiqunZhang mentioned~~). Among the above mentioned functions, I think that `ComputeDistanceToEB` is the only one that is really needed for electrostatic.

[2021-11-15 23:01] RemiLehe commented on #2554
In that case, we would need `m_distance_to_eb` to be rebuilt.

[2021-11-15 23:14] roelof-groenewald commented on #2554
After adding the rebuild of `m_distance_to_eb` the issue with charge density appears solved. Here is the same run as before with load balancing turned on:
![Xe_ion_charge_density_0000002500](https://user-images.githubusercontent.com/40245517/141867342-01a152a9-08ca-4d2f-b72e-443f86cede7d.png)
Thanks @ax3l, @WeiqunZhang, @lgiacome and @RemiLehe.

There is still an outstanding issue with particle sc

[2021-11-16 01:18] wangjia-ai commented on #2528
Thanks, this problem has been solved after installing all the dependencies using spack.

[2021-11-16 01:58] wangjia-ai opened #2564 "Comparison of computing speed between yee solver and psatd solver in RZ"
Dear developers：
        Recently, I compiled warpx with psatd in RZ.  But the calculation speed is too slow.
        The input file and output with psatd in RZ are
[inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/7542689/inputs_2d.txt)
![image](https://user-images.githubusercontent.com/73467797/141880737-e4595b2b-14f7-4787-bb58-b7598347a960.png)
          The  input file and output with y

[2021-11-16 14:20] #2528 closed, assigned to dpgrote, ax3l

[2021-11-16 16:38] dpgrote commented on #2564
It is expected that the RZ spectral solver will be slower than the FDTD version since it entails significantly more operations. At the end of the simulation, WarpX will print out profiling information showing the timings of the most expensive routines. Can you post that here for the PSATD case?

[2021-11-16 16:59] RevathiJambunathan opened #2566 "CI tests for macroscopic solver"
We need to include small CI tests to cover the macroscopic solver with variable material properties.

[2021-11-17 18:29] KZhu-ME commented on #2554
Here's the graph of 64 core performance with https://github.com/ECP-WarpX/WarpX/pull/2563. Min tiles corresponds to `NX / max_grid_size` (the domain is square).  It's looking good!
![load_balancing_64_comparison](https://user-images.githubusercontent.com/86268612/142260551-36c4a943-8639-4b5d-bc41-1e3613fb4656.png)

[2021-11-18 17:42] ax3l commented on #2542
Thank you @damianam and thanks for chiming in!

@MaxThevenet can you try this?
[code]

And @damianam you say we should try
[code]
and
[code]
as alternative strategies?

We absolutely are at the moment, yes. #2097

Is your MPI GPU-aware?
Otherwise we could also experiment with adding `--mca mpi_leave_pinned 0` to `mpiexec`/`srun` - I saw pinning race issues in I/O in the past with PIConGPU.

[2021-11-18 18:00] AndiH commented on #2542
Our MPI is CUDA-aware, yes; you can see in the `UCX_TLS` variable which @damianam grepped above.

[2021-11-18 19:35] MaxThevenet commented on #2542
Thanks for looking into it! I tried
[code]
But all runs failed with similar [errors](https://github.com/ECP-WarpX/WarpX/files/7565518/error.txt).

[2021-11-19 00:31] #2554 closed, assigned to nobody

[2021-11-19 22:20] ax3l commented on #2382
Seen again in https://github.com/ECP-WarpX/WarpX/pull/2574#issuecomment-974506256 with the following backtrace:
[code]

[2021-11-20 03:20] RemiLehe opened #2587 "Particle scraping crashes when the timestep is too large"
When using the electrostatic solver, the timestep can be arbitrary large.
When using a large timestep, however, the code crashes in the scraping function.
I am guessing this might be because particles travel too far.

[2021-11-20 12:28] wangjia-ai commented on #2564
In order to improve the calculation speed, I have reduced the number of meshes and the number of macro particles in the cell.
[inputs_2d_psatd.txt](https://github.com/ECP-WarpX/WarpX/files/7574518/inputs_2d_psatd.txt)

![image](https://user-images.githubusercontent.com/73467797/142726163-982b96ef-756d-4278-b219-ac8eaef96a08.png)
![image](https://user-images.githubusercontent.com/73467797/142726238

[2021-11-23 00:50] ax3l commented on #2539
attn @NeilZaim maybe :)

[2021-11-23 00:50] RemiLehe commented on #2539
This will be fixed by https://github.com/ECP-WarpX/WarpX/pull/2569

[2021-11-23 02:08] ax3l opened #2594 "2D: y-polarized laser not initialized"
Seen today with @TiberiusRheaume:

When initializing a Gaussian laser profile in 2D3V simulations, the y polarization does not work. (normal direction is z, polarization in x works.)

[2021-11-23 06:07] ElisaRheaume commented on #2594
[inputs y polarize in 2d.txt](https://github.com/ECP-WarpX/WarpX/files/7586065/inputs.y.polarize.in.2d.txt)

[2021-11-23 15:21] MaxThevenet commented on #2542
If it helps, I can provide instructions to install the code etc. to make a simple and quick reproducer (although the main files are already in the issue description). For now, I found a workaround so users can keep going: use ADIOS2 output rather than HDF5. I installed ADIOS2 from source in my $HOME, and this seems to be working well.

[2021-11-23 18:36] hklion opened #2598 "Duplicated current deposition docs under "Field gather" heading"
On the Particle-in-Cell Method doc page, the [Current deposition](https://warpx.readthedocs.io/en/latest/theory/picsar_theory.html#current-deposition) and [Field gather](https://warpx.readthedocs.io/en/latest/theory/picsar_theory.html#field-gather) subheads have nearly the same text. The material under Field Gather looks like an old version of the Current Deposition docs.

[2021-11-23 21:10] kyfranzen opened #2599 "Conda installation problem"
Hi,
I am having a problem after installing WarpX using Conda on a Ubuntu 20.04 system:

As test inputs I use the Beam-driven electron acceleration example files (AMReX 2d file and PICMI Without mesh refinement file):

Launching the PICMI input file is working fine:

Can you please tell me what I need to do to make the AMReX method work as well ?

Thanks!,
Ken

[2021-11-30 01:00] EZoni commented on #2461
@WeiqunZhang Not sure how we decided to fix this issue here, but I just want to note down that if we remove the ASSERT above (assuming the check is too stringent, which I think was our conclusion), there will be another ASSERT triggered:
https://github.com/ECP-WarpX/WarpX/blob/6a3f6d45dd438eb35a768a68cced7b986bbc533b/Source/BoundaryConditions/PML.cpp#L357-L359
We should understand if this one is a

[2021-11-30 17:34] ax3l commented on #2382
I think this is a race condition for `BTDiagnostics::MergeBuffersForPlotfile` @RevathiJambunathan @atmyers.

Last seen in: https://github.com/ECP-WarpX/WarpX/pull/2300

Stack:
- ...
- 11: https://github.com/ECP-WarpX/WarpX/blob/development/Source/Diagnostics/BTD_Plotfile_Header_Impl.cpp#L32
- 12: https://github.com/ECP-WarpX/WarpX/blob/development/Source/Diagnostics/BTDiagnostics.cpp#L739
- 13: ht

[2021-11-30 19:21] ax3l commented on #1439
Raised again today by @tmsclark, who wants to work on this.

attn @WeiqunZhang maybe you can give him some guidance? :)

[2021-12-01 06:27] #2382 closed, assigned to ax3l

[2021-12-01 06:37] ax3l commented on #2382
Fix for CI flakyness (race condition between writing MPI ranks and readers) in #2608.

#2608 also contains a to-do to extend this fix for a similar issue that could potentially occur at scale with respect to out-of-sync parallel FS operations (future, when needed).

[2021-12-01 17:56] ax3l commented on #2599
Hi @kyfranzen,

thank you for the report and sorry for the slight delay due to the Thanksgiving break.

We are checking a Conda Ubuntu 20.04 installation in our CI in nightly tests and I cannot spot the problem that you see immediately:
- https://dev.azure.com/ECP-WarpX/WarpX/_build?definitionId=2
- https://github.com/ECP-WarpX/WarpX/blob/nightly/azure-pipelines.yml

The `Invalid MIT-MAGIC-COOKIE-

[2021-12-01 18:47] WeiqunZhang commented on #1439
There are two issues.  I suppose the first issue of the whole domain not being a multiple of the coarse ratio is not a big issue.  But we do want to fix the second issue due to the size of individual boxes.  For that, my suggestion is we create a temporary BoxArray that has nice sizes and use that for coarsening.
[code]

[2021-12-01 20:02] ax3l commented on #2599
Ok, so I did a little digging and conda-forge had a major improvement switching to `mamba` itself in October.
https://conda-forge.org/docs/user/announcements.html#announcements

Are you ok to iterate with us a bit on testing the next releases that we push in the coming days/weeks @kyfranzen?

[2021-12-01 20:22] kyfranzen commented on #2599
Hi Axel,
Thanks for looking into this. Sure, please let me know when you want me to test it out.

I did just have some success installing from source on Ubuntu 20.04 and so far the AMReX example scripts seem to run fine.

Best regards,
Ken

[2021-12-01 21:55] ax3l commented on #2599
Thanks, sounds great!

Yes, we list a couple of alternative user-level and system-level package manager configurations that you can use in the meantime to keep going: https://warpx.readthedocs.io/en/latest/install/users.html

Thanks for helping to test this and raising that something broke, much appreciated!

[2021-12-02 15:18] lucafedeli88 commented on #1993
This can be closed. The feature was implemented in https://github.com/ECP-WarpX/WarpX/pull/2113

[2021-12-02 15:18] #1993 closed, assigned to nobody

[2021-12-02 15:30] lucafedeli88 opened #2616 "Possible issue concerning fusion module in single precision"
While compiling WarpX in single precision and with GPU support, I got the following warning messages:
[code]
These lines are:

[code]
Can this be an issue? The square of these masses in SI units cannot be represented with a `float` ...

[2021-12-02 15:31] IlianCS opened #2617 "Issue concerning the yt analysis of a WarpX simulation"
Hello.
I was using WarpX with the joined input file.

[inputs_2d.txt](https://github.com/ECP-WarpX/warpx-data/files/7643083/inputs_2d.txt)

Here is my code to analyse the plot files (I just extracted the code to load a single diag) :

[code]
And here is the error message :
[code]
This commonly happens when trying to compute ghost cells up to the domain boundary. Two possible solutions are to selec

[2021-12-02 17:08] RemiLehe commented on #2598
Closed by #2604

[2021-12-02 17:08] #2598 closed, assigned to nobody

[2021-12-02 23:47] ax3l commented on #2617
Hi, yes using `ds.force_periodicity()` is also he only way I am aware to fix this for the latest yt (4+) #2117

Maybe @atmyers has an idea how we could make this more robust upstream again? :)

[2021-12-02 23:49] ax3l commented on #2594
Adding the EB label because it *might* be related to EBs in that sim.

@TiberiusRheaume can you confirm (not urgent) if this is also a problem if you don't use embedded boundaries (not compiled in and not activated)?

[2021-12-03 10:35] IlianCS commented on #2617
Hi @ax3l thanks a lot for your comment!
Actually, I've just realized that I made a mistake when I opened this issue.
The sentence " This commonly happens when ... ds.force_periodicity() " was actually part of the error message
(I am sorry for the misunderstanding)!
Anyway, doing `ds.force_periodicity()`  before the line `data = all_data_level_0['boxlib', field].v.squeeze()` seems to fix the issue.

[2021-12-06 22:31] ax3l opened #2630 "Overly long running physics tests"
Let's reduce the runtime of these CI tests to speed up CI runs:
- [x] 80s: `averaged_galilean_3d_psatd` -> @oshapoval #2625
- [x] 80s: `comoving_2d_psatd_hybrid` -> @oshapoval -> add to #2625?
- [x] 83s: `galilean_2d_psatd_hybrid` -> @oshapoval -> add to #2625?
- [x] 80s: `multi_J_2d_psatd` -> @EZoni #2638
- [x] 45s: `subcyclingMR` -> @EZoni #2632
- [ ] 336-370s: `particles_in_pml_3d_MR`
- [ ] 128

[2021-12-06 22:42] ax3l commented on #2617
This is a problem that was introduced in `yt` 4 when they re-worked the AMReX/BoxLib plotfile readers. I think it's some kind of rounding issue when `yt` reads in the simulation geometry.

I think it would be best to raise it here: https://github.com/yt-project/yt
Can you take this on? Maybe the `yt` maintainers can help us with that.

[2021-12-07 01:01] EZoni opened #2633 "`pywarpx`: Crash if `pywarpx.fields` is Imported at the Beginning"
As reported in #2576, if I try to `import pywarpx.fields` at the beginning of a PICMI input script, I get the following crash, at least locally:
[code]

This does not happen if I `import pywarpx.fields` later on in the PICMI script. Will try to find what specific calls need be done for this to work. Not sure if this is only an issue of my own `pywarpx` installation, or if this is an actual issue.

[2021-12-07 01:13] ax3l commented on #2599
Hi @kyfranzen, I released WarpX 21.11 and 21.12 today on Conda-Forge.

Can you please try if creating a new `conda` WarpX environment as described here
  https://warpx.readthedocs.io/en/latest/install/users.html#using-the-conda-package

solves the problems you saw?

X-Ref:
- https://github.com/conda-forge/warpx-feedstock/pull/33
- https://github.com/conda-forge/warpx-feedstock/pull/34

P.S.: Just

[2021-12-07 01:23] EZoni commented on #2633
On the machine where I'm testing this, `import pywarpx.fields` works only after `write_input_file` is called (from a PICMI `Simulation` object). This doesn't make much sense to me.

[2021-12-07 03:13] ax3l commented on #2633
attn @dpgrote @KZhu-ME et al. :)

[2021-12-07 04:21] #2277 closed, assigned to dpgrote

[2021-12-07 17:39] peterscherpelz commented on #2633
Modern Electron's approach:
- https://github.com/ModernElectron/WarpX/blob/memaster/mewarpx/mewarpx/mwxrun.py - see the docstring at the top for our general strategy that we use.
- https://github.com/ModernElectron/WarpX/blob/memaster/mewarpx/mewarpx/utils_store/util.py#L74 - `init_libwarpx` is the specific call for setting the geometry correctly.
- https://github.com/ModernElectron/WarpX/blob/mem

[2021-12-07 22:09] dpgrote commented on #2633
I think that this can be handled by modifying `_libwarpx.py` so that it doesn't try to load the shared object until it is actually needed. At that point, the geometry would need to be defined so if it isn't, an exception can be raised. I can do this by wrapping the CDLL object in a Python class and that class would only load the library when needed. I'll submit a PR that does this. This is PR #263

[2021-12-07 22:50] EZoni commented on #2630
I'll work on `multi_J_2d_psatd` because I need anyways to set up a similar test with PML boundary conditions instead of damped for #2603.

[2021-12-08 21:56] kyfranzen commented on #2599
Hi Axel,
I tried to install the new conda packages and run the Beam-driven electron acceleration example files (AMReX 2d file and PICMI Without mesh refinement file). Unfortunately this time neither the AMReX and PICMI files worked:

[code]

I also tried to install the Conda packages on an Ubuntu 20.04 VirtualBox VM running on a separate system and did not get it to run either...

For me what has

[2021-12-09 00:03] ax3l commented on #2599
Thanks for testing!

Ok, for the Python bindings I see the problem - I forgot to bump the PICMI dependency on conda. Fix coming.

For the C++ API via `inputs` files: I think you might be using the binaries wrongly. In the active conda environment, the WarpX binaries for the different supported dimensionalities/geometries are added to the environment as part of the `PATH` environment hints.

Check

[2021-12-09 18:55] kyfranzen commented on #2599
Hi Axel,
I tested to follow your example above and now it works perfectly!
Thanks,
Ken

[2021-12-13 22:07] ax3l commented on #2599
Awesome, glad this helps you!

I also released a fixed version on `conda-forge` for the PICMI (Python) today. So if you update your conda environment in a few hours (approx. Dec 13th 2021, 5PM PT and later), the Python examples should work again as well.
https://github.com/conda-forge/warpx-feedstock/pull/35 / https://github.com/conda-forge/warpx-feedstock/commit/17f2d04b9f8921454427af120845c361f6

[2021-12-14 17:47] kyfranzen commented on #2599
Hi Axel,
I updated the conda environment and now it works running both the AMReX and PICMI input files.
Thanks!,
Ken

[2021-12-14 17:47] #2599 closed, assigned to ax3l

[2021-12-16 19:31] #1493 closed, assigned to ax3l

[2021-12-16 19:31] ax3l commented on #1475
I think this is implemented by now.
Otherwise, please re-open the issue :)

[2021-12-16 19:31] #1475 closed, assigned to ax3l

[2021-12-16 19:35] ax3l commented on #2630
Wuhu, thank you for the help @oshapoval @EZoni :tada:

[2021-12-17 01:47] EZoni commented on #2633
I tried moving `import pywarpx.fields as pwxf` at the beginning of the PICMI script for the test `Python_wrappers` and I can confirm that the test does not crash anymore. I'll close this issue.

[2021-12-17 01:47] #2633 closed, assigned to dpgrote

[2021-12-21 16:50] ax3l commented on #2630
I saw in recent CI (#2556) that
- `averaged_galilean_3d_psatd` still runs around 45 seconds.
- `averaged_galilean_3d_psatd_hybrid` 69 seconds
- `galilean_3d_psatd` 71 seconds
- `galilean_3d_psatd_current_correction` 55 seconds

Do you think we can tune it slightly more?

I also noticed that these tests use 1 MPI rank and 1 OMP thread, we could use a `2` in _either_ `numprocs` or `numthreads`.

[2021-12-21 22:21] EZoni opened #2702 "PICMI: Dimensionality of `moving_window_velocity`"
There seems to be a small inconsistency in how we handle the dimensionality of `moving_window_velocity` at the PICMI level.

In 1D we do
https://github.com/ECP-WarpX/WarpX/blob/eba5447a30bbbf71d729d7010ee3cf591dc3c016/Python/pywarpx/picmi.py#L504-L506
which requires to pass something like `moving_window_velocity = [0., 0., c]` as argument of `Cartesian1DGrid`.

In 2D we do
https://github.com/ECP-W

[2021-12-21 23:04] EZoni commented on #2702
Note that in RZ the parameter is called `moving_window_zvelocity` and it is a single scalar. So RZ is also different than the other Cartesian geometries.

[2021-12-21 23:29] EZoni commented on #2630
We can probably use more than one core provided that we reduce the spectral order (otherwise the number of guard cells will become incompatible with the size of each subdomain, since the mesh is very coarse in these 3D tests). I will take a look at this.

[2021-12-22 22:06] RemiLehe opened #2708 "Inconsistencies for `warpx.do_electrostatic = relativistic` when EBs are present"
There are several issues when using `warpx.do_electrostatic = relativistic` (as opposed to `warpx.do_electrostatic = labframe`), in the case where EB are present:

- The Poisson equation is solved without the relativistic contraction:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/FieldSolver/ElectrostaticSolver.cpp#L405
https://github.com/ECP-WarpX/WarpX/blob/development/Source/FieldS

[2021-12-29 14:13] ax3l commented on #2630
Found another few long runners:

## Cartesian 3D

### particles_in_pml_3d_MR
[code]

### pml_psatd_dive_divb_cleaning
[code]

### RZ or NOMPI

### multi_J_rz_psatd
[code]

[2021-12-30 11:16] wangjia-ai opened #2716 "Installation error: nvcc error : 'ptxas' died"
Dear developers:
        Recently, I encountered an installation problem when updating WarpX in 3D.

![image](https://user-images.githubusercontent.com/73467797/147747033-85ff31d6-498f-445e-a696-9acd8952bdb6.png)
![image](https://user-images.githubusercontent.com/73467797/147747077-1b3182e0-2ea1-44d3-bf66-15e4442bf900.png)

[2021-12-30 11:40] ax3l commented on #2716
Hi @wangjia-ai,

happy holidays!

Can you show with which version of the CUDA Toolkit (nvcc), with what level or parallelism (`-j`) and on which machine you have built?

Looks to me like either you ran out of RAM (because you built with too much parallelism) or you might want to slightly update your CUDA toolkit to mitigate a compiler bug.

[2022-01-04 17:21] roelof-groenewald opened #2720 "Consistently use mlmg.getGradSolution to calculate E-field in electrostatic simulations (labframe)"
Depending on whether or not WarpX is compiled with EB support, the electric field is calculated using `mlmg.getGradSolution` or the WarpX function `WarpX::ComputeE` (which uses a simple finite difference stencil). Since these two approaches might give slightly different results it would be good to consistently use the `mlmg.getGradSolution` functionality.
(In reference to https://github.com/ECP-Wa

[2022-01-05 17:55] EZoni opened #2724 "Naming Convention for CI Tests"
This could be a good first onboarding issue, to let someone get familiar with our `git` workflow.

The CI test suite is one of the first parts of our repository that a new developer or advanced user might try out (e.g., run a test through the suite and visualize its results, or run the whole test suite to check that a machine setup works properly).

The names of our CI tests do not follow a single

[2022-01-07 15:36] lucafedeli88 opened #2727 "Bug when PSATD, PML and load balancing are used together"
Hi everyone,

I've just observed a bug when a WarpX simulation contains the following ingredients: pml, psatd solver, and load balancing.
The issue occurs with or without parallelization (I observed it both with MPI+OpenMP, NOMPI+NOACC, and NOMPI+CUDA),
and both in 2D and 3D (I haven't tested 1D and RZ).

This inputfile is a small reproducer in 3D, but it can be easily adapted for 2D:
[code]

If I

[2022-01-07 20:26] #2472 closed, assigned to RevathiJambunathan

[2022-01-10 18:05] EZoni commented on #2727
Hi Luca, I'm looking into this to see if I can find the issue. We can discuss this during our developers meeting if I don't find anything until then.

[2022-01-10 18:48] EZoni commented on #2727
I think the following might be happening:

(1) In the PML constructor we create a spectral solver
https://github.com/ECP-WarpX/WarpX/blob/bd91b3d5ba42cdf867c132bfc333fac7c887de73/Source/BoundaryConditions/PML.cpp#L690-L693
using the PML's `realspace_ba` and `dm`, which read
[code]

(2) The constructor `SpectralSolver`, in turn, calls the constructor `SpectralFieldData`, where `cost` is declared as

[2022-01-10 21:50] atmyers commented on #2727
Yes, that makes sense. My understanding is that we don't do anything with the cost information associated with the PML grids - we don't regrid the PML based on the runtime costs during load balancing and the default behavior is currently to make the PML ba match the regular ba as closely as possible (actually, we should make sure that this is regenerated correctly after a load balance). So, maybe

[2022-01-11 20:22] prkkumar opened #2733 "Simulations with nodal PSATD solver triggers field_centering asserts if field_gathering algorithm is specified in the input script"
Simulations using
`algo.maxwell_solver = psatd`
`warpx.do_nodal = 1`

when the following is specified in the input script:

`algo.field_gathering = momentum-conserving`
`interpolation.field_centering_nox = 8`
`interpolation.field_centering_noy = 8`
`interpolation.field_centering_noz = 8`
`warpx.do_current_centering = 1`
`interpolation.current_centering_nox = 8`
`interpolation.current_centering_noy

[2022-01-11 20:26] prkkumar commented on #2733
output.txt reads:

`0::Assertion `field_centering_nox == 2 && field_centering_noy == 2 && field_centering_noz == 2' failed, file "/global/homes/p/prkumar1/src/warpx/Source/WarpX.cpp", line 1025, Msg: "High-order centering of fields (order > 2) is not implemented with mesh refinement" !!!
SIGABRT
1::Assertion `field_centering_nox == 2 && field_centering_noy == 2 && field_centering_noz == 2' failed,

[2022-01-12 22:22] ax3l opened #2738 "Plotfiles: diag1.write_species = 0 segfaults"
For a _simulation that has no species_, inputs file as in #2513, adding plotfile output and the line `diag1.write_species = 0` segfaults.

Backtrace:
[code]

[2022-01-12 22:22] #2702 closed, assigned to dpgrote, RemiLehe, EZoni, prkkumar

[2022-01-12 22:24] ax3l commented on #2738
Probably this line: https://github.com/ECP-WarpX/WarpX/blob/652202d488e6550b7aa92c0bc94e010835f8f12f/Source/Diagnostics/FullDiagnostics.cpp#L480
My guess is that `m_output_species` is empty but `m_num_buffers` still has index space that accesses it or so.

Probably a regression to #1898.

[2022-01-13 00:20] ax3l commented on #2727
Fixed in #2737

Thanks a lot @atmyers and @EZoni :tada:

[2022-01-13 00:20] #2727 closed, assigned to atmyers, EZoni

[2022-01-13 19:02] atmyers opened #2740 "Similar DM for PML grids needs to be maintained after load balance."
After PR #2665, the default behavior is for the dmap of the PML grids to follow that of the mother grids. However, this correspondence will be broken when load balancing is enabled, because we do not regrid the PML on load balance. When `warpx.do_similar_dm_pml=1`, we need to also regrid the PML data after a load balance to maintain this relationship.

[2022-01-14 08:08] wangjia-ai opened #2743 "Boundary reflection problem"
Dear developers:
      Is there a way to suppress the internal reflection of laser pulse at the transverse boundary of the box in RZ geometry.
     Thanks!

[2022-01-14 16:55] dpgrote commented on #2743
Which solver are you using, the finite difference or the spectral? With the FD, you can use the Silver-Muller boundary condition, which provides an approximate open boundary condition. With the spectral, the PML boundaries will soon be available.

[2022-01-14 16:56] EZoni commented on #2733
I can add an extra check on `do_nodal` before we trigger the ASSERT, for sure. More generally, I wonder how we should handle these situations. One option could be to abort every time the user specifies a set of parameters that are not consistent with each other. That would cause some refinement of the inputs on the user side, which some might not consider ideal, but on the other side it would "for

[2022-01-14 19:38] prkkumar opened #2746 "Backtransformed diagnostics with mesh refinement simulation"
Backtransformed diagnostics with mesh refinement simulations segfaults with the following Backtrace:

[code]

[2022-01-14 19:44] prkkumar commented on #2746
Error can be reproduced locally with the following input file

[code]

[2022-01-14 21:57] #2733 closed, assigned to EZoni

[2022-01-15 01:34] wangjia-ai commented on #2743
This Silver-Muller boundary condition does not seem to be effective in Yee. The laser pulse is still reflected. The specific input file and the evolution of the laser envelope are as follows.
[inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/7874014/inputs_2d.txt)
![laser](https://user-images.githubusercontent.com/73467797/149603899-a5528932-d9cc-458f-a496-4b3dd4888514.gif)

[2022-01-20 02:34] ax3l opened #2764 "Unstable CI: Python_particle_attr_access[_unique]"
Finally, I tracked a fail of `Python_particle_attr_access` :)
[code]

It looks like `sim.extension.get_particle_count('electrons')` is not stable?
I think that's from using RNGs, e.g., I see [np.random.rand](https://github.com/ECP-WarpX/WarpX/blob/cd3488e0b0547ac9b7fb4d68577ab1269c598fd2/Examples/Tests/ParticleDataPython/PICMI_inputs_2d.py#L113-L121) being used.

Same applies likely to `Python_par

[2022-01-20 20:34] #2764 closed, assigned to peterscherpelz, roelof-groenewald

[2022-01-20 23:54] RemiLehe commented on #2743
@wangjia-ai The above results with the Silver-Muller boundary condition is in fact somewhat expected: the issue is that the Silver-Muller is effective at absorbing EM waves in normal incidence, but not so much in grazing incidence (which is the case here with the laser diffracting and impinging on the boundary with a grazing angle).

The PML algorithm is much better at absorbing waves in grazing i

[2022-01-20 23:57] RemiLehe commented on #904
The PSATD version of the PML has been implemented in https://github.com/ECP-WarpX/WarpX/pull/2211.

[2022-01-20 23:57] RemiLehe commented on #2743
Note also that the progress on the FDTD implementation of the PML is tracked here: https://github.com/ECP-WarpX/WarpX/issues/904

[2022-01-24 17:55] roelof-groenewald opened #2774 "`rho_fp` from Python charge density deposition edge cells not properly set"
PR #2710 added functionality to deposit the charge density for a given species (at a given level) into the `rho_fp` multifab. After that PR was merged I discovered that the cells around the simulation domain edge are not properly set with this deposition call, as is shown in the figure below:
![electron_density_incorrect](https://user-images.githubusercontent.com/40245517/150834748-ffe0cf37-0559-4

[2022-01-24 17:56] roelof-groenewald commented on #2774
@dpgrote and @ax3l any thoughts on this issue and the suggested fix?

[2022-01-24 23:13] ax3l commented on #2774
Or alternatively, we could expose to Python `SyncRho` and call it after deposition explicitly (from Python)?
That way, we would not change the semantics between C++ and Python calls.

I am wondering right now why we don't do the same sync in the ES solver before calculating fields from the charge...
https://github.com/ECP-WarpX/WarpX/blob/9610779cf94427709a6a77530f545d06dfcbbc3a/Source/FieldSolver

[2022-01-25 01:17] ax3l commented on #2716
Hi @wangjia-ai, any updates? :)

[2022-01-25 06:26] ax3l commented on #1943
Until we can look into this properly, #2775 will add an abort for now.

[2022-01-25 19:03] peterscherpelz opened #2785 "Incomplete sets of particles loaded in on restart"
This bug report is awkward since it's only seen in proprietary runs to date, so I can't post output directly, but I can describe the problem:

- Running on AWS GPUs, we're having frequent halts due to our cheap instances being terminated when AWS runs out of capacity (this is expected), but means runs have been frequently restarting from checkpoints.
- In 2D runs ranging from 1024x512 to 4096x512

[2022-01-25 23:02] #2774 closed, assigned to dpgrote, ax3l, roelof-groenewald

[2022-01-26 20:33] peterscherpelz commented on #2785
As an update, it's not the field solve; it looks like it's that only some of the species were properly reloaded. I'll look further into this; it's unclear if this is a bug on our side, or in python restarts, or more general...

[2022-01-26 20:54] prkkumar opened #2795 "LWFA simulation with mesh refinement crashes with Illegal memory access when damped boundary conditions are used"
LWFA simulation with mesh refinement crashes with Illegal memory access when damped boundary conditions are used with the PSATD solver. When `damped` bc is replaced by `pml`, the simulation runs fine. The input file and the Backtrace are attached below:
input script:
[code]
Backtrace:
[code]

[2022-01-26 22:30] prkkumar opened #2797 "warpx.refine_plasma = 1 shows unphysical behavior"
`warpx.refine_plasma = 1` shows unphysical behavior in LWFA simulations. The tests were performed with and without the boosted frame and the results do not make sense in either case. For example, the following input script produces  :

![diag03000_Slice_y_rho](https://user-images.githubusercontent.com/89051199/151255699-b0fd1e8c-34fb-40c0-99fa-387b4612b3b9.png)

The result with `warpx.refine_plasm

[2022-01-26 22:40] prkkumar opened #2798 "LWFA simulation with PSATD solver produces asymmetry"
LWFA simulation with PSATD solver produces asymmetry. The following input script results in
![diag04000_Slice_y_rho](https://user-images.githubusercontent.com/89051199/151259017-d74bdb50-cfaf-4e03-ad29-9a737edebf46.png)

[code]

[2022-01-26 23:03] EZoni commented on #2798
Thank you for reporting this issue, Prabhat. In the past we observed asymmetries when some of the subdomains have odd numbers of cells (odd as opposed to even). Would you be able to double check if that is the case here, by looking at the grids summary in the standard output of the simulation?

[2022-01-26 23:54] prkkumar commented on #2798
I used even number of grids by specifying
[code]
in the input file.
Grid summary from the output file reads:
[code]

[2022-01-27 00:17] prkkumar commented on #2798
Update : Using only one box in the transverse direction by specifying
[code]
I do not see the asymmetry:
![OneBox](https://user-images.githubusercontent.com/89051199/151268465-6f36212c-dc6c-4686-a16b-dfe609086ea8.png)

[2022-01-27 00:23] EZoni commented on #2798
Ok, thank you. It would be interesting to see if we are using too few guard cells transversally. I can try to use the Python script in Tools/DevUtils/Stencil.py to get a rough estimate quickly. Could you write down for me the values of `dx`, `dy`, `dz`, and `dt`?

[2022-01-27 00:25] peterscherpelz commented on #2785
OK, here are the species macroparticle numbers in the checkpoint file headers, that also match our diagnostics printed, vs. the species numbers after running one step of restart:
Before / After / Reduction
Species 1: 5889273 / 2499939 / -57%
Species 2: 144490 / 338 / -99.8%
Species 3: 9057414 / 9057413 / ~0
Species 4: 7486378 / 6489560 / -13%

Species 1 & 2 are electrons, 3 & 4 are ions. This is b

[2022-01-27 00:25] prkkumar commented on #2798
`dt = 2.605969494e-15 ; dx = 7.8125e-07 ; dy = 7.8125e-07 ; dz = 2.948399295e-06`

[2022-01-27 00:31] EZoni commented on #2798
Ok, thank you. One thing you could try is using 20 guard cells in x and y, instead of 12. This is one estimate I'm getting from the script. The asymmetry issue seems quite significant, so I'm not sure if this will make any difference, but maybe it is worth trying. This will work only provided that each subdomain is larger than 20 cells in x and y, otherwise the code will abort saying that the numb

[2022-01-27 02:17] prkkumar commented on #2798
I tried 20 guard cells instead of 12 and the results are perfectly symmetric - identical to the image I posted using single box in x. Thank you so much! I will familiarize myself with Python script in Tools/DevUtils/Stencil.py and use that to specify number of guard cells when using PSATD solver. This issue may be closed.

[2022-01-27 13:11] wangjia-ai commented on #2716
The problem has been solved using cuda11.0, and WarpX (3D geometry) has been successfully installed.

[2022-01-27 17:36] #2798 closed, assigned to EZoni

[2022-01-27 23:40] ax3l commented on #2785
Could it be possible we are not checkpoint-restarting additional particle runtime attributes yet?

[2022-01-27 23:42] RemiLehe commented on #2743
@wangjia-ai I will close this issue, but feel free to re-open it if needed.

[2022-01-27 23:42] #2743 closed, assigned to nobody

[2022-01-27 23:48] ax3l commented on #2716
Awesome, thanks for closing the loop!

Feel free to open new issues whenever you encounter them. Thanks for the report and happy computing :rocket: :sparkles:

[2022-01-27 23:48] #2716 closed, assigned to ax3l

[2022-01-27 23:49] ax3l commented on #2630
X-ref: #2704 for the last long tests at the moment :)

Thank you @EZoni and @oshapoval :tada:

[2022-01-27 23:49] #2630 closed, assigned to oshapoval, EZoni

[2022-01-27 23:52] ax3l commented on #2156
Problem alleviated now by introducing the required `geometry.dims` parameter #2685

Please feel free to re-open the issue or open new ones if you encounter any further issues :)

[2022-01-27 23:52] #2156 closed, assigned to ax3l

[2022-01-28 01:30] EZoni commented on #2795
I tried to print out some info while tracking this issue. I'm running this on Summit (8 nodes, 48 GPUs).

Referring to the function `DampFieldsInGuards` defined here
https://github.com/ECP-WarpX/WarpX/blob/cae924a5b7d3c0d21871c294d518496776dc1961/Source/FieldSolver/WarpXPushFieldsEM.cpp#L706
as well as the function `constrain_tilebox_to_guards` defined here
https://github.com/ECP-WarpX/WarpX/blob/

[2022-01-28 18:04] ax3l commented on #2785
Update: should be the case - #2332

[2022-01-28 18:20] ax3l commented on #2785
Discussed today:
- let's look at the checkpoint plotfile particles with yt: https://warpx.readthedocs.io/en/latest/dataanalysis/yt.html#particle-data
- let's add `amrex.fpe_trap_invalid=1 amrex.fpe_trap_zero=1 amrex.fpe_trap_overflow=1 amr.verbose = 2` during restart
  -  "hack" add extra entries to the `argv` list before this line: https://github.com/ECP-WarpX/WarpX/blob/cae924a5b7d3c0d21871c294d

[2022-01-28 18:27] ax3l opened #2801 "Python Debugging Improvements"
- [ ] Implement (or debug) a way in pure PICMI to pass extra AMReX CLI runtime arguments: https://github.com/ECP-WarpX/WarpX/issues/2785#issuecomment-1024491104
- [ ] Document debug builds: https://github.com/ECP-WarpX/WarpX/issues/2785#issuecomment-1024491104
- [ ] Expose all CMake build types as environment variable for `setup.py` - or alternatively document to set CMake's 3.22+ [CMAKE_BUILD_TYP

[2022-01-28 19:10] dpgrote commented on #2801
Extra arguments can be added now by setting them directly. In an input file, you can do:

For `amrex` arguments, a new object is needed, `amrex = Bucket('amrex')`.

Perhaps generic arguments can be allowed for the Simulation class, of the form `warpx_amr_verbose = 2`, which gets mapped to `pywarpx.amr.verbose = 2`.

[2022-01-28 19:51] peterscherpelz commented on #2785
@ax3l It seems like the checkpoint header format must just be slightly different from what yt understands? I'm not able to load the data in - this is from a known-good restart, not a flawed one, too. I attached the python output here, but basically it expects a `Header` file, not `WarpXHeader` that's output by checkpoint, but even when I move that file it looks like the format is different.

[sani

[2022-01-28 19:57] peterscherpelz commented on #2785
I'm starting to wonder if it's possible this is a GPU-memory-related problem: Unfortunately I don't have any way to test it, but depending on the grid size, the V100 usually starts choking (transferring managed memory to CPU) at 40-60k particles, and the points at which this restart is failing are > half that size:

But since particle number is growing throughout time, it could also be stochastic

[2022-01-28 21:10] peterscherpelz commented on #2785
@ax3l @RemiLehe cuda-memchk didn't give any errors, nor did the AMReX flags, but the debug compile did it looks like!

`0::Assertion 'p.id() > 0' failed, file "/home/ubuntu/WarpX/build/temp.linux-x86_64-3.8/2/_deps/fetchedamrex-src/Src/Particle/AMReX_ParticleIO.H", line 932 !!!`

So maybe the particle files are being corrupted somehow as they're written to? If there is a way to introspect them wit

[2022-01-28 22:54] EZoni commented on #2795
Another small update: it's possible to reproduce the issue with `1024` cells along `z` (instead of `3072`) and by setting `warpx.numprocs = 1 1 2` and running on 2 GPUs only (which results in having 2 grids on MR level 0 and 18 grids on MR level 1). Reducing the size of the simulation and also simplifying a bit the domain decomposition should make the debugging a little bit easier.

[2022-01-28 22:56] EZoni commented on #2795
This is a situation that causes an out-of-bound access in the last setup described in my previous comment:
[code]
When we damp the field Ex in the guard cells, we loop over the cells of `tex_guard`, whose lower bound in `z` is `1084`, but access data from `Ex_arr`, whose lower bound in `z` is `1090`, as for `tex`.

[2022-01-29 00:44] ax3l commented on #2785
Nice, negative particle id spotted :eyes:
Maybe particles that get deactivated before a `Redistribute()` can swipe them off, and then they land in the checkpoint?

Let me also ping @atmyers for next week on this, he is both a `yt` & checkpoint expert.

[2022-02-01 01:23] EZoni commented on #2795
I'm thinking that the fact that we extract the domain information always from `Geom(0)`, so I guess always from level `0`,
https://github.com/ECP-WarpX/WarpX/blob/53f590c804ea39f040bcbecb5ad7bb6ab939e06e/Source/FieldSolver/WarpXPushFieldsEM.cpp#L756-L757
might be an issue. I will test this hypothesis soon and report here if the fix is relevant.

[2022-02-01 01:53] EZoni commented on #2795
@prkkumar I tried the fix above on the smaller simulation I had set up for debugging and it seemed to fix the illegal memory access. Would you be able to try running your original test on the branch of #2809 in order to see if you can confirm independently that the bug fix in that PR actually fixes the issue reported here? Thank you!

[2022-02-02 04:31] ax3l commented on #2795
@prkkumar please feel free to reopen if the problem persists. As noted in #2809, we should add CI to cover that functionality.

[2022-02-02 16:59] EZoni opened #2819 "Zero Output for Particle Diags in 1D"
Looking at the checksum benchmarks for the tests
- `Langmuir_multi_1d`
- `LaserAcceleration_1d`
- `Python_LaserAcceleration_1d`
- `Python_PlasmaAcceleration1d`

it seems like there might be some issue with the particle diagnostics in 1D, as all particle attributes written to output seem to be zero:
https://github.com/ECP-WarpX/WarpX/blob/295d78082e1b9cdb9cbd9ad5c128fcc44610d1d0/Regression/Checksum

[2022-02-02 17:20] prkkumar commented on #2795
@EZoni I tested the input script posted above on the branch of #2809 on Perlmutter. I am still getting an illegal memory access error at a much later time (time step 4886). The original issue, before your fix, caused error at the first time-step itself. The std output is
[code]
The Backtrace:
[code]

[2022-02-02 17:29] EZoni commented on #2795
Thanks @prkkumar, let's reopen the issue then. If the illegal memory access is now occurring after thousands of iterations, it might be related to a part of the code different from the one I fixed in #2809.

A couple of points:
- Could you confirm that the issue does not occur with PML boundary conditions, instead of damped?
- Would you be able to know how the results look like shortly before the

[2022-02-02 18:50] prkkumar commented on #2795
- Tested it with pml instead of damped and the simulation runs fine.
- There seems to be some instability when damped bc is used. Here are the results with damped bc before the simulation crashes (result at step 4000, simulation crashes between 4000 and 4500)
![damped_RhoRho_ions1EyEz](https://user-images.githubusercontent.com/89051199/152218173-bdced448-97e4-4cb6-ba68-ed18aefb47c2.png)
![damped_E

[2022-02-02 18:54] prkkumar commented on #2795
One more thing: If I visualize the data only on level zero in the case of damped bc, then the results look fine. The high value (1e38) is on level 1. The following results are with level zero data only
![l0damped_RhoRho_ions1EyEz](https://user-images.githubusercontent.com/89051199/152218968-bf762960-7683-4095-ae23-a21489e6070c.png)
![l0damped_ExJxJyJz](https://user-images.githubusercontent.com/890

[2022-02-02 19:03] EZoni commented on #2795
OK, thank you for the tests.

The illegal memory access could be due to some particles being too fast and trying to deposit their charge and currents outside the regions allocated for deposition. This could be caused by unstable fields that produce electromagnetic forces that are too strong. We have ASSERTS checking this in the code, and we should see such ASSERTS being triggered if we turn ON all

[2022-02-02 19:54] ax3l opened #2821 "Refactor out Distutils"
[distutils is deprecated](https://www.python.org/dev/peps/pep-0632/) (PEP 632).

We need to refactor it out for newer modules such as:
- setuptools (already used, use more functions from it)
- [packaging](https://github.com/pypa/packaging)
- [build](https://github.com/pypa/build)

Upstream example from pybind11:
- https://github.com/pybind/cmake_example/blob/master/setup.py

[2022-02-04 21:07] peterscherpelz commented on #2785
@WeiqunZhang Here are the Header files as you mentioned. The particle numbers match those in my [comment above](https://github.com/ECP-WarpX/WarpX/issues/2785#issuecomment-1022).

[species1_Header.txt](https://github.com/ECP-WarpX/WarpX/files/8006232/species1_Header.txt)

[species2_Header.txt](https://github.com/ECP-WarpX/WarpX/files/8006235/species2_Header.txt)

[species3_Header.txt](https://gith

[2022-02-04 21:10] peterscherpelz commented on #2785
As another general observation, I realized the proportion of particle numbers of each species that are still present is consistent with there being a certain timepoint at which all particles created before then are still properly loaded, but all particles created after fail to load (which could be because they're all bad, or at that specific timepoint's particles the loading process breaks).

In o

[2022-02-04 23:04] oshapoval opened #2830 "Asymmetry issue in two particle test with nodal PSATD (with no single periodic box)"
Two particles test with `nodal` PSATD and no periodic single box (`psatd.periodic_single_box_fft = 0`) demonstrates slight asymmetry. The input script and plots of `Ez` field and its normalized  difference `Ez_diff = np.abs(Ez[:,:] - Ez[:,::-1])/np.max(Ez) ` are attached below.

Tried @RemiLehe suggestions:

- to run initial script with heavier particles (i.e.,  ion.mass = 1e3 and  electron.mass =

[2022-02-04 23:14] oshapoval commented on #2830
Here is the comparison between `nodal` and `hybrid` PSATD for the same two particle test with domain decomposition along `x` or `z` (2 grids of size `64x128` or `128x64`, respectively). Only `hybrid` with domain decomposition along `z` does not seem to have asymmetry issues in this case.
<img width="1991" alt="Screen Shot 2022-02-04 at 1 55 24 PM" src="https://user-images.githubusercontent.com/305

[2022-02-07 21:52] lgiacome commented on #2259
This was fixed by #2254.

[2022-02-07 21:52] #2259 closed, assigned to lgiacome

[2022-02-08 15:44] atmyers commented on #2785
I think I understand the issue - it happens when the number of unique particle ids generated on an MPI rank exceeds the largest number representable by a 32-bit integer. That would explain why it only happens for some runs, and only after a certain period of time passes. It's also consistent with the data in the species header files. Note that, even though for species 2 only `144490` particles are

[2022-02-08 17:18] ax3l commented on #2819
I think the reason could be that we by default apply a geometry filter for the ProbDomain.

In 1D, if we initialize the particles not with x and y exactly on axis, we might filter them out...?

[2022-02-08 21:56] peterscherpelz commented on #2785
@atmyers Thanks!!! I'm glad I procrastinated on this because I would not have figured that out myself! That makes complete sense; you're certainly right that some particles are injected & scraped at much faster timescales than the total simulation runtime - the pain of properly resolving both high-energy electron motion and very slow ion motion - so those very large numbers make sense.

For us at

[2022-02-08 22:08] peterscherpelz commented on #2785
(As a side note, 2^39 seems right on the border of the largest simulations we envision running. We'd probably have chosen a split of even more particles and fewer MPI ranks to support, but it'll probably be some time before we get to 2^39, so not an urgent matter...)

[2022-02-08 22:14] WeiqunZhang commented on #2785
We could probably reassign a new ID to every *alive* particle in that case.

[2022-02-09 18:18] prkkumar commented on #2795
Thanks for the suggestions, @EZoni. I tried 20 guard cells transversely, instead of 12 and ran with `AMREX_ASSERTIONS` turned `ON`. The code crashes with the following assertion

[code]

Backtrace.4 contains
[code]

[2022-02-09 21:43] atmyers commented on #2785
I've made a pull request to AMReX to fix this: https://github.com/AMReX-Codes/amrex/pull/2624

Could you let me know if this solves the problem on your runs?

[2022-02-10 01:17] peterscherpelz commented on #2785
Thanks @atmyers ! I should have an answer by Monday; the run will take about 1 day and I have a busy week but should have time to start it.

[2022-02-10 17:50] EZoni commented on #2795
@prkkumar Thank you. So, as we thought, the simulation is unstable for some reasons (high fields and particles that move too fast, triggering that ASSERT and the illegal memory access - not an algorithmic bug in the strict sense anymore). Just checking: you increased only the number of guard cells (from 12 to 20) leaving the order of the spectral solver to 12, right?

One other possible issue here

[2022-02-11 18:56] peterscherpelz commented on #2785
Success @atmyers ! I ran the same run with and without this amrex PR, and restarted once they were both well past 2^31 next particle ID. They restarted at slightly different timesteps, but show:
w/o PR: 119667 live particles of species 2 before restart, 6134 after
w/ PR: 120040 live particles of species 2 before restart, 120054 after (within standard deltas between subsequent particle number print

[2022-02-11 18:58] RemiLehe commented on #2830
I found an even simpler case in which the problem shows up: the emission of a laser by an antenna:
![Screen Shot 2022-02-11 at 10 57 18 AM](https://user-images.githubusercontent.com/6685781/153652830-9e89eeb3-0035-4d0c-bfc8-96dc643854bb.png)
Here is the input script:
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/8051000/inputs.txt)

[2022-02-11 19:00] RemiLehe commented on #2830
Here is the plot of `E[:, :] - E[:, ::-1]` at iteration 100
![Screen Shot 2022-02-11 at 11 00 05 AM](https://user-images.githubusercontent.com/6685781/153653108-c9264aed-60fb-48ff-aef8-837f06f4a058.png)

[2022-02-11 20:41] ax3l commented on #1652
Main problem: needs a rename from `ionization_level` to `ionizationLevel`:
https://warpx.readthedocs.io/en/latest/developers/particles.html#runtime-particle-attributes

[2022-02-11 21:22] prkkumar commented on #2797
The input script for Lab frame simulation
[code]

[2022-02-11 21:40] EZoni commented on #2830
As discussed on Slack, this might be related to the issue that we tried to address with #1839 in the past. If confirmed, I can try to open a new PR to implement that change from fully nodal to fully cell-centered.

To be precise, this is the type of operations that most likely break the symmetry in the nodal case:
https://github.com/ECP-WarpX/WarpX/blob/ca1b886ecb26c8bd20018c4ecfd71a70f11c1d3f/Sou

[2022-02-11 21:42] oshapoval commented on #2830
Tried @EZoni  fix on 2 particles test. And it fixes the issue with nodal PSATD even with domain decomposition along x and z.
<img width="2470" alt="Screen Shot 2022-02-11 at 12 56 39 PM" src="https://user-images.githubusercontent.com/30510597/153674319-4567a777-a718-488d-b7b5-96d39316dd18.png">

[2022-02-11 21:50] prkkumar commented on #2795
@EZoni Yes, I used 20 guard cells with order of spectral solver 12.

[2022-02-11 21:52] prkkumar commented on #2795
As discussed in a meeting with @EZoni @RemiLehe , I tried with
[code]
in https://github.com/ECP-WarpX/WarpX/blob/ca1b886ecb26c8bd20018c4ecfd71a70f11c1d3f/Source/FieldSolver/WarpXPushFieldsEM.cpp#L134-L138

but, I observe the same instability.

[2022-02-14 18:12] atmyers commented on #2785
Nice, the PR to AMReX has now been merged. This should be reflected in WarpX when we do the weekly update.

[2022-02-14 18:29] RemiLehe opened #2850 "PSATD: asymmetry in x but not in z"
As reported offline by @oshapoval, there is an asymmetry that shows up with odd number of cells in x, but not in z (for 2D geometry).

The plots below illustrate this asymmetry. This simulates an antenna (in the center of the domain) emitting a laser in a symmetric, periodic domain. All simulations were run with the PSATD solver in 2D, with the periodic single box option, and the fields solved on

[2022-02-14 18:37] RemiLehe commented on #2850
Btw, I also observe the same issue when the field is solved on the nodes instead of on the cell-centers.

[2022-02-14 18:53] RemiLehe commented on #2850
Also: the asymmetry does not show up either when using our [nodal finite-difference solver](https://github.com/ECP-WarpX/WarpX/blob/development/Source/FieldSolver/FiniteDifferenceSolver/FiniteDifferenceAlgorithms/CartesianNodalAlgorithm.H). (Here is the input script: [inputs_fdtd.txt](https://github.com/ECP-WarpX/WarpX/files/8063243/inputs_fdtd.txt))

![index](https://user-images.githubusercontent

[2022-02-14 21:11] RemiLehe commented on #2850
Interestingly, it seems that this depends on the order of the PSATD solver:
![index](https://user-images.githubusercontent.com/6685781/153947020-4ceb01ad-cf7e-4f69-aa9a-82e28bb55448.png)

[2022-02-14 21:37] RemiLehe commented on #2850
This is solved by https://github.com/ECP-WarpX/WarpX/pull/2852.

[2022-02-15 00:41] #2850 closed, assigned to nobody

[2022-02-15 02:25] ax3l commented on #2785
X-ref: #2849

[2022-02-15 03:09] #2785 closed, assigned to nobody

[2022-02-15 19:41] peterscherpelz commented on #2785
Thanks again @atmyers and all!

[2022-02-15 22:33] EZoni commented on #2795
@prkkumar As discussed offline, one thing to try is running the simulation with `damped` boundary conditions on the branch of #2854 to see if the changes implemented there play any role in the instabilities reported here.

[2022-02-15 22:55] RemiLehe opened #2855 "Dump scraped particles to an openPMD file"
Some notes from a discussion on this topic with @RevathiJambunathan @ax3l @atmyers :

- The buffer that contain the particles that touched the boundaries (either domain boundary or EB boundary) are here:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/WarpX.H#L1244
https://github.com/ECP-WarpX/WarpX/blob/development/Source/Particles/ParticleBoundaries.H

- We would create a new type of

[2022-02-16 07:19] ax3l commented on #2009
As of WarpX 22.02, I think an `AddPlasma` routine of the LWFA 3D test uses managed memory (again?)

[2022-02-16 07:48] ax3l commented on #1826
@atmyers @RevathiJambunathan I think we do that now in the new BTD, don't we? :)

[2022-02-16 07:49] ax3l commented on #2097
Since we filter the particles in a temporary, pinned memory buffer (#1632): no managed memory usage there.

[2022-02-16 17:17] atmyers commented on #1826
Yes, this has now been fixed.

[2022-02-16 17:17] #1826 closed, assigned to nobody

[2022-02-16 21:02] ax3l opened #2865 "Checksums & Analysis: Skip cpu & id"
We want to run our regression tests in a way that we can validate the physics on CPUs and GPUs.

Thus, both the checksum API and the default analysis need to skip particle `cpu` and `id`.

- `Examples/analysis_default_restart.py`
- `Regression/Checksum/`

Currently, we see errors of the kind
[code]

when running on AMD GPUs, which is something we do not need to cover with regression tests.

These

[2022-02-16 23:14] ax3l opened #2866 "openPMD: ADIOS2 Engine Options"
Expose ADIOS2 engine options the same way as we expose `adios2_operator`s (#1983).
[code]
This will allow users to control NVM/BurstBuffers and other options.

- NVM/BurstBuffers are engine paramaters in ADIOS2: https://adios2.readthedocs.io/en/latest/engines/engines.html
- This is how we set them as [options](https://github.com/ECP-WarpX/WarpX/blob/716098b54a66b89a107f545f944e48cf7d141ee9/Source/

[2022-02-17 17:20] prkkumar commented on #2795
@EZoni #2854 resolves the instability issue I was seeing. I tested the above input script on the branch of #2854 and everything looks alright. Thank you!!

[2022-02-17 17:39] #2795 closed, assigned to EZoni

[2022-02-17 18:07] Yin-YinjianZhao opened #2871 "An out-of-bound bug related to mesh refinement"
Using the development branch, compiling with `make -j 4 DEBUG=TRUE`, running with the input [inputs_3d.txt](https://github.com/ECP-WarpX/WarpX/files/8091056/inputs_3d.txt), I got the following error:
[code]

The backtrace file reads:
[code]

This bug may be related to the PR https://github.com/ECP-WarpX/WarpX/pull/2869.

The same input (test 3) is also tested with the bug in PR https://github.com/

[2022-02-17 19:45] RemiLehe commented on #2871
Fixed by https://github.com/ECP-WarpX/WarpX/pull/2869.

[2022-02-17 19:45] #2871 closed, assigned to nobody

[2022-02-17 21:22] kshitij-v-mehta commented on #2866
I would like to work on this.

[2022-02-17 23:57] ax3l commented on #2865
@MaxThevenet commented on Slack that:

[2022-02-17 23:59] ax3l commented on #2865
@Yin-YinjianZhao we already do some filtering here:
https://github.com/ECP-WarpX/WarpX/blob/bc6991e6b58f455a139401c96d77dccfa35003a6/Regression/Checksum/checksum.py#L58-L60

and cpu/id filters would be similar :)

[2022-02-18 19:34] ax3l opened #2876 "Particle Histogram 2D"
Need for a reduced diagnostics addition: general 2D particle histogram (think: "np.histogram2d").

- Applications: phase space, energy-emittance plots, etc.
  - Would be useful for WarpX, ImpactX, and HiPACE++
- Size: fit into local GPU memory, e.g., default 1024^2
- 3 parser functions: axis1, axis2, filter
  - All three into the kernel
  - No RNG needed
- Can be loosely on the exiting reduced dia

[2022-02-18 19:39] ax3l opened #2877 "Extend Level 0 After a Step"
For many simulations, I would need a capability to extend the index space of level 0 (with more vacuum domain, keeping the same resolution per cell) after a certain step.

Can we expose such "resize" operations on the user level? What is needed to move auxiliary data, like PMLs, around?

[2022-02-18 19:51] ax3l commented on #2866
Implemented with #2872. Thanks a ton for your first contribution to WarpX, @kshitij-v-mehta!
Very much appreciated! :rocket: :sparkles:

[2022-02-18 19:51] #2866 closed, assigned to kshitij-v-mehta

[2022-02-22 18:25] #2797 closed, assigned to atmyers

[2022-02-23 17:44] MaxThevenet opened #2886 "Wakefield simulation crashes with collisions"
This [input file](https://github.com/ECP-WarpX/WarpX/files/8126520/inputs.txt), a standard beam-driven wakefield acceleration case, runs well on GPU (A100, on the JUWELS Booster) when collisions are turned off but crashes in the current deposition after 69 iterations when electron-electron binary Coulomb collisions are on, with error
[code]
The same crash happens on single-GPU or multi-GPU runs. A

[2022-02-23 17:49] RemiLehe commented on #2886
Thanks for reporting this issue @MaxThevenet.
Could you try to add `collision1.CoulombLog = 20` in the input script, and see whether that fixes the crash?

In the absence of a user-provided `CoulombLog`, WarpX will try to determine this value locally, by calculating the local density and temperature. This part of the code was not tested extensively, and I am wondering whether this is the part that

[2022-02-23 18:54] MaxThevenet commented on #2886
Thanks, good point. Unfortunately, I just tried and the error remains.

[2022-02-23 18:58] MaxThevenet commented on #2886
(I am running on release 21.02, so it should not be the same issue as https://github.com/AMReX-Codes/amrex/pull/2633)

[2022-02-23 19:47] MaxThevenet commented on #2886
Just checked on CPU (2 OpenMP threads, 8 ranks), I get a segfault at the same iteration
[code]

[2022-02-23 20:32] MaxThevenet commented on #2886
Minor update: when compiled with `-DAMReX_BOUND_CHECK=ON`, I get
[code]
still haven't figured the line, but it's in the current deposition, so probably the position is off.

[2022-02-24 23:46] #2097 closed, assigned to ax3l, guj

[2022-03-01 11:04] MaxThevenet opened #2900 "Particle openPMD IO issues when species not present in the first dump"
When using openPMD output, if no particles of a species is written at the first dump, the openPMD-viewer cannot read particle data in the later dumps, even if particles are actually dumped. This happens in a wakefield acceleration simulation with a moving window, where the box z dimension is originally (-100.e-6,0) and the plasma starts at 200.e-6 for some reasons.

A reproducer can be found below

[2022-03-01 16:51] RemiLehe commented on #2900
Yes, I have experienced the same issue. I will discuss with @ax3l next week to try to find a solution.

[2022-03-01 18:07] ax3l opened #2901 "openPMD: macroWeighted for runtime attributes"
We forget to write the openPMD `ED-PIC` extension attributes:
- `macroWeighted`
- `weightingPower`

for user-added runtime attributes.

Should be visible with:
- `Examples/Physics_applications/laser_ion/inputs amr.n_cell=384 512 max_step=100`
- Check via: https://github.com/openPMD/openPMD-validator

First seen by @camille12225 & @RemiLehe .

[2022-03-01 19:08] ax3l opened #2902 "openPMD: <diag>.<species>.variables for runtime"
openPMD: I am not sure `<diag>.<species>.variables = ...` selection really works yet for **runtime attributes** (they are always written at the moment)

[2022-03-01 21:48] #2901 closed, assigned to ax3l

[2022-03-03 01:24] PhilMiller opened #2918 "Validate relativistic solver on non-relativistic cases in test suite"
In non-relativistic test cases, the results from the solver that takes relativity into account should not meaningfully differ from those obtained with a non-relativistic solver. Running the established non-relativistic test cases with the relativistic solver will help detect some remaining bugs.

[2022-03-03 19:09] roelof-groenewald opened #2923 "MCC: Level dependent `dt`"
The timestep value can change between different refinement levels. In MCC the timestep is used to calculate the collision probability but currently the 0-level `dt` is used for all levels. This should be fixed to instead calculate the appropriate collision probability on every level.

[2022-03-03 19:41] Yin-YinjianZhao commented on #2886
@MaxThevenet @RemiLehe
I added print statements in `UpdateMomentumPerezElastic.H`.

[code]

And I don't see any colliding particles that have gamma over 3.

I will keep investigating this bug.

[2022-03-03 19:48] ax3l opened #2926 "Restarts broken for HIP"
@Yin-YinjianZhao ran the `restart` test with `rocm/5.0.0` on Crusher (OLCF).

He got:
[code]

This points to a restart bug that we need to fix for Frontier-readiness.

cc @atmyers @WeiqunZhang

[2022-03-04 00:21] RemiLehe commented on #2923
Actually, I wonder if using the level 0 `dt` is not in fact the right thing to do.

In general, the `dt` is actually the same on all levels (this was recently corrected for the electrostatic solver in https://github.com/ECP-WarpX/WarpX/pull/2887), except when we use subcycling (`warpx.do_subcycling = 1`) with the Maxwell solver.
However, in this case, the different `dt` at different levels only ma

[2022-03-04 00:47] dpgrote commented on #2923
Maybe I'm missing something, but the `dt` that is passed to `mypc->Evolve` in `PushParticlesandDepose` is `dt[lev]`, so that the particles are pushed with the level time step size (and not always the level 0 step size).

[2022-03-04 02:25] RemiLehe commented on #2923
@dpgrote Yes, you are correct about `PushParticlesandDepose`: it uses `dt[lev]`.
For this reason, in `OneStep_sub1`, `PushParticlesandDepose` is called:
- once for the low level ([here](https://github.com/ECP-WarpX/WarpX/blob/development/Source/Evolve/WarpXEvolve.cpp#L689))
- twice for the fine level ([here](https://github.com/ECP-WarpX/WarpX/blob/development/Source/Evolve/WarpXEvolve.cpp#L659) an

[2022-03-04 17:22] dpgrote commented on #2923
Ok, I see. This is confusing and subtle. More documentation in the code would be helpful. There is a possible inconsistency - the `dt` is scaled by `refRatio` but the subcycling can only be a factor of 2. There must be a requirement somewhere that `refRatio` can only be 2.

You are correct then, the collisions should be done with time step of the lowest level, `dt[0]`. I'll undo the change in the

[2022-03-04 17:50] roelof-groenewald commented on #2923
Just posting the link to the related discussion for posterity:
https://github.com/ECP-WarpX/WarpX/pull/2884#discussion_r819782280
Please note the question I raised there regarding the loop over levels in the collision implementation in light of the above discussion concluding that collisions (should?) only happen on the finest level.

[2022-03-05 03:05] wangjia-ai opened #2930 "Laser Evolution"
Dear developers:
     There seems to be some distortion in the evolution of laser pulse in PSATD solver.
     The following pictures show the variation of the peak electric field of the laser pulse with the propagation distance, the oscillation of the laser pulse at a certain time step (the distortion is shown by the black arrow, this distortion also exists in other time steps as the snapshot show

[2022-03-05 04:34] wangjia-ai opened #2931 "Installation error"
Dear developers:
   An installation error happened:
![image](https://user-images.githubusercontent.com/73467797/156867800-5ba8b7a7-b053-4299-a7ae-e6da8f6c4775.png)
   Here is the construction options:
   cmake -S . -B build_RZ -DWarpX_DIMS=RZ -DWarpX_COMPUTE=CUDA -DWarpX_OPENPMD=OFF -DWarpX_PSATD=ON -DWarpX_QED=OFF

[2022-03-07 08:18] #2931 closed, assigned to nobody

[2022-03-07 17:46] RemiLehe commented on #2930
Thanks for reporting this issue!
Could you also post the input script that you used when observing this problem (or a modified version thereof, which still shows the issue)?
Also, could you also specify how many MPI ranks you used for this simulation?
Thanks!

[2022-03-07 17:48] RemiLehe commented on #2923
@roelof-groenewald @dpgrote My understanding at this point is that this issue is clarified/resolved. Therefore, I will close it. However, feel free to re-open it if it is not the case.

[2022-03-07 17:48] #2923 closed, assigned to RemiLehe

[2022-03-07 17:52] RemiLehe opened #2933 "Take into account `ndt` in BackgroundMCC collisions"
In the background MCC collisions module, the user has the option to perform collisions only every `n` timestep (e.g. in order to save computational time, in case with a stringent CFL condition):
https://github.com/ECP-WarpX/WarpX/blob/development/Source/Particles/Collision/BackgroundMCCCollision.cpp#L189

However, in this case, my understanding is that the timestep used for the collision process (

[2022-03-07 17:55] roelof-groenewald commented on #2933
Thanks for finding this bug. I'll open a PR to address it and add the `ndt` parameter to one of the tests as you suggested.

[2022-03-07 21:38] #2933 closed, assigned to nobody

[2022-03-07 22:00] RTSandberg opened #2936 "picmi: initializing default WarpX data_list if none is provided"
Error when trying to run the  laser_acceleration_PICMI.py from the PICMI GitHub examples link
[code]

It appears that PICMI was developed presuming that codes supporting PICMI would provide automatic filling-in of data_list if not provided in the PICMI file:
From https://github.com/picmi-standard/picmi/tree/master/PICMI_Python/diagnostics.py :

[code]

[2022-03-07 23:10] nckwcq opened #2938 "Field initialization not converging and beam transport noise in RZ PSATD"
Attached is the input script for a Gaussian beam transport in free space using RZ PSATD. The code cannot run with accuracy better than the following.

driver.initialize_self_fields = 1
driver.self_fields_required_precision = 5.e-2

With this setting, noises build up at later time steps.

[beam-spectral-rz.txt](https://github.com/ECP-WarpX/WarpX/files/8201389/beam-spectral-rz.txt)

[2022-03-08 00:16] RemiLehe commented on #2938
Thanks for reporting this.

My guess is that the noise issue is probably unrelated to the self-field initialization, and is instead a problem of PSATD.
Could you try to confirm (or infirm) this, by running the same simulation with `driver.initialize_self_fields = 0` and checking whether you see the same type of noise?

[2022-03-08 05:27] nckwcq commented on #2938
Setting driver.initialize_self_fields = 0, noise remains if the same z BC (none) is used and disappears if z BC set to damped. The field initialization allows "none" BC in RZ PSATD, not other BC. See figures.
![none](https://user-images.githubusercontent.com/24551356/157172031-8528b15e-19b2-4c81-a749-9a89b3a3ebcf.png)
![damped](https://user-images.githubusercontent.com/24551356/157172063-728dbd16-

[2022-03-08 08:26] wangjia-ai commented on #2930
Input file:
[inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/8203987/inputs_2d.txt)
![Elabs](https://user-images.githubusercontent.com/73467797/157195295-f6f81af1-075d-4669-adca-bbf0236960d6.png)
![ELaser](https://user-images.githubusercontent.com/73467797/157195581-22f4d580-ab10-41b9-99aa-63eeb27a9e45.png)
![60](https://user-images.githubusercontent.com/73467797/157195582-24432a5f-510d-4b

[2022-03-08 16:37] RemiLehe commented on #2930
Thanks for these details.
One additional question to make sure we can reproduce this issue: when plotting the laser envelope, did you use `openPMD-viewer`'s `get_laser_envelope` method?

[2022-03-08 18:04] nckwcq commented on #2938
Add link for field initialization noise.
[mar07.pptx](https://github.com/ECP-WarpX/WarpX/files/8208586/mar07.pptx)

[2022-03-08 22:20] dpgrote commented on #2930
I ran this input file (on my laptop with CPU) and don't see any evidence of the distortions. I've posted an image of the `Ez` fields at a similar time. Also, from your plots, this looks like a diagnostic issue since the distortions don't seem to cause any other affects in the simulation, there is nothing rippling away from the vertical stripes.
![Ez_warpx_diag1021200](https://user-images.githubuse

[2022-03-09 02:24] dpgrote commented on #2938
I ran the simulation (with the initialization turned off) and I do see the significant noise in the simulation. What I see is ripples flowing in from the upper end of the simulation. This is almost certainly due to leakage from the lower end of the simulation (since the PSATD solver is using periodic transforms). This is the purpose of the damped boundary conditions, to eliminate this leakage. So

[2022-03-09 08:27] wangjia-ai commented on #2930
I use our own function to draw the laser envelope. The method is to take the absolute value of the electric field, then take out the peak value and the corresponding index, and finally do the interpolation fitting.
I also plot Ez. And maybe this is a diagnostic problem.
![image](https://user-images.githubusercontent.com/73467797/157400805-26a93743-a52a-4f5c-a5a4-80f7a7107a2c.png)

[2022-03-09 17:52] RemiLehe commented on #2938
Thanks for checking this @dpgrote.
I am guessing that the issue for @nckwcq is that the field initialization will abort when the boundary is `damped` (or `pml` by the way).

In general, this is because the `amrex` solver only supports Dirichlet, Neumann or periodic boundary conditions. However, instead of aborting for `damped` or `pml`, we could simply raise a warning and pass e.g. Neumann boundar

[2022-03-09 17:53] RemiLehe commented on #2938
Btw, here is PR that is tangentially relevant https://github.com/ECP-WarpX/WarpX/pull/2514
It would probably need to be updated.

[2022-03-09 18:13] dpgrote commented on #2938
I found this same issue, that the initial Poisson solve does not work when `damped` boundary is set. I agree, in this case Neumann or Dirichlet should be used, though I don't think a warning is needed (since this behavior would be documented). This could be another configurable user option, adding a new input parameter specifying the BC to use for the initial Poisson solve.

[2022-03-09 19:48] ax3l commented on #2930
Oh, so this looks like a PSATD on GPU issue to me.

[2022-03-09 19:56] ax3l commented on #2936
Fixed via #2949, thank you Ryan! :)

[2022-03-09 19:56] #2936 closed, assigned to RTSandberg

[2022-03-09 20:19] RemiLehe commented on #2930
@wangjia-ai Thanks for all these details.
At this point, I am not sure how to reproduce the issue however:
- Your initial plots should the error quite clearly, but I don't think that you pasted the corresponding input script.
- Your later plots (for which you pasted the corresponding input script) make the issue less visible. We can still clearly see the issue in the plot of the laser envelope (th

[2022-03-10 04:21] wangjia-ai commented on #2930
[inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/8220292/inputs_2d.txt)
The initial case is the result of WarpX 22.01

[2022-03-10 19:09] RemiLehe commented on #1659
I tried to reproduce with the current version of WarpX, and seems this test is now able to run on Summit without running out of memory.
Here is the updated input script (due to changes in syntax in WarpX since the time this issue was originally posted):
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/8226332/inputs.txt)

I ran this on 8 Summit nodes (48 GPUs), and got the following memory ut

[2022-03-10 19:09] #1659 closed, assigned to nobody

[2022-03-14 21:19] ax3l commented on #2930
Just to summarize our current status:
- as @dpgrote mentioned, we expect this to be a diagnostics issue in RZ+PSATD on GPU: https://github.com/ECP-WarpX/WarpX/issues/2930#issuecomment-1062277204 because the stripes are not moving over time
- this could be in writing or in reconstruction of the Cartesian slice for output
- @RTSandberg will try this inputs set with #2331 later this week and check if

[2022-03-14 22:00] RevathiJambunathan commented on #2876
Thank you @hklion for volunteering to take this on

[2022-03-17 02:56] ax3l opened #2976 "FieldProbe: Support To Follow the Moving Window"
For LWFA/PWFA and beam modeling, it would be very useful if the probe particles could follow the moving window of moving window simulations.

I could envision this as follows:
- add an option to the field probe user control to "follow the moving window"
- push the probe particles with the speed of the moving window once per step (or even better: once per probe interval, scaling time (dt) by the nu

[2022-03-17 03:59] ax3l commented on #2819
cc @prkkumar do you like to take a look at this 1D issue?

[2022-03-17 04:01] ax3l commented on #2544
Awesome, I think Doxygen 1.9.3 should contain the fixes :tada:
https://github.com/doxygen/doxygen/issues/8889#issuecomment-1003344445

[2022-03-17 18:58] ax3l commented on #2900
Thank you for the great reproducer @MaxThevenet :sparkling_heart:

That's in part a regression to #1898 and I am on it in #2980 :)
I will also improve a bit on our backend support for BTD from #1898.

[2022-03-17 19:36] ElisaRheaume commented on #2976
I can take a look at this. I'm thinking an optional parser variable (defaulting to not do anything) that can be set to follow the window once per probe data write.

[2022-03-18 04:17] PhilMiller opened #2981 "Test failures when sorting particles is enabled"
Based on observed failures in #2692 that went away when I avoided actually sorting the particles every step, I decided to run the tests with sorting enabled to apply every step, and no other changes:

[code]

I do indeed observe some failures resulting from this

[2022-03-18 04:17] PhilMiller commented on #2981
[code]

[2022-03-18 04:35] PhilMiller commented on #2981
[code]

[2022-03-18 04:45] PhilMiller commented on #2981
[code]

[2022-03-18 04:45] PhilMiller commented on #2981
[code]

[2022-03-18 04:46] PhilMiller commented on #2981
[code]

[2022-03-18 04:51] PhilMiller commented on #2981
[code]

[2022-03-18 16:25] PhilMiller commented on #2981
More failures once I left this to run:
[code]

[2022-03-18 16:40] PhilMiller commented on #2981
More failures:
[code]

[2022-03-18 16:44] PhilMiller commented on #2918
Here's the list of inputs that apparently use the labframe ES solver, and could be tested with the relativistic ES solver:
[code]

[2022-03-18 16:52] PhilMiller commented on #2981
More failures
[code]

[2022-03-18 16:54] PhilMiller commented on #2981
And just to be clear, there are numerous tests passing in between all of this. I may be excluding unmentioned tests, though, due to missing libraries

[2022-03-18 17:42] PhilMiller commented on #2981
OK, here's a fairly complete, consolidated list of the tests that fail as a result of sorting particles at every step:

[code]

As a sampling of the impact, here's the worst of the reported relative errors, everything over 10%:

[code]

[2022-03-18 18:10] PhilMiller commented on #2918
Looks like a bit more configuration change is needed to make this fly, since certain diagnostics are only available in the lab frame (`### ERROR   : plot phi only works if do_electrostatic = labframe`)

[2022-03-18 18:13] PhilMiller commented on #2918
Here's the list of tests I attempted with modified input:

[code]

Those marked `PASSED` or `FAILED` did so.

[2022-03-21 19:54] PhilMiller commented on #2981
@Yin-YinjianZhao since i think you were working on CPU vs GPU physics testing, and the sorting defaults on every 4 steps for GPU

[2022-03-22 04:47] #2900 closed, assigned to ax3l

[2022-03-22 18:05] prkkumar commented on #2819
Yes, thank you! I will look into it.

[2022-03-25 05:19] Xinying-Wang-CS opened #2997 "Fatal error in PMPI_Waitall"
I run example inputs_3d_boost on Lustre System, 20 Nodes, 4 MPI/Node, with 512-512-4096 cell size. But I just got "Fatal error in PMPI_Waitall" in my simulation. Is there any suggestions please?

Thank you.

[2022-03-28 18:48] ax3l opened #3004 "Signals for: Load Balance Now & Print Current Tiny Profiler"
Based on @PhilMiller's #2896, it would be useful for simulations at scale to send signals to:
- "do a load balance" at the next step and
- "print the tiny profiler table" at the next step
- "print memory usage statistics" at the next step - simple ones that we already print at the end of the run
- more detailed option: print `/proc/mem` / `free` info from each processor - needs compile-time mempro

[2022-03-28 20:08] ax3l opened #3006 "maxLevel -> finestLevel"
There are a few locations in WarpX where `maxLevel` is used but maybe `finestLevel` would be the better choice, similar to #2970.

Some of it is init and resampling code that I am not too familiar with. This needs to be checked (not much, like <40 lines in the code or so).

[2022-03-28 20:21] ax3l commented on #3006
cc @WeiqunZhang @atmyers or @RemiLehe maybe? :)

[2022-03-28 20:24] ax3l commented on #2997
Hi @Xinying-Wang-CS,

This looks like a system-specific issue and we need way more information to help you with it.

Can you please provide the following information:
- What is the HPC system? Does it have public documentation?
- What is the HPC system vendor? IBM, Cray, something else?
- What are the software versions you used to build WarpX?
  - WarpX version
  - CMake version
  - MPI flavor & v

[2022-03-29 22:04] ax3l commented on #3006
in today's meeting, @WeiqunZhang volunteered to take a look :)

[2022-03-31 06:16] ax3l commented on #3006
Somewhat related question: https://github.com/ECP-WarpX/WarpX/pull/2948#issuecomment-1084139026

[2022-03-31 18:51] RevathiJambunathan commented on #2746
PRs #2967 and #2986  have been merged in development that could help with this issue.
@prkkumar could you try these cases with the most recent WarpX development ?

[2022-04-01 11:34] OscarJakobssonLPA opened #3017 "RZ boosted: 'icomp_dst == m_cellcenter_varnames.size()' error"
Following PR #2986, which solved the  `amrex::Abort::0::ParticleContainer::locateParticle(): invalid particle. !!!` issue in boosted RZ simulations, I now encounter
`36::Assertion icomp_dst == m_cellcenter_varnames.size()' failed, file ".../Source/Diagnostics/BTDiagnostics.cpp", line 495 !!!`
for openPMD output on the first iteration. Plotfile output runs without issue.

Here is the input file I u

[2022-04-04 16:19] EZoni opened #3020 "Optimize Vay Deposition"
I track here a few possible performance optimizations of the Vay current deposition scheme that were discussed recently offline, especially with regard to the complete scheme implemented in #2958, which include cumulative sums. Not urgent, but good to track in an issue.

- [ ] Support tiling on CPUs: either adjust the current algorithms for the cumulative sums so that they are compatible with tili

[2022-04-04 19:06] KZhu-ME opened #3023 "Embedded boundary doesn't support single precision"
When trying to run a 2d single precision build on the embedded circle test case, we get this error `amrex::Error::0::BrentRootFinder: exceeding maximum iterations. !!!`. The backtrace points to `amrex::EB2::Build` which is called in `WarpXInitEB.cpp` . This error occurs on both gpu and cpu builds. Attached are the input file and output files when running on cpu.

Removing the embedded boundary fix

[2022-04-04 23:36] EZoni commented on #3017
@RevathiJambunathan

Reva, I had a quick look at this just to drop some hints here. Does it seem plausible to you that this could be caused by the fact that in `Diagnostics::InitData` we call `InitializeFieldFunctorsRZopenPMD` instead of `InitializeFieldFunctors`
https://github.com/ECP-WarpX/WarpX/blob/7d00755e2cc1de2416127b480ddd031c1686a7ed/Source/Diagnostics/Diagnostics.cpp#L287-L291
but `Initi

[2022-04-05 23:26] ax3l commented on #3023
assigning Weiqun as discussed on Slack

[2022-04-06 17:42] EZoni opened #3027 "Optimize Synchronization of Nodal Points"
Here's a few points that need to be addressed in order to optimize the synchronization of nodal points in WarpX:
- [x] Merge synchronization of nodal points into `FillBoundary`:
  - [x] `OneStep_nosub`
  PR: #3013
  - [x] `OneStep_sub1`
  PR: #3013
  - [x] `OneStep_multiJ`
  PR: #3169
- [x] Merge and move synchronization of nodal points for PML fields as well
  PR: #3534
- [x] Check if we can remo

[2022-04-06 18:47] RevathiJambunathan commented on #2746
Thank you @prkkumar for testing.
Prabhat mentioned offline that this is still crashing for plotfiles.
I am looking into it

Update :
I tested the input here for a case without mesh-refinement and removed `diag_lo, and diag_hi` for the BTD
and it segfaults with
[code]
[Backtrace.0.txt](https://github.com/ECP-WarpX/WarpX/files/8430048/Backtrace.0.txt)

[2022-04-06 20:56] RTSandberg commented on #3017
Probably - I added the function `InitializeFieldFunctorsRZopenPMD` as an empty virtual function that is overriden for FullDiagnostic but not for BTDiagnostic.  My hope was that it would do nothing when called for BTDiagnostics but perform as desired for FullDiagnostics.  It appears I was mistaken.

[2022-04-06 21:45] RTSandberg commented on #3017
Or rather, it performs as intended with unintended consequences

[2022-04-06 22:32] RevathiJambunathan commented on #2819
Update :
this seems to be a post-processing error.
in yt, when processing plotfile,
we get electrons and positrons listed, but possibly a yt-thing that it's not being read correctly

[2022-04-07 15:43] #2258 closed, assigned to lgiacome

[2022-04-07 23:02] WeiqunZhang opened #3032 "Bug in `WarpX::MoveWindow`"
In WarpX::MoveWindow, there is
[code]
There might be two issues. When `do_dive_cleaning` is true, only `rho_cp` is moved, but not `rho_fp`.  This seems to be a bug.  Is it possible that both `do_dive_cleaning` and `move_j` are true?  If so, rho will be moved twice.

[2022-04-08 01:13] aeriforme opened #3033 "additional particle diagnostics"
Hi all!

It could be convenient to have the following particle diagnostics:
* chi
* fields interpolated at the particles' positions
* ` <diag_name>.particle_fields.<field_name>(x,y,z,ux,uy,uz)` and such also depending on the field values at the particles' positions - in this case, one could avoid saving a lot of data, especially if using the histogram feature

What do you think?

[2022-04-08 20:15] EZoni commented on #3032
For reference, here's the permalink to the relevant code lines:
https://github.com/ECP-WarpX/WarpX/blob/d3a63bfa6035025cd3ea630af2e4c7017c9e3bff/Source/Utils/WarpXMovingWindow.cpp#L224-L253

[2022-04-08 22:14] #3032 closed, assigned to RemiLehe, EZoni

[2022-04-11 23:29] ax3l commented on #3033
Hi @aeriforme,

Great ideas, do you like to discuss this in one of our user meetings (Monday 2PM PST) or developer meetings (Tuesday, 9AM PST)?

Generally, we do not store the E and B field on particles in memory, since that incurs a significant memory cost and slow-down of the code (as we found it in 2019/20). But we can derive fields on particles realitively cheaply on the fly, as we do for part

[2022-04-14 02:14] ax3l opened #3041 "SP Nuclear Fusion Warning: floating-point operation result is out of range"
I just saw this on perlmutter with SP builds:
[code]
Build:
[code]
Version: WarpX as of 22.03
Dependencies: https://warpx.readthedocs.io/en/22.03/install/hpc/perlmutter.html

[2022-04-14 07:18] aeriforme commented on #3033
Hello @ax3l,
Thanks for your indications!
I would certainly like to discuss it with you in one of those meetings, maybe the developer one is more convenient for us (a Ph.D. student may join if it's ok) since we are CET, but we are flexible.

Having a spatial sum per cell of an arbitrary particle attribute would be very useful. In that case, for example, we could get frequent maps of chi directly,

[2022-04-17 01:23] xiaowang119 opened #3044 "Has the implicit method been Implemented?"
I have seen the description about **input paramters** in doc as follow,

The algorithm for updating electric field when algo.em_solver_medium is macroscopic. Available options are:
`backwardeuler` is a fully-implicit, first-order in time scheme for E-update (default).
`laxwendroff` is the semi-implicit, second order in time scheme for E-update.

But the user guide about input file of python(PICMI)

[2022-04-17 05:45] bzdjordje opened #3045 "PFT seems to increase laser energy"
Modifying just the PFT beta with a sweep of values -0.4e-15, -0.2e-15, 0, 0.2e-15, 0.4e-15 seems to increase the laser energy away from the baseline Gaussian mode, while I believe it should remain constant. The field energy corresponds to the maximum field energy in the simulation box using reduced diagnostics. @MaxThevenet @RemiLehe

![pft_h_p04_v_3400](https://user-images.githubusercontent.com/4

[2022-04-18 16:27] xiaowang119 opened #3047 "A crash occurred in the middle of the program"
Hi~  I have set 1000 timesteps, but it's failed at the 200th step!

MLMG: Iteration 200 Fine resid/bnorm = 1.804955479e-11
amrex::Abort::0::MLMG failed !!!
SIGABRT
MLMG: Failed to converge after 200 iterations. resid, resid/bnorm = 1706.359375, 1.804955479e-11
/usr/bin/addr2line: '/home/Data/wyj/PIC-WarpX/MySimResult/22-04-17/warpx': No such file
/usr/bin/addr2line: '/home/Data/wyj/PIC-WarpX/MySim

[2022-04-18 17:55] RemiLehe opened #3048 "Define external fields from an openPMD file"
Discussed with @ax3l @Yin-YinjianZhao @dpgrote : in order to easily supported domain decomposition, we will store these external fields as `MultiFabs` that have the same resolution and distribution mapping as the regular fields of the simulation.

The implementation need the following steps:

- [ ] Conditionally, allocate `MultiFabs` for the external `E` and `B` fields (same resolution and distrib

[2022-04-18 17:57] RemiLehe commented on #3048
The code should check the openPMD `axisLabels` in order to check that they match WarpX's order.

[2022-04-18 23:04] ax3l commented on #3044
cc @RevathiJambunathan @dpgrote for PICMI control of this flag.

Re #3047: @xiaowang119 are you asking if we have an electro-static Poisson solver that honors macroscopic properties?
I think `algo.macroscopic_sigma_method` only works with the electromagnetic solver so far.

[2022-04-18 23:08] ax3l commented on #3045
Thanks! Is this only a problem in 2D (but conserved in 3D)?

[2022-04-18 23:33] xiaowang119 commented on #3044
Maybe my problem is a bigger concept? I'm not so sure. I need a implicit PIC algorithm to Avoid massive computing overhead which often occurs in explicit for large-scale simulation.

[2022-04-18 23:59] bzdjordje commented on #3045
I have only tried this in 2D since it's for an ion acceleration application, but I can check in 3D as well.

[2022-04-19 16:17] dpgrote commented on #3044
For the macroscopic solver, the implicitness is only in the handling of the conductivity term. The options for controlling this are not available in the PICMI interface, but could be easily added.

However, from your comment, it sounds like you are interested in the implicit PIC algorithm (which provides stability for `omegape*dt > 1`). This is not currently implemented in WarpX. There are plans i

[2022-04-19 16:54] ax3l opened #3051 "Parser: Support User-Defined Particle Attributes"
For our filters and histograms in I/O (1D, 2D, full, #3033), it would be very useful if user-defined particle attributes could be used in parser functions.

Currently, we only support the pre-defined attributes there, most of the time that's `x,y,z,ux,uy,uz`.

Do you have an idea how we could do this @WeiqunZhang @RevathiJambunathan @hklion ?

[2022-04-19 16:56] ax3l commented on #3033
Discussed today.

We have 1D histograms, but they do not yet support user-defined attributes in the parser. I opened #3051 to track this.

We work on 2D histograms via #2876, but the same limitation as #3051 will generally apply for the first implementation.

As a workflow you could try today, I would suggest a cool new Python feature by streaming the data via openPMD-api (using ADIOS2 SST). I ope

[2022-04-19 17:44] peterscherpelz commented on #3023
@WeiqunZhang Thanks for the PR! We have conflicting evidence of one run where it seems to have helped, and another that still seems to be failing. @KZhu-ME is out today and tomorrow, so we'll try to follow up Thursday with an update.

[2022-04-19 19:02] ax3l commented on #3047
Hi @xiaowang119,

You can try to allow the Poisson solver more steps or less precision to converge to avoid this error. This solver for the self-fields has its own implicit steps, which default to a maximum of 200 steps. These implicit steps are separate from the explicit steps we use to then propagate your particle bunch.

Please see
- `warpx.self_fields_required_precision`
- `warpx.self_fields_a

[2022-04-19 19:53] WeiqunZhang commented on #3047
I suggest you reduce `warpx.self_fields_required_precision` to say 1.e-10.

[2022-04-19 21:30] hklion commented on #3051
Maybe a way to do this is to add a compile flag that controls the max number of user-defined attributes that can be used in the parsers? That way it can scale to something arbitrarily large if a user wants, but by default we don't have to carry around much (or any!) extra memory. Identifying which variables to use from the parser function would require some string gymnastics, but I don't think the

[2022-04-19 23:57] RemiLehe commented on #3045
Thanks for reporting this @bzdjordje
Could you also post the script that you used in order to compute the energy?
Also: in which units is the energy that you quote on the plots?

Note that the formulas are defined [here](https://github.com/ECP-WarpX/WarpX/blob/development/Source/Laser/LaserProfilesImpl/LaserProfileGaussian.cpp#L116)
In principle, this should always have the same energy (as `beta`

[2022-04-20 00:07] RemiLehe commented on #3045
Well, actually, I had a look at the code, and it looks like my comment above is incorrect: the current code does not preserve the energy.
@bzdjordje Would you be able to try the code here: https://github.com/ECP-WarpX/WarpX/pull/3054 and to recompile and rerun your test?

[2022-04-20 00:40] xiaowang119 commented on #3044
Thanks a lot! My questions have been completely answered.

[2022-04-20 00:40] #3044 closed, assigned to dpgrote, RevathiJambunathan

[2022-04-20 01:09] xiaowang119 commented on #3047
I did activate the self-field by using the method `add_species(species, layout, initialize_self_field=True)`. And it's necessary for me to adopt a `PICMI_ElectromagneticSolver`.
However the parameter `required_precision` only appears in  `PICMI_ElectrostaticSolver` as defined in the [doc](https://picmi-standard.github.io/standard/field.html).

[2022-04-20 01:10] xiaowang119 commented on #3047
I did activate the self-field by using the method `add_species(species, layout, initialize_self_field=True)`. And it's necessary for me to adopt a `PICMI_ElectromagneticSolver`.
However the parameter `required_precision` only appears in  `PICMI_ElectrostaticSolver` as defined in the [doc](https://picmi-standard.github.io/standard/field.html).

[2022-04-20 07:18] Hedie-pouyan commented on #178
Hi,                                                                                                                                                                                                                  I install WarpX by make -j 4 USE_PYTHON_MAIN=TRUE successfully, but when I want to compile the code by USE_PSATD=TRUE I face with this error:fatal error: fftw3.h: No such file or director

[2022-04-20 07:19] Hedie-pouyan commented on #178
Hi,                                                                                                                                                                                                                  I install WarpX by make -j 4 USE_PYTHON_MAIN=TRUE successfully, but when I want to compile the code by USE_PSATD=TRUE I face with this error:fatal error: fftw3.h: No such file or director

[2022-04-22 04:00] EZoni commented on #2462
This is an updated version of the original input file (with only small changes that do not change the results significantly), sorted so that it can be compared more easily with the input file produced by a PICMI input script: [inputs_rz.txt](https://github.com/ECP-WarpX/WarpX/files/8536690/inputs_rz.txt).

Here's a plot of Ez after 4000 time steps, obtained running on 24 GPUs on Summit, with AMReX

[2022-04-22 23:46] KZhu-ME commented on #3023
Thanks for the PR! We are having some seg faults in a Python run with certain core counts (run succeeds on 1, 4, 12 cores and seg faults on 2, 8 cores). Also our Python simulations only successfully run when the required precision is 5e-4. Unfortunately, we were unable to replicate the seg fault using a C++ input. One notable difference between our python runs and the working C++ run is that our p

[2022-04-26 16:44] RemiLehe opened #3062 "Add an option to initialize a laser by specifying the energy"
... instead of `a0`.

This would be useful for parameter scans that keep the laser energy constant. At first, that would only work for a Gaussian pulse.

[2022-04-27 15:38] OscarJakobssonLPA opened #3066 ""BTD Buffer has more than one fabs" error for large boosted simulations in RZ"
When increasing the number of grid points I eventually encounter a "amrex::Abort::0::BTD Buffer has more than one fabs. !!!" error for boosted RZ simulations. The simulation window (see input file below) is long and narrow with `amr.n_cell = 1024 51200`
but runs without error for a smaller `amr.n_cell = 256 10240`.

Minimal working example input file and jobscript (for UK's Archer HPC cluster with

[2022-04-27 17:12] EZoni commented on #3066
Cc: @RevathiJambunathan

Hi @OscarJakobssonLPA, thank you for reporting this.

The issue is probably related to #2467, in that back-transformed diagnostics (BTD) are not supported yet in RZ geometry. We are working on fixing this and, until then, we will add as soon as possible a PR to abort the code execution if users request BTD in RZ geometry.

Update: the PR to abort the code execution if user

[2022-04-27 19:46] RevathiJambunathan commented on #3066
Thanks @EZoni !

Hey @OscarJakobssonLPA
To add to what @EZoni said, we are working on adding BTD. But the regular diagnostics should still work fine.

in your input file, removing these lines will remove BTD
[code]

[2022-04-29 05:25] ax3l opened #3073 "BTD Fails with Load Balancing"
@joshualudwig8 reported a use case (full inputs file: please see email since its an active science case) where using BTD in Cartesian 3D geometry with load balancing fails with a memory violation in the load balancing step.
[code]

Fails on Lassen (LLNL) on step 40 (32 nodes) and on Perlmutter (NERSC) on step 30 (29 nodes).
[code]

Code version (top of `output.txt`):
[code]

Tests performed:
- [ ]

[2022-04-29 21:56] ax3l commented on #3073
Ok, gotta update this in the coming days with the debug backtrace, Perlmutter is down today.

[2022-04-30 03:50] RevathiJambunathan commented on #3073
Hi @joshualudwig8
Thanks for reporting this issue.

BTD currently does not support scalar fields other than `rho`. The PR below will abort the simulation for this.
https://github.com/ECP-WarpX/WarpX/pull/3074

There is a WIP PR that ensures that will fix some bugs we were seeing with BTD
https://github.com/ECP-WarpX/WarpX/pull/3056
What is the prob_hi in the moving window direction?
Is it 0? or >0

[2022-04-30 23:17] RemiLehe opened #3075 "Rewrite `ParticleDiag` so that `nullptr` can be passed for `WarpXParticleContainer`"
For BTD diagnostics, the `ParticleDiag` uses data from the `PinnedMemoryParticleContainer` passed in the constructor:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/Diagnostics/ParticleDiag/ParticleDiag.cpp#L16

However, it is still need to pass a `WarpXParticleContainer` (otherwise the code segfault, because it extracts from meta-information from the `WarpXParticleContainer`.

[2022-05-02 18:45] RemiLehe opened #3077 "openPMD diagnostics fail with RZ + mesh refinement"
Observed on [this input script](https://github.com/ECP-WarpX/WarpX/blob/development/Examples/Tests/ElectrostaticSphereEB/inputs_rz_mr), but with the last line replaced by:
[code]
So as to activate the `openpmd` format.

In that case, I am getting the following error:
[code]

Note that this error does **not** show up if I disable mesh refinement by setting `amr.max_level = 0`.
It also does not show

[2022-05-02 18:46] RemiLehe commented on #3077
@RTSandberg @dpgrote @ax3l Any idea what might be causing this?

[2022-05-02 18:49] RemiLehe commented on #3077
It looks like this is maybe added by this function:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/Diagnostics/FullDiagnostics.cpp#L434

[2022-05-02 23:21] ax3l commented on #3075
You could use a `std::variant<WarpXParticleContainer, PinnedMemoryParticleContainer>` if only one of both is passed at a time :)
https://en.cppreference.com/w/cpp/utility/variant
That allows you to not have to template and keep the implementation in a `.cpp` file (better compile time).
Discussed: easier to go for the particle container base class and pass extra info separately.

Discussed with Rev

[2022-05-03 03:33] RemiLehe commented on #3077
I think the reason for the bug that `InitializeFieldFunctorsRZopenPMD` modifies `m_varnames` in place, and is called more than once when using mesh refinement.

[2022-05-04 10:25] OscarJakobssonLPA commented on #3066
Thanks @EZoni, and @RevathiJambunathan for adding the abort.
I will give the regular diagnostics a go and do some simple Lorentz transformations myself.
I will close this issue if there are no further comments.

[2022-05-04 21:45] #3077 closed, assigned to RTSandberg

[2022-05-04 22:08] #2616 closed, assigned to NeilZaim

[2022-05-05 07:46] baobaba13 opened #3087 "LWFA Visualization: VisIt"
Hello, I just installed warpx using CONDA on windows and ran the calculation example of laser plasma acceleration given on the website. But when I used visit to visualize data, I didn't seem to respond. Could you please give me some instructions on how to use visit to process the data of files like "python_lasercacceleration_plt0000000". I want to get the picture of electric field distribution.I w

[2022-05-05 09:47] #3017 closed, assigned to RTSandberg, RevathiJambunathan

[2022-05-05 09:48] #3066 closed, assigned to nobody

[2022-05-05 11:54] philmartin01 opened #3088 "Implement other fusion reactions"
Hi,
I see that proton-boron fusion reactions have recently been added to WarpX, I'm wondering if it is relatively easy to expand that to other reactions, for example D-D?

[2022-05-06 14:48] NeilZaim commented on #3041
Closing the issue following #3058.

[2022-05-06 14:48] #3041 closed, assigned to lucafedeli88, NeilZaim

[2022-05-06 15:02] NeilZaim commented on #3088
Hi @philmartin01.
Yes, proton-boron fusion was recently added in the code. In principle everything should work but be aware that not everything has been fully tested yet (which is why the module is not properly documented).
It shouldn't be too hard to add other reactions, especially if there are known analytical expressions for the cross-sections. However, I don't think we will have a lot of time

[2022-05-06 18:41] EZoni commented on #2462
As a result of the latest debugging efforts, these are the most prominent conclusions:
1. Current correction to guarantee charge conservation plays a fundamental role and needs to be activated for these runs.
2. The number of guard cells also plays a relatively significant role, once the current correction is activated as in point 1.
3. For tests similar to the one reported in this issue, we notic

[2022-05-06 20:31] RevathiJambunathan commented on #3073
PR #3091 fixes the offset issue for BTD.

[2022-05-09 23:25] ax3l commented on #3087
Hi @baobaba13, welcome to WarpX :)

If you like to use VisIt for visualization, you can either visualize the ["plotfiles" that you see right now - or switch to use openPMD HDF5 files](https://warpx.readthedocs.io/en/latest/dataanalysis/formats.html) by adding:
[code]
to your [inputs](https://warpx.readthedocs.io/en/latest/usage/parameters.html#diagnostics-and-output).

The visualization steps are

[2022-05-10 11:49] philmartin01 commented on #3088
Hi Neil, thanks for your reply. I would be happy to give it a shot myself whenever I get spare time.

[2022-05-11 17:28] EZoni commented on #2462
Here's the result for a setup very similar to the original one, [inputs_issue_2462.txt](https://github.com/ECP-WarpX/WarpX/files/8672138/inputs_issue_2462.txt), run on 24 GPUs on Summit, with AMReX (22.04-24-gf2d7f67848de), WarpX (21.10-585-g4a7c47678d42-dirty) and PICSAR (a621a5a41fb8), with the only caveat that an assert on current correction and periodic single box option must be commented out

[2022-05-12 18:15] RemiLehe opened #3103 "Implement emulated MR mode"
The idea would be to use only one level (`max_level=0`), but allocate the coarse patch for the level 0 (i.e. the `_cp` arrays) and use the gather buffers to tell particles to gather from the `_cp` array if they are not inside `fine_tag_lo/hi`.

Implementation steps:
- [ ] Allocate `_cp` array for level 0
- [ ] At each timestep, before the gather operation: coarsen the `_fp` from level 0 to get the

[2022-05-12 18:45] EZoni commented on #2462
The following videos show the electric field Ey and Ez (mirrored), the electron beam, and the first and second plasma stages, with a combination of fixes from #3092, #3101, and #3104:

https://user-images.githubusercontent.com/59625522/168146502-23e3ea84-a75f-475b-95df-4363f60593a7.mp4

https://user-images.githubusercontent.com/59625522/168146516-4d89d4cc-b1ff-4a38-bf67-757f51653c0e.mp4

[2022-05-13 03:23] PhilMiller opened #3108 "Use docker image for dependencies in CI jobs"
Each CI job on Azure spends 5-10 minutes in the 100%-repetitive "Install dependencies" step, in which packages are installed from apt and libraries are rebuilt from source. If a docker image were built with these installations completed, the CI jobs could refer to it, and save the time spent doing this in every job.

[2022-05-13 03:57] PhilMiller commented on #3108
Python packages could be pre-installed, too. Even if they're not all the versions that the codebase itself requests, many will suffice and so fewer will be installed later.

[2022-05-16 09:22] ax3l commented on #3108
Agreed. My main question would be how we build the containers: shall we spin up a separate repo in `ECP-WarpX/`, place the `Dockerfiles` there and use the GitHub container registry (maybe traffic limited) or public docker hub?

[2022-05-20 15:03] jjvdwOX opened #3121 "RZ: `parse_density_function` incorrect on-axis density"
Hi,

Using parse_density_function in the RZ geometry is resulting in a spike in density on-axis. Here is an example setting the density function to a constant.
[input.txt](https://github.com/ECP-WarpX/WarpX/files/8741143/input.txt)
![rho_electrons_Iteration000006000](https://user-images.githubusercontent.com/105660590/169555857-2badca38-b8b9-4ced-a7c9-d97b09b803d8.png)

[2022-05-20 22:28] roelof-groenewald opened #3123 "MLMG solver fails for 1D simulation"
This one I probably should have caught earlier but with some recent MCC tests I've been running, I found that in the MLMG solver fails in the example file `WarpX/Examples/Physics_applications/capacitive_discharge/PICMI_inputs_1d.py`.
Specifically the print out I get (with setting `warpx_self_fields_verbosity=2` for the solver) reads:
[code]

The reason this wasn't found until now is that I used an

[2022-05-23 16:54] ax3l commented on #3123
cc @WeiqunZhang ?

[2022-05-23 16:58] ax3l commented on #3087
Hi @baobaba13, does this work for you? :)

[2022-05-23 17:57] RemiLehe commented on #3121
Thanks for reporting this.
I think that what you are seeing is a known issue for RZ grid. You can read more about it in this paper:
https://www.sciencedirect.com/science/article/pii/S0021999101969232
The algorithm described in this paper mitigates the issue, but does not suppress it entirely (at least for a finite number of macroparticles per cell) - and this is indeed the algorithm that we implem

[2022-05-23 21:11] ax3l commented on #3123
Weiqun is on PTO, but @dpgrote also has a comment from our meeting on a (faster) direct solve for 1D

[2022-05-24 09:18] jjvdwOX commented on #3121
Thank you for your reply. I tried doubling the number of particles per cell in the r direction as advised, but it did not reduce the on-axis density error.
![rho_electrons_Iteration000006000_1](https://user-images.githubusercontent.com/105660590/169995607-90189f80-afd3-48a4-81f0-20bd66fdfb36.png)
[input_1.txt](https://github.com/ECP-WarpX/WarpX/files/8761226/input_1.txt)

My main worry is that thi

[2022-05-24 10:24] jjvdwOX commented on #3121
As an example of how the density error affects the on-axis physics, here is a previous run of a gaussian laser pulse in a parabolic channel with high radial grid resolution
![rho_electrons_Iteration000042000](https://user-images.githubusercontent.com/105660590/170009444-63094d6f-d870-4ae2-a53c-1dae63aa2edf.png)
[input_RZ_channel.txt](https://github.com/ECP-WarpX/WarpX/files/8761760/input_RZ_channe

[2022-05-24 16:14] RemiLehe opened #3130 "BoundaryScrapingDiagnostic: save particle from all boundaries (not only the EB)"
As a follow-up of #3064, it would be great to save particles that exit through all boundaries (including the edges of the global domain). Right now, the `BoundaryScrapingDiagnostic` only saves particles that exit through the embedded boundaries.

[2022-05-24 16:17] RemiLehe opened #3131 "BoundaryScrapingDiagnostic: periodically flush the buffers"
As a follow up of #3064, we would need to periodically flush the buffers that are used to store the scraped particles.
Right now, the `BoundaryScrapingDiagnostic` records the scraped particles throughout the simulation, and only dumps them to disk at the very end of the simulation. However, these buffers could end up using a large amount of memory.
Instead, we would need to flush them periodically

[2022-05-24 16:44] #353 closed

[2022-05-24 16:45] ax3l commented on #353
Implemented #2878

[2022-05-24 16:45] ax3l commented on #1543
Implemented https://github.com/ECP-WarpX/WarpX/pull/2878

[2022-05-24 16:45] #1543 closed, assigned to nobody

[2022-05-24 17:43] ax3l opened #3133 "openPMD: Use Span API Reduce Host Memory Footprint"
Using the openPMD-api span API for particles (and potentially fields) would save us an additional ADIOS2 host copy for temporary data chunks.

Prepare for https://github.com/openPMD/openPMD-api/issues/1216

[2022-05-25 03:25] zhuruihu opened #3135 "can't install warpx"
I'd like to use Spack to install warpx. But when I type 'spack install py-warpx', it has errors as the picture states:
![捕获](https://user-images.githubusercontent.com/90429996/170173230-6869e6a5-5210-4ded-957b-28b40147d2ff.PNG)

How to solve this?

[2022-05-25 11:54] NeilZaim opened #3136 "yt: field data is zero in 2D if particle data has been read before"
I've observed a strange behaviour when reading plotfiles of 2D simulations. It can be reproduced for instance with the [galilean 2D example input file.](https://github.com/ECP-WarpX/WarpX/blob/development/Examples/Tests/galilean/inputs_2d)

If I try to read the field data with the following python script, everything seems normal:

[code]
In this case, the output is `255.36128617315813`.

However,

[2022-05-27 22:54] RemiLehe commented on #3088
Hi @philmartin01,
We might actually implement this soon in WarpX, probably starting with D-T.
For the cross-section, we were planning on implementing the Duane formula, published e.g. in the [NRL plasma formulary](https://library.psfc.mit.edu/catalog/online_pubs/NRL_FORMULARY_13.pdf) (see page 44). Would that suit your needs, or did you want to use a different formula for the cross-section?

[2022-05-31 17:41] RemiLehe commented on #3088
After some more literature search, I think that we will use the cross-sections published in [this paper](https://iopscience.iop.org/article/10.1088/0029-5515/32/4/I07).

[2022-06-01 21:02] #2855 closed, assigned to RemiLehe

[2022-06-01 22:38] KZhu-ME opened #3155 "Mixed precision periodic boundary condition bug"
When running our simulations with mixed precision (`WarpX_PRECISION=DOUBLE` and `WarpX_PARTICLE_PRECISION=SINGLE`), we encountered an issue where it seems that particles are incorrectly being wrapped around at periodic boundaries.

Below is a plot of average electron particle density across the x-axis. The difference value shown is a mixed precision run - double precision run. The periodic boundar

[2022-06-03 00:18] RTSandberg opened #3160 "CrayBLAS: segfault after shutdown on Perlmutter"
`$Home/src/WarpX/build_perlmutter/bin> ./warpx.RZ.MPI.CUDA.DP.PDP.OPMD.PSATD.QED.DEBUG ../../Examples/Physics_applications/laser_acceleration/inputs_rz `
runs a complete simulation
[code]
but then segfaults:
[code]
[code]
whereas running without PSATD enabled runs fine

[2022-06-06 22:19] PhilMiller commented on #3155
@atmyers This may be a result of https://github.com/AMReX-Codes/amrex/pull/2679 - the exact observation seen here was predicted in comments on that.

[2022-06-06 23:03] ax3l commented on #3135
Hi @zhuruihu,

Thanks for opening the issue. I think we chatted on Gitter already, the solution is to run `spack compiler find` first.

I think you reported back that this solved your issue, otherwise please feel free to reopen the issue :)

[2022-06-06 23:03] #3135 closed, assigned to nobody

[2022-06-06 23:04] ax3l commented on #3136
@NeilZaim could you potentially create a small zip file with a reproducer and also post it upstream?
https://github.com/yt-project/yt

[2022-06-06 23:10] ax3l commented on #3160
We reported this upstream with @mgates3 and track this in
https://bitbucket.org/icl/blaspp/issues/18/segfault-on-exit-with-cray-libsci

[2022-06-07 03:06] KZhu-ME commented on #3155
The observations are more apparent with a non uniform distribution of particle density.

[2022-06-07 11:03] denisbertini opened #3165 "Can WarpX be used to Model TNSA (Laser-Ion Acceleration)?"
I will misuse the issue to ask a simple question about the WarpX framework.
Would it be possible with WarpX to simulate laser ion acceleration (TNSA) ?

[2022-06-07 16:14] jjvdwOX opened #3166 "RZ PSATD solver producing unphysical wakefields"
Hi,

Using the RZ PSATD solver seems to produce non-physical wakefields ahead of the laser pulse, as shown below. This effect was not seen when using the Yee solver.
[inputRZPSATD.txt](https://github.com/ECP-WarpX/WarpX/files/8854833/inputRZPSATD.txt)

Longitudinal wakefield:
![Ez_Iteration000085789](https://user-images.githubusercontent.com/105660590/172428492-0eb3e20c-b644-457a-9596-c4ddb0555858

[2022-06-07 16:40] ax3l commented on #1546
cc @jjvdwOX I think that is the restart issue you see as well?

[2022-06-07 16:49] ax3l commented on #3121
@dpgrote @RemiLehe does one of you like to take the lead here or assign another developer?

[2022-06-07 16:51] ax3l commented on #3165
Hi @denisbertini,

yes, absolutely! We even have a TNSA example checked in:
https://warpx.readthedocs.io/en/latest/usage/examples.html#laser-ion-acceleration

Depending on the exact target parameters, you might also want to add additional physics modules in WarpX,
such as ionization physics and collision physics:
https://warpx.readthedocs.io/en/latest/usage/parameters.html

Best,
Axel

[2022-06-08 06:12] denisbertini commented on #3165
Hi @ax3l
Thanks for the prompt answer !
I have another question though, can WarpX works with AMD GPus  ( AMD MI 100)?
I noticed that indeed the core package AmRex can compile with HIP but i could not see this
possibility from the WarpX install doc.

[2022-06-08 06:27] ax3l commented on #3165
Yes, we support Nvidia CUDA GPUs, AMD HIP GPUs and Intel SYCL/DPC++ GPUs.

The respective compile option is `WarpX_COMPUTE`: https://warpx.readthedocs.io/en/latest/install/cmake.html#build-options

[2022-06-08 07:37] denisbertini commented on #3165
OK Thanks for the Info !

[2022-06-08 09:53] jameschappell commented on #1546
Hi @ax3l. Just tested the ionisation restart with the latest version (22.06) and am seeing the same issue. I've attached the input file I used, log and error files and an example Backtrace file. Please let me know if there's anything else you need.

[Input_2D.txt](https://github.com/ECP-WarpX/WarpX/files/8860456/Input_2D.txt)
[errors.txt](https://github.com/ECP-WarpX/WarpX/files/8860457/errors.txt

[2022-06-08 16:59] ax3l commented on #3165
Awesome, happy computing and let us know if you have any further questions either here or in the [discussions](https://github.com/ECP-WarpX/WarpX/discussions) tab.

I'll close the question for now, since the original topic is now answered :)

[2022-06-08 16:59] #3165 closed, assigned to ax3l

[2022-06-08 23:26] KZhu-ME commented on #3155
Changing the amrex clamping logic to clamp particles to `phi` if their position is greater than `rhi` seems to have fixed the periodic boundary issue we were seeing.  The orange line in the graph below shows the error from double precision with this fix in.

However, there still seems to be anomalous spikes in particle density along certain lines in the simulation. In our 1664x1664, the there unif

[2022-06-08 23:32] PhilMiller commented on #3155
The smaller spikes away from the boundaries may be rounding artifacts where particle positions can't quite reach the edge of particular cells.

Could you replot both xavg and zavg from the fixed clamp run, without the earlier run, so we can more easily see the magnitude of that issue?

[2022-06-08 23:34] KZhu-ME commented on #3155
It's more prominent in the xavg plots.

![Ar_ion_zavg_error_100 0_ns](https://user-images.githubusercontent.com/86268612/172734652-fde6b4ca-ebd3-4bce-b2e0-55ae17d9a3f5.png)

![Ar_ion_xavg_error_100 0_ns](https://user-images.githubusercontent.com/86268612/172734566-dcf4892c-852d-46ab-a6bf-4398c76d1fce.png)

[2022-06-08 23:56] PhilMiller commented on #3155
Think you could produce a histogram of the discrepancies in each direction? Those spikes in xavg are clearly not good, but I'm less certain what to think of the zavg.

Either way, I think we can say that the AMReX patch to change the clamping behavior is an improvement.

[2022-06-10 00:20] EZoni commented on #3166
Thank you for reporting this issue, @jjvdwOX.

There are two things that we might want to try first:

1. The first is using the latest version of WarpX, where `psatd.current_correction` is enabled by default (which was not the case previously, and which turns out to be quite critical in certain simulation scenarios, especially in RZ geometry, according to some recent observations and tests we made

[2022-06-11 15:40] denisbertini opened #3176 "HIP + MPI Compilation Question"
Hi
Trying to  build with CMake 3.20.5 i got the following problem:
[code]
Any idea why the MPI_CXX compiler is claimed to be not found ?

[2022-06-14 03:17] ax3l commented on #3176
Hi @denisbertini,

Thanks for reaching out.

This error means you do not have MPI installed or fully configured. Your output above has a few more lines, which hint to a `CMakeError.log` file that would describe why the compiler  does not work. My guess it's the current configuration options and compiler settings that you pass that cause a mini-MPI example compilation to fail during configure.

You

[2022-06-14 08:10] denisbertini commented on #3176
@ax3l
I am building on HPC on an environment very similar than SPOCK.
We use singularity containers to build which contain all the dependencies to build `warpx` including `MPI` and `ROCm4.3`.
In fact i use this container to run simulation based on `PiconGPU` code.
I used the following `warpx.profile`:
[code]

trying to build gives me such errors:

[code]
MPI is not found at all during the build, b

[2022-06-14 09:39] jjvdwOX commented on #3166
Thank you for your response @EZoni,

I ran the same simulation with the latest version of WarpX along with your recommended settings for psatd.nox, psatd.noz, psatd.nx_guard and psatd.nz_guard. However, these changes have amplified the issue. The unphysical wakefield ahead of the laser pulse is now much larger and quickly blows up the simulation.
[inputRZPSATD_1.txt](https://github.com/ECP-WarpX/W

[2022-06-15 00:08] RTSandberg commented on #2293
Hi @anecas1979 and @ax3l , is this issue ready to close?

[2022-06-15 00:17] RTSandberg opened #3182 "Issue with RZ + Yee solver + momentum-conserving field gathering"
The combination of RZ + Yee + momentum-conserving field gathering appears not to work.  If I launch a laser in this configuration, I get the following
<img width="411" alt="Screen Shot 2022-06-14 at 5 13 29 PM" src="https://user-images.githubusercontent.com/10621396/173710070-ff40e80f-8792-4e31-8202-fd412b57e94f.png">
:
whereas if I turn off the momentum-conserving option, I get the expected behav

[2022-06-15 16:35] MartaGalbi opened #3185 "Problems with injection from external file"
Hi all!
I am trying to initialize particles from an external file to get a custom distribution with aggregates of particles.
When I increase the number of particles in the openPMD file above a certain level, the simulation crashes with the error out of GPU memory. For example, it works with an openPMD file of 7,6GB, but it crashes with one of 8.8GB.
However, a simulation with the same resources bu

[2022-06-16 22:00] n01r opened #3188 "Refactor Single-Precision Comms"
To optimize communication across MPI ranks when running WarpX with the PSATD solver, data is recently cast to single precision-before float before copying which saves bandwidth. However, a temporary multifab is first created which causes additional overhead.
Since AMReX [#2708](https://github.com/AMReX-Codes/amrex/pull/2708/files), `FillBoundary` allows for specialization with the buffer type.  De

[2022-06-16 22:04] n01r commented on #3188
In two very tiny LWFA example simulations, the new version was actually slower but they were probably too small to show anything of relevance.
[code]

[2022-06-16 22:12] n01r commented on #3188
Do we also want/need this in `Source/BoundaryConditions/PML_RZ.cpp`?

[2022-06-16 22:32] dpgrote commented on #3188
The calls to `amrex::FillBoundary` in `PML_RZ.cpp` should be replaced with calls to `WarpXCommUtil::FillBoundary`. I can do this is a separate PR.

[2022-06-16 22:55] EZoni opened #3189 "Bug w/ Vay Deposition"
If we run WarpX (`development` branch) with [this input file](https://github.com/ECP-WarpX/WarpX/files/8923243/inputs_2d.txt) and look at the raw Jz data with guard cells (raw field `jz_fp`), we get
![figure_Jz_sum](https://user-images.githubusercontent.com/59625522/174191037-f755d79d-8a85-4e83-80ec-f966c77b1388.png)

which shows some **spurious signal at the low and high end of the domain along Z

[2022-06-20 07:21] ax3l commented on #3160
Documented in the above BLAS++ issue tracker: It looks like NERSC compiles and ran successfully building BLAS++ like this:
[code]

We need to check if that helps for us as well.

[2022-06-20 07:36] ax3l commented on #3155
@KZhu-ME @PhilMiller does this PR fix the issue for you? :)
https://github.com/AMReX-Codes/amrex/pull/2839

[2022-06-20 07:48] ax3l commented on #3188
https://github.com/ECP-WarpX/WarpX/issues/3188#issuecomment-1158177482

Please scale up the example by using more resolution (cells). Aim for 256^3 cells per Perlmutter GPU.

[2022-06-20 16:51] KZhu-ME commented on #3155
Yep, that PR fixes the boundary issue for us. There's still another issue with single precision having density spikes along a line across the entire domain, but I can open a separate issue for that since it doesn't seem to be related to this.

[2022-06-21 16:41] NeilZaim commented on #3189
Hi @EZoni. I'm not sure if this is related to this issue but it looks similar so I'm putting it here:

I tried to run the CI tests again in PR #2336, which reduces the number of guard cells, and the Vay deposition test benchmarks changed. I investigated the issue and the difference comes from the fact that with my PR `ng_depos_J` is decreased from 4 to 3 in the `WarpXSumGuardCells` call that you m

[2022-06-21 16:58] atmyers commented on #3188
This is the PR that added the `FillBoundary<float>` option to AMReX: https://github.com/AMReX-Codes/amrex/pull/2708

We should be able to update the other functions by making the analogous changes to them.

[2022-06-21 22:25] jlvay commented on #3166
@jjvdwOX
With the latest version of the RZ spectral solver in WarpX, you need to have both the plasma ions and electrons. Could you try to rerun with:

[code]

[2022-06-22 11:11] jlvay commented on #3166
@jjvdwOX
I confirm that adding the ion species fixes the issue of the field that you were seeing in front of the laser.
<img width="523" alt="Screen Shot 2022-06-22 at 4 06 52 AM" src="https://user-images.githubusercontent.com/10981951/175015166-c2e738d6-1807-4418-b02d-46ede7cf77d8.png">

[2022-06-22 11:17] jlvay commented on #3166
@jjvdwOX
Regarding the higher density on axis, it is a plotting artifact when using the RZ PSATD solver. As can be seen on the plot of Ez (see previous message), there is no trace of a higher density on the fields. It is different from what is reported in issue https://github.com/ECP-WarpX/WarpX/issues/3121 when using the RZ FDTD solver, which I will comment on in the issue directly.
<img width="5

[2022-06-22 11:19] jlvay commented on #3121
@jjvdwOX
There is indeed an issue on axis with the RZ FDTD solver, which needs to be addressed. In the meantime, it is best that you use the RZ PSATD solver.

[2022-06-22 11:20] jlvay commented on #3121
@dpgrote @RemiLehe @ax3l The RZ FDTD solver should be disabled until the issue on axis is fixed.

[2022-06-22 14:37] RemiLehe commented on #1546
I am looking at this currently.

A few remarks:
- I reran the example and it seems that the `ionizationLevel` data is indeed present in the checkpoint file.
- Note that the `log.txt` file contains the following message:
[code]
which suggests that the function `InitIonizationModule` was not called during the restart.

[2022-06-22 15:51] RemiLehe commented on #1546
Working on fixing this in #3194

[2022-06-22 16:30] KZhu-ME commented on #3155
@ax3l Andrew's PR also fixes this boundary issue for us in our test!

[2022-06-22 17:13] RemiLehe commented on #1546
@jameschappell
Would it be possible for you to compile the code from #3194 and retry the above example?
(No need to re-run the first run - i.e. the one that produced the checkpoints - you can instead directly re-run the restarted run.)

[2022-06-22 17:55] EZoni commented on #3189
@NeilZaim
Thank you for reporting that. I tried running the CI tests with Vay deposition on the branch of #2336, so on commit 2903322 but with the following code changes,
[code]
namely with `ng` instead of `ng_depos_J` (I think `ng` could be better than `j[idim]->nGrowVect()`, because it is initially assigned as `j[idim]->nGrowVect()` but then also modified to take into account the stencil of the

[2022-06-22 21:46] EZoni commented on #3189
Regarding why `WarpXSumGuardCells` is called using `ng_depos_J.min(ng)` rather than `ng`, the reason is that `SyncCurrent` is usually called right after the current deposition (where only at most `ng_depos_J` guard cells are written), before any other operation in Fourier space.

However, after #3012 this is not the case anymore for Vay deposition: now `SyncCurrent` is called after the FFT of D an

[2022-06-22 22:15] #3155 closed, assigned to atmyers

[2022-06-22 23:50] EZoni commented on #3189
Suggestion by @jlvay: the bilinear filter needs to be applied to D, not J, while the sum over guard cells needs to be applied to J (after inversion in Fourier space). This can be tried locally, by adding some flag that triggers either filtering or sum over guard cells in `SyncCurrent`.

[2022-06-23 09:17] NeilZaim commented on #3189
Thanks for your replies @EZoni!

I have checked again with your modifications and I still see the charge conservation error with the `VayDeposition2D` test. Running `./run_test.sh VayDeposition2D` locally I get:

[code]

You don't obtain the same thing with this specific test?

Other than that, I agree that generally it is a good idea to use `j[idim]->nGrowVect()`, except for the specific case of

[2022-06-23 23:37] n01r commented on #3188
I ran the LWFA test cases in a larger configuration of 512 x 256 x 2048 cells, such that every one of the 16 GPUs gets 256^3 cells on average. I also removed all diagnostic output.
Curiously, it was still slower than pre- #3190.

[code]

[2022-06-24 15:09] jjvdwOX commented on #3166
@jlvay
Thank you for the advice, I also see that the on-axis density only looks like a plotting artifact for PSATD when including ions.

On another note, the simulation that went unstable in my previous comment was made stable when I manually turned the psatd current correction off (psatd.current_correction = 0).

[2022-06-27 08:15] jameschappell commented on #1546
Hi @RemiLehe, sorry for taking so long to get back to you, I was on vacation last week. Can confirm that the code from #3194 works and I am able to restart the above simulation with ionisation. Thanks for fixing this!

[2022-06-27 14:05] sheroytata opened #3203 "Restart from checkpoint loose particles (diagnostic file size decreases significantly)"
WarpX@21.12

Running on GPU and I seem to use the restart from checkpoint but I end up loosing particles upon restart.

It looks like the simulation time also falls::

Just running normally start from step 0 without restart  (killed since time limit has been reached)
[code]

Simulation time after restart at step 30000
[code]

It seems that the simulation time per step also falls from 2.5 s to 2.2

[2022-06-28 01:30] hklion opened #3206 "User-defined particle attributes empty on restart"
I've run into some issues on Perlmutter GPU when I restart a simulation with user-defined particle attributes. I haven't been able to reproduce the issue locally or on Perlmutter CPU, and haven't tried other machines. I've attached input files for a simplified test that reproduces the issue on the development branch. The diagnostics are saved out to the series names `diags` and `diags_2nd`, which

[2022-06-28 13:33] RemiLehe commented on #3206
Thanks for reporting this issue @hklion.

I was able to reproduce this issue on Perlmutter. In addition, I did a few more tests:
- first simulation with GPU-compiled WarpX, restart with CPU-compiled WarpX => shows the above issue (`foo` is invalid after restart)
- first simulation with CPU-compiled WarpX, restart with GPU-compiled WarpX => no issue.

This suggests that, for some reason, the GPU co

[2022-06-28 13:38] RemiLehe commented on #3203
Thanks for reporting this issue!
Would you be able to share the full input script for the first simulation and the restarted simulation? (or a modified version thereof that would still allow us to reproduce this issue)

[2022-06-28 14:44] RemiLehe commented on #3206
Incidentally, I have observed a similar problem with the input script from [this issue](https://github.com/ECP-WarpX/WarpX/issues/1546) - which is a (larger) case with ionization:
- first simulation with GPU-compiled WarpX, restart with CPU-compiled WarpX => crashes
- first simulation with CPU-compiled WarpX, restart with GPU-compiled WarpX => no issue.

So the issue seems to be with all runtime-c

[2022-06-28 17:39] atmyers commented on #3206
I believe https://github.com/AMReX-Codes/amrex/pull/2856 fixes the issue - @hklion can you confirm?

[2022-06-28 18:31] hklion commented on #3206
Thanks for looking into this @atmyers and @RemiLehe! @atmyers that does indeed fix it.

[2022-06-29 07:38] sheroytata commented on #3203
I tried a much smaller simulation with less cells and the problem repeated.
Attached is the input files with different grids. The output dump at step 31000 is much smaller.

[inputs_3d_LongTime.txt](https://github.com/ECP-WarpX/WarpX/files/9008287/inputs_3d_LongTime.txt)

[inputs_3d_LongTime_GridChange.txt](https://github.com/ECP-WarpX/WarpX/files/9008288/inputs_3d_LongTime_GridChange.txt)

For th

[2022-06-30 00:21] EZoni commented on #3189
The suggestion mentioned above in https://github.com/ECP-WarpX/WarpX/issues/3189#issuecomment-1163776204 is now implemented in #3208. Note that the plots shown in the description of this issue are not really of interest, because having the bilinear filter turned off is problematic in itself. I will close the issue. We will see if #3208 makes any difference for the changes reported in #2336 (not su

[2022-06-30 00:21] #3189 closed, assigned to nobody

[2022-06-30 13:57] NeilZaim commented on #3136
Sure, I'm attaching a reproducer (there's an input file and analysis scripts and also a bash script that sums up all the commands I've run to produce the issue).

While making the reproducer, I've noticed another strange behaviour: the bug only appears when `prob_lo` is smaller than or equal to -1 in the second direction and `prob_hi` is greater than or equal to 1 in the second direction.
For inst

[2022-06-30 16:30] NeilZaim commented on #3136
Ah, and for reference in case things change in the future, I've been using commit 542ef3c09b467974b5bd9d1e3b25a208e3296562 (the current development version of WarpX) when making the reproducer.

[2022-07-04 07:01] sheroytata commented on #3203
I finally recompiled 22.05 with the new fixes to LibAblastr. With this version and the input files above restart seems fine.

Thanks

[2022-07-04 11:07] NeilZaim opened #3212 "Overflow in single precision with psatd current correction and small dt"
I've observed that in the simulations with small timesteps (dt ~ 1e-18 s) that I've tried to run in single precision, the following lines in the psatd current correction can overflow:

https://github.com/ECP-WarpX/WarpX/blob/87a978800395ae580e2f257cfdfd850d47c130a8/Source/FieldSolver/SpectralSolver/SpectralAlgorithms/PsatdAlgorithm.cpp#L822-L829

I'm attaching below a 2D input file that can reprod

[2022-07-05 00:31] kookjine opened #3214 "WarpX compilation with -DWarpX_EB=ON and -DWarpX_COMPUTE=CUDA ends up with error messages."
Dear developers,

I am trying to compile WarpX-22.06 source code with the options -DWarpX_EB=ON and -DWarpX_COMPUTE=CUDA, but this is causing error messages at the end of the compilation process as below.
"""
[ 98%] Building CUDA object CMakeFiles/WarpX.dir/Source/Utils/WarpXVersion.cpp.o
[ 98%] Built target WarpX
[ 99%] Building CUDA object CMakeFiles/app.dir/Source/main.cpp.o
[100%] Linking CXX

[2022-07-05 20:03] PhilMiller opened #3215 "Apparent particle density spikes with SP particles, DP fields"
Configured with `-DWarpX_PRECISION=DOUBLE -DAMReX_PARTICLES_PRECISION=SINGLE`, we're seeing some very anomalous reported particle densities at particular coordinates compared to default double precision:

![Ar_ion_xavg_difference_100 0_ns](https://user-images.githubusercontent.com/126464/177400040-d52c07bf-a908-43cb-a127-829980005f94.png)

Those are at `z=325, 650, 1300`

The domain is 0.0025^2, w

[2022-07-05 20:07] PhilMiller commented on #3215
To be more precise, 325 is the first such point with identical SP/DP value, and then `2*325` and `4*325`, but we didn't observe errors at `3*325=975` or `5*325=1625` which also have identical SP/DP values

[2022-07-05 21:46] PhilMiller commented on #3215
Ok, here's some zoomed-in scatter plots of the points around `z=1300`

<img width="724" alt="image" src="https://user-images.githubusercontent.com/126464/177420829-9c0d3b39-db9a-46e9-966b-6eb5b0978915.png">
<img width="724" alt="image" src="https://user-images.githubusercontent.com/126464/177421726-c8671311-7faa-4f99-ae1c-c8cd75f7ece3.png">

Given that the anomaly extends several points away from

[2022-07-05 21:59] PhilMiller commented on #3215
These were both run on CUDA GPU with 1 grid covering the entire domain, so this isn't an issue related to `Redistribute()`

[2022-07-06 03:24] PhilMiller commented on #3215
A note of discussion from @KZhu-ME and @peterscherpelz - the same anomaly appears for electron density as well, but to a lesser extent.

The effect takes some time from the beginning of the run to appear, and so per @peterscherpelz

[2022-07-06 13:54] #3203 closed, assigned to atmyers

[2022-07-07 10:53] aminetec opened #3216 "Problem running laser_ion example"
I installed warpx from source using cmake in Ubuntu 21.04 and I wasn't successful in running the laser ion example.

Below is the command I used. Any help would be greatly appreciated.

$ /home/amine/warp/WarpX-development/build/bin/warpx --enable-32bits-pci-domain  inputs
Ignoring PCI device with non-16bit domain.
Pass --enable-32bits-pci-domain to configure to support such devices
(warning: it w

[2022-07-07 19:40] RemiLehe commented on #3216
Thanks for reporting this @aminetec

One of the lines that WarpX returned (in the text that you pasted above) reads:
[code]
This means that you need to specify the value of `geometry.dims` in your input script. Here is the corresponding documentation (from https://warpx.readthedocs.io/en/latest/usage/parameters.html)

<img width="783" alt="Screen Shot 2022-07-07 at 12 40 09 PM" src="https://user-i

[2022-07-07 19:56] aminetec commented on #3216
I looked into the input file and the value of the geometry.dims parameter is defined as 2 I don't know what's causing my problem am I using the wrong command line to run waprx
![Screenshot from 2022-07-07 20-50-10](https://user-images.githubusercontent.com/95857522/177860514-0c803c19-bf6f-40f2-a96a-56090d01a54d.png)

[2022-07-08 12:35] aminetec commented on #3216
I installed WaprX on virtual machine with Ubuntu 18.04 LTS and the  uniform_plasma ran successfully.

Any ideas why I'm having problems with my installation on my main OS Ubuntu 21.04

[2022-07-08 14:00] RemiLehe commented on #3216
Strange.
Are you able to the following launching command:
[code]
instead of
[code]
It looked like, with the second command, WarpX was maybe not able to identify `inputs` as the actual input script.

[2022-07-08 14:56] aminetec commented on #3216
I tried it with the proposed command and got the following message :

(base) amine@HP:~/warp/WarpX-development/Examples/Physics_applications/laser_ion$ /home/amine/warp/WarpX-development/build/bin/warpx inputs
Ignoring PCI device with non-16bit domain.
Pass --enable-32bits-pci-domain to configure to support such devices
(warning: it would break the library ABI, don't enable unless really needed).

[2022-07-08 19:37] #3216 closed, assigned to nobody

[2022-07-09 13:39] aminetec opened #3224 "Fixed arbitrary external magnetic field from file"
Greetings,

I'm wandering if I can specify a fixed external Bx, By, Bz values defined from a text file.

I looked into the documentation and found the warpx.Bx_external_grid_function(x,y,z) parameter, but it's no quite what a need, I'm trying a simulate a LINAC lattice.

Do I need a python installation of WaprX and specify a PICMI input script.

Thank you in advance.

[2022-07-11 22:10] RemiLehe commented on #3224
Hi @aminetec,

We are currently working on adding the possibility of reading external fields (e.g. `Bx`, `By`) from a file (see #3050 - but it is still work in progress at this point).

Until the above PR is merged, WarpX will not be able to read a file with external fields - even if you try with a PICMI input script.

[2022-07-11 22:11] RemiLehe commented on #3215
@ax3l Any idea how to move forward on this?

[2022-07-12 00:12] kookjine opened #3227 "openPMD HDF5 output takes too long - ADIOS2 or Plotfiles faster"
Hello,

My simulation is taking approximately 30 minutes for saving data at every saving step for numerical parameters as below.
[code]
Now I am not sure if this simulation is working fine..
Is this normal?

++ The WarpX program was compiled by CMake based on GCC 8.5.0, CUDA Toolkit 11.0, OpenMPI 4.1.1, and all other dependencies from Spack.
(To be honest I am not sure if my OpenMPI library was pr

[2022-07-12 00:41] guj commented on #3227
It is not normal!  Which machine is it on?

Would you try again and see if it repeats.

Thanks,
- Junmin

On Mon, Jul 11, 2022 at 5:12 PM Kookjin ***@***.***> wrote:

[2022-07-12 00:50] kookjine commented on #3227
It's on a local machine with 4 nodes, which each node includes 4 TITAN V GPUS.
It's repeating same issue.
Thanks!
Kook-Jin

[2022-07-12 16:32] PhilMiller commented on #3215
May be a consequence of `-ffast-math` on GPU

[2022-07-12 16:33] ax3l commented on #3215
Does the same issue occur with `AMReX_CUDA_FASTMATH=OFF`?

[2022-07-12 16:40] PhilMiller opened #3231 "Electrostatic Solver Only Converges with Large Tolerance"
Modern Electron has a simulation that causes the electrostatic solver to fail to converge when run with `amrex::Real == float`. Demo input and output to be added here.

Attracted attention from the discussion of #3215

@roelof-groenewald @KZhu-ME

[2022-07-12 18:26] RTSandberg opened #3232 "Issue with `current_correction` and domain decomposition"
Current correction off, running on 6 GPUs:
![Non-laser transverse polarization without domain decomposition](https://user-images.githubusercontent.com/10621396/178591326-46b8db95-34aa-4e99-a486-f99210b4a759.png)
![electron density, Ez, and lineouts](https://user-images.githubusercontent.com/10621396/178591444-dab0a4f7-264a-4966-865b-e7800e6ba9ca.png)

Current correction on, 1 GPU and 1 grid:
![Non

[2022-07-12 20:28] RemiLehe opened #3233 "3D Poisson solver with EB crashes when number of cells in x, y, z is not identical"
The following input script runs fine:
https://github.com/ECP-WarpX/WarpX/blob/development/Examples/Tests/ElectrostaticSphereEB/inputs_3d

However, when changing
[code]
to
[code]
I get a `SegFault` at the first iteration. The BackTrace looks like this:
[code]

[2022-07-12 20:35] roelof-groenewald commented on #3231
The same behavior (MLMG solver failing to converge) can actually be seen using the existing electrostatic EB test (at _Examples/Tests/ElectrostaticSphereEB/inputs_3d_). After compiling with the flag `-DWarpX_PRECISION=SINGLE` I get the following output from running the above mentioned test input:
[code]
The MLMG solver is unable to improve on the achieved error level until it aborts at iteration 2

[2022-07-12 21:39] n01r commented on #3232
I will run the following tests to see if I can narrow down the issue more:
- `current_correction = 0`  running on GPUs to see if the issue vanishes
- `current_correction = 1`  running on CPUs to see if it's reproducible on that hardware
- changing the number of guard cells to in the original setup to see if the propagation of the error slows/accelerates/changes as suggested by @EZoni

[2022-07-12 22:07] peterscherpelz commented on #3215
Thanks; we'll check with fast math off next - it'll probably be next week on our end that we can check it.

[2022-07-12 22:56] n01r commented on #3232
The current density looks especially wild:
Interesting is, though, that the y-direction (which is not modeled in my 2D Cartesian sim) is seemingly not affected much.

![Figure 61](https://user-images.githubusercontent.com/5416860/178611972-e3b67799-9d92-4231-ace1-b3f5b91759ca.png)
![Figure 62](https://user-images.githubusercontent.com/5416860/178611990-ac0000f3-6ae0-40b3-bfc1-8a708da26be0.png)
![F

[2022-07-12 23:14] WeiqunZhang commented on #3233
The issue is semi-coarsening is not supported when EB is on.  This change seems to fix it.
[code]

[2022-07-13 00:17] ax3l commented on #1546
Fixed via #3194 :tada:

[2022-07-13 00:17] #1546 closed, assigned to ax3l, RemiLehe

[2022-07-13 00:19] #3206 closed, assigned to atmyers

[2022-07-13 00:25] ax3l commented on #3227
As Junmin already wrote, this is not normal.
Do you use HDF5 or ADIOS2 for openPMD output?

Where do you get the OpenMPI from? In case OpenMPI was not built with Spack, then you might want to register it as an external package in Spack:
https://spack.readthedocs.io/en/latest/build_settings.html

[2022-07-13 00:28] ax3l commented on #3231
Thanks!

Is `1e-3` for `warpx.self_fields_required_precision` (float, default: 1.e-11) the smallest value that converges? Does `1e-5` to `1e-6` work as well? (SP is 7-8 significant digits while DP has 15-16)

[2022-07-13 00:32] roelof-groenewald commented on #3231
Yeap, `1e-3` is the smallest order at which it "converges". The test currently uses `1e-7`, so it is already quite a bit higher than the default convergence criteria.

[2022-07-13 00:39] ax3l commented on #3231
Yes, that's wild even for the DP case.

[2022-07-13 01:18] kookjine commented on #3227
I usually use hdf5 format for OpenPMD output.
The openpmd-api was built with Spack.
GCC, CUDA, and OpenMPI were built from source code.
GCC and OpenMPI were registered in ~/.spack/linux/compilers.yaml and ~/.spack/packages.yaml, respectively.
I didn't check how ADIOS2 works yet.

[2022-07-13 05:17] guj commented on #3227
Since you have all software in Spack, would you change the line in input:
diag1.openpmd_backend = h5
to
diag1.openpmd_backend = bp

and run again.  Please let me know how it works.  How big is your file? And
what file system do you have?

- Junmin

On Tue, Jul 12, 2022 at 6:18 PM Kookjin ***@***.***> wrote:

[2022-07-13 13:48] kookjine commented on #3227
The file system is shown to be 'xfs' and each file size I got from the simulation is ~29 G.
I saw in another test script with 'plotfile' format, 5 G data files were saved in 5 s..
Maybe it is about data format type as you expect.
I will let you know how the attached script works with 'openpmd.bp' and 'plotfile' when I got slots in the cluster.
Thank you!
Kook-Jin

[2022-07-13 16:38] guj commented on #3227
Yes, would be good to test out plot file as well.

Thanks

[2022-07-14 04:44] kookjine commented on #3227
Saving data file took ~11 s for bp, ~7 s for plotfile format with attached scripts.
So, it seems that the issue is happening only with h5 format.
Thanks,
Kook-Jin

[2022-07-15 19:28] n01r commented on #3232
**Update**
- `current_correction = 0` running on GPUs to see if the issue vanishes ✅
--> the issue vanished indeed and the simulation looks physical
- `current_correction = 1` running on CPUs to see if it's reproducible on that hardware ✅
--> I reduced the problem size and I am still seeing these issues [inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/9123422/inputs_2d.txt)
![Figure 16](ht

[2022-07-15 23:17] n01r commented on #3232
Unfortunately, the idea of @EZoni to massively increase the number of guard cells did not have the desired effect of suppressing the artifacts.
[code]

![Figure 8](https://user-images.githubusercontent.com/5416860/179323219-110e990b-bc4a-4aa8-bddd-c42a9fc5c42a.png)

[2022-07-16 00:22] n01r commented on #3232
A quick run on one Perlmutter GPU node w/ 4 MPI ranks (so 4 GPUs) where I replaced `pml` as field boundary conditions with `damped` in `z` and `periodic` in `x` still shows the same artifacts.

[2022-07-16 02:24] n01r commented on #3232
Dunno if anyone can see more from this but here I have outputs for j_x, j_y and j_z every 10 steps and the simulation has 8 guard cells in x and z direction and a spectral order of 16. Field boundary conditions are damped in longitudinal direction and periodic in transverse direction.

![j_z_first_2000](https://user-images.githubusercontent.com/5416860/179335476-4c2e123b-3a91-4d40-8c07-c2ba876d9ce

[2022-07-18 18:11] ax3l commented on #3227
Hi @kookjine,

I fear that's a common behavior that HDF5 needs extra tuning to perform efficiently. That's exactly why we implement multiple backends in openPMD, such as ADIOS2.

Do you cluster admins document any (environment) hints to tune parallel HDF5 performance on the system? What's the HDF5 version you are using?
Otherwise just stay with ADIOS2 `.bp` files or plotfiles, that's why we implem

[2022-07-18 18:15] ax3l commented on #3227
I am cc-ing @jeanbez @sbyna in case they are curious what's wrong with HDF5's performance on your system. I am not sure how much work goes in tuning HDF5 on xfs.

[2022-07-19 00:36] EZoni commented on #3232
I think this simpler 2D setup, [inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/9143515/inputs_2d.txt), similar to the one of the CI test `Langmuir_multi_2d_psatd`, exhibits the same issue. The domain decomposition in this case is 1 grid in the X direction and 8 grids in the Z direction. The plots below show the raw data `jz_fp`, with guard cells (16 guard cells by default, for spectral or

[2022-07-19 01:14] n01r commented on #3232
[inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/9136607/inputs_2d.txt)

@EZoni You were slightly faster than me: I downsized my setup and I can also run it locally with 2 MPI-ranks on my MacBook now.

| current density | particle density |
| :-----------: | :-------------: |
| ![jx](https://user-images.githubusercontent.com/5416860/179642634-7d921466-3805-4758-bdf3-bb13e89f5013.png)   | !

[2022-07-19 02:58] kookjine commented on #3227
Hi Axel @ax3l

Thank you for caring for the issue.
I just didn't know I can use ADIOS2 same way as HDF5 in OpenPMD.
Now for me working with ADIOS2.bp is totally fine.

By the way, the issue does not happen when I use h5 format of OpenPMD in FBPIC or WARP in the same cluster.
Usually I get HDF5 from the package managers recommended by developers such as conda or spack.
The current HDF5 version for

[2022-07-19 03:00] #3227 closed, assigned to ax3l, guj

[2022-07-19 16:35] kookjine opened #3248 "(Question) An embedded implicit function with boundary scraping gives error messages"
Hello,

I am trying to use embedded boundary with BoundaryScraping for tracking beam particles escaping from cylindrical plasma channel.
So I set related parameters as below.

[code]

But I got error messages as below.

[code]

I am not understanding what this message means..

Can I just save escaping particles in OpenPMD and check later?
Are these functions already working in WarpX 22.07?
I am at

[2022-07-19 21:04] EZoni commented on #3232
Let me just make a comment, to track the history of the main changes related to current correction:

Current correction was implemented initially in #675 for standard PSATD and #1151 for Galilean PSATD. In #675 we commented that, with domain decomposition and local FFTs, current correction needed to be done **before** the exchange of the guard cells of J performed by `SyncCurrent`.

Then we saw th

[2022-07-19 21:27] n01r commented on #3232
Thank you for that overview!
Just to drop some more results here of tests that I had done in-between and which we partly already talked about offline, @EZoni:

- dual-particle test (ion and electron start at same position and then get separated by the laser), no initial particle velocity : no visible artifacts on crossing the grid boundary
- dual-particle test w/ initial momentum of p / mc = 0.1 :

[2022-07-19 23:55] n01r opened #3250 "Cori: Bus Error instead of OOM"
I encountered a certain case on Cori KNL nodes where a WarpX setup that likely ran out of memory reported a `bus error` instead.

The binary was compiled as `warpx.2d.MPI.OMP.DP.PDP.OPMD.PSATD.QED`

**Input Deck** [input_sets.zip](https://github.com/ECP-WarpX/WarpX/files/9145370/input_sets.zip)
There are 3 setups running the same 2D box size on one, two or four KNL nodes.

The submit file `debug_2

[2022-07-20 00:00] n01r commented on #3232
**EDIT:** The setup 2 comments above has the same artifacts also in nodal PSATD.

[2022-07-20 15:12] ax3l commented on #3250
Thanks for the report!

The problem here is that we did not fail in a `new` but got caught by the system (sigkill) on Cori, which we cannot handle at that level.

Maybe @kngott or @WeiqunZhang have more thoughts on this; I cannot see an obvious way to handle this more user-friendly right away.

[2022-07-20 18:12] EZoni commented on #3232
Here's a more detailed analysis of the effect of increasing the guard cells in the case of the setup posted in https://github.com/ECP-WarpX/WarpX/issues/3232#issuecomment-1188469650.

The plots below show the results without current correction and with 8 guard cells (first row), as well as those with current correction and with 8, 16, 32, 40, 48, and 56 guard cells (second to last rows). The plots

[2022-07-21 17:31] ax3l commented on #2926
@atmyers just checking the status on this

[2022-07-21 20:42] atmyers commented on #2926
I just ran this test 25 times in a row with no failures - perhaps this was a system issue that was fixed?

[2022-07-24 13:20] #3233 closed, assigned to nobody

[2022-07-25 16:06] ax3l opened #3258 "Substepping Broken"
We found out that substepping was broken in 3D after #3013.
We thus reverted it temporarily in .... (or we add an extra sync, as debugged by @NeilZaim :pray: )

## To Do

- [ ] add temporary fix with extra syncs
- [ ] add a test with multiple boxes and in 3D that uses substepping
- [ ] readd logic from #3013 and potential fixes (in WarpX or AMReX)

## Test Case So Far

[code]

Summit bash script
[

[2022-07-25 18:34] ax3l commented on #3248
Hi @kookjine,

Did you compile WarpX with `-DWarpX_EB=ON`?
We don't enable embedded boundaries yet by default, since we have not yet tuned out all overheads (extra allocations for EB fields, etc.) once compiling this in.
https://warpx.readthedocs.io/en/latest/install/cmake.html#build-options

[2022-07-26 22:40] ax3l opened #3263 "Performance Hint: Too Many Blocks per GPU"
We should print a performance hint (warning) if a user starts >>10 blocks per GPU.

[2022-07-27 20:28] KZhu-ME commented on #3215
Sorry for the late update. Turning fastmath off did not fix the issue unfortunately.

![Fastmath_off_Ar_ion_xavg_error_50 0_ns](https://user-images.githubusercontent.com/86268612/181366049-9521afc1-56fd-48d9-94ea-8b8383b9edc4.png)

[2022-07-27 21:31] roelof-groenewald commented on #3248
@ax3l I ran a comparison of the number of fab allocations when compiled with vs. without EBs on. I used the non-EB simulation example in `WarpX/Examples/Physics_applications/capacitive_discharge/inputs_2d` for the test. The results are as follows:

Compiled **without** EB support:
[code]

Compiled **with** EB support:
[code]

So it does look like the number of fab builds increases by a lot but the

[2022-07-27 23:26] PhilMiller commented on #3215
It looks like that changed the position of the spikes, though. What indices are those happening at? Can you see anything interesting about the output of my little analysis program at those positions?

[2022-07-28 06:17] kookjine commented on #3248
Hi @ax3l,

Yes I compiled WarpX with -DWarpX_EB=ON and tested the function with an example script as below.
[EB_test.zip](https://github.com/ECP-WarpX/WarpX/files/9205923/EB_test.zip)
It seems that this test example worked fine.
I am not just understanding why my script above is not working.

[2022-07-28 21:15] RTSandberg commented on #3232
Something about the issue concerns the propagation of information.  Consider the following two movies of two stages of laser wakefield acceleration with external injection performed at gamma=2 and gamma=10, both with current correction on. At very large boosts when the beam is moving relatively slower, the effect of the current correction bug is not very perceptible.  However, at lower boosts when

[2022-08-01 18:35] PhilMiller commented on #3215
Kevin told me that he did that run in a slightly lower-resolution domain, 1472^2, to get results a bit faster. The spikes consistently occur where the zero differences appear at that resolution, based on my utility above.

[2022-08-01 18:56] RemiLehe commented on #3248
@kookjine
Could you try to add this line to your script:
[code]
and see whether that fixes the issue?

[2022-08-01 19:01] RemiLehe commented on #3248
As a side-note: if this is indeed the problem, this should have been caught by [this check](https://github.com/ECP-WarpX/WarpX/blob/development/Source/Diagnostics/BoundaryScrapingDiagnostics.cpp#L67). But somehow this check was not triggered with the above script.

[2022-08-01 19:59] RemiLehe commented on #3248
I just checked: `electrons.save_particles_at_eb = 1` fixes the issue.

[2022-08-01 22:50] kookjine commented on #3248
Hi Remi,

Thanks a lot.
But why does that line fix the issue?
Is BoundaryScraping supposed to work with all species?

[2022-08-01 23:08] ax3l commented on #3248
@roelof-groenewald thanks a lot, yes please move this to a separate issue! :)

[2022-08-01 23:19] RemiLehe commented on #3248
@kookjine You can select which species will be dumped with, e.g.
[code]
but by default, if you don't specify `diag2.species` (which is the case in your script), then all species (i.e. `driver` and `electrons`) will be dumped. In this case, you need to set both `driver.save_particles_at_eb = 1`  (which you did in your original script) and `electrons.save_particles_at_eb = 1` (which is not the case

[2022-08-02 00:54] kookjine commented on #3248
@RemiLehe
Ah, yes that makes sense.
Thanks a lot!

[2022-08-02 16:20] roelof-groenewald opened #3280 "Always compile with `USE_EB=ON`"
There has been some discussion on removing the compile time argument `USE_EB` and instead always support inclusion of embedded boundaries. The open question before that can be done is whether there is a performance penalty for non-EB containing simulations when running with a `USE_EB=ON` compilation.
As a first step in answering this I ran a test with the non-EB simulation from `WarpX/Examples/Phy

[2022-08-02 20:19] roelof-groenewald commented on #3231
@KZhu-ME ran a test to compare the physics results when using 1e-3 tolerance for the field solve with a single precision build versus 1e-7 with a double precision build. The idea behind this is that 1e-3 might be the best we can do with the MLMG solver when using single precision fields. The plot below shows the z-averaged ion density for the two cases for a typical use case of ours. The differenc

[2022-08-03 05:42] #3248 closed, assigned to RemiLehe

[2022-08-03 17:45] RevathiJambunathan opened #3283 "BTD crashing with invalid particle error"
For a 2D psatd test case, the plotfile format for BTD crashed with
[code]

Looking into this further, the particle in question is located at z=1.72299362e-05, and it gets mapped to index `(17,1536) `
However, the particle BoxArray is
[code]
Thus the particle is out-of-bounds.
The input file was provided by @RTSandberg

[2022-08-03 18:00] RTSandberg commented on #3283
Running on Perlmutter in debug mode, the simulation crashes with the following message:
[code]
The `WarpX.e` file says
[code]

The input deck is here:
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/9253965/inputs.txt)

[2022-08-04 18:36] RTSandberg opened #3289 "Deuterium_Tritium_Fusion_3D test fails"
Running on MacOS, this test fails with the following messages:

[code]
There are more than 20 such instances

@NeilZaim  could you take a look?

[2022-08-04 19:08] ax3l commented on #3280
Thank you for the test!
Looks like there is a significant runtime Fab creation and potential memory overhead that we need to guard by runtime flags.

CCing further developers of EB: @WeiqunZhang @atmyers @lgiacome @RemiLehe et al.

[2022-08-04 19:08] ax3l commented on #3280
@roelof-groenewald is it possible with and without are exactly inverted in your post above?

[2022-08-04 19:13] ax3l commented on #3289
I'll exclude cpu/id in #2924 for different reasons.

`particle_momentum_x` et al. looks like a physics reproducibility bug in the test @NeilZaim

[2022-08-04 19:20] NeilZaim commented on #3289
Thanks for reporting this, I'll try to have a look in the coming days.

Do you see this issue only with the Deuterium Tritium test, or do you see something similar with the Proton Boron test?

[2022-08-04 22:45] #2865 closed, assigned to Yin-YinjianZhao

[2022-08-05 17:12] dpgrote commented on #3289
Note that when I run any CI tests on my Mac, they almost all fail now, with the same kind of issues, small differences in the cpu, id and other particle parameters. I traced it down to differing random number seeds. There is something happening on the Mac that the seeds are getting wrong values when running the test cases.

[2022-08-06 23:20] ax3l commented on #3289
Could be a difference in  the seed or the `std::mt19937` details of the different stdlibs on various platforms, which AMReX uses.
- https://stackoverflow.com/questions/45766536/platform-dependent-state-of-mt19937-in-c

Maybe @atmyers and @WeiqunZhang can chime in?

[2022-08-07 20:45] ax3l opened #3292 "Documenting the Python APIs"
PICMI APIs and usage is, besides links to outside docs and examples, not really documented on the same level as the C++ app w/ inputs file usage. Let's change that.

- [x] document the standard PICMI APIs in the WarpX docs: #3291 @ax3l
  - [ ] We furthermore need to document the additional PICMI `warpx_` kwargs that we allow and not yet standardize. @dpgrote
- [x] As a follow-up, we should add a s

[2022-08-08 16:46] WeiqunZhang commented on #3289
If the seeds are the same, `std::mt19937` will produce the same random number sequences.  The stackoverflow question was about the internal state of mt19937, not the output.

[2022-08-08 16:54] NeilZaim commented on #3289
Note that I don't think we set the seed in the nuclear fusion tests, I don't know if that could fix the issue.

[2022-08-08 16:58] WeiqunZhang commented on #3289
If the seed is not explicitly set, amrex will use a deterministic seed.

[2022-08-08 19:11] PhilMiller commented on #3231
Re particle density drop near the periodic boundary - I checked that `enforcePeriodic` already has an assertion that the resulting coordinates are in-bounds after it adjusts them.

[2022-08-08 19:33] WeiqunZhang commented on #3280
We certainly don't need to build these MultiFabs for regular geometry.
[code]

[2022-08-08 22:09] RemiLehe commented on #3283
@RevathiJambunathan Is this issue now fixed, thanks to #3288 and #3285?
If yes, do you want to close the issue?

[2022-08-09 14:16] ax3l commented on #3292
Unassigned, since I am looking for help with the latter two points :-)

[2022-08-09 17:42] emily-archer opened #3297 "Gaussian laser slips backwards with respect to speed of light frame"
Hi there,

I am simulating a Gaussian laser pulse in a vacuum in the moving frame coordinate (at speed c). I would expect that the pulse co-propagates with the light speed frame, however, it appears to slip backwards relative to the frame of the simulation. I know that it's highly unlikely that WarpX propagates a laser pulse at the wrong speed in a vacuum or that the moving window doesn't move at

[2022-08-09 18:01] RemiLehe commented on #3297
@emily-archer
Thanks for your interest in the code, and thanks for reporting this issue.
It looks like you just closed this issue ; was this accidental, or did you indeed resolve the issue?

[2022-08-09 20:26] RevathiJambunathan commented on #3283
Yes. This is resolved.

[2022-08-09 20:27] #3283 closed, assigned to RevathiJambunathan

[2022-08-10 07:26] emily-archer commented on #3297
Hi @RemiLehe, I just closed it because I found that one of my older scripts didn't have this issue. Still no idea why it happens for the script submitted above, but was going to cross-compare and see if I could figure out. Happy to reopen this issue, as I still haven't managed to solve it myself.

[2022-08-10 15:51] RemiLehe commented on #3297
OK, thanks for clarifying.

It could be that the above effect is due to **numerical dispersion**: it is a known effect that discretizing the Maxwell equations (as is done is any PIC code) can result in EM waves propagating at a slightly different velocity than `c`, due to numerical effect.

The importance of this effect (i.e. numerical dispersion) depends on many parameters, including:
- the type

[2022-08-10 16:37] emily-archer commented on #3297
Thanks so much for the explanation. That makes complete sense; my other grid is orders of magnitude smaller, so previously I was resolving the laser wavelength. Apologies for forgetting the basics, I am reasonably inexperienced with PIC codes.

[2022-08-10 16:37] #3297 closed, assigned to nobody

[2022-08-10 21:29] ax3l commented on #1850
@RevathiJambunathan can you please add the runtime assert for `rho`/`rho_<species>`? :)
We had @joshualudwig8 running into this again in the last months.

[2022-08-10 21:31] ax3l commented on #1850
For the 2nd point, we need to deposit j for diags as well, so we can transform them together, which will probably take longer.

[2022-08-10 21:34] RevathiJambunathan commented on #1850
yes. Will do. thanks for the reminder and the ping!

[2022-08-10 21:50] ax3l opened #3299 "PSATD+RZ CUDA Compile on Lassen"
The LAPACK++ build and the PSATD+RZ+CUDA build on Lassen (LLNL) seem to cause linker issues in the latest module version for @joshualudwig8.

Update modules and instructions accordingly.

[2022-08-10 22:09] ax3l opened #3300 "BTD Testing: Analysis Scripts"
- [ ] for plotfile and openPMD diagnostics with BTD, we need to add CI analysis scripts that actually read the data to see its valid and in the range we expect (fields, particles)
- [ ] more runtime tests need to use openPMD to increase functional coverage

cc @RevathiJambunathan @RemiLehe @ax3l @dpgrote et al.

[2022-08-10 22:40] RemiLehe opened #3301 "Particle metadata is missing with BackTransformed openPMD diagnostics"
I had previously tested the particle openPMD output of the new BTD diagnostics, but it turns out that I did not do a complete check.
Some of the metadata (e.g. particle mass, position offset) is not being written to the file.

Here is a simple reproducing script:
[inputs_3d.txt](https://github.com/ECP-WarpX/WarpX/files/9304527/inputs_3d.txt)

[2022-08-10 22:41] RemiLehe commented on #3301
My impression is that the function `SetConstParticleRecordsEDPIC` is not being called.

[2022-08-10 22:58] RemiLehe commented on #3301
The openPMD files can be tested with the following Python code (after doing `pip install openpmd-viewer`)
[code]
It currently raises an exception:
`IndexError: Key 'mass' does not exist (read-only).`

[2022-08-11 00:11] RemiLehe commented on #3301
It seems that the problem disappears when `prob_hi` is 0 in `z`
[inputs_3d_zmax0.txt](https://github.com/ECP-WarpX/WarpX/files/9305213/inputs_3d_zmax0.txt)

[2022-08-11 04:29] RemiLehe commented on #3301
It seems that the version of WarpX that I was using was not up to date.
Sorry about this! I will close this issue for now.

[2022-08-11 04:31] RemiLehe opened #3305 "Boosted-frame diagnostic can crash when `prob_hi` is >0 in `z`"
I found an instance in which the boosted-frame diagnostic crashes with SegFault.
This is specifically in the case where `prob_hi` is strictly positive in `z`, which in general we don't recommend for boosted-frame simulation. Therefore, this issue is maybe not critical.

Here is a reproducing script:
[inputs_3d.txt](https://github.com/ECP-WarpX/WarpX/files/9306103/inputs_3d.txt)

In the case where

[2022-08-11 04:42] RevathiJambunathan commented on #3301
thank you for checking @RemiLehe

[2022-08-11 16:02] RemiLehe opened #3306 "Particles can cross the plasma lens without seeing it, for large timesteps"
As mentioned in the title, macroparticles can sometimes cross the plasma lens without being affected. See the following plot obtained with this simulation script:
[inputs_3d_zmax0.txt](https://github.com/ECP-WarpX/WarpX/files/9310034/inputs_3d_zmax0.txt)
![Screen Shot 2022-08-11 at 9 00 46 AM](https://user-images.githubusercontent.com/6685781/184177811-e303c2ec-363a-4820-adcd-603aecb698fc.png)

(T

[2022-08-11 16:29] dpgrote commented on #3306
Currently, the plasma lens requires particles to land at least one time step in the lens for the field to be applied. This can possibly be fixed by adjusting the residence correction that is done for the lens to account for the case when the particle skips over the lens. A PR will be posted soon.

[2022-08-12 20:23] RevathiJambunathan commented on #1850
Hi @ax3l
This assert is already implemented in the code.
[code]

[2022-08-12 20:32] RevathiJambunathan commented on #1850
https://github.com/ECP-WarpX/WarpX/pull/3074
Here is the PR that added this assert

[2022-08-13 19:17] ax3l commented on #1850
Thanks, that makes total sense!

@joshualudwig8 did you not update WarpX since May?

[2022-08-15 18:35] EZoni commented on #3232
@n01r Hi Marco, would you like trying to see if #3290 fixes the issue for the test case that you reported here? I think you're more familiar than me with that particular setup, so it would be easier for you to tell if #3290 gives the correct results.

[2022-08-15 18:44] n01r commented on #3232
@EZoni Yes, I can do that :)
Thanks for the fix!

[2022-08-15 21:54] ax3l opened #3317 "Extent Beam Relevant Reduced Diagnostics"
We need more relevant quantities of accelerator physics in our `BeamRelevant` reduced diagnostics.

This is important, because we want to talk to accelerator physicists for laser-plasma accelerators and sources.
We should for instance add everything we can express with respect to a reference trajectory (straight):
- Divergence
- Beta function (with user-defined s vector - default z)
- Phase advanc

[2022-08-15 23:25] ax3l commented on #3300
cc @EZoni and I will start this.

[2022-08-15 23:31] ax3l commented on #3317
@dpgrote @cemitch99 @qianglbl anything missing in the list? :)

[2022-08-15 23:34] ax3l opened #3319 "Allow User to Rename `warpx_used_inputs`"
@ppiot wrote on Gitter:
Hi, is there a way to assign a different filename for the warpx "user inputs" file; right now it is always `warpx_used_inputs`. I could not find such an option in the input parameters -- this would be a convenient feature to have. Thank you!

[2022-08-15 23:57] cemitch99 commented on #3317
A few more:

- Beam size in each variable (x,px,y,py,t,pt)
- Centroid offset (from reference particle) in each variable
- Emittance in each dimension (x-px), (y-py), (t-pt)
- Slice diagnostics, such as longitudinal current profile I vs. t

[2022-08-16 07:59] n01r commented on #3232
Looks good to me! ✨
![image](https://user-images.githubusercontent.com/5416860/184828221-4b2d2a7e-5889-4677-84f4-40a0c09f9072.png)
![image](https://user-images.githubusercontent.com/5416860/184828471-b858c6df-d5b9-4000-bf8b-735e86277a03.png)
![image](https://user-images.githubusercontent.com/5416860/184828524-c1c0debb-583f-4bf3-81a1-248b6d793d37.png)

[2022-08-16 19:59] RTSandberg commented on #3301
I observe this issue some times, working on the latest WarpX branch.

When loading in ``openPMD-viewer``:
[code]
Here is a reproducing input file
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/9354209/inputs.txt)

[2022-08-17 02:12] dpgrote commented on #3306
This should be fixed by PR #3318

[2022-08-17 21:14] ax3l commented on #1850
Update: updated now on his side. `rho` works with BTD, but we don't have the specific `j_<species>` to BTD `rho_species`

[2022-08-18 16:29] hklion opened #3324 "Inconsistent documentation for PSATD options"
The documentation for `psatd.update_with_rho` says that

However, `psatd.do_time_averaging` requires that `psatd.update_with_rho` be turned on (and will raise an exception on startup if `psatd.update_with_rho=0`). Turning on both `do_time_averaging` and `update_with_rho` runs.

[2022-08-19 00:45] #3324 closed, assigned to EZoni

[2022-08-19 17:53] RemiLehe commented on #3305
We discussed this issue offline with @ax3l @RevathiJambunathan @atmyers

Here are a few steps that we discussed could be taken in order to understand the issue better:
- With the current input script (using openPMD output): we could compile in debug mode, in order to understand **where** the issue is happening.
- With a modified input script using plotfiles instead of openPMD output: the code does

[2022-08-19 21:48] RevathiJambunathan commented on #3305
sorry for the incorrect information during our offline discussion.

I have some notes and updates below.

The test segfaults even with plotfile, not with `locateParticle`
Let me look into this more. but here is a preliminary update :
It segfaults at line https://github.com/ECP-WarpX/WarpX/blob/ab94900feb60cfdc50430cb7f5059587d6dba2e5/Source/Diagnostics/ComputeDiagFunctors/BackTransformFunctor.cpp#

[2022-08-20 00:03] RevathiJambunathan commented on #3305
This issue is due to round off errors
and is resolved by PR #3330

[2022-08-21 03:49] bssharma58 opened #3331 "unable to run picviewer"
[code]

[2022-08-22 23:13] ax3l commented on #3331
Hi @bssharma58,

picviewer is a bit legacy/undermaintained from the tools we list in the docs. We will update accordingly.

opened an upstream bug report: https://bitbucket.org/ecp_warpx/picviewer/issues/2/yt-40-exclude-nbody

The fix for this is due to a change in yt 4.0 and would look similar to this patch, excluding `nbody`: https://github.com/ECP-WarpX/WarpX/pull/2060

[2022-08-22 23:14] #1938 closed, assigned to nobody

[2022-08-22 23:15] RemiLehe commented on #1938
This has been fixed by several PRs in the meantime.

[2022-08-22 23:15] RemiLehe commented on #2462
This was fixed by a series of recent PRs.

[2022-08-22 23:15] #2462 closed, assigned to nobody

[2022-08-22 23:16] #3166 closed, assigned to EZoni

[2022-08-22 23:29] #3263 closed, assigned to ax3l

[2022-08-23 16:57] n01r opened #3335 "Initialize particles only where density is non-zero"
Currently, particles are initialized everywhere in the box inside the bounds of `zmin, zmax, xmin, ...` if they are set.
Otherwise, these bounds are expanded to the full box size, which can lead to running out of memory quickly when very dense, spatially limited targets (e.g. foils, spheres, etc.) are initialized.

Following discussions from 2022/08/23 this is identified as a potential topic for t

[2022-08-23 17:00] ax3l commented on #3331
Thanks @dpgrote for taking a look on this :)

[2022-08-23 18:31] ax3l opened #3336 "GPU: Change Default max grid size"
Change default of boxes on GPU: max grid size [Remi, Axel]

- GPU:
  - 3D: 128 or 256^3
  - 2D: 2048^2 to 4096^2
  - RZ: 2048^2 to 4096^2
    - PSATD: R must be the entire grid (user cannot change it)
    - Actually we need a larger Z because R is usually smaller
  - 1D: 2’097’152? :D

- CPU: (keep for now)
  - 3D: 32^3 (same)
  - 2D: … (make larger)
  - RZ: … (make larger)
  - 1D: … (make larger)

[2022-08-25 15:07] ervw12 opened #3339 "WarpX on MPCDF HPC cluster Raven"
Hi,

I would be interested to use WarpX on the MPCDF cluster Raven and saw that it is still missing in the WarpX docs.

I have already tried to setup everything myself but I ended up that the simulation actually runs quite slow. I have included the warpx.profile, cmake_options, batch submit file (run.job) and the output (stdout).
[warpx_raven.zip](https://github.com/ECP-WarpX/WarpX/files/9425866/w

[2022-08-25 20:00] RevathiJambunathan commented on #1166
This is done, and ready to be closed.

[2022-08-25 20:00] #1166 closed, assigned to atmyers

[2022-08-26 15:31] #3232 closed, assigned to EZoni

[2022-08-26 16:37] wangjia-ai opened #3340 "Question on `psatd.current_correction=1` in RZ geometry for LWFA"
Dear developers:
    I found there may have some nonphysical results when using "psatd.current_correction = 1",  are some key parameters missing in the input file?
[inputs_2d.txt](https://github.com/ECP-WarpX/WarpX/files/9434818/inputs_2d.txt)
![25](https://user-images.githubusercontent.com/73467797/186951074-e3fbe81b-2e28-437e-a5f9-c247cff2cf1a.png)

[2022-08-26 16:51] EZoni commented on #3340
@wangjia-ai

Thank you for reporting this. A few bug fixes that address this issue were just merged this morning, see commit 48c1a86047fb06b957474c5a92d15f104c77b039 and the corresponding PR, #3290.

Would you like to try rerunning your simulation with the very latest version of WarpX and see if the issue is resolved thanks to these bug fixes?

[2022-08-26 17:43] ax3l commented on #3331
Fixed via https://bitbucket.org/ecp_warpx/picviewer/pull-requests/10/various-fixes :)

[2022-08-26 17:43] #3331 closed, assigned to dpgrote

[2022-08-26 23:18] dpgrote commented on #3306
PR #3318 is merged.

[2022-08-26 23:18] #3306 closed, assigned to dpgrote

[2022-08-29 01:56] prkkumar opened #3344 "LWFA simulation with mesh refinement can give incorrect particle distribution when warpx.refine_plasma = 1"
I noticed an issue while using `warpx.refine_plasma = 1` in an LWFA  simulation with mesh refinement. In the input script ([input.txt](https://github.com/ECP-WarpX/WarpX/files/9441003/input.txt)), for instance, ions have `xmin = -46.e-6` and `xmax = 46.e-6`, however, I see ions only in ~`[-25.e-6,25.e-6]` (see ion density plot below : vertical axis on the plot ranges from -50.e-6 to 50.e-6)
<img w

[2022-08-29 02:13] prkkumar opened #3345 "LWFA simulation with mesh refinement gives an instability when warpx.do_subcycling = 1"
In an LWFA simulation with mesh refinement, I noticed an instability when I use `warpx.do_subcycling = 1`. The issue can be reproduced with the following input script:
[input.txt](https://github.com/ECP-WarpX/WarpX/files/9552530/input.txt)

Instability seems to appear inside the fine patch. Note the high field values inside the fine patch in the plot below (Top left: Wakefield, Top right: Laser's

[2022-08-29 12:56] wangjia-ai commented on #3340
With the latest version and "psatd.current_correction = 1", the electric field appears to have some nonphysical distortion points.
![54](https://user-images.githubusercontent.com/73467797/187206134-1b5ba452-59c3-4b90-90de-1becdb866492.png)

[2022-08-29 17:47] KZhu-ME opened #3347 "Periodic boundaries eat particles in single precision"
We noticed that particle counts are being depleted in a single precision (fields and particles) simulation with only a reflecting and periodic boundaries. We have seen similar issues of particle depletion in our other simulation runs/plots, posted/referenced below.

We've replicated this issue using the cpp input file attached.

![single_vs_double_ion_zavg_100 0_ns](https://user-images.githubuserc

[2022-08-29 17:50] KZhu-ME commented on #3347
[code]

[2022-08-30 15:00] WeiqunZhang commented on #3344
@prkkumar Which machine did you use for the runs?  Did you use GPUs?

[2022-08-31 01:06] EZoni commented on #3340
@wangjia-ai

Glad to see that the main issue is solved. Regarding the distortion points you see, we discussed among a few developers and we think the distortion might go away by increasing the number of guard cells used in the simulation (in which case it would be caused by the non-locality of the current correction).

I tried rerunning your simulation using more guard cells but I think I do not g

[2022-08-31 03:18] wangjia-ai commented on #3340
The problem still exists with psatd.nx_guard=24 and psatd.nz_guard=48.
![54](https://user-images.githubusercontent.com/73467797/187585149-a51aead0-1ee2-4115-8999-43fc7ef803b0.png)

[2022-08-31 18:13] ax3l commented on #3335
tentatively assigning @atmyers for this, potentially hackathon; generally high priority for all non-trivial (non-uniform) simulations :)

[2022-08-31 21:13] n01r opened #3356 "simulation failed with MPICH error in PMPI_Send"
One of my 512 node simulations on Perlmutter crashed with the following error:

[code]

It did not produce a `Backtrace` file. Could this be possibly connected to #3349?
The simulation still had

[code]
instead of
[code]

I can provide the input script and submit script but this was part of a series of runs with either 128 or 512 nodes of which others run successfully and so I don't know exactly h

[2022-08-31 22:24] n01r opened #3358 "Mismatch of memory expectation and actual usage leading to OoM crashes"
Hi, I have been trying to run some large-scale simulations using foil targets with a lot of vacuum around. To gauge the memory usage, I used the memory calculator I am contributing in #3296.

**Memory Estimate** (archive contains memory calculator and jupyter notebook)
[memory_estimate.zip](https://github.com/ECP-WarpX/WarpX/files/9465438/memory_estimate.zip)

In my estimate, I calculated the memo

[2022-09-01 03:00] prkkumar commented on #3344
@WeiqunZhang I ran the tests on perlmutter gpus. I just tested my input script on your PR (https://github.com/ECP-WarpX/WarpX/pull/3351) and I am getting the correct profile now. Thank you for fixing this!
![refine_plasma](https://user-images.githubusercontent.com/89051199/187822725-65d65f72-8cf0-48de-a4c6-7d077d09d267.png)

[2022-09-01 17:30] #3344 closed, assigned to WeiqunZhang

[2022-09-06 22:18] ax3l commented on #3356
Can you please retry with #3349 applied and close the issue if it is resolved?

[2022-09-06 22:44] n01r commented on #3356
Looking at similar simulations (just slight variations in physics parameters and running on 2048 GPUs) I am getting the following warning after application of #3349:

`Multiple GPUs are visible to each MPI rank, but the number of GPUs per socket or node has not been provided.
This may lead to incorrect or suboptimal rank-to-GPU mapping.!`

Unfortunately, these simulations also crashed, with the fo

[2022-09-07 01:07] bssharma1958 opened #3369 "Problem in running PICVIEWER"

[2022-09-07 01:10] bssharma1958 commented on #3369
When I run any example with PICVIEWER, each time I am getting an error: key error : n particles . Could anyone  help me to get out of the error !

[2022-09-07 17:53] ax3l commented on #3369
Hi,

In order to get help from open source projects, you please need to post a reproducible error report.

Which version of PIC-viewer are you using?
What kind of operating system and which software environment (Python version, yt version, etc.), and which inputs file of WarpX are you using?
What is the complete error message & Python backtrace that you get?

[2022-09-07 17:56] ax3l commented on #3356
Is this with #3349 applied?

[2022-09-07 17:58] ax3l commented on #3356
@kngott @WeiqunZhang it looks like setting `export CUDA_VISIBLE_DEVICES=$SLURM_LOCALID` does not work on Perlmutter?

Or `srun` with `--gpus-per-node=4` overwrites our export.

[2022-09-07 20:07] EZoni commented on #3340
@wangjia-ai

Thank you.

Can you please confirm to us that these distortion points do **not** show up if current correction is turned off (`psatd.current_correction=0`)?

[2022-09-07 21:04] PhilMiller commented on #3347
One thought I had in looking at the code is that the arithmetic in AMReX's `enforcePeriodic` feels a bit sketchy. It does iterated addition/subtraction of the domain length from the particle's position, until it's in bounds. That can potentially accumulate error, but I don't know where particles would then get lost

[2022-09-08 02:58] wangjia-ai commented on #3340
Yes, the distortion points do not show up as "psatd.current_correction=0"
![54](https://user-images.githubusercontent.com/73467797/189023891-1009a649-0b30-4eb6-b5e4-83e8fbc461f2.png)

[2022-09-08 23:36] ax3l commented on #3356
Fix proposed in #3375 to retry with :)

[2022-09-09 17:07] lucafedeli88 opened #3377 "Invalid memory access when moving window and timers-based load-balancing is used"
I am opening this issue because I have observed an invalid memory access when moving window and load-balancing based on timers are used in combination.

Here I provide a small reproducer:
[code]

When WarpX runs this inputfile (even without GPUs or OMP support), `valgrind` detects the following issue:

[code]

[2022-09-12 18:59] ax3l opened #3385 "EBs: Should not Fail 2D or RZ if not used"
When compiling with `-DWarpX_EB=ON -DWarpX_PSATD=ON`, the RZ geometry cannot be used anymore.

This can be seen by running the `Examples/Physics_applications/laser_acceleration/inputs_rz` test, which **does not use EB** (or PSATD).

[code]

The current unconditional assert should check if EBs are used at runtime.

Related to #3280

[2022-09-12 19:10] RemiLehe commented on #3385
It would be nice to have a runtime helper function do determine whether the EB are being used (impl. function or STL or constructive geometry) - instead of using compilation flags.

[2022-09-12 20:58] prkkumar commented on #3345
Following the suggestion in the Monday meeting on 08/29/2022, I modified the `amr.max_grid_size` and `amr.blocking_factor` to make sure fine patch grids are "properly aligned". With

`amr.max_grid_size = 2048 2048`
`amr.blocking_factor = 128 128`

I DO NOT see the instability and the results make sense. Here is the `Ez` field with these changes.
![Ez_subcycling](https://user-images.githubuserconte

[2022-09-12 23:00] RemiLehe opened #3389 "BackTransformDiagnostics: position offset does not have consistent number of macroparticle"
When running this input file:
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/9552278/inputs.txt)
it seems that the metadata of the BackTransformed diagnostics is inconsistent. For instance, running the following Python code:
[code]
results in the following error:
[code]

[2022-09-13 00:39] prkkumar opened #3390 "LWFA simulation with mesh refinement and PSATD solver shows instability"
I noticed an instability when using PSATD solver with mesh refinement in an LWFA simulation. The following input file will reproduce the issue.
[input.txt](https://github.com/ECP-WarpX/WarpX/files/9552575/input.txt)

Instability is only on fine patch. Following plot shows Ez (note the high field values (on the scale of 1e55) on the fine patch) and corresponding charge density.
![Ez](https://user-i

[2022-09-13 15:43] RemiLehe opened #3391 "BLAS/FFT wrapper: use GPU streams"
In the RZ code, we use call the GPU FFT library by passing a stream:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/FieldSolver/SpectralSolver/SpectralFieldDataRZ.cpp#L242
In principle, this is more efficient, especially in the case of many small FFTs.

However, in the Cartesian code, we call our own FFT wrapper, which does not handle streams. We should probably update the wrapper.

[2022-09-13 20:10] PhilMiller commented on #3347
In investigating this, there are a number of distinct issues in play. I'm digging into the one that's of most immediate concern for Modern Electron's usage, which appears with a switch from DP fields/DP particles to DP fields/SP particles. Going to SP/SP exposes much more dramatic physical differences that we're not prepared to isolate or tackle yet.

Bottom line: Work on this issue can probably b

[2022-09-14 00:47] PhilMiller opened #3397 "Periodic boundaries show particle depletion with DP fields, SP particles"
![pic5](https://user-images.githubusercontent.com/126464/190033864-870b55df-5802-4b9c-9b9e-169497e42650.png)
X axis labels are cell indices, with periodicity meaning that the end points should match up.

The first plot is the run in full double precision. It shows a flat line of particle densities across the periodic boundary

The latter 3 plots are mixed precision, with `AMReX::Real = double` and

[2022-09-14 00:51] PhilMiller commented on #3397
This is one of many issues at play in #3347.

The artifacts seen there resulting from #3215 do appear in this run at ±750 cells, where expected, but take much longer to evolve

[2022-09-14 01:00] PhilMiller commented on #3397
Per the latter, I'm trying this with `AMReX_CUDA_FASTMATH=OFF` to rule that out.

[2022-09-14 01:02] PhilMiller commented on #3397
I'll also try an OpenMP build and a debug build.

In these runs, I'm using a slightly modified version of AMReX to change the assertion in `enforcePeriodic` to `AMREX_ALWAYS_ASSERT`, to get that guardrail with an otherwise optimized run

[2022-09-14 01:37] PhilMiller commented on #3397
~~The build without fastmath seemed to be producing nonsensical results.~~ OpenMP next

[2022-09-14 01:52] PhilMiller commented on #3397
Ugh, I screwed up the `no_fast_math` build, and accidentally had single precision fields. So, I'll rebuild and rerun that

[2022-09-14 02:01] PhilMiller commented on #3397
In the OpenMP build, that assertion in `enforcePeriodic` triggers!

@peterscherpelz @KZhu-ME

[2022-09-14 04:22] PhilMiller commented on #3397
Following https://github.com/AMReX-Codes/amrex/pull/2839/ might we need the round-off domain fix for `plo` as well?

[2022-09-14 04:50] PhilMiller commented on #3397
Digging through the code, it does seem that particles for which rounding leaves them outside the domain after a periodic shift can in fact get discarded, since they will not be found in any box.

I'm trying to write a patch to implement the analogous `rlo`

[2022-09-14 05:17] PhilMiller commented on #3397
I do wonder if instead of the bisection approach to computing `rhi/rlo` could be replaced with a suitably careful use of routines from the `nextafter` family

Edit: Or probably, more likely, `nexttoward`

[2022-09-14 16:03] ax3l commented on #3369
Updates seen on Gitter:
[code]

[2022-09-14 16:07] ax3l commented on #3369
@bssharma1958 your issue was recently fixed in PICviewer, see your duplicate issue in #3331

Please update PICviewer (https://bitbucket.org/ecp_warpx/picviewer) and this will be gone.

[2022-09-14 16:07] #3369 closed, assigned to dpgrote

[2022-09-14 16:16] wuxf99 opened #3398 "amrex::Abort::1::HIP error in file WarpX/build/_deps/fetchedamrex-src/Src/Base/AMReX_GpuDevice.cpp line 402 hipErrorOutOfMemory"
I am a new user for WarpX and compiled WarpX on OLCF Crusher successfully, but when I ran it with the sample submit script provided for Crusher, I got the following error for any inputs from Examples:

amrex::Abort::1::HIP error in file WarpX/build/_deps/fetchedamrex-src/Src/Base/AMReX_GpuDevice.cpp line 402 hipErrorOutOfMemory !!!
SIGABRT

Any suggestion?

[2022-09-14 16:37] #3398 closed, assigned to nobody

[2022-09-14 16:39] wuxf99 commented on #3398
Need to add loading all modules in the script.

[2022-09-15 16:46] RemiLehe opened #3403 "Focusing by plasma lenses requires small enough timestep"
The plasma lenses require the timestep to fine enough so that the motion of the particles through the lens is resolved, in order to get converged. This is not necessarily the case in boosted-frame simulation, where the timestep is dilated, and the lens is shrunk.

The following plots illustrate the issue as a function of `c*dt_boost/L_{lens,boost}` and its impact on the final emittance:

![Large_t

[2022-09-15 22:17] prkkumar commented on #3390
Running with `psatd.current_correction = 0` does not have any effect on the instability. Here is the Ez field with this option
![psatd_no_current_corr](https://user-images.githubusercontent.com/89051199/190518477-e57e2727-9f3d-4555-ac80-c31e6dfef352.png)

[2022-09-16 00:27] ax3l commented on #3397
This will be fixed with the next weekly update of AMReX, which pulls https://github.com/AMReX-Codes/amrex/pull/2950 (and the 22.10 release).

[2022-09-19 13:16] stannnnnnnnn opened #3409 "Which software should I use for post-processing？"
Hi，
  Thank you for your open source work. After I learned the power of Warpx, I tried running a few examples. In example Beam-driven electron acceleration, the output file is lab_frame_data.  I tried to use ParaView and VisIt to post-process the data, but it didn't work.
What tools should I use to process this data?
  Hope to hear from you!

![QMB)T0 $YBK)(Y62A@ILLR](https://user-images.githubuse

[2022-09-19 18:04] RemiLehe opened #3415 "Python installation instructions on Summit fail"
This was initially reported by @oshapoval :

When follwing the instructions [here](https://warpx.readthedocs.io/en/latest/install/hpc/summit.html) and executing:
[code]
one gets the following error:
[error.txt](https://github.com/ECP-WarpX/WarpX/files/9601254/error.txt)

[2022-09-19 22:48] PhilMiller commented on #3215
Ok, now that #3397 has been addressed, I'm back to looking at this. Here's a more recent plot of the effect

![image](https://user-images.githubusercontent.com/126464/191132586-f289ea1f-fadb-4c84-b025-8d773fac31a5.png)

That shows its absence in double precision, and its growth over time

[2022-09-19 22:54] ax3l commented on #3415
Thanks for the detailed report!

The error happens during the compilation of `scipy`:
[code]
probably, because it runs too long to compile `scipy` and gets killed by a watchdog kinda daemon on the head node.

Let's try this again, but on a compute node:
[code]

Does that work @oshapoval?

[2022-09-20 22:17] ax3l commented on #3409
Hi @stannnnnnnnn, thanks a lot for your question!

We should modernize that example. We recommend you to use openPMD files:
https://warpx.readthedocs.io/en/latest/dataanalysis/formats.html
and the new backtransformed diagnostics API.

See this example:
https://github.com/ECP-WarpX/WarpX/blob/2fed2828933831ee464f0ca5d02a23dd2df54aad/Examples/Modules/RigidInjection/inputs_2d_BoostedFrame#L63-L70

Fu

[2022-09-20 22:22] ax3l commented on #3403
Discussed today: we can throw a warning based on `c*dt_boost/L_{lens,boost}`

[2022-09-20 22:24] ax3l commented on #3391
Just for completion: same for BLAS as follow-up to #3383

- https://bitbucket.org/icl/blaspp/issues/21/blas-queue-needs-doxygen-docs
- https://bitbucket.org/icl/blaspp/pull-requests/43

[2022-09-20 22:29] ax3l commented on #3390
Discussed today with @RemiLehe @EZoni :
- we could try to turn off PMLs around the MR patch to see if this causes the instability
- if it removes the instability, we know it's from the PMLs

[2022-09-20 22:34] ax3l commented on #3377
cc @kngott could that be related to what you saw with graphs this week?

[2022-09-20 22:51] RemiLehe commented on #3390
Hi @prkkumar
Could you modify your local version of WarpX to replace these lines:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/Initialization/WarpXInitData.cpp#L510
by
[code]
and the re-run the above simulation?

This would disable PMLs around the MR patch, and it would allow us to see whether the instability is caused by the PMLs.

[2022-09-21 22:33] EZoni opened #3420 "BTD: Issue w/ Particle Output of Back-Transformed Diagnostics"
There might be an issue with the particle output of the back-transformed diagnostics (new BTD with plotfile format).

I'm looking at an input file similar to the one of the CI test `BTD_ReducedSliceDiag` (see #3371): [inputs_3d.txt](https://github.com/ECP-WarpX/WarpX/files/9620779/inputs_3d.txt).

Here's a couple of plots that show that the species `ions` does not appear to be written to output (n

[2022-09-21 22:38] EZoni commented on #3420
Setting `diag_lab.dz_snapshots_lab = 0.0001` (instead of `0.001`) I do see `ions` in the output:

<p align="center">
    <img src="https://user-images.githubusercontent.com/59625522/191622574-32fa8176-a591-4eab-89d8-698445f6a6a9.png" width="500">

<p align="center">
    <img src="https://user-images.githubusercontent.com/59625522/191622595-e0477f36-c230-4433-b59a-ce1ff025c88b.png" width="500">
</p

[2022-09-21 23:26] EZoni commented on #3420
Discussed offline:
The reason why ions do not appear in the first case is related to the fact that we initialize both electrons and ions in a uniform way in the boosted frame (uniform rows of particles, relatively close to each other). This translates into particles spaced quite far apart in the lab frame. As the simulation progresses, ions do not move much while electrons do. Hence, when we selec

[2022-09-21 23:26] #3420 closed, assigned to nobody

[2022-09-22 07:16] ervw12 commented on #3339
Any news on that?

[2022-09-22 20:49] RemiLehe commented on #3390
I actually just did the above test. The instability is still present, although it looks different without PML:

- **Without PML around the patch:**
![Screenshot from 2022-09-22 13-49-12](https://user-images.githubusercontent.com/6685781/191848201-c76e1b38-08af-4e3f-a9c3-5294ea2915af.png)

- **With PML around the patch:**
![Screenshot from 2022-09-22 13-47-57](https://user-images.githubusercontent.

[2022-09-23 16:39] lucafedeli88 opened #3425 "Instability observed when Moving Window, PML, and PSATD are combined"
Hello everyone,

I've observed an instability when PML, PSATD solver, and the moving window are used at the same time. The instability disappears if periodic boundary conditions are used (or if a different EM solver is used).

![image](https://user-images.githubusercontent.com/4558310/192009222-7228cad7-a7e3-400f-a253-41d175963fe2.png)

This is the inputfile for the PSATD case  (I ran it on a sing

[2022-09-23 17:03] RemiLehe commented on #3425
Thanks for reporting this.
This seems similar to this issue in FBPIC: https://github.com/fbpic/fbpic/issues/534, for which we have not yet found a fix. We should have a look at this in more details. Maybe we can discuss this at the next WarpX meeting.

[2022-09-23 23:01] RemiLehe commented on #3425
@lucafedeli88 In the meantime, you could try to use the solution suggested here:
https://github.com/fbpic/fbpic/issues/534#issuecomment-843961800
i.e. leaving a gap (with vacuum) between the plasma and the PML.

[2022-09-23 23:07] RemiLehe commented on #3425
Also: discussed with @jlvay and @EZoni in the past:
We may want to check whether the exact split of the field in the guard cells of the PML has an influence:
https://github.com/ECP-WarpX/WarpX/blob/5761b4bf998eab84ea0f7e4b132026593f3ddf9f/Source/BoundaryConditions/PML.cpp#L1230
In principle, the exact split here has no influence for finite difference solvers (e.g. CKC) but it could have an influen

[2022-09-23 23:10] RTSandberg commented on #3389
I still see this issue running WarpX on Summit, even with the new fix:
[code]
I rebuilt with the latest branch as of today, 9/23/2022.  The input file is attached
[inputs.txt](https://github.com/ECP-WarpX/WarpX/files/9637440/inputs.txt)

[2022-09-24 12:16] wangjia-ai opened #3427 "Compilation error with openpmd=ON"
Hello everyone:
      A compilation error has occurred here when using WarpX_OPENPMD=ON
     compilation process:
[code]

![openpmd_error](https://user-images.githubusercontent.com/73467797/192097285-dedf97a4-0581-4da6-b6ae-524b7d650ecc.png)

[2022-09-24 13:21] jcyu96 opened #3428 "What dependencies are required to install WarpX on a new HPC?"
Hi developers,
I'm installing WarpX on a new HPC, but can't dump data in `.h5` format. How should I compile WarpX properly? Besides, what further details do I need to offer to help solve this issue?
Thanks very much!

[2022-09-24 14:47] RemiLehe opened #3429 "Using Neumann BC with EB results in "Bottom solve failed.""
When modifying our `ElectrostaticSphereEB` example to use Neumann boundary conditions instead of Dirichlet boundary conditions, the solver converges slowly and often prints
[code]
This is a bit surprising since it seems that this problem has a trivial solution: `phi = 1` everywhere in space.

Here is the input script:
[inputs_3d.txt](https://github.com/ECP-WarpX/WarpX/files/9638914/inputs_3d.txt)

[2022-09-24 14:53] RemiLehe commented on #3429
Here is how we set the boundary condition:
https://github.com/ECP-WarpX/WarpX/blob/development/Source/ablastr/fields/PoissonSolver.H#L255
https://github.com/ECP-WarpX/WarpX/blob/development/Source/FieldSolver/ElectrostaticSolver.cpp#L710

[2022-09-26 17:23] RemiLehe commented on #3389
Thanks for reporting this @RTSandberg.

I just tried the above script with a recent version of WarpX (git hash `6febc63b4d58`) on ~~6~~ 4 GPUs and was **not** able to reproduce the bug. (In other words, the code runs fine and I am able to run the above Python post-processing code without any error.

~~Could you double check this issue by re-running it with the latest version of WarpX?~~

Nevermind

[2022-09-26 21:46] WeiqunZhang commented on #3429
This is an issue in amrex.  A fix will be submitted soon.

[2022-09-26 23:06] ax3l commented on #3429
Fix incoming via #3412 :)

[2022-09-26 23:18] ax3l commented on #3428
Hi @jcyu96,

Thanks for opening the issue.  I saw you also posted on our Gitter and will provide the details for your question here.

So the main thing you want to look out for is the summary table of your first CMake call.
This might look like this:
[code]
[code]

In this case, the `HDF5: OFF` entry indicates there is no parallel HDF5 found. If you scroll up further, you will find more hints why

[2022-09-26 23:26] ax3l commented on #3427
@wangjia-ai thanks for the report!

That looks like a build error of ADIOS1 when running through Nvidia's `nvcc`.
Just disable it via `-DopenPMD_USE_ADIOS1=OFF`:
[code]

We don't really use [ADIOS1](https://github.com/ornladios/ADIOS) anymore in favor of [ADIOS2](https://github.com/ornladios/ADIOS2) and [HDF5](https://github.com/HDFGroup/hdf5).

[2022-09-26 23:33] ax3l commented on #3427
While I see it: one thing I would change in your setup is the conda env.

You also want to add the CUDA package so its consistently in the same software stack and not picked up from an external path on your system.

The respective package is called `cudatoolkit` in [conda-forge](https://github.com/conda-forge/cudatoolkit-feedstock):
[code]

Note: Independent of Conda, you need to have the latest N

[2022-09-27 03:27] jcyu96 commented on #3428
Hi @ax3l,

I have recently installed WarpX successfully on new HPC and dumped the .h5 data in h5 following [Cori's (NERSC) instructions](https://warpx.readthedocs.io/en/latest/install/hpc/cori.html).

Following is a short summary of my installation process:

[code]

Additionally,

- I'm running on a HPC from [BEIJING SUPER CLOUD COMPUTING CENTER](http://www.blsc.cn/index.asp).
- I haven't found Do

[2022-09-27 03:54] jcyu96 commented on #3428
By the way, I have one more doubt. I'm not sure if I need to install BLAS++ and LAPACK++, like the following:

[code]

This module seems to provide support for Pseudo Spectral Analytical Time Domain and RZ geometry. Can PSATD help enhance the performance of the simulation?

[2022-09-27 09:04] franzpoeschel commented on #3427
I'm not sure if this is an ADIOS1 error. Might also be parallel compilation and the green `ADIOS1` line just happens to be there.
I think it's more likely that the `AMReX_BlockMutex.cpp` line is relevant.

I would recommend to try serial compilation (`make` in the build directory, or more explicitly `make -j 1`) and then to show the output again (preferably copy-paste of the entire output instead

[2022-09-27 09:49] wangjia-ai commented on #3427
The error as
[code]
is
[code]

[2022-09-27 09:49] wangjia-ai commented on #3427
The error as `-DopenPMD_USE_ADIOS1=OFF` is:
[code]

[2022-09-27 09:57] franzpoeschel commented on #3427
The openPMD-api (and also WarpX? I don't know) require C++17, but it seems like you are compiling at an older C++ standard.
I'm not sure how this happened, but you should make sure that the compilers you are using support C++17.
If that still does not help, you might want to specify flags such as `-std=c++17`, but normally CMake should take care of that already.